Repository Workday/canvas-kit, pull requests merged in 2019-12, with the labels that each got.

#328 feat(modal): Update focus-trap library
  cypress/support/commands.ts
  modules/modal/react/lib/Modal.tsx
  modules/modal/react/lib/ModalContent.tsx
  modules/modal/react/package.json
  modules/modal/react/stories/stories.tsx
  yarn.lock
Labels: dependencies

#346 fix(text-input): Update type of inputRef
  modules/text-input/react/lib/TextInput.tsx
Labels: help wanted

#272 feat(labs): Theming (react)
  .storybook/config.js
  jest.config.js
  modules/_labs/core/react/README.md
  modules/_labs/core/react/index.ts
  modules/_labs/core/react/lib/CanvasProvider.tsx
  modules/_labs/core/react/lib/theming/README.md
  modules/_labs/core/react/lib/theming/breakpoints.ts
  modules/_labs/core/react/lib/theming/createCanvasTheme.ts
  modules/_labs/core/react/lib/theming/styled.ts
  modules/_labs/core/react/lib/theming/theme.ts
  modules/_labs/core/react/lib/theming/types.ts
  modules/_labs/core/react/lib/theming/useTheme.ts
  modules/_labs/core/react/package.json
  modules/_labs/core/react/spec/breakpoints.spec.tsx
  modules/_labs/core/react/spec/createCanvasTheme.spec.tsx
  modules/_labs/core/react/spec/useTheme.spec.tsx
  modules/_labs/core/react/stories/stories_theme.tsx
  modules/_labs/header/react/package.json
  modules/core/react/README.md
  modules/core/react/lib/InputProvider.tsx
  modules/core/react/spec/InputProvider.spec.tsx
  package.json
  utils/storybook/CanvasProviderDecorator.tsx
  utils/storybook/SectionDecorator.tsx
  utils/storybook/index.ts
  yarn.lock
Labels: p:1

#374 test: Fix modal specs
  cypress/support/commands.ts
  modules/modal/react/lib/ModalContent.tsx
Labels: bug
