Repository Workday/canvas-kit, pull requests merged in 2019-08, with the labels that each got.

#75 fix(menu): Allow aria role of menu item to be overridden
  modules/menu/react/README.md
  modules/menu/react/lib/Menu.tsx
  modules/menu/react/lib/MenuItem.tsx
  modules/menu/react/spec/Menu.snapshot.tsx
  modules/menu/react/spec/Menu.spec.tsx
  modules/menu/react/spec/__snapshots__/Menu.snapshot.tsx.snap
  modules/menu/react/stories/stories.tsx
Labels: bug

#119 fix(Layout): Add check for null children
  modules/layout/react/lib/Layout.tsx
  modules/layout/react/spec/Layout.snapshot.tsx
  modules/layout/react/spec/__snapshots__/Layout.snapshot.tsx.snap
Labels: bug

#110 fix: Add missing static variables and fix Popup padding static variable
  modules/banner/react/README.md
  modules/banner/react/lib/Banner.tsx
  modules/banner/react/spec/Banner.snapshot.tsx
  modules/banner/react/stories/stories.tsx
  modules/popup/react/README.md
  modules/popup/react/lib/Popup.tsx
  modules/popup/react/spec/Popup.snapshot.tsx
  modules/popup/react/stories/stories.tsx
  modules/select/react/lib/Select.tsx
  modules/side-panel/react/README.md
  modules/side-panel/react/lib/SidePanel.tsx
  modules/side-panel/react/stories/stories.tsx
Labels: breaking-change, bug

#142 refactor(LoadingSpinner): Deprecate LoadingSpinner
  modules/loading-animation/react/README.md
  modules/loading-animation/react/index.ts
  modules/loading-animation/react/lib/LoadingSpinner.tsx
  modules/loading-animation/react/spec/LoadingSpinner.snapshot.tsx
  modules/loading-animation/react/spec/__snapshots__/LoadingSpinner.snapshot.tsx.snap
  modules/loading-animation/react/stories/stories.tsx
Labels: breaking-change

#146 fix(FormField): Add component prefix to exported enums and interfaces
  modules/form-field/react/README.md
  modules/form-field/react/lib/FormField.tsx
  modules/form-field/react/lib/Label.tsx
  modules/form-field/react/lib/types.ts
  modules/form-field/react/spec/FormField.spec.tsx
Labels: breaking-change

#143 refactor(PageHeader): Update marketing and breakpoint props
  modules/page-header/react/README.md
  modules/page-header/react/lib/PageHeader.tsx
  modules/page-header/react/spec/PageHeader.snapshot.tsx
  modules/page-header/react/spec/PageHeader.spec.tsx
  modules/page-header/react/spec/__snapshots__/PageHeader.snapshot.tsx.snap
  modules/page-header/react/stories/stories.tsx
Labels: breaking-change
