Repository Workday/canvas-kit, pull requests merged in 2020-06, with the labels that each got.

#687 test: Improve snapshot infrastructure and organization
  TESTING.md
  modules/_labs/pagination/react/stories/stories.tsx
  modules/_labs/pagination/react/stories/stories_visualTesting.tsx
  modules/_labs/select/react/stories/stories.tsx
  modules/_labs/select/react/stories/stories_visualTesting.tsx
  modules/badge/react/stories/stories_visualTesting.tsx
  modules/button/react/stories/stories_visualTesting.tsx
  modules/button/react/stories/visual-testing/stories_button.tsx
  modules/button/react/stories/visual-testing/stories_dropdownButton.tsx
  modules/button/react/stories/visual-testing/stories_iconButton.tsx
  modules/button/react/stories/visual-testing/stories_textButton.tsx
  modules/button/react/stories/visual-testing/utils.tsx
  modules/form-field/react/stories/stories_Checkbox.tsx
  modules/form-field/react/stories/stories_ColorInput.tsx
  modules/form-field/react/stories/stories_FormField.tsx
  modules/form-field/react/stories/stories_Radio.tsx
  modules/form-field/react/stories/stories_Select.tsx
  modules/form-field/react/stories/stories_Switch.tsx
  modules/form-field/react/stories/stories_TextArea.tsx
  modules/form-field/react/stories/stories_TextInput.tsx
  modules/form-field/react/stories/visual-testing/stories_Checkbox.tsx
  modules/form-field/react/stories/visual-testing/stories_ColorInput.tsx
  modules/form-field/react/stories/visual-testing/stories_FormField.tsx
  modules/form-field/react/stories/visual-testing/stories_Radio.tsx
  modules/form-field/react/stories/visual-testing/stories_Select.tsx
  modules/form-field/react/stories/visual-testing/stories_Switch.tsx
  modules/form-field/react/stories/visual-testing/stories_TextArea.tsx
  modules/form-field/react/stories/visual-testing/stories_TextInput.tsx
  modules/form-field/react/stories/visual-testing/theming/stories_Checkbox.tsx
  modules/form-field/react/stories/visual-testing/theming/stories_ColorInput.tsx
  modules/form-field/react/stories/visual-testing/theming/stories_Radio.tsx
  modules/form-field/react/stories/visual-testing/theming/stories_Select.tsx
  modules/form-field/react/stories/visual-testing/theming/stories_Switch.tsx
  modules/form-field/react/stories/visual-testing/theming/stories_TextArea.tsx
  modules/form-field/react/stories/visual-testing/theming/stories_TextInput.tsx
  modules/popup/react/stories/stories_VisualTesting.tsx
  modules/toast/react/stories/stories_visualTesting.tsx
  utils/create-component/createComponent.js
  utils/create-component/createCssModule.js
  utils/create-component/createReactModule.js
  utils/create-component/templates/css/stories.js
  utils/create-component/templates/react/stories.js
  utils/create-component/templates/react/stories_VisualTesting.js
  utils/storybook/index.ts
  utils/storybook/withSnapshotsEnabled.ts
Labels: 4.x, ready for review, testing

#690 test(avatar): Add snapshot tests for Avatar and AvatarButton
  modules/avatar/react/package.json
  modules/avatar/react/stories/stories.tsx
  modules/avatar/react/stories/stories_visualTesting.tsx
  modules/avatar/react/stories/test-avatar.png
Labels: ready for review, testing

#691 test(tooltip): Add snapshot test for various placements
  modules/common/react/lib/Popper.tsx
  modules/tooltip/react/lib/Tooltip.tsx
  modules/tooltip/react/package.json
  modules/tooltip/react/stories/visual.tsx
Labels: ready for review, testing

#684 feat: Add toolbar dropdown button
  modules/button/react/README.md
  modules/button/react/index.ts
  modules/button/react/lib/ToolbarDropdownButton.tsx
  modules/button/react/lib/ToolbarIconButton.tsx
  modules/button/react/stories/stories_ToolbarButtons.tsx
  modules/button/react/stories/stories_ToolbarIconButtton.tsx
  modules/button/react/stories/visual-testing/stories_ToolbarDropdownButton.tsx
  modules/button/react/stories/visual-testing/stories_ToolbarIconButton.tsx
  modules/button/react/stories/visual-testing/theming/stories_ToolbarDropdownButton.tsx
Labels: 4.x, blocked, enhancement

#692 test(status-indicator): Add snapshots
  modules/status-indicator/react/package.json
  modules/status-indicator/react/stories/stories_VisualTesting.tsx
Labels: ready for review, testing

#700 fix(common): Auto-generate contrast color for partial theme
  modules/common/react/lib/theming/createCanvasTheme.ts
  modules/common/react/lib/utils/colorUtils.ts
  modules/common/react/spec/colorUtils.spec.tsx
  modules/common/react/spec/createCanvasTheme.spec.tsx
Labels: 4.x, bug

#693 test(modal): Add modal snapshots
  modules/modal/react/package.json
  modules/modal/react/stories/stories_VisualTesting.tsx
Labels: ready for review, testing

#706 chore: Update canvas-colors-web dependencies
  4.0-MIGRATION-GUIDE.md
  modules/_labs/core/react/package.json
  modules/_labs/header/react/lib/shared/themes.tsx
  modules/common/react/lib/styles/errorRing.ts
  modules/common/react/package.json
  modules/core/css/package.json
  modules/core/react/index.ts
  modules/core/react/lib/colors.types.ts
  modules/core/react/package.json
  modules/icon/css/lib/canvas-kit-css-icon.js
  modules/icon/css/lib/utils.js
  modules/icon/css/package.json
  modules/page-header/react/lib/PageHeader.tsx
Labels: 4.x, breaking-change, ready for review

#719 fix: Use theme contrast color for input "checks"
  modules/button/react/lib/OutlineButton.tsx
  modules/checkbox/react/lib/Checkbox.tsx
  modules/checkbox/react/package.json
  modules/common/react/lib/utils/index.ts
  modules/common/react/lib/utils/uniqueId.ts
  modules/common/react/package.json
  modules/radio/react/lib/Radio.tsx
  modules/radio/react/package.json
  modules/switch/react/lib/Switch.tsx
  modules/switch/react/package.json
  utils/storybook/customThemes.ts
Labels: bug, ready for review

#726 fix(button): Misc. styling fixes and update to focusRing API
  4.0-MIGRATION-GUIDE.md
  modules/button/react/lib/TextButton.tsx
  modules/button/react/lib/ToolbarDropdownButton.tsx
  modules/button/react/lib/ToolbarIconButton.tsx
  modules/common/react/lib/styles/focusRing.ts
  modules/common/react/spec/focusRing.spec.ts
Labels: 4.x, approved, breaking-change, ready for review

#727 test(drawer): Add stories and snapshots for drawer
  modules/_labs/drawer/react/lib/DrawerHeader.tsx
  modules/_labs/drawer/react/package.json
  modules/_labs/drawer/react/stories/stories_visualTesting.tsx
  modules/side-panel/react/lib/SidePanel.tsx
Labels: approved

#702 fix: Fix default prop bug
  modules/form-field/react/lib/Label.tsx
  modules/form-field/react/stories/stories_Radio.tsx
  modules/form-field/react/stories/visual-testing/stories_Radio.tsx
  modules/layout/react/lib/Layout.tsx
  modules/radio/react/lib/RadioGroup.tsx
  modules/side-panel/react/lib/SidePanel.tsx
Labels: approved, ready for review

#722 feat(core): Add window configuration option to inherit font family
  modules/_labs/core/react/lib/theming/useTheme.ts
  modules/_labs/core/react/lib/type.ts
  modules/core/react/lib/type.ts
  modules/core/react/package.json
Labels: ready for review

#730 fix(segmented-control): Misc. fixes and story improvements
  modules/segmented-control/react/README.md
  modules/segmented-control/react/lib/SegmentedControl.tsx
  modules/segmented-control/react/package.json
  modules/segmented-control/react/stories/stories.tsx
  modules/segmented-control/react/stories/stories_VisualTesting.tsx
Labels: 4.x, ready for review

#733 fix(icon): Fix icon color references
  modules/icon/css/README.md
  modules/icon/css/lib/canvas-kit-css-icon.js
  modules/icon/react/README.md
  modules/icon/react/lib/SystemIcon.tsx
Labels: ready for review

#641 feat(select): Render menu using a portal
  cypress/helpers/modal.ts
  cypress/integration/Modal.spec.ts
  modules/_labs/select/react/README.md
  modules/_labs/select/react/lib/Select.tsx
  modules/_labs/select/react/lib/SelectBase.tsx
  modules/_labs/select/react/lib/SelectMenu.tsx
  modules/_labs/select/react/lib/scrolling.ts
  modules/_labs/select/react/package.json
  modules/_labs/select/react/stories/stories.tsx
  modules/_labs/select/react/stories/stories_testing.tsx
  modules/_labs/select/react/stories/stories_visualTesting.tsx
  modules/modal/react/lib/ModalContent.tsx
  modules/modal/react/spec/Modal.spec.tsx
Labels: 4.x, ready for review

#740 fix(button): Fix story categorization and OutlineButton focus background
  modules/button/react/lib/OutlineButton.tsx
  modules/button/react/stories/stories_OutlineButton.tsx
  modules/button/react/stories/stories_ToolbarButtons.tsx
Labels: 4.x

#743 fix(select): Fix scrolling to the selected option
  modules/_labs/select/react/lib/SelectMenu.tsx
Labels: 4.x, bug, ready for review

#742 fix(header): Fix header default props
  modules/_labs/header/react/lib/parts/WorkdayLogoTitle.tsx
Labels: 4.x, ready for review

#735 chore: Update Labs Core stories and add snapshots
  modules/_labs/core/react/stories/stories.tsx
  modules/_labs/core/react/stories/stories_visualTesting.tsx
Labels: 4.x, approved

#741 fix: Fix issues after canvas-colors-web-upgrade
  modules/_labs/header/react/stories/stories.tsx
  modules/common/react/lib/theming/createCanvasTheme.ts
  modules/common/react/lib/theming/index.ts
  modules/common/react/spec/createCanvasTheme.spec.tsx
  modules/core/react/stories/stories.tsx
Labels: 4.x, ready for review

#747 fix(select): Fix theming colors for proper contrast
  modules/_labs/select/react/lib/SelectOption.tsx
Labels: bug, ready for review

#749 fix: Address various publish-canary.js bugs
  utils/publish-canary.js
Labels: bug

#720 test(skeleton): Add stories and enabled snapshots
  modules/skeleton/react/package.json
  modules/skeleton/react/stories/stories.tsx
  modules/skeleton/react/stories/visual-testing/stories_Skeleton.tsx
Labels: ready for review

#707 feat: Add iconRef to Icon components
  modules/icon/react/README.md
  modules/icon/react/lib/AccentIcon.tsx
  modules/icon/react/lib/AppletIcon.tsx
  modules/icon/react/lib/Graphic.tsx
  modules/icon/react/lib/Icon.tsx
  modules/icon/react/lib/Svg.tsx
  modules/icon/react/lib/SystemIcon.tsx
  modules/icon/react/lib/SystemIconCircle.tsx
Labels: ready for review

#764 fix(select): Fix a11y issues
  cypress/helpers/selectLabs.ts
  modules/_labs/select/react/lib/SelectBase.tsx
Labels: bug, ready for review

#754 fix(select): Fix typeahead behavior and scrolling
  cypress/integration/SelectLabs.spec.ts
  modules/_labs/select/react/lib/Select.tsx
  modules/_labs/select/react/lib/SelectBase.tsx
  modules/_labs/select/react/lib/scrolling.ts
  modules/_labs/select/react/stories/stories.tsx
Labels: bug, ready for review, testing
