Repository Workday/canvas-kit, pull requests merged in 2020-05, with the labels that each got.

#609 fix: Add type checking to PRs and fix type errors
  .eslintrc.js
  .github/tsc.json
  .github/workflows/ci.yml
  cypress/support/commands.ts
  cypress/tsconfig.json
  modules/_labs/select/react/lib/SelectBase.tsx
  modules/button/react/lib/DeleteButton.tsx
  modules/button/react/lib/HighlightButton.tsx
  modules/button/react/lib/IconButton.tsx
  modules/button/react/lib/types.ts
  modules/button/react/spec/Button.spec.tsx
  modules/page-header/react/spec/PageHeader.spec.tsx
  modules/segmented-control/react/spec/SegmentedControl.spec.tsx
  package.json
  tsconfig.eslint.json
  tsconfig.json
  utils/add-matchers.js
Labels: 4.x

#600 test(popup): Add tests for Popup
  cypress/integration/Popup.spec.ts
  modules/popup/react/lib/Popup.tsx
  modules/popup/react/package.json
  modules/popup/react/spec/Popup.spec.tsx
  modules/popup/react/stories/stories_VisualTesting.tsx
  modules/toast/react/spec/Toast.spec.tsx
Labels: approved, ready for review, testing

#616 ci: Fix Prerelease Canary Duplicate Build Versions
  utils/publish-canary.js
Labels: 4.x, p:1, ready for review

#619 ci: Remove new line in lerna publish canary script
  utils/publish-canary.js
Labels: 4.x, infra, p:1, ready for review

#622 ci: Fix version regex for canary publish
  utils/publish-canary.js
Labels: 4.x, infra, p:1, ready for review

#593 fix(common): Improve theming API stability
  modules/_labs/core/react/lib/StaticStates.tsx
  modules/button/react/lib/Button.tsx
  modules/button/react/lib/DeleteButton.tsx
  modules/button/react/lib/HighlightButton.tsx
  modules/button/react/lib/IconButton.tsx
  modules/button/react/lib/OutlineButton.tsx
  modules/button/react/lib/TextButton.tsx
  modules/button/react/lib/parts/ButtonContainer.tsx
  modules/checkbox/react/lib/Checkbox.tsx
  modules/color-picker/react/lib/ColorInput.tsx
  modules/common/react/lib/CanvasProvider.tsx
  modules/common/react/lib/styles/errorRing.ts
  modules/common/react/lib/styles/focusRing.ts
  modules/common/react/lib/theming/README.md
  modules/common/react/lib/theming/createCanvasTheme.ts
  modules/common/react/lib/theming/styled.ts
  modules/common/react/lib/theming/types.ts
  modules/common/react/lib/theming/useTheme.ts
  modules/common/react/spec/createCanvasTheme.spec.tsx
  modules/common/react/spec/useTheme.spec.tsx
  modules/common/react/stories/stories_direction.tsx
  modules/common/react/stories/stories_theme.tsx
  modules/radio/react/lib/Radio.tsx
  modules/switch/react/lib/Switch.tsx
  modules/text-area/react/lib/TextArea.tsx
  modules/text-input/react/lib/TextInput.tsx
  utils/storybook/CanvasProviderDecorator.tsx
Labels: 4.x, breaking-change

#627 ci: Fix ChromaticQA Baselines
  .github/workflows/ci.yml
Labels: 4.x, infra, p:1, ready for review

#628 ci: Report trunk build failures to slack
  .travis.yml
  utils/report-failure.js
Labels: infra, ready for review

#625 fix(toast): Fix chromatic stories for toast
  modules/toast/react/stories/stories_visualTesting.tsx
Labels: ready for review

#639 fix(color-picker): Fix accessibility announcement for color input
  modules/color-picker/react/lib/ColorInput.tsx
Labels: ready for review

#626 chore: Release v4.0.0-beta.2
  4.0-MIGRATION-GUIDE.md
  CHANGELOG.md
  lerna.json
  modules/_canvas-kit-css/package.json
  modules/_canvas-kit-react/package.json
  modules/_labs/color-picker/react/package.json
  modules/_labs/combobox/react/package.json
  modules/_labs/core/react/package.json
  modules/_labs/drawer/react/package.json
  modules/_labs/header/react/package.json
  modules/_labs/menu/react/package.json
  modules/_labs/pagination/react/package.json
  modules/_labs/select/react/package.json
  modules/action-bar/css/package.json
  modules/action-bar/react/package.json
  modules/avatar/react/package.json
  modules/banner/react/package.json
  modules/button/css/package.json
  modules/button/react/package.json
  modules/card/react/package.json
  modules/checkbox/react/package.json
  modules/color-picker/react/package.json
  modules/common/react/package.json
  modules/cookie-banner/react/package.json
  modules/core/react/package.json
  modules/form-field/react/package.json
  modules/icon/react/package.json
  modules/layout/react/package.json
  modules/loading-animation/react/package.json
  modules/modal/react/package.json
  modules/page-header/react/package.json
  modules/popup/react/package.json
  modules/radio/react/package.json
  modules/segmented-control/react/package.json
  modules/select/react/package.json
  modules/side-panel/react/package.json
  modules/skeleton/react/package.json
  modules/status-indicator/react/package.json
  modules/switch/react/package.json
  modules/table/css/package.json
  modules/table/react/package.json
  modules/text-area/react/package.json
  modules/text-input/react/package.json
  modules/toast/react/package.json
  modules/tooltip/react/package.json
Labels: 4.x, ready for review

#620 fix(pagination): Provide aria live attribute for accessbility
  modules/_labs/pagination/react/lib/Pagination.tsx
Labels: ready for review

#631 chore: Upgrade Babel and presets to support optional chaining
  .eslintrc-prettier.js
  .eslintrc.js
  babel.config.js
  modules/avatar/react/spec/Avatar.spec.tsx
  modules/avatar/react/spec/AvatarButton.spec.tsx
  modules/banner/react/spec/Banner.spec.tsx
  package.json
  yarn.lock
Labels: 4.x, dependencies, ready for review

#644 chore: Fix version issue in beta build
  modules/toast/react/package.json
  package.json
  utils/check-lockfile.js
  yarn.lock
Labels: 4.x, ready for review

#566 feat(badge): Add badge component
  modules/_canvas-kit-css/package.json
  modules/_canvas-kit-react/index.ts
  modules/_canvas-kit-react/package.json
  modules/badge/css/LICENSE
  modules/badge/css/README.md
  modules/badge/css/index.scss
  modules/badge/css/lib/count-badge.scss
  modules/badge/css/package.json
  modules/badge/css/stories/stories.tsx
  modules/badge/react/LICENSE
  modules/badge/react/README.md
  modules/badge/react/eslintrc.js
  modules/badge/react/index.ts
  modules/badge/react/lib/CountBadge.tsx
  modules/badge/react/package.json
  modules/badge/react/spec/CountBadge.spec.tsx
  modules/badge/react/stories/stories.tsx
  modules/badge/react/stories/stories_visualTesting.tsx
  modules/badge/react/tsconfig.cjs.json
  modules/badge/react/tsconfig.es6.json
  modules/badge/react/tsconfig.json
Labels: approved, new-component

#614 fix(avatar): Combine Avatar & AvatarButton and provide fallback image
  cypress/integration/Avatar.spec.ts
  modules/_labs/header/react/README.md
  modules/_labs/header/react/stories/stories.tsx
  modules/avatar/react/README.md
  modules/avatar/react/index.ts
  modules/avatar/react/lib/Avatar.tsx
  modules/avatar/react/lib/AvatarButton.tsx
  modules/avatar/react/spec/Avatar.spec.tsx
  modules/avatar/react/spec/AvatarButton.spec.tsx
  modules/avatar/react/stories/stories.tsx
  modules/side-panel/react/stories/stories.tsx
Labels: 4.x, breaking-change, enhancement

#647 docs: Remove rebase section for pull requests
  CONTRIBUTING.md
Labels: documentation, ready for review

#648 feat(select): Add theming to select in labs
  modules/_labs/select/react/lib/Select.tsx
  modules/_labs/select/react/lib/SelectBase.tsx
  modules/_labs/select/react/lib/SelectMenu.tsx
  modules/_labs/select/react/lib/SelectOption.tsx
  modules/_labs/select/react/stories/stories.tsx
Labels: ready for review

#660 chore: Fix create-module and promote-module
  utils/create-component/createComponent.js
  utils/create-component/createCssModule.js
  utils/create-component/createReactModule.js
  utils/create-component/writeModuleFiles.js
  utils/css-build.js
  utils/js-build.js
  utils/promote-component.js
Labels: 4.x, bug, ready for review

#663 fix: Fix check-lockfile call during precommit linting
  package.json
Labels: 4.x, ready for review

#665 ci: Improve canary builds & publish behavior
  lerna.json
  package.json
  utils/publish-canary.js
Labels: 4.x, infra, ready for review

#652 chore: Add invalid import rule
  .eslintrc.js
  modules/form-field/react/stories/stories_Radio.tsx
  modules/form-field/react/stories/stories_Switch.tsx
  package.json
  utils/custom-lint-rules/index.js
  utils/custom-lint-rules/package.json
  utils/custom-lint-rules/restricted-imports.js
  utils/custom-lint-rules/restricted-imports.spec.ts
  yarn.lock
Labels: ready for review

#651 fix: Align hover ripple for checkbox and radio components in IE11
  modules/checkbox/react/lib/Checkbox.tsx
  modules/radio/react/lib/Radio.tsx
Labels: ready for review

#668 fix: Fix incorrect dep listing
  modules/_canvas-kit-css/package.json
Labels: bug, p:1

#662 feat(button): Add toolbar square icon
  modules/button/react/README.md
  modules/button/react/index.ts
  modules/button/react/lib/IconButton.tsx
  modules/button/react/lib/ToolbarIconButton.tsx
  modules/button/react/stories/stories_ToolbarIconButtton.tsx
  modules/button/react/stories/stories_visualTesting.tsx
Labels: approved

#667 chore: Add public config to create-component script
  utils/create-component/createComponent.js
  utils/create-component/createCssModule.js
  utils/create-component/createReactModule.js
  utils/create-component/templates/css/packageJson.js
  utils/create-component/templates/react/packageJson.js
Labels: ready for review

#676 fix(avatar): Fix misalignment on ie11
  modules/avatar/react/lib/Avatar.tsx
  modules/avatar/react/package.json
  modules/avatar/react/stories/stories.tsx
  modules/avatar/react/stories/stories_visualTesting.tsx
  modules/avatar/react/stories/test-avatar.png
  modules/common/react/lib/styles/hideMouseFocus.ts
  modules/common/react/lib/theming/styled.ts
Labels: 4.x, bug

#677 docs: Clean up 4.0 migration guide
  4.0-MIGRATION-GUIDE.md
  modules/common/react/lib/theming/README.md
Labels: 4.x, ready for review

#672 fix(select): Fix miscellaneous UI issues
  cypress/integration/SelectLabs.spec.ts
  modules/_labs/select/react/lib/Select.tsx
  modules/_labs/select/react/lib/SelectBase.tsx
  modules/_labs/select/react/lib/SelectOption.tsx
  modules/_labs/select/react/spec/Select.spec.tsx
Labels: 4.x, bug

#682 fix(toast): Action link align on new line
  modules/core/react/lib/type.ts
  modules/toast/react/lib/Toast.tsx
  modules/toast/react/stories/stories_visualTesting.tsx
Labels: 4.x, bug, ready for review

#680 fix: Update button readme with toolbar section
  modules/button/react/README.md
Labels: 4.x

#606 test(select): Fix visual testing states for options
  modules/_labs/select/react/lib/SelectOption.tsx
  modules/_labs/select/react/stories/stories.tsx
Labels: 4.x, testing
