Repository Workday/canvas-kit, pull requests merged in 2020-01, with the labels that each got.

#397 chore: Update Storybook Chromatic
  modules/_labs/menu/react/package.json
  package.json
  yarn.lock
Labels: dependencies, infra

#403 fix: Fix Wallaby config for labs components
  wallaby.js
Labels: infra

#405 chore: Upgrade to Chromatic 2.0
  .travis.yml
Labels: infra

#380 fix(combobox): default to using ARIA 1.0 spec
  modules/_labs/combobox/react/README.md
  modules/_labs/combobox/react/lib/Combobox.tsx
  modules/_labs/combobox/react/spec/Combobox.spec.tsx
  modules/_labs/combobox/react/stories/stories.tsx
Labels: bug

#418 refactor: Update StaticStatesTable to be more flexible
  modules/form-field/react/stories/stories_Checkbox.tsx
  utils/storybook/ComponentStatesTable.tsx
  utils/storybook/StaticStatesTable.tsx
  utils/storybook/index.ts
Labels: enhancement, infra, p:1

#271 fix(button): Address issues with various IconButton states
  modules/_labs/core/react/index.ts
  modules/button/react/lib/ButtonColors.ts
  modules/button/react/lib/ButtonStyles.ts
  modules/button/react/lib/IconButton.tsx
  modules/button/react/lib/utils.ts
  modules/button/react/stories/stories_iconButton.tsx
Labels: bug

#386 test(switch): Redo switch tests in react-testing-library
  cypress/integration/Switch.spec.ts
  jest/setupTests.ts
  modules/form-field/react/stories/stories_Switch.tsx
  modules/page-header/react/spec/PageHeader.spec.tsx
  modules/switch/react/lib/Switch.tsx
  modules/switch/react/spec/Switch.spec.tsx
Labels: testing

#430 fix(labs): Remove global type from useTheme hook
  modules/_labs/core/react/lib/theming/README.md
  modules/_labs/core/react/lib/theming/useTheme.ts
Labels: bug, p:1

#382 docs: Add test documentation
  TESTING.md
  cypress/helpers/modal.ts
Labels: documentation

#435 fix: Add missing Labs core dependencies to form modules
  modules/banner/react/package.json
  modules/checkbox/react/package.json
  modules/color-picker/react/package.json
  modules/form-field/react/package.json
  modules/radio/react/package.json
  modules/select/react/package.json
  modules/switch/react/package.json
  modules/text-area/react/package.json
  modules/text-input/react/package.json
Labels: bug, p:1

#407 test(colorpicker): Add tests and convert them to TL/R
  cypress/integration/ColorPicker.spec.ts
  modules/color-picker/react/spec/ColorInput.spec.tsx
  modules/color-picker/react/spec/ColorPreview.spec.tsx
  modules/form-field/react/stories/stories_ColorInput.tsx
Labels: testing
