Repository Workday/canvas-kit, pull requests merged in 2020-02, with the labels that each got.

#394 test(text-area): Change tests to react-testing-library and improve coverage
  cypress/integration/TextArea.spec.ts
  modules/form-field/react/stories/stories_TextArea.tsx
  modules/text-area/react/lib/TextArea.tsx
  modules/text-area/react/spec/TextArea.spec.tsx
  modules/text-input/react/spec/TextInput.spec.tsx
Labels: testing

#393 fix(radio): Update checked dot position to scale properly
  modules/radio/css/lib/radio.scss
Labels: bug

#445 fix: Use correct module names in readmes for labs components
  utils/create-component/templates/css/readme.js
  utils/create-component/templates/react/readme.js
Labels: bug

#381 test(radio): Change tests to react-testing-library and improve coverage
  cypress/integration/Radio.spec.ts
  cypress/integration/RadioGroup.spec.ts
  modules/form-field/react/stories/stories_Radio.tsx
  modules/radio/react/spec/Radio.spec.tsx
  modules/radio/react/spec/RadioGroup.spec.tsx
Labels: testing

#412 test(select): Change tests to react-testing-library and improve coverage
  cypress/integration/Select.spec.ts
  modules/form-field/react/stories/stories_Select.tsx
  modules/select/react/spec/Select.spec.tsx
Labels: testing

#475 feat(icon): Support accent layer
  modules/icon/react/lib/SystemIcon.tsx
  modules/icon/react/spec/SystemIcon.spec.tsx
Labels: bug, enhancement

#457 feat(radio): Add theming support
  modules/checkbox/react/lib/Checkbox.tsx
  modules/common/react/index.ts
  modules/common/react/lib/styles/errorRing.ts
  modules/form-field/react/stories/stories_Radio.tsx
  modules/radio/react/lib/Radio.tsx
  modules/radio/react/lib/RadioGroup.tsx
  utils/storybook/customThemes.ts
Labels: enhancement

#465 feat(switch): Add theming support
  modules/form-field/react/stories/stories_Switch.tsx
  modules/radio/react/lib/Radio.tsx
  modules/switch/react/lib/Switch.tsx
Labels: enhancement
