Repository Workday/canvas-kit, pull requests merged in 2020-10, with the labels that each got.

#870 fix: Revert prismjs from 1.21.0 back to 1.17.1
  yarn.lock
Labels: bug

#871 fix: Update core CSS border-radius docs
  modules/core/css/README.md
Labels: documentation, ready for review

#874 docs(popup): Change language around use of usePopupStack
  modules/popup/react/README.md
Labels: documentation

#873 [WIP] feat(popup): Add previousFocusRef to useCloseOnEscape hook
  modules/popup/react/README.md
  modules/popup/react/lib/useCloseOnEscape.ts
Labels: approved

#879 fix(drawer): Add support for word wrapping in IE11
  modules/_labs/drawer/react/lib/Drawer.tsx
  modules/toast/react/lib/Toast.tsx
Labels: bug, ready for review

#776 feat(breadcrumbs): Add Breadcrumbs component
  cypress/integration/Breadcrumbs.spec.ts
  cypress/support/commands.ts
  modules/_labs/breadcrumbs/react/LICENSE
  modules/_labs/breadcrumbs/react/README.md
  modules/_labs/breadcrumbs/react/index.ts
  modules/_labs/breadcrumbs/react/lib/Breadcrumbs/Dropdown/Button.tsx
  modules/_labs/breadcrumbs/react/lib/Breadcrumbs/Dropdown/Menu.tsx
  modules/_labs/breadcrumbs/react/lib/Breadcrumbs/Dropdown/MenuItemLink.tsx
  modules/_labs/breadcrumbs/react/lib/Breadcrumbs/Dropdown/hooks.ts
  modules/_labs/breadcrumbs/react/lib/Breadcrumbs/Dropdown/index.tsx
  modules/_labs/breadcrumbs/react/lib/Breadcrumbs/List/Collapsible.tsx
  modules/_labs/breadcrumbs/react/lib/Breadcrumbs/List/CurrentItem.tsx
  modules/_labs/breadcrumbs/react/lib/Breadcrumbs/List/Link.tsx
  modules/_labs/breadcrumbs/react/lib/Breadcrumbs/List/ListItem.tsx
  modules/_labs/breadcrumbs/react/lib/Breadcrumbs/List/hooks.ts
  modules/_labs/breadcrumbs/react/lib/Breadcrumbs/List/index.tsx
  modules/_labs/breadcrumbs/react/lib/Breadcrumbs/List/styles.ts
  modules/_labs/breadcrumbs/react/lib/Breadcrumbs/Nav.tsx
  modules/_labs/breadcrumbs/react/lib/Breadcrumbs/hooks.ts
  modules/_labs/breadcrumbs/react/lib/Breadcrumbs/index.tsx
  modules/_labs/breadcrumbs/react/lib/Breadcrumbs/types.ts
  modules/_labs/breadcrumbs/react/package.json
  modules/_labs/breadcrumbs/react/stories/stories_Breadcrumbs.tsx
  modules/_labs/breadcrumbs/react/stories/stories_visualTesting.tsx
  modules/_labs/breadcrumbs/react/tsconfig.cjs.json
  modules/_labs/breadcrumbs/react/tsconfig.es6.json
  modules/_labs/breadcrumbs/react/tsconfig.json
  package.json
  utils/storybook/ComponentStatesTable.tsx
  yarn.lock
Labels: ready for review

#868 fix(common): Remove unintended whitespace around bdo tag (IE11) (#862)
  modules/common/react/lib/CanvasProvider.tsx
Labels: 5.x

#827 refactor(select): Convert more of Select to FC and improve code style
  cypress/integration/SelectLabs.spec.ts
  modules/_labs/select/react/README.md
  modules/_labs/select/react/lib/Select.tsx
  modules/_labs/select/react/lib/SelectBase.tsx
  modules/_labs/select/react/lib/SelectMenu.tsx
  modules/_labs/select/react/lib/SelectOption.tsx
  modules/_labs/select/react/lib/types.ts
  modules/_labs/select/react/lib/utils.ts
  modules/_labs/select/react/stories/stories.tsx
  modules/_labs/select/react/stories/stories_visualTesting.tsx
Labels: ready for review

#885 fix(menu): Update MenuItem icon styles
  modules/_labs/menu/react/lib/MenuItem.tsx
  modules/_labs/menu/react/stories/stories.tsx
  modules/_labs/menu/react/stories/stories_visualTesting.tsx
  modules/menu/css/stories.tsx
Labels: ready for review
