Repository Workday/canvas-kit, pull requests merged in 2020-07, with the labels that each got.

#765 feat(popup): Add getAnchorClientRect prop for custom positioning
  modules/popup/react/README.md
  modules/popup/react/lib/Popper.tsx
  modules/popup/react/package.json
  modules/popup/react/stories/stories_Popper_VisualTesting.tsx
Labels: approved

#767 fix: Add explicit arg to initEvent in ComboBox and header SearchBar
  modules/_labs/combobox/react/lib/Combobox.tsx
  modules/_labs/combobox/react/stories/stories.tsx
  modules/_labs/header/react/lib/parts/SearchBar.tsx
  modules/_labs/header/react/stories/stories.tsx
Labels: bug

#772 test(text-area): Added placeholder with value unit test
  modules/text-area/react/spec/TextArea.spec.tsx
Labels: ready for review, testing

#774 refactor(form-field): Update error message color
  modules/form-field/react/lib/Hint.tsx
  modules/form-field/react/stories/visual-testing/theming/stories_FormField.tsx
Labels: enhancement, ready for review

#535 feat(combobox): Allow grouping of listbox items
  .eslintrc.js
  cypress.json
  cypress/integration/Combobox.spec.ts
  modules/_labs/combobox/react/README.md
  modules/_labs/combobox/react/lib/AutocompleteList.tsx
  modules/_labs/combobox/react/lib/Combobox.tsx
  modules/_labs/combobox/react/lib/Status.tsx
  modules/_labs/combobox/react/package.json
  modules/_labs/combobox/react/spec/Combobox.spec.tsx
  modules/_labs/combobox/react/stories/stories.tsx
  modules/_labs/combobox/react/stories/stories_testing.tsx
  modules/_labs/select/react/lib/SelectMenu.tsx
  modules/button/react/lib/Button.tsx
  modules/button/react/lib/DeleteButton.tsx
  modules/button/react/lib/DropdownButton.tsx
  modules/button/react/lib/HighlightButton.tsx
  modules/button/react/lib/IconButton.tsx
  modules/button/react/lib/OutlineButton.tsx
  modules/button/react/lib/TextButton.tsx
  modules/button/react/lib/ToolbarDropdownButton.tsx
  modules/button/react/lib/ToolbarIconButton.tsx
  modules/checkbox/react/lib/Checkbox.tsx
  modules/common/react/lib/theming/useTheme.ts
  modules/common/react/lib/utils/index.ts
  modules/common/react/lib/utils/uniqueId.ts
  modules/common/react/lib/utils/useUniqueId.ts
  modules/modal/react/lib/ModalContent.tsx
  modules/popup/react/lib/Popper.tsx
  modules/popup/react/lib/useCloseOnEscape.ts
  modules/popup/react/lib/usePopupStack.ts
  modules/popup/react/spec/Popper.spec.tsx
  modules/popup/react/stories/stories_Popper_testing.tsx
  modules/radio/react/lib/Radio.tsx
  modules/switch/react/lib/Switch.tsx
  modules/tooltip/react/lib/useTooltip.tsx
Labels: approved

#649 feat: Support SSR
  .eslintrc.js
  API_PATTERN_GUIDELINES.md
  modules/_labs/combobox/react/spec/SSR.spec.tsx
  modules/_labs/header/react/lib/Header.tsx
  modules/_labs/header/react/spec/SSR.spec.tsx
  modules/_labs/select/react/spec/SSR.spec.tsx
  modules/action-bar/css/lib/action-bar.scss
  modules/action-bar/react/lib/ActionBar.tsx
  modules/avatar/react/spec/SSR.spec.tsx
  modules/common/react/lib/theming/useTheme.ts
  modules/cookie-banner/react/lib/CookieBanner.tsx
  modules/core/react/lib/InputProvider.tsx
  modules/core/react/lib/type.ts
  modules/core/react/spec/SSR.spec.tsx
  modules/form-field/css/lib/form-field.scss
  modules/icon/css/lib/icon-list.scss
  modules/layout/react/lib/Column.tsx
  modules/menu/css/lib/menu.scss
  modules/modal/react/lib/Modal.tsx
  modules/modal/react/lib/ModalContent.tsx
  modules/modal/react/spec/SSR.spec.tsx
  modules/popup-stack/lib/PopupStack.ts
  modules/radio/react/lib/RadioGroup.tsx
  modules/side-panel/react/lib/SidePanel.tsx
  modules/side-panel/react/spec/SSR.spec.tsx
  modules/table/css/lib/mixins.scss
  modules/table/react/lib/TableRow.tsx
  modules/tooltip/css/lib/tooltip.scss
  modules/tooltip/react/spec/SSR.spec.tsx
  package.json
  utils/create-component/createReactModule.js
  utils/create-component/templates/react/SSR.js
  yarn.lock
Labels: approved

#777 fix(menu): Fix style so item is not truncated in IE11
  modules/_labs/menu/react/lib/MenuItem.tsx
  modules/_labs/menu/react/stories/stories_visualTesting.tsx
Labels: ready for review

#783 fix(avatar): Fix undesired halo around Dark variant
  modules/avatar/react/lib/Avatar.tsx
Labels: ready for review

#795 fix(select): Fix undesired scrolling when activating menu
  cypress/integration/SelectLabs.spec.ts
  modules/_labs/select/react/lib/SelectMenu.tsx
  modules/_labs/select/react/stories/stories_testing.tsx
Labels: bug, ready for review

#798 fix: Update Popup readme example
  modules/popup/react/README.md
Labels: documentation, ready for review

#797 fix(select): Support aria-required
  cypress/integration/SelectLabs.spec.ts
  modules/_labs/select/react/lib/SelectBase.tsx
  modules/_labs/select/react/spec/Select.spec.tsx
  modules/_labs/select/react/stories/stories_testing.tsx
Labels: bug, ready for review

#799 fix(color-picker): Prevent enter key fowarding to next focus target
  cypress/integration/ColorPicker.spec.ts
  modules/_labs/color-picker/react/README.md
  modules/_labs/color-picker/react/lib/ColorPicker.tsx
  modules/_labs/color-picker/react/stories/stories_ColorPicker.tsx
  modules/_labs/color-picker/react/stories/stories_testing.tsx
Labels: ready for review

#803 fix(select): Add cancelAnimationFrame to unmount
  modules/_labs/select/react/lib/SelectBase.tsx
Labels: ready for review

#802 fix(menu): Delay focus to prevent scrolling
  modules/_labs/menu/react/lib/Menu.tsx
Labels: bug, ready for review

#806 Merge/support/v4.0.x into master
  CHANGELOG.md
  modules/_labs/menu/react/lib/Menu.tsx
Labels: ready for review

#811 chore: Upgrade dependencies
  package.json
  yarn.lock
Labels: ready for review

#804 fix(skeleton): Remove aria-live and add loading text content
  modules/skeleton/react/lib/skeleton.tsx
  modules/skeleton/react/package.json
  modules/skeleton/react/spec/skeleton.spec.tsx
Labels: ready for review
