Repository Workday/canvas-kit, pull requests merged in 2020-09, with the labels that each got.

#844 fix(select): Replace disabled attribute on options with aria-disabled
  cypress/integration/SelectLabs.spec.ts
  modules/_labs/select/react/lib/SelectBase.tsx
  modules/_labs/select/react/lib/SelectOption.tsx
  modules/_labs/select/react/stories/stories_visualTesting.tsx
Labels: bug, ready for review

#853 fix(form-field): Fix legend overflow bug (IE11)
  modules/form-field/react/lib/Label.tsx
  modules/form-field/react/stories/visual-testing/stories_Radio.tsx
Labels: bug, ready for review

#865 fix(popup-stack): Move adapter var to popup-stack global namespace
  modules/popup-stack/lib/PopupStack.ts
Labels: bug

#860 [ISSUE-849] fix: Add canvas-kit-css-badge to canvas-kit-css
  modules/_canvas-kit-css/index.scss
  modules/_canvas-kit-css/package.json
Labels: bug

#846 fix(color-picker): Separate popup from color picker
  modules/_labs/color-picker/react/README.md
  modules/_labs/color-picker/react/lib/ColorPicker.tsx
  modules/_labs/color-picker/react/stories/stories_ColorPicker.tsx
Labels: breaking-change, bug, ready for review
