Repository Workday/canvas-kit, pull requests merged in 2020-12, with the labels that each got.

#926 fix(common): Fix mouseFocusBehavior type issue
  modules/common/react/lib/styles/hideMouseFocus.ts
Labels: approved

#928 docs: Standardize README badges for Labs components
  modules/_labs/README.md
  modules/_labs/breadcrumbs/react/README.md
  modules/_labs/color-picker/react/README.md
  modules/_labs/combobox/react/README.md
  modules/_labs/core/react/README.md
  modules/_labs/drawer/react/README.md
  modules/_labs/header/react/README.md
  modules/_labs/menu/react/README.md
  modules/_labs/pagination/react/README.md
  modules/_labs/select/react/README.md
  modules/_labs/side-panel/react/README.md
  modules/_labs/tabs/react/README.md
  utils/create-component/createComponent.js
  utils/create-component/templates/css/readme.js
  utils/create-component/templates/react/readme.js
Labels: ready for review

#929 fix: Fix create component scripts
  utils/create-component/createComponent.js
  utils/create-component/createCssModule.js
  utils/create-component/createReactModule.js
  utils/create-component/templates/react/stories_VisualTesting.js
Labels: ready for review

#930 chore(form-field): Update FormField Readme
  modules/form-field/react/README.md
Labels: documentation, ready for review
