Repository Workday/canvas-kit, pull requests merged in 2020-03, with the labels that each got.

#301 feat(pagination): add pagination bar component
  .storybook/config.js
  cypress/integration/Pagination.spec.ts
  modules/_labs/core/react/stories/stories.tsx
  modules/_labs/core/react/stories/stories_direction.tsx
  modules/_labs/core/react/stories/stories_theme.tsx
  modules/_labs/drawer/react/stories/stories.tsx
  modules/_labs/pagination/react/LICENSE
  modules/_labs/pagination/react/README.md
  modules/_labs/pagination/react/index.ts
  modules/_labs/pagination/react/lib/GoTo.tsx
  modules/_labs/pagination/react/lib/Pages.tsx
  modules/_labs/pagination/react/lib/Pagination.tsx
  modules/_labs/pagination/react/package.json
  modules/_labs/pagination/react/spec/GoTo.spec.tsx
  modules/_labs/pagination/react/spec/Pages.spec.tsx
  modules/_labs/pagination/react/spec/Pagination.spec.tsx
  modules/_labs/pagination/react/stories/stories.tsx
  modules/_labs/pagination/react/tsconfig.cjs.json
  modules/_labs/pagination/react/tsconfig.es6.json
  modules/_labs/pagination/react/tsconfig.json
  modules/button/react/lib/ButtonStyles.ts
  modules/core/react/lib/InputProvider.tsx
  modules/text-input/react/lib/TextInput.tsx
  package.json
  yarn.lock
Labels: enhancement

#471 refactor(button): Simplify Button components and prep for theming
  cypress/integration/Button.spec.ts
  eslintrc.js
  modules/_labs/pagination/react/lib/Pages.tsx
  modules/button/react/README.md
  modules/button/react/index.ts
  modules/button/react/lib/Button.tsx
  modules/button/react/lib/ButtonBase.tsx
  modules/button/react/lib/ButtonColors.ts
  modules/button/react/lib/ButtonStyles.ts
  modules/button/react/lib/DeleteButton.tsx
  modules/button/react/lib/DropdownButton.tsx
  modules/button/react/lib/HighlightButton.tsx
  modules/button/react/lib/IconButton.tsx
  modules/button/react/lib/IconButtonToggleGroup.tsx
  modules/button/react/lib/OutlineButton.tsx
  modules/button/react/lib/TextButton.tsx
  modules/button/react/lib/deprecated_Button.tsx
  modules/button/react/lib/parts/ButtonContainer.tsx
  modules/button/react/lib/parts/ButtonLabel.tsx
  modules/button/react/lib/parts/ButtonLabelData.tsx
  modules/button/react/lib/parts/ButtonLabelIcon.tsx
  modules/button/react/lib/parts/index.tsx
  modules/button/react/lib/types.ts
  modules/button/react/lib/utils.ts
  modules/button/react/package.json
  modules/button/react/spec/Button.spec.tsx
  modules/button/react/spec/Button_Deprecated.spec.tsx
  modules/button/react/spec/IconButton.spec.tsx
  modules/button/react/spec/IconButtonToggleGroup.spec.tsx
  modules/button/react/stories/stories.tsx
  modules/button/react/stories/stories_Button.tsx
  modules/button/react/stories/stories_DeleteButton.tsx
  modules/button/react/stories/stories_Dropdown.tsx
  modules/button/react/stories/stories_HighlightButton.tsx
  modules/button/react/stories/stories_IconButton.tsx
  modules/button/react/stories/stories_OutlineButton.tsx
  modules/button/react/stories/stories_TextButton.tsx
  modules/button/react/stories/stories_deprecatedButton.tsx
  modules/button/react/stories/stories_iconButton.tsx
  modules/button/react/stories/stories_iconButtonToggle.tsx
  modules/button/react/stories/stories_visualTesting.tsx
  modules/button/react/tsconfig.cjs.json
  modules/button/react/tsconfig.es6.json
  modules/modal/react/stories/stories.tsx
Labels: 4.x, breaking-change

#462 feat(color-picker): Add color picker
  cypress/integration/ColorPicker.spec.ts
  modules/_labs/color-picker/react/LICENSE
  modules/_labs/color-picker/react/README.md
  modules/_labs/color-picker/react/index.ts
  modules/_labs/color-picker/react/lib/ColorPicker.tsx
  modules/_labs/color-picker/react/lib/parts/ColorReset.tsx
  modules/_labs/color-picker/react/lib/parts/Swatch.tsx
  modules/_labs/color-picker/react/lib/parts/SwatchBook.tsx
  modules/_labs/color-picker/react/package.json
  modules/_labs/color-picker/react/spec/ColorPicker.spec.tsx
  modules/_labs/color-picker/react/stories/stories_ColorPicker.tsx
  modules/_labs/color-picker/react/tsconfig.cjs.json
  modules/_labs/color-picker/react/tsconfig.es6.json
  modules/_labs/color-picker/react/tsconfig.json
Labels: enhancement

#509 fix(button): Misc. fixes after refactor
  modules/_labs/pagination/react/lib/Pages.tsx
  modules/button/css/README.md
  modules/button/react/index.ts
  modules/button/react/package.json
  modules/button/react/stories/stories_IconButton.tsx
  modules/modal/css/stories.tsx
  modules/popup/css/stories.tsx
  modules/popup/react/lib/Popup.tsx
  modules/popup/react/stories/stories.tsx
  modules/toast/react/lib/Toast.tsx
  modules/toast/react/package.json
Labels: 4.x, breaking-change

#516 ci: Quiet Travis build-storybook webpack logs
  .storybook/webpack.config.js
Labels: infra

#505 refactor: Rename and move IconButtonToggleGroup to SegmentedControl
  modules/_labs/segmented-control/react/LICENSE
  modules/_labs/segmented-control/react/README.md
  modules/_labs/segmented-control/react/index.ts
  modules/_labs/segmented-control/react/lib/SegmentedControl.tsx
  modules/_labs/segmented-control/react/package.json
  modules/_labs/segmented-control/react/spec/SegmentedControl.spec.tsx
  modules/_labs/segmented-control/react/stories/stories.tsx
  modules/_labs/segmented-control/react/tsconfig.cjs.json
  modules/_labs/segmented-control/react/tsconfig.es6.json
  modules/_labs/segmented-control/react/tsconfig.json
Labels: 4.x, breaking-change

#419 fix(modal): Use React portals for accessibility fixes
  cypress/integration/Modal.spec.ts
  modules/modal/react/lib/ModalContent.tsx
  modules/modal/react/spec/Modal.spec.tsx
  modules/modal/react/stories/stories.tsx
Labels: 4.x, bug

#524 chore(segmented-control): Promote SegementedControl out of labs
  modules/_canvas-kit-react/index.ts
  modules/_canvas-kit-react/package.json
  modules/segmented-control/react/LICENSE
  modules/segmented-control/react/README.md
  modules/segmented-control/react/index.ts
  modules/segmented-control/react/lib/SegmentedControl.tsx
  modules/segmented-control/react/package.json
  modules/segmented-control/react/spec/SegmentedControl.spec.tsx
  modules/segmented-control/react/stories/stories.tsx
  modules/segmented-control/react/tsconfig.cjs.json
  modules/segmented-control/react/tsconfig.es6.json
  modules/segmented-control/react/tsconfig.json
Labels: 4.x

#527 feat(button): Add theming support to buttons
  modules/_labs/core/react/lib/theming/theme.ts
  modules/button/react/lib/Button.tsx
  modules/button/react/lib/DeleteButton.tsx
  modules/button/react/lib/DropdownButton.tsx
  modules/button/react/lib/HighlightButton.tsx
  modules/button/react/lib/IconButton.tsx
  modules/button/react/lib/OutlineButton.tsx
  modules/button/react/lib/TextButton.tsx
  modules/button/react/lib/parts/ButtonContainer.tsx
  modules/button/react/stories/stories_visualTesting.tsx
Labels: 4.x

#533 chore: Manage dependencies
  .gitignore
  .travis.yml
  eslintrc.js
  modules/_canvas-kit-react/package.json
  modules/_labs/color-picker/react/package.json
  modules/_labs/combobox/react/lib/Combobox.tsx
  modules/_labs/combobox/react/package.json
  modules/_labs/combobox/react/stories/stories.tsx
  modules/_labs/core/react/package.json
  modules/_labs/drawer/react/package.json
  modules/_labs/header/react/lib/parts/SearchBar.tsx
  modules/_labs/header/react/package.json
  modules/_labs/menu/react/lib/Menu.tsx
  modules/_labs/menu/react/package.json
  modules/_labs/menu/react/stories/stories.tsx
  modules/_labs/pagination/react/package.json
  modules/action-bar/react/package.json
  modules/avatar/react/package.json
  modules/banner/react/package.json
  modules/button/react/package.json
  modules/card/react/package.json
  modules/checkbox/react/package.json
  modules/color-picker/react/package.json
  modules/common/react/package.json
  modules/cookie-banner/react/package.json
  modules/core/react/lib/InputProvider.tsx
  modules/core/react/package.json
  modules/core/react/spec/InputProvider.spec.tsx
  modules/fonts/react/package.json
  modules/form-field/react/package.json
  modules/icon/react/package.json
  modules/layout/react/package.json
  modules/loading-animation/react/package.json
  modules/modal/react/package.json
  modules/page-header/react/package.json
  modules/popup/react/README.md
  modules/popup/react/package.json
  modules/radio/react/package.json
  modules/segmented-control/react/package.json
  modules/select/react/package.json
  modules/side-panel/react/package.json
  modules/skeleton/react/package.json
  modules/status-indicator/react/package.json
  modules/switch/react/package.json
  modules/table/react/package.json
  modules/text-area/react/package.json
  modules/text-input/react/package.json
  modules/toast/react/README.md
  modules/toast/react/package.json
  modules/tooltip/react/README.md
  modules/tooltip/react/package.json
  modules/tooltip/react/stories/stories.tsx
  package.json
  utils/create-component/templates/react/packageJson.js
  yarn.lock
Labels: 4.x
