Repository Workday/canvas-kit, pull requests merged in 2020-04, with the labels that each got.

#540 refactor(button): TextButton design updates
  modules/button/react/lib/TextButton.tsx
  modules/button/react/lib/parts/ButtonContainer.tsx
  modules/button/react/lib/parts/ButtonLabelIcon.tsx
Labels: 4.x, breaking-change

#541 feat(button): Add Hyperlink component
  modules/button/react/README.md
  modules/button/react/index.ts
  modules/button/react/lib/Hyperlink.tsx
  modules/button/react/stories/stories_TextButton.tsx
  modules/button/react/stories/stories_visualTesting.tsx
  modules/core/css/lib/mixins/type.scss
  modules/core/react/lib/type.ts
Labels: 4.x, breaking-change

#499 fix: Remove SyntheticEvent type usage
  API_PATTERN_GUIDELINES.md
  COMPONENT_STATUS.md
  modules/_labs/combobox/react/lib/Combobox.tsx
  modules/_labs/header/react/README.md
  modules/_labs/header/react/lib/GlobalHeader.tsx
  modules/_labs/header/react/lib/Header.tsx
  modules/_labs/header/react/stories/stories.tsx
  modules/_labs/menu/react/README.md
  modules/_labs/menu/react/lib/Menu.tsx
  modules/_labs/menu/react/lib/MenuItem.tsx
  modules/_labs/menu/react/stories/stories.tsx
  modules/avatar/react/README.md
  modules/avatar/react/stories/stories.tsx
  modules/banner/react/README.md
  modules/banner/react/lib/Banner.tsx
  modules/banner/react/stories/stories.tsx
  modules/checkbox/react/README.md
  modules/checkbox/react/lib/Checkbox.tsx
  modules/modal/css/stories.tsx
  modules/popup/css/stories.tsx
  modules/popup/react/stories/stories.tsx
  modules/radio/react/README.md
  modules/radio/react/lib/Radio.tsx
  modules/radio/react/lib/RadioGroup.tsx
  modules/select/react/lib/Select.tsx
  modules/switch/react/README.md
  modules/switch/react/lib/Switch.tsx
  modules/text-area/react/README.md
  modules/text-area/react/lib/TextArea.tsx
  modules/text-input/react/README.md
  utils/storybook/ControlledComponentWrapper.tsx
Labels: 4.x, approved, breaking-change

#525 refactor: Destructure default props
  API_PATTERN_GUIDELINES.md
  modules/_labs/drawer/react/lib/Drawer.tsx
  modules/_labs/drawer/react/lib/DrawerHeader.tsx
  modules/_labs/header/react/lib/GlobalHeader.tsx
  modules/_labs/header/react/lib/Header.tsx
  modules/_labs/header/react/lib/parts/DubLogoTitle.tsx
  modules/_labs/header/react/lib/parts/SearchBar.tsx
  modules/_labs/header/react/lib/parts/WorkdayLogoTitle.tsx
  modules/_labs/header/react/spec/GlobalHeader.spec.tsx
  modules/_labs/menu/react/lib/Menu.tsx
  modules/_labs/menu/react/lib/MenuItem.tsx
  modules/_labs/menu/react/spec/Menu.spec.tsx
  modules/_labs/pagination/react/lib/Pagination.tsx
  modules/avatar/react/lib/Avatar.tsx
  modules/avatar/react/lib/AvatarButton.tsx
  modules/banner/react/lib/Banner.tsx
  modules/card/react/lib/Card.tsx
  modules/checkbox/react/lib/Checkbox.tsx
  modules/color-picker/react/lib/ColorInput.tsx
  modules/common/react/lib/types.ts
  modules/cookie-banner/react/lib/CookieBanner.tsx
  modules/form-field/react/lib/FormField.tsx
  modules/form-field/react/lib/Hint.tsx
  modules/form-field/react/lib/Label.tsx
  modules/icon/react/lib/AccentIcon.tsx
  modules/icon/react/lib/AppletIcon.tsx
  modules/icon/react/lib/Graphic.tsx
  modules/icon/react/lib/Icon.tsx
  modules/icon/react/lib/Svg.tsx
  modules/icon/react/lib/SystemIcon.tsx
  modules/icon/react/lib/SystemIconCircle.tsx
  modules/icon/react/spec/Svg.spec.tsx
  modules/layout/react/lib/Layout.tsx
  modules/modal/react/lib/Modal.tsx
  modules/modal/react/lib/ModalContent.tsx
  modules/page-header/react/lib/PageHeader.tsx
  modules/popup/react/lib/Popup.tsx
  modules/radio/react/lib/Radio.tsx
  modules/radio/react/lib/RadioGroup.tsx
  modules/select/react/lib/Select.tsx
  modules/select/react/lib/SelectOption.tsx
  modules/side-panel/react/lib/SidePanel.tsx
  modules/skeleton/react/lib/parts/skeletonText.tsx
  modules/skeleton/react/lib/skeleton.tsx
  modules/status-indicator/react/lib/StatusIndicator.tsx
  modules/switch/react/lib/Switch.tsx
  modules/text-area/react/lib/TextArea.tsx
  modules/text-input/react/lib/TextInput.tsx
  modules/toast/react/lib/Toast.tsx
Labels: breaking-change

#528 feat(tooltip): Refactor to a simpler API
  .gitignore
  cypress/integration/Tooltip.spec.ts
  cypress/support/commands.ts
  modules/_labs/color-picker/react/stories/stories_ColorPicker.tsx
  modules/common/react/README.md
  modules/common/react/index.ts
  modules/common/react/lib/Popper.tsx
  modules/common/react/lib/utils/getTransformFromPlacement.ts
  modules/common/react/package.json
  modules/common/react/spec/Popper.spec.tsx
  modules/common/react/spec/getTransformFromPopper.spec.ts
  modules/toast/react/README.md
  modules/toast/react/stories/stories.tsx
  modules/tooltip/react/README.md
  modules/tooltip/react/index.ts
  modules/tooltip/react/lib/Tooltip.tsx
  modules/tooltip/react/lib/TooltipContainer.tsx
  modules/tooltip/react/lib/useTooltip.tsx
  modules/tooltip/react/package.json
  modules/tooltip/react/spec/Tooltip.spec.tsx
  modules/tooltip/react/spec/useTooltip.spec.tsx
  modules/tooltip/react/stories/stories.tsx
  modules/tooltip/react/stories/visual.tsx
  wallaby.js
  yarn.lock
Labels: 4.x, approved, breaking-change

#546 feat(core): Allow InputProvider to use a configurable container
  API_PATTERN_GUIDELINES.md
  modules/_labs/core/react/lib/CanvasProvider.tsx
  modules/core/react/README.md
  modules/core/react/lib/InputProvider.tsx
  modules/core/react/spec/InputProvider.spec.tsx
Labels: 4.x, enhancement

#561 fix(menu): Fix flashing on initial selected index
  modules/_labs/menu/react/lib/Menu.tsx
Labels: ready for review

#558 chore: Promote functions out of labs
  modules/_labs/color-picker/react/lib/parts/SwatchBook.tsx
  modules/_labs/core/react/lib/StaticStates.tsx
  modules/_labs/core/react/lib/theming/index.ts
  modules/_labs/core/react/package.json
  modules/_labs/core/react/stories/stories_theme.tsx
  modules/avatar/react/lib/AvatarButton.tsx
  modules/banner/react/lib/Banner.tsx
  modules/button/react/lib/Button.tsx
  modules/button/react/lib/DeleteButton.tsx
  modules/button/react/lib/DropdownButton.tsx
  modules/button/react/lib/HighlightButton.tsx
  modules/button/react/lib/Hyperlink.tsx
  modules/button/react/lib/IconButton.tsx
  modules/button/react/lib/OutlineButton.tsx
  modules/button/react/lib/TextButton.tsx
  modules/button/react/lib/deprecated_Button.tsx
  modules/button/react/lib/parts/ButtonContainer.tsx
  modules/button/react/lib/parts/ButtonLabel.tsx
  modules/button/react/lib/parts/ButtonLabelData.tsx
  modules/button/react/lib/parts/ButtonLabelIcon.tsx
  modules/checkbox/react/lib/Checkbox.tsx
  modules/color-picker/react/lib/ColorInput.tsx
  modules/common/react/index.ts
  modules/common/react/lib/styles/focusRing.ts
  modules/common/react/lib/theming/styled.ts
  modules/common/react/lib/theming/useTheme.ts
  modules/common/react/spec/styled.spec.tsx
  modules/common/react/spec/useTheme.spec.tsx
  modules/form-field/react/lib/FormField.tsx
  modules/form-field/react/lib/Hint.tsx
  modules/radio/react/lib/Radio.tsx
  modules/radio/react/lib/RadioGroup.tsx
  modules/segmented-control/react/lib/SegmentedControl.tsx
  modules/select/react/lib/Select.tsx
  modules/switch/react/lib/Switch.tsx
  modules/text-area/react/lib/TextArea.tsx
  modules/text-input/react/lib/TextInput.tsx
Labels: 4.x, breaking-change, infra, ready for review

#557 ci: Enable Github Actions for pull requests
  .github/workflows/ci.yml
  .travis.yml
  utils/check-dependencies-exist.js
  utils/get-cypress-version.js
Labels: ready for review

#531 chore: Upgrade packages to fix vulnerabilities
  .github/workflows/ci.yml
  .postcssrc.js
  .storybook/webpack.config.js
  .travis.yml
  modules/segmented-control/react/package.json
  package.json
  utils/css-build.js
  yarn.lock
Labels: ready for review

#578 ci: Fix annotation for extra dependencies
  utils/check-dependencies-exist.js
Labels: ready for review

#577 fix(button): Fix IconButton states and update TextButton CSS
  4.0-MIGRATION-GUIDE.md
  modules/button/css/lib/text-button.scss
  modules/button/react/lib/IconButton.tsx
Labels: ready for review

#551 Fix: Update prop names to match aria labels
  4.0-MIGRATION-GUIDE.md
  modules/_labs/color-picker/react/lib/ColorPicker.tsx
  modules/_labs/drawer/react/lib/DrawerHeader.tsx
  modules/_labs/drawer/react/stories/stories.tsx
  modules/_labs/header/react/lib/parts/SearchBar.tsx
  modules/_labs/header/react/spec/SearchBar.spec.tsx
  modules/_labs/menu/react/lib/Menu.tsx
  modules/_labs/menu/react/spec/Menu.spec.tsx
  modules/_labs/menu/react/stories/stories.tsx
  modules/avatar/react/lib/Avatar.tsx
  modules/banner/react/lib/Banner.tsx
  modules/button/react/lib/IconButton.tsx
  modules/popup/react/lib/Popup.tsx
  modules/side-panel/react/lib/SidePanel.tsx
  modules/skeleton/react/lib/skeleton.tsx
Labels: 4.x, breaking-change

#590 feat(button): Add href support
  modules/button/react/README.md
  modules/button/react/lib/Button.tsx
  modules/button/react/lib/DeleteButton.tsx
  modules/button/react/lib/DropdownButton.tsx
  modules/button/react/lib/HighlightButton.tsx
  modules/button/react/lib/IconButton.tsx
  modules/button/react/lib/OutlineButton.tsx
  modules/button/react/lib/TextButton.tsx
  modules/button/react/lib/deprecated_Button.tsx
  modules/button/react/lib/types.ts
  modules/button/react/spec/Button.spec.tsx
  modules/button/react/spec/IconButton.spec.tsx
Labels: approved, enhancement, ready for review

#584 test(toast): Write test for Toasts
  cypress/integration/Toast.spec.ts
  modules/toast/react/lib/Toast.tsx
  modules/toast/react/package.json
  modules/toast/react/spec/Toast.spec.tsx
  modules/toast/react/stories/stories.tsx
  modules/toast/react/stories/stories_visualTesting.tsx
Labels: accessibility, enhancement, ready for review, testing

#596 chore: Update Cypress to 4.4.1 and remove custom TS handling
  .gitignore
  cypress/plugins/index.js
  package.json
  yarn.lock
Labels: dependencies, infra, ready for review

#597 chore: Refactor control wrapper to hooks for easier examples
  utils/storybook/ControlledComponentWrapper.tsx
  utils/storybook/index.ts
Labels: approved, developer-experience

#598 chore: Decrease output of build-storybook
  .github/workflows/ci.yml
  .travis.yml
Labels: approved, infra

#599 fix: Fix ESLint VSCode plugin
  .eslintrc.js
Labels: developer-experience, ready for review

#454 feat(select): Implement Canvas menu
  cypress/helpers/index.ts
  cypress/helpers/selectLabs.ts
  cypress/integration/SelectLabs.spec.ts
  modules/_labs/select/react/LICENSE
  modules/_labs/select/react/README.md
  modules/_labs/select/react/index.ts
  modules/_labs/select/react/lib/Select.tsx
  modules/_labs/select/react/lib/SelectBase.tsx
  modules/_labs/select/react/lib/SelectMenu.tsx
  modules/_labs/select/react/lib/SelectOption.tsx
  modules/_labs/select/react/lib/utils.ts
  modules/_labs/select/react/package.json
  modules/_labs/select/react/spec/Select.spec.tsx
  modules/_labs/select/react/stories/stories.tsx
  modules/_labs/select/react/tsconfig.cjs.json
  modules/_labs/select/react/tsconfig.es6.json
  modules/_labs/select/react/tsconfig.json
Labels: new-component, ready for review

#594 chore: Move theme functionality from labs to common
  .github/workflows/ci.yml
  modules/_labs/core/react/README.md
  modules/_labs/core/react/index.ts
  modules/_labs/core/react/lib/StaticStates.tsx
  modules/_labs/core/react/package.json
  modules/banner/react/lib/Banner.tsx
  modules/banner/react/package.json
  modules/button/react/lib/Button.tsx
  modules/button/react/lib/DeleteButton.tsx
  modules/button/react/lib/DropdownButton.tsx
  modules/button/react/lib/HighlightButton.tsx
  modules/button/react/lib/IconButton.tsx
  modules/button/react/lib/OutlineButton.tsx
  modules/button/react/lib/TextButton.tsx
  modules/button/react/lib/parts/ButtonContainer.tsx
  modules/checkbox/react/lib/Checkbox.tsx
  modules/checkbox/react/package.json
  modules/color-picker/react/lib/ColorInput.tsx
  modules/color-picker/react/package.json
  modules/common/react/README.md
  modules/common/react/index.ts
  modules/common/react/lib/CanvasProvider.tsx
  modules/common/react/lib/parts/index.ts
  modules/common/react/lib/styles/accessibleHide.ts
  modules/common/react/lib/styles/errorRing.ts
  modules/common/react/lib/styles/focusRing.ts
  modules/common/react/lib/styles/hideMouseFocus.ts
  modules/common/react/lib/styles/index.ts
  modules/common/react/lib/theming/README.md
  modules/common/react/lib/theming/breakpoints.ts
  modules/common/react/lib/theming/createCanvasTheme.ts
  modules/common/react/lib/theming/index.ts
  modules/common/react/lib/theming/styled.ts
  modules/common/react/lib/theming/theme.ts
  modules/common/react/lib/theming/types.ts
  modules/common/react/lib/theming/useTheme.ts
  modules/common/react/lib/utils/index.ts
  modules/common/react/package.json
  modules/common/react/spec/breakpoints.spec.tsx
  modules/common/react/spec/createCanvasTheme.spec.tsx
  modules/common/react/spec/useTheme.spec.tsx
  modules/common/react/stories/stories_direction.tsx
  modules/common/react/stories/stories_theme.tsx
  modules/form-field/react/lib/FormField.tsx
  modules/form-field/react/lib/Hint.tsx
  modules/radio/react/lib/Radio.tsx
  modules/radio/react/lib/RadioGroup.tsx
  modules/radio/react/package.json
  modules/select/react/lib/Select.tsx
  modules/select/react/package.json
  modules/switch/react/lib/Switch.tsx
  modules/switch/react/package.json
  modules/text-area/react/lib/TextArea.tsx
  modules/text-area/react/package.json
  modules/text-input/react/lib/TextInput.tsx
  modules/text-input/react/package.json
  utils/storybook/CanvasProviderDecorator.tsx
  utils/storybook/customThemes.ts
Labels: 4.x, breaking-change
