Repository Workday/canvas-kit, pull requests merged in 2021-06, with the labels that each got.

#1089 docs: Review v5 migration guide
  modules/docs/mdx/5.0-MIGRATION-GUIDE.mdx
Labels: 5.x, ready for review, sprint commitment

#1098 fix: Fix type upgrade issues
  modules/codemod/lib/v5/mapTypeTokensToNewHierarchy.ts
  modules/codemod/lib/v5/spec/mapTypeTokensToNewHierarchy.spec.ts
  modules/docs/mdx/5.0-MIGRATION-GUIDE.mdx
  modules/preview-react/breadcrumbs/lib/Breadcrumbs/List/Link.tsx
  modules/react/banner/lib/Banner.tsx
  modules/react/button/lib/deprecated_Button.tsx
  modules/react/card/lib/CardHeading.tsx
  modules/react/cookie-banner/lib/CookieBanner.tsx
  modules/react/pagination/lib/Pagination/AdditionalDetails.tsx
  modules/react/pagination/lib/Pagination/GoTo/Label.tsx
  modules/react/pagination/lib/Pagination/PageButton.tsx
  modules/react/tabs/lib/Tab.tsx
  modules/react/toast/lib/Toast.tsx
  modules/react/tokens/lib/type/levels.ts
  modules/react/tokens/spec/type.spec.ts
  modules/react/tokens/stories/stories.tsx
  modules/react/tooltip/lib/TooltipContainer.tsx
Labels: 5.x, breaking-change, review in progress

#1108 chore: Release 5.0.1
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-animation/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
Labels: 5.x

#1110 fix(tokens): Fixes color token exports
  modules/react/tokens/index.ts
Labels: 5.x, bug
