Repository Workday/canvas-kit, pull requests merged in 2021-08, with the labels that each got.

#1206 docs: Update Breadcrumbs stories to mdx
  cypress/integration/Breadcrumbs.spec.ts
  modules/preview-react/breadcrumbs/README.md
  modules/preview-react/breadcrumbs/lib/Breadcrumbs/Dropdown/Button.tsx
  modules/preview-react/breadcrumbs/lib/Breadcrumbs/List/Collapsible.tsx
  modules/preview-react/breadcrumbs/lib/Breadcrumbs/List/CurrentItem.tsx
  modules/preview-react/breadcrumbs/lib/Breadcrumbs/List/Link.tsx
  modules/preview-react/breadcrumbs/lib/Breadcrumbs/Nav.tsx
  modules/preview-react/breadcrumbs/stories/Breadcrumbs.stories.mdx
  modules/preview-react/breadcrumbs/stories/examples/CollapsibleList.tsx
  modules/preview-react/breadcrumbs/stories/examples/CurrentItemTruncation.tsx
  modules/preview-react/breadcrumbs/stories/examples/LinkTruncation.tsx
  modules/preview-react/breadcrumbs/stories/examples/RTL.tsx
  modules/preview-react/breadcrumbs/stories/examples/StandardList.tsx
  modules/preview-react/breadcrumbs/stories/stories_Breadcrumbs.tsx
Labels: documentation, ready for review, 5.x

#1207 feat: Add comments in DTS files for JSDoc
  tsconfig.json
Labels: approved, 5.x

#1205 docs(popup): Add Popper note and args table of subcomponents
  modules/react/popup/stories/Popup.stories.mdx
Labels: documentation, approved

#1189 fix(common): Remove @ts-ignore from ExtractProps
  modules/react/common/lib/utils/components.ts
  modules/react/common/spec/components.test-d.tsx
Labels: approved

#1186 docs: Update common readme
  modules/react/common/README.md
Labels: documentation, approved, 5.x

#1210 docs: Update Breadcrumbs docs to mdx (Review Updates)
  cypress/integration/Breadcrumbs.spec.ts
  modules/preview-react/breadcrumbs/stories/Breadcrumbs.stories.mdx
  modules/preview-react/breadcrumbs/stories/examples/Basic.tsx
Labels: documentation, ready for review, 5.x

#1159 test(popup): Add visual tests for RTL in Modal and Popup
  modules/react/modal/stories/stories_VisualTesting.tsx
  modules/react/popup/stories/stories_VisualTesting.tsx
Labels: approved, 5.x

#1209 docs(popup): Update custom target example to accept ref
  modules/react/popup/stories/examples/CustomTarget.tsx
Labels: documentation, approved, 5.x

#1188 fix: Misc. MDX fixes
  modules/docs/mdx/CONTRIBUTING.mdx
  modules/docs/utils/build-mdx.js
  modules/react/action-bar/stories/ActionBar.stories.mdx
  modules/react/action-bar/stories/examples/Fixed.tsx
  modules/react/button/README.md
  modules/react/button/stories/button/Button.stories.mdx
Labels: approved

#1203 docs: Adds menu mdx docs
  cypress/integration/Menu.spec.ts
  modules/preview-react/menu/README.md
  modules/preview-react/menu/stories/Menu.stories.mdx
  modules/preview-react/menu/stories/examples/Basic.tsx
  modules/preview-react/menu/stories/examples/ContextMenu.tsx
  modules/preview-react/menu/stories/examples/ContextMenuTarget.tsx
  modules/preview-react/menu/stories/examples/ControlButton.tsx
  modules/preview-react/menu/stories/examples/CustomMenuItem.tsx
  modules/preview-react/menu/stories/examples/Icons.tsx
  modules/preview-react/menu/stories/examples/ManyItems.tsx
  modules/preview-react/menu/stories/stories.tsx
Labels: documentation, ready for review, review in progress, 5.x

#1157 fix(menu): Fix Menu item icon colors
  modules/preview-react/menu/lib/MenuItem.tsx
  modules/preview-react/menu/stories/examples/Icons.tsx
  modules/preview-react/menu/stories/stories_visualTesting.tsx
Labels: approved

#1219 ci: Add Chromatic baseline to support branches
  .travis.yml
Labels: ready for review

#1146 fix(form-field): Updates legend to be direct child of FieldSet
  modules/react/form-field/lib/FormField.tsx
  modules/react/form-field/lib/Label.tsx
Labels: ready for review

#1224 chore: Release v5.1.0
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-animation/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
Labels: ready for review, 5.x

#1229 fix: Update toast to properly render rtl
  modules/react/toast/lib/Toast.tsx
  modules/react/toast/stories/examples/RTL.tsx
  modules/react/toast/stories/stories_visualTesting.tsx
  modules/react/toast/stories/toast.stories.mdx
Labels: ready for review, 5.x

#1220 docs: Update inter-linking to match Canvas Site
  .storybook/preview.js
  .storybook/routes.js
  .storybook/webpack-loader-redirect-mdx-to-github.js
  cypress/integration/storybook.spec.ts
  modules/docs/mdx/5.0-MIGRATION-GUIDE.mdx
  modules/docs/mdx/CONTRIBUTING.mdx
  modules/docs/mdx/CREATING_COMPOUND_COMPONENTS.mdx
  modules/docs/mdx/TESTING.mdx
  modules/react/card/stories/card.stories.mdx
  modules/react/checkbox/stories/Checkbox.stories.mdx
  modules/react/color-picker/stories/color-input/ColorInput.stories.mdx
  modules/react/form-field/stories/FormField.stories.mdx
  modules/react/pagination/stories/pagination.stories.mdx
  modules/react/popup/stories/Popup.stories.mdx
  modules/react/radio/stories/Radio.stories.mdx
  modules/react/select/stories/Select.stories.mdx
  modules/react/switch/stories/Switch.stories.mdx
  modules/react/tabs/stories/Tabs.stories.mdx
  modules/react/text-area/stories/TextArea.stories.mdx
  modules/react/text-input/stories/TextInput.stories.mdx
Labels: ready for review, review in progress
