Repository Workday/canvas-kit, pull requests merged in 2021-02, with the labels that each got.

#937 docs: Add compound component doc
  COMPOUND_COMPONENTS.md
Labels: RFC, documentation, ready for review

#957 fix: Remove jest coverage
  jest.config.js
Labels: ready for review

#959 feat: Add closeButtonAriaLabel to Modal Component
  modules/modal/react/README.md
  modules/modal/react/lib/ModalContent.tsx
  modules/modal/react/spec/Modal.spec.tsx
  modules/popup/react/README.md
Labels: ready for review, review in progress

#958 test: Add verifyComponent test helper and fix test types
  jest/setupTests.ts
  jest/testing-library__jest-dom.d.ts
  jest/verifyComponent.d.ts
  jest/verifyComponent.spec.tsx
  jest/verifyComponent.tsx
  modules/_labs/breadcrumbs/react/lib/Breadcrumbs/List/hooks.ts
  modules/_labs/color-picker/react/spec/tsconfig.json
  modules/_labs/combobox/react/spec/tsconfig.json
  modules/_labs/drawer/react/spec/tsconfig.json
  modules/_labs/header/react/spec/SearchBar.spec.tsx
  modules/_labs/header/react/spec/tsconfig.json
  modules/_labs/menu/react/lib/Menu.tsx
  modules/_labs/menu/react/spec/tsconfig.json
  modules/_labs/pagination/react/spec/tsconfig.json
  modules/_labs/select/react/spec/tsconfig.json
  modules/_labs/side-panel/react/spec/tsconfig.json
  modules/_labs/tabs/react/spec/tsconfig.json
  modules/action-bar/react/spec/tsconfig.json
  modules/avatar/react/spec/tsconfig.json
  modules/badge/react/spec/tsconfig.json
  modules/banner/react/spec/tsconfig.json
  modules/button/react/spec/tsconfig.json
  modules/card/react/spec/tsconfig.json
  modules/checkbox/react/spec/tsconfig.json
  modules/color-picker/react/spec/tsconfig.json
  modules/common/react/spec/components.spec.tsx
  modules/common/react/spec/tsconfig.json
  modules/cookie-banner/react/spec/tsconfig.json
  modules/core/react/spec/tsconfig.json
  modules/form-field/react/spec/tsconfig.json
  modules/icon/react/spec/tsconfig.json
  modules/layout/react/spec/tsconfig.json
  modules/loading-animation/react/spec/tsconfig.json
  modules/modal/react/spec/tsconfig.json
  modules/page-header/react/spec/tsconfig.json
  modules/popup-stack/spec/tsconfig.json
  modules/popup/react/spec/tsconfig.json
  modules/radio/react/spec/tsconfig.json
  modules/segmented-control/react/spec/tsconfig.json
  modules/select/react/spec/tsconfig.json
  modules/side-panel/react/spec/tsconfig.json
  modules/skeleton/react/spec/tsconfig.json
  modules/status-indicator/react/spec/tsconfig.json
  modules/switch/react/spec/tsconfig.json
  modules/table/react/spec/tsconfig.json
  modules/text-area/react/spec/tsconfig.json
  modules/text-input/react/spec/tsconfig.json
  modules/toast/react/spec/tsconfig.json
  modules/tooltip/react/spec/tsconfig.json
  tsconfig.json
  tsconfig.spec.json
  utils/check-dependencies-exist.js
  utils/create-component/createReactModule.js
  utils/create-component/templates/react/tsconfig.js
  utils/spec/tsconfig.json
  wallaby.js
Labels: dependencies, ready for review

#967 fix: Add crossorigin to font preloads
  .storybook/preview-head.html
Labels: infra, sprint commitment

#954 Update Pagination component
  cypress/integration/Pagination.spec.ts
  modules/_labs/pagination/react/MIGRATION_GUIDE.md
  modules/_labs/pagination/react/README.md
  modules/_labs/pagination/react/index.ts
  modules/_labs/pagination/react/lib/GoTo.tsx
  modules/_labs/pagination/react/lib/Pages.tsx
  modules/_labs/pagination/react/lib/Pagination.tsx
  modules/_labs/pagination/react/lib/Pagination/AdditionalDetails.tsx
  modules/_labs/pagination/react/lib/Pagination/Controls.tsx
  modules/_labs/pagination/react/lib/Pagination/GoTo/Form.tsx
  modules/_labs/pagination/react/lib/Pagination/GoTo/GoTo.tsx
  modules/_labs/pagination/react/lib/Pagination/GoTo/Label.tsx
  modules/_labs/pagination/react/lib/Pagination/GoTo/TextInput.tsx
  modules/_labs/pagination/react/lib/Pagination/GoTo/index.ts
  modules/_labs/pagination/react/lib/Pagination/GoTo/useGoToForm.tsx
  modules/_labs/pagination/react/lib/Pagination/Nav.tsx
  modules/_labs/pagination/react/lib/Pagination/PageButton.tsx
  modules/_labs/pagination/react/lib/Pagination/PageList.tsx
  modules/_labs/pagination/react/lib/Pagination/Pagination.tsx
  modules/_labs/pagination/react/lib/Pagination/buildPageRange.ts
  modules/_labs/pagination/react/lib/Pagination/common/Box.tsx
  modules/_labs/pagination/react/lib/Pagination/common/Flex.tsx
  modules/_labs/pagination/react/lib/Pagination/common/List.tsx
  modules/_labs/pagination/react/lib/Pagination/common/Stack.tsx
  modules/_labs/pagination/react/lib/Pagination/common/useLiveRegion.tsx
  modules/_labs/pagination/react/lib/Pagination/common/utils/flex.ts
  modules/_labs/pagination/react/lib/Pagination/common/utils/getValidChildren.ts
  modules/_labs/pagination/react/lib/Pagination/common/utils/helpers.ts
  modules/_labs/pagination/react/lib/Pagination/common/utils/layout.ts
  modules/_labs/pagination/react/lib/Pagination/common/utils/safelySpreadProps.ts
  modules/_labs/pagination/react/lib/Pagination/common/utils/space.ts
  modules/_labs/pagination/react/lib/Pagination/common/utils/useRTL.ts
  modules/_labs/pagination/react/lib/Pagination/index.tsx
  modules/_labs/pagination/react/lib/Pagination/types.ts
  modules/_labs/pagination/react/lib/Pagination/usePaginationModel.ts
  modules/_labs/pagination/react/package.json
  modules/_labs/pagination/react/spec/GoTo.spec.tsx
  modules/_labs/pagination/react/spec/Pages.spec.tsx
  modules/_labs/pagination/react/spec/Pagination.spec.tsx
  modules/_labs/pagination/react/spec/buildPageRange.spec.ts
  modules/_labs/pagination/react/spec/helpers.spec.ts
  modules/_labs/pagination/react/spec/safelySpreadProps.spec.ts
  modules/_labs/pagination/react/spec/useGoToForm.spec.ts
  modules/_labs/pagination/react/spec/usePaginationModel.spec.ts
  modules/_labs/pagination/react/stories/examples/CustomRange.tsx
  modules/_labs/pagination/react/stories/examples/GoToForm.tsx
  modules/_labs/pagination/react/stories/examples/HoistedModel.tsx
  modules/_labs/pagination/react/stories/examples/JumpControls.tsx
  modules/_labs/pagination/react/stories/examples/RTL.tsx
  modules/_labs/pagination/react/stories/examples/ShowAdditionalDetails.tsx
  modules/_labs/pagination/react/stories/examples/StepControls.tsx
  modules/_labs/pagination/react/stories/pagination.stories.mdx
  modules/_labs/pagination/react/stories/stories.tsx
  modules/_labs/pagination/react/stories/stories_visualTesting.tsx
Labels: approved

#950 docs: Add compound Component Creation Doc
  API_PATTERN_GUIDELINES.md
  CONTRIBUTING.md
  CREATING_COMPOUND_COMPONENTS.md
Labels: review in progress

#971 feat(common): Add useIsRTL hook to common module
  modules/common/react/lib/theming/README.md
  modules/common/react/lib/theming/index.ts
  modules/common/react/lib/theming/useIsRTL.ts
  modules/common/react/spec/useIsRTL.spec.ts
  modules/common/react/spec/useTheme.spec.tsx
Labels: 4.x, ready for review

#974 chore: Update peerDependencies to support React 17
  modules/_canvas-kit-react/package.json
  modules/_labs/breadcrumbs/react/package.json
  modules/_labs/color-picker/react/package.json
  modules/_labs/combobox/react/package.json
  modules/_labs/core/react/package.json
  modules/_labs/drawer/react/package.json
  modules/_labs/header/react/package.json
  modules/_labs/pagination/react/package.json
  modules/_labs/select/react/package.json
  modules/_labs/side-panel/react/package.json
  modules/_labs/tabs/react/package.json
  modules/action-bar/react/package.json
  modules/avatar/react/package.json
  modules/badge/react/package.json
  modules/banner/react/package.json
  modules/button/react/package.json
  modules/card/react/package.json
  modules/checkbox/react/package.json
  modules/color-picker/react/package.json
  modules/common/react/package.json
  modules/cookie-banner/react/package.json
  modules/core/react/package.json
  modules/fonts/react/package.json
  modules/form-field/react/package.json
  modules/icon/react/package.json
  modules/layout/react/package.json
  modules/loading-animation/react/package.json
  modules/modal/react/package.json
  modules/page-header/react/package.json
  modules/popup/react/package.json
  modules/radio/react/package.json
  modules/segmented-control/react/package.json
  modules/select/react/package.json
  modules/side-panel/react/package.json
  modules/skeleton/react/package.json
  modules/status-indicator/react/package.json
  modules/switch/react/package.json
  modules/table/react/package.json
  modules/text-area/react/package.json
  modules/text-input/react/package.json
  modules/toast/react/package.json
  modules/tooltip/react/package.json
  utils/create-component/templates/react/packageJson.js
Labels: approved

#979 docs: Update guideline links
  COMPONENT_STATUS.md
Labels: 4.x

#982 docs(toast): Update Toast docs
  modules/toast/react/README.md
  modules/toast/react/package.json
  modules/toast/react/stories/examples/Error.tsx
  modules/toast/react/stories/examples/Success.tsx
  modules/toast/react/stories/examples/WithActionLink.tsx
  modules/toast/react/stories/examples/WithActionLinkAndCloseIcon.tsx
  modules/toast/react/stories/examples/WithCloseButton.tsx
  modules/toast/react/stories/examples/WithPopper.tsx
  modules/toast/react/stories/stories.tsx
  modules/toast/react/stories/toast.stories.mdx
Labels: ready for review

#983 fix(popup): Fix Popup icon RTL bug
  modules/popup/react/lib/Popup.tsx
  modules/popup/react/package.json
  modules/popup/react/stories/stories.tsx
  modules/popup/react/stories/stories_VisualTesting.tsx
Labels: approved

#984 fix(side-panel): Fix keyframes animation
  modules/_labs/side-panel/react/lib/SidePanel.tsx
  modules/_labs/side-panel/react/lib/hooks.ts
  modules/_labs/side-panel/react/stories/stories.tsx
Labels: ready for review
