Repository Workday/canvas-kit, pull requests merged in 2021-11, with the labels that each got.

#1327 fix(tabs): Allow consumers to style the selected tab
  modules/react/tabs/lib/Tab.tsx
Labels: automerge

#1330 fix(tooltip): Fix findEllipsisElement IE11
  cypress/integration/Tooltip.spec.ts
  modules/react/tooltip/lib/OverflowTooltip.tsx
  modules/react/tooltip/spec/OverflowTooltip.spec.tsx
  modules/react/tooltip/stories/examples/Ellipsis.tsx
  modules/react/tooltip/stories/stories_testing.tsx
Labels: automerge

#1337 docs: Add Version Support section to Readme
  README.md
Labels: documentation, ready for review, 5.x, automerge

#1340 fix: Update codemod to support output streaming
  modules/codemod/index.js
Labels: question, ready for review, 6.x, automerge

#1332 feat(button): Update SecondaryButton for v6
  modules/docs/mdx/6.0-MIGRATION-GUIDE.mdx
  modules/react/button/lib/SecondaryButton.tsx
  modules/react/button/stories/visual-testing/stories_SecondaryButton.tsx
Labels: enhancement, breaking-change, ready for review, 6.x, automerge

#1338 feat(button): Update Tertiary Buttons for v6
  modules/docs/mdx/6.0-MIGRATION-GUIDE.mdx
  modules/react/button/lib/TertiaryButton.tsx
  modules/react/button/lib/parts/ButtonContainer.tsx
  modules/react/button/lib/types.ts
  modules/react/button/stories/visual-testing/stories_TertiaryButton.tsx
Labels: enhancement, breaking-change, ready for review, 6.x, automerge

#1335 chore: Merge master into prerelease/minor
  CHANGELOG.md
  cypress/integration/Tooltip.spec.ts
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-animation/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
  modules/react/tooltip/lib/OverflowTooltip.tsx
  modules/react/tooltip/spec/OverflowTooltip.spec.tsx
  modules/react/tooltip/stories/examples/Ellipsis.tsx
  modules/react/tooltip/stories/stories_testing.tsx
Labels: automerge

#1343 docs: Clean up V6 migration guide
  modules/docs/mdx/6.0-MIGRATION-GUIDE.mdx
  yarn.lock
Labels: documentation, 6.x, automerge

#1346 fix: Fix codemod command
  modules/codemod/index.js
Labels: automerge

#1339 fix(tooltip): Add delay to Tooltip show and hide
  cypress/integration/Popup.spec.ts
  cypress/integration/Tooltip.spec.ts
  modules/react/tooltip/lib/Tooltip.tsx
  modules/react/tooltip/lib/useTooltip.tsx
  modules/react/tooltip/spec/Tooltip.spec.tsx
  modules/react/tooltip/spec/useTooltip.spec.tsx
  modules/react/tooltip/stories/Tooltip.stories.mdx
  modules/react/tooltip/stories/examples/DelayedTooltip.tsx
Labels: 5.x, automerge

#1349 fix(LoadingAnimation): Add support for RTL
  modules/react/loading-animation/lib/LoadingDots.tsx
  modules/react/loading-animation/stories/LoadingAnimation.stories.mdx
  modules/react/loading-animation/stories/examples/RTL.tsx
Labels: automerge

#1350 fix(tabs): Fix focusability of the More button
  cypress/integration/Tabs.spec.ts
  modules/react/tabs/lib/overflow/useOverflowTarget.tsx
Labels: automerge

#1354 ci: Add parallel PR verification [skip-release]
  .github/workflows/pull-request.yml
  cypress.json
Labels: automerge

#1352 fix(popup): Fix PopupCard styles to be more easily overridden
  modules/react/popup/lib/PopupCard.tsx
Labels: 5.x, automerge
