Repository Workday/canvas-kit, pull requests merged in 2021-04, with the labels that each got.

#1016 fix(select): Fix undesired scrolling when activating the menu
  cypress/integration/SelectLabs.spec.ts
  modules/_labs/select/react/lib/Select.tsx
  modules/_labs/select/react/lib/SelectBase.tsx
  modules/_labs/select/react/lib/SelectMenu.tsx
  modules/_labs/select/react/stories/stories_CypressTesting.tsx
  modules/_labs/select/react/stories/stories_VisualTesting.tsx
Labels: ready for review

#1018 build: Docs mdx build
  .prettierignore
  modules/docs/package.json
  modules/docs/utils/build.js
Labels: ready for review

#1022 fix: Scope buttonRef codemod to only Button components
  modules/codemod/lib/v5/renameButtonRefs.ts
  modules/codemod/lib/v5/spec/renameButtonRefs.spec.ts
  modules/docs/mdx/5.0-MIGRATION-GUIDE.mdx
Labels: ready for review

#1026 Release 5.0.0 beta.1
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-animation/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/react-fonts/package.json
  modules/react/package.json
Labels: 5.x, ready for review

#1037 fix(tooltip): Allow aria-label pass-through in muted tooltips
  modules/tooltip/react/lib/Tooltip.tsx
  modules/tooltip/react/spec/Tooltip.spec.tsx
Labels: approved

#1028 chore(card): Convert to a Compound Component and create codemod
  modules/codemod/lib/v5/compoundCard.ts
  modules/codemod/lib/v5/getImportRenameMap.ts
  modules/codemod/lib/v5/index.ts
  modules/codemod/lib/v5/removeButtonEnums.ts
  modules/codemod/lib/v5/removeDefaultImports.ts
  modules/codemod/lib/v5/renameButtonRefs.ts
  modules/codemod/lib/v5/spec/compoundCard.spec.ts
  modules/codemod/lib/v5/spec/removeButtonEnums.spec.ts
  modules/docs/mdx/5.0-MIGRATION-GUIDE.mdx
  modules/labs-react/combobox/lib/Combobox.tsx
  modules/labs-react/menu/lib/Menu.tsx
  modules/labs-react/tabs/stories/Tabs.stories.mdx
  modules/react/card/README.md
  modules/react/card/index.ts
  modules/react/card/lib/Card.tsx
  modules/react/card/lib/CardBody.tsx
  modules/react/card/lib/CardHeading.tsx
  modules/react/card/spec/Card.spec.tsx
  modules/react/card/spec/CardBody.spec.tsx
  modules/react/card/spec/CardHeading.spec.tsx
  modules/react/card/stories/card.stories.mdx
  modules/react/card/stories/examples/Default.tsx
  modules/react/card/stories/examples/Depth.tsx
  modules/react/card/stories/examples/WithNoPadding.tsx
  modules/react/card/stories/visual-testing/stories_card.tsx
  modules/react/common/stories/stories_direction.tsx
  modules/react/popup/lib/Popup.tsx
  modules/react/skeleton/stories/stories.tsx
  modules/react/tooltip/stories/examples/Placements.tsx
  modules/react/tooltip/stories/stories_testing.tsx
  package.json
  yarn.lock
Labels: approved
