Repository Workday/canvas-kit, pull requests merged in 2021-12, with the labels that each got.

#1366 docs: Add headers examples to Storybook
  .storybook/preview.js
  modules/docs/mdx/6.0-MIGRATION-GUIDE.mdx
  modules/react/_examples/stories/GlobalHeader.stories.mdx
  modules/react/_examples/stories/PageHeader.stories.mdx
  modules/react/_examples/stories/examples/GlobalHeader.tsx
  modules/react/_examples/stories/examples/PageHeader.tsx
Labels: automerge

#1371 fix: Revert uuid upgrade to get releases working [skip release]
  modules/codemod/package.json
  modules/docs/package.json
  modules/labs-react/combobox/lib/AutocompleteList.tsx
  modules/labs-react/combobox/lib/Combobox.tsx
  modules/labs-react/header/lib/parts/SearchBar.tsx
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/menu/lib/Menu.tsx
  modules/preview-react/package.json
  modules/preview-react/select/lib/Select.tsx
  modules/react-fonts/package.json
  modules/react/common/lib/utils/useUniqueId.ts
  modules/react/form-field/lib/FormField.tsx
  modules/react/package.json
  modules/react/tooltip/lib/useTooltip.tsx
  package.json
  yarn.lock
Labels: dependencies, automerge

#1372 chore: Merge support into master
  CHANGELOG.md
  cypress/integration/Popup.spec.ts
  cypress/integration/Tooltip.spec.ts
  modules/codemod/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/loading-animation/lib/LoadingDots.tsx
  modules/react/loading-animation/stories/LoadingAnimation.stories.mdx
  modules/react/loading-animation/stories/examples/RTL.tsx
  modules/react/package.json
  modules/react/popup/lib/PopupCard.tsx
  modules/react/tooltip/lib/Tooltip.tsx
  modules/react/tooltip/lib/useTooltip.tsx
  modules/react/tooltip/spec/Tooltip.spec.tsx
  modules/react/tooltip/spec/useTooltip.spec.tsx
  modules/react/tooltip/stories/Tooltip.stories.mdx
  modules/react/tooltip/stories/examples/DelayedTooltip.tsx
  package.json
  yarn.lock
Labels: automerge

#1373 chore: Merge master into prerelease/minor
  .storybook/preview.js
  CHANGELOG.md
  cypress/integration/Popup.spec.ts
  cypress/integration/Tooltip.spec.ts
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-animation/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/mdx/6.0-MIGRATION-GUIDE.mdx
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/_examples/stories/GlobalHeader.stories.mdx
  modules/react/_examples/stories/PageHeader.stories.mdx
  modules/react/_examples/stories/examples/GlobalHeader.tsx
  modules/react/_examples/stories/examples/PageHeader.tsx
  modules/react/loading-animation/lib/LoadingDots.tsx
  modules/react/loading-animation/stories/LoadingAnimation.stories.mdx
  modules/react/loading-animation/stories/examples/RTL.tsx
  modules/react/package.json
  modules/react/popup/lib/PopupCard.tsx
  modules/react/tooltip/lib/Tooltip.tsx
  modules/react/tooltip/lib/useTooltip.tsx
  modules/react/tooltip/spec/Tooltip.spec.tsx
  modules/react/tooltip/spec/useTooltip.spec.tsx
  modules/react/tooltip/stories/Tooltip.stories.mdx
  modules/react/tooltip/stories/examples/DelayedTooltip.tsx
  package.json
  yarn.lock
Labels: automerge

#1376 fix: Add formik and yup back to preview dev deps
  modules/preview-react/package.json
Labels: bug, dependencies, 6.x, automerge

#1385 chore: Have verify action to wait on visual tests [skip release]
  .github/workflows/pull-request.yml
Labels: automerge

#1389 chore: Merge master into prerelease/minor
  .github/workflows/pull-request.yml
Labels: automerge

#1387 chore: Initial setup for v7
  modules/codemod/index.js
  modules/codemod/lib/v7/index.ts
  modules/codemod/lib/v7/spec/expectTransformFactory.ts
  modules/docs/mdx/7.0-MIGRATION-GUIDE.mdx
Labels: automerge

#1359 refactor(banner): Update Banner to use the compound component pattern
  cypress/integration/Banner.spec.ts
  modules/codemod/lib/v7/compoundBanner.ts
  modules/codemod/lib/v7/spec/compoundBanner.spec.ts
  modules/codemod/lib/v7/utils/getImportRenameMap.ts
  modules/react/banner/index.ts
  modules/react/banner/lib/Banner.tsx
  modules/react/banner/lib/BannerActionText.tsx
  modules/react/banner/lib/BannerIcon.tsx
  modules/react/banner/lib/BannerLabel.tsx
  modules/react/banner/lib/hooks/index.ts
  modules/react/banner/lib/hooks/useBanner.tsx
  modules/react/banner/lib/hooks/useBannerActionText.tsx
  modules/react/banner/lib/hooks/useBannerIcon.tsx
  modules/react/banner/lib/hooks/useBannerLabel.tsx
  modules/react/banner/lib/hooks/useBannerModel.tsx
  modules/react/banner/lib/hooks/useThemedPalette.ts
  modules/react/banner/spec/Banner.spec.tsx
  modules/react/banner/stories/Banner.stories.mdx
  modules/react/banner/stories/PropTables.splitprops.tsx
  modules/react/banner/stories/examples/ActionText.tsx
  modules/react/banner/stories/examples/Basic.tsx
  modules/react/banner/stories/examples/Error.tsx
  modules/react/banner/stories/examples/RefForwarding.tsx
  modules/react/banner/stories/examples/Sticky.tsx
  modules/react/banner/stories/examples/StickyAnimation.tsx
  modules/react/banner/stories/examples/StickyRTL.tsx
  modules/react/banner/stories/examples/ThemedAlert.tsx
  modules/react/banner/stories/examples/ThemedError.tsx
  modules/react/common/lib/styles/hideMouseFocus.ts
Labels: automerge

#1378 fix(tabs): Remove gutter from tabs overflow menu
  modules/react/tabs/lib/menu/MenuList.tsx
Labels: ready for review, s:2, automerge

#1397 docs: Add ExtractProps to the v5 migration guide
  modules/docs/mdx/5.0-MIGRATION-GUIDE.mdx
Labels: automerge

#1394 chore: Merge master into prerelease/minor
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-animation/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
  modules/react/tabs/lib/menu/MenuList.tsx
Labels: automerge

#1398 fix(tabs): Fix Dynamic Tabs example
  modules/react/tabs/lib/overflow/useOverflowModel.tsx
  modules/react/tabs/stories/examples/DynamicTabs.tsx
Labels: 6.x, s:1

#1399 chore: Merge support into master
  CHANGELOG.md
  modules/docs/mdx/5.0-MIGRATION-GUIDE.mdx
Labels: automerge

#1402 docs: Add CookieBanner example
  modules/react/_examples/stories/CookieBanner.stories.mdx
  modules/react/_examples/stories/examples/CookieBanner.tsx
Labels: automerge
