Repository Workday/canvas-kit, pull requests merged in 2021-09, with the labels that each got.

#1242 chore(table): Update polished package to fix security warning
  modules/react/package.json
  yarn.lock
Labels: dependencies

#1246 feat(icon): Add shouldMirror prop to icons
  modules/react/button/README.md
  modules/react/button/lib/IconButton.tsx
  modules/react/button/lib/PrimaryButton.tsx
  modules/react/button/lib/SecondaryButton.tsx
  modules/react/button/lib/TertiaryButton.tsx
  modules/react/button/lib/ToolbarDropdownButton.tsx
  modules/react/button/lib/ToolbarIconButton.tsx
  modules/react/button/lib/parts/ButtonLabelIcon.tsx
  modules/react/button/stories/icon-button/IconButton.stories.mdx
  modules/react/button/stories/icon-button/examples/MirroredIcon.tsx
  modules/react/button/stories/visual-testing/stories_IconButton.tsx
  modules/react/button/stories/visual-testing/stories_ToolbarDropdownButton.tsx
  modules/react/button/stories/visual-testing/stories_ToolbarIconButton.tsx
  modules/react/icon/README.md
  modules/react/icon/lib/AccentIcon.tsx
  modules/react/icon/lib/AppletIcon.tsx
  modules/react/icon/lib/Graphic.tsx
  modules/react/icon/lib/Icon.tsx
  modules/react/icon/lib/Svg.tsx
  modules/react/icon/lib/SystemIcon.tsx
  modules/react/icon/lib/SystemIconCircle.tsx
  modules/react/icon/stories/stories.tsx
Labels: enhancement, p:2, accessibility, ready for review, 5.x, sprint commitment

#1250 chore: Release v5.2.0
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-animation/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
Labels: approved

#1248 fix(tooltip): Fix tooltip placement overlap on keyboard focus
  modules/react/tooltip/lib/TooltipContainer.tsx
  modules/react/tooltip/stories/stories_testing.tsx
Labels: approved

#1252 ci: Update forward merge to support v6
  .github/workflows/forward-merge.yml
Labels: ready for review, s:1

#1256 fix: Add to Box omitted props list
  modules/labs-react/common/lib/Box.tsx
Labels: bug, p:2, ready for review, 5.x, s:1

#1260 fix(tooltip): Update OverflowTooltip to support non-elements
  cypress/integration/Tooltip.spec.ts
  modules/react/tooltip/lib/OverflowTooltip.tsx
  modules/react/tooltip/stories/examples/Ellipsis.tsx
Labels: s:1

#1258 ci: Fix Travis releases
  .travis.yml
Labels: bug, p:1, ready for review, 5.x, s:2

#1266 fix: Update import of static states when creating labs component [skip ci]
  utils/create-component/templates/react/stories_VisualTesting.js
Labels: approved

#1247 feat(page-header): Deprecate PageHeader
  README.md
  modules/codemod/index.js
  modules/codemod/lib/v6/deprecatePageHeader.ts
  modules/codemod/lib/v6/index.ts
  modules/codemod/lib/v6/spec/deprecatePageHeader.spec.ts
  modules/codemod/lib/v6/spec/expectTransformFactory.ts
  modules/docs/mdx/6.0-MIGRATION-GUIDE.mdx
  modules/react/page-header/README.md
  modules/react/page-header/index.ts
  modules/react/page-header/lib/PageHeader.tsx
  modules/react/page-header/stories/stories.tsx
Labels: breaking-change, ready for review, 6.x, automerge

#1279 docs(tabs): Update Tabs MDX to adhere to standardized template [skip ci]
  .storybook/routes.js
  cypress/integration/Tabs.spec.ts
  modules/preview-react/side-panel/stories/SidePanel.stories.mdx
  modules/react/card/stories/card.stories.mdx
  modules/react/tabs/README.md
  modules/react/tabs/stories/Tabs.stories.mdx
  modules/react/tabs/stories/TabsModel.splitprops.tsx
  modules/react/tabs/stories/examples/Basic.tsx
  modules/react/tabs/stories/stories_testing.tsx
Labels: approved

#1269 fix(combobox): Add keyboard navigation autoscroll to ComboBox menu
  modules/labs-react/combobox/lib/AutocompleteList.tsx
  modules/labs-react/combobox/lib/Combobox.tsx
  modules/labs-react/combobox/stories/stories.tsx
Labels: bug, accessibility, review in progress, 5.x, s:1, automerge

#1265 feat(cookie-banner): Deprecate CookieBanner
  modules/codemod/lib/v6/deprecateCookieBanner.ts
  modules/codemod/lib/v6/index.ts
  modules/codemod/lib/v6/spec/deprecateCookieBanner.spec.ts
  modules/docs/mdx/6.0-MIGRATION-GUIDE.mdx
  modules/react/cookie-banner/README.md
  modules/react/cookie-banner/index.ts
  modules/react/cookie-banner/lib/CookieBanner.tsx
  modules/react/cookie-banner/stories/stories.tsx
Labels: breaking-change, ready for review, 6.x, automerge

#1291 docs(menu): Fix Menu examples to be self-contained and SSR-safe
  cypress/integration/Menu.spec.ts
  modules/preview-react/menu/stories/Menu.stories.mdx
  modules/preview-react/menu/stories/examples/Basic.tsx
  modules/preview-react/menu/stories/examples/ContextMenu.tsx
  modules/preview-react/menu/stories/examples/ContextMenuTarget.tsx
  modules/preview-react/menu/stories/examples/ControlButton.tsx
  modules/preview-react/menu/stories/examples/CustomMenuItem.tsx
  modules/preview-react/menu/stories/examples/ManyItems.tsx
  modules/preview-react/package.json
  yarn.lock
Labels: approved, 5.x, automerge

#1267 feat: Rename SearchBar to SearchForm and move package
  modules/codemod/lib/v6/index.ts
  modules/codemod/lib/v6/moveAndRenameSearchBar.ts
  modules/codemod/lib/v6/spec/moveAndRenameSearchBar.spec.ts
  modules/codemod/lib/v6/utils/index.ts
  modules/docs/mdx/6.0-MIGRATION-GUIDE.mdx
  modules/labs-react/header/README.md
  modules/labs-react/header/lib/GlobalHeader.tsx
  modules/labs-react/header/lib/Header.tsx
  modules/labs-react/header/lib/parts/index.ts
  modules/labs-react/header/lib/shared/themes.tsx
  modules/labs-react/header/lib/shared/types.tsx
  modules/labs-react/header/spec/GlobalHeader.spec.tsx
  modules/labs-react/header/stories/stories.tsx
  modules/labs-react/index.ts
  modules/labs-react/search-form/LICENSE
  modules/labs-react/search-form/README.md
  modules/labs-react/search-form/index.ts
  modules/labs-react/search-form/lib/SearchForm.tsx
  modules/labs-react/search-form/lib/themes.ts
  modules/labs-react/search-form/spec/SSR.spec.tsx
  modules/labs-react/search-form/spec/SearchForm.spec.tsx
  modules/labs-react/search-form/spec/tsconfig.json
  modules/labs-react/search-form/stories/SearchForm.stories.mdx
  modules/labs-react/search-form/stories/examples/Basic.tsx
  modules/labs-react/search-form/stories/examples/CustomTheme.tsx
  modules/labs-react/search-form/stories/examples/Grow.tsx
  modules/labs-react/search-form/stories/examples/PropTables.splitProps.tsx
  modules/labs-react/search-form/stories/examples/RTL.tsx
  modules/labs-react/search-form/stories/examples/Theming.tsx
Labels: breaking-change, approved, 6.x, automerge
