Repository Workday/canvas-kit, pull requests merged in 2021-07, with the labels that each got.

#1127 docs: Convert Buttons category stories to use mdx
  cypress/integration/Button.spec.ts
  modules/react/action-bar/stories/ActionBar.stories.mdx
  modules/react/action-bar/stories/examples/Basic.tsx
  modules/react/action-bar/stories/examples/Fixed.tsx
  modules/react/action-bar/stories/stories.tsx
  modules/react/button/README.md
  modules/react/button/stories/button/Button.stories.mdx
  modules/react/button/stories/button/examples/Delete.tsx
  modules/react/button/stories/button/examples/Primary.tsx
  modules/react/button/stories/button/examples/Secondary.tsx
  modules/react/button/stories/button/examples/Tertiary.tsx
  modules/react/button/stories/icon-button/IconButton.stories.mdx
  modules/react/button/stories/icon-button/examples/Circle.tsx
  modules/react/button/stories/icon-button/examples/CircleFilled.tsx
  modules/react/button/stories/icon-button/examples/Inverse.tsx
  modules/react/button/stories/icon-button/examples/InverseFilled.tsx
  modules/react/button/stories/icon-button/examples/Plain.tsx
  modules/react/button/stories/icon-button/examples/Square.tsx
  modules/react/button/stories/icon-button/examples/SquareFilled.tsx
  modules/react/button/stories/icon-button/examples/Toggleable.tsx
  modules/react/button/stories/stories_DeleteButton.tsx
  modules/react/button/stories/stories_IconButton.tsx
  modules/react/button/stories/stories_PrimaryButton.tsx
  modules/react/button/stories/stories_SecondaryButton.tsx
  modules/react/button/stories/stories_TertiaryButton.tsx
  modules/react/segmented-control/README.md
  modules/react/segmented-control/stories/SegmentedControl.stories.mdx
  modules/react/segmented-control/stories/examples/Basic.tsx
Labels: ready for review

#1130 build: Pull component mdx + examples into docs module during build
  modules/docs/package.json
  modules/docs/utils/build-mdx.js
  modules/docs/utils/build.js
Labels: documentation, infra, ready for review

#1135 fix(modal): Fix focus trap when Modal contains an iframe
  cypress/integration/Modal.spec.ts
  cypress/support/commands.ts
  modules/docs/utils/get-specifications.js
  modules/modal/react/stories/stories_testing.tsx
  modules/popup/react/lib/focus-trap-js.d.ts
  modules/popup/react/lib/focus-trap-js.js
  modules/popup/react/lib/useFocusTrap.ts
  modules/popup/react/package.json
Labels: ready for review

#1073 fix: Resolve Breadcrumb MenuItemLink onAction bug
  modules/_labs/breadcrumbs/react/lib/Breadcrumbs/Dropdown/Menu.tsx
  modules/_labs/breadcrumbs/react/lib/Breadcrumbs/Dropdown/MenuItemLink.tsx
  modules/_labs/breadcrumbs/react/lib/Breadcrumbs/List/Collapsible.tsx
  modules/_labs/breadcrumbs/react/lib/Breadcrumbs/types.ts
  modules/_labs/breadcrumbs/react/spec/Breadcrumbs.spec.tsx
Labels: 4.x, ready for review

#1139 fix: Fix Checkbox width bug
  modules/checkbox/react/lib/Checkbox.tsx
Labels: 4.x, approved, bug

#1147 feat(common): Add HTML attribute interface to ExtractProps
  modules/react/common/README.md
  modules/react/common/lib/utils/components.ts
  modules/react/common/spec/components.test-d.tsx
  modules/react/dialog/lib/DialogCard.tsx
  modules/react/dialog/lib/DialogPopper.tsx
  modules/react/modal/lib/Modal.tsx
  modules/react/modal/lib/ModalCard.tsx
  modules/react/modal/lib/ModalHeading.tsx
  modules/react/popup/lib/PopupCard.tsx
  modules/react/popup/lib/PopupCloseIcon.tsx
  modules/react/toast/lib/Toast.tsx
Labels: ready for review

#1154 fix: ChangeFocus takes any input and Dialog/Modal accepts model config
  modules/react/common/lib/utils/changeFocus.ts
  modules/react/dialog/lib/Dialog.tsx
Labels: ready for review

#1041 feat(useThemeRTL): Add hook to make RTL easier
  modules/labs-react/common/README.md
  modules/labs-react/common/index.ts
  modules/labs-react/common/lib/theming/index.ts
  modules/labs-react/common/lib/theming/useThemeRTL.ts
  modules/labs-react/common/spec/useThemeRTL.spec.ts
  modules/labs-react/package.json
  modules/react/package.json
  modules/react/status-indicator/lib/StatusIndicator.tsx
Labels: 5.x, approved, enhancement

#1169 docs: Add MDX docs and examples for Indicator components
  modules/react/banner/README.md
  modules/react/banner/stories/Banner.stories.mdx
  modules/react/banner/stories/examples/ActionText.tsx
  modules/react/banner/stories/examples/Basic.tsx
  modules/react/banner/stories/examples/Error.tsx
  modules/react/banner/stories/examples/Sticky.tsx
  modules/react/banner/stories/stories.tsx
  modules/react/form-field/stories/FormField.stories.mdx
  modules/react/loading-animation/README.md
  modules/react/loading-animation/stories/LoadingAnimation.stories.mdx
  modules/react/loading-animation/stories/examples/Basic.tsx
  modules/react/loading-animation/stories/stories.tsx
  modules/react/radio/stories/Radio.stories.mdx
  modules/react/skeleton/README.md
  modules/react/skeleton/index.ts
  modules/react/skeleton/lib/parts/skeletonHeader.tsx
  modules/react/skeleton/lib/parts/skeletonShape.tsx
  modules/react/skeleton/lib/parts/skeletonText.tsx
  modules/react/skeleton/lib/skeleton.tsx
  modules/react/skeleton/stories/Skeleton.stories.mdx
  modules/react/skeleton/stories/examples/Basic.tsx
  modules/react/skeleton/stories/examples/Color.tsx
  modules/react/skeleton/stories/examples/Header.tsx
  modules/react/skeleton/stories/examples/Shape.tsx
  modules/react/skeleton/stories/examples/Simulation.tsx
  modules/react/skeleton/stories/examples/Text.tsx
  modules/react/skeleton/stories/stories.tsx
  modules/react/status-indicator/README.md
  modules/react/status-indicator/stories/StatusIndicator.stories.mdx
  modules/react/status-indicator/stories/examples/Basic.tsx
  modules/react/status-indicator/stories/examples/Emphasis.tsx
  modules/react/status-indicator/stories/examples/Icon.tsx
  modules/react/status-indicator/stories/stories.tsx
Labels: ready for review

#1180 docs: Remove incorrect info on ExtractProps
  modules/react/common/lib/utils/components.ts
Labels: ready for review

#1181 chore: Update incorrect prop names
  modules/react/dialog/index.ts
  modules/react/dialog/lib/DialogCard.tsx
  modules/react/dialog/lib/DialogPopper.tsx
Labels: ready for review

#1182 fix: Add support for React 17 in main
  modules/react/package.json
Labels: 5.x, bug, dependencies

#1183 fix(popup): Fix RTL rendering for popups
  modules/popup/react/lib/usePopupStack.ts
  modules/popup/react/stories/stories_Popper_testing.tsx
Labels: ready for review
