Repository Workday/canvas-kit, pull requests merged in 2021-05, with the labels that each got.

#1064 fix(combobox): Fix Combobox RTL issue
  modules/_labs/combobox/react/lib/Combobox.tsx
  modules/_labs/combobox/react/stories/stories.tsx
  modules/_labs/combobox/react/stories/stories_testing.tsx
Labels: ready for review

#1034 refactor: Button recategorization
  cypress/integration/Button.spec.ts
  modules/codemod/lib/v5/index.ts
  modules/codemod/lib/v5/recategorizeButtons.ts
  modules/codemod/lib/v5/spec/recategorizeButtons.spec.ts
  modules/docs/mdx/5.0-MIGRATION-GUIDE.mdx
  modules/labs-react/header/stories/stories.tsx
  modules/labs-react/menu/stories/stories.tsx
  modules/labs-react/select/stories/stories_CypressTesting.tsx
  modules/labs-react/side-panel/stories/stories.tsx
  modules/labs-react/side-panel/stories/stories_CypressTesting.tsx
  modules/labs-react/tabs/stories/examples/HoistedModel.tsx
  modules/popup-stack/stories/stories_testing.tsx
  modules/react/action-bar/stories/stories.tsx
  modules/react/button/README.md
  modules/react/button/index.ts
  modules/react/button/lib/Button.tsx
  modules/react/button/lib/DropdownButton.tsx
  modules/react/button/lib/HighlightButton.tsx
  modules/react/button/lib/PrimaryButton.tsx
  modules/react/button/lib/SecondaryButton.tsx
  modules/react/button/lib/TertiaryButton.tsx
  modules/react/button/lib/parts/ButtonContainer.tsx
  modules/react/button/lib/parts/ButtonLabelIcon.tsx
  modules/react/button/spec/Button.spec.tsx
  modules/react/button/stories/stories_Button.tsx
  modules/react/button/stories/stories_Dropdown.tsx
  modules/react/button/stories/stories_HighlightButton.tsx
  modules/react/button/stories/stories_OutlineButton.tsx
  modules/react/button/stories/stories_PrimaryButton.tsx
  modules/react/button/stories/stories_SecondaryButton.tsx
  modules/react/button/stories/stories_TertiaryButton.tsx
  modules/react/button/stories/visual-testing/stories_DropdownButton.tsx
  modules/react/button/stories/visual-testing/stories_OutlineButton.tsx
  modules/react/button/stories/visual-testing/stories_PrimaryButton.tsx
  modules/react/button/stories/visual-testing/stories_SecondaryButton.tsx
  modules/react/button/stories/visual-testing/stories_TertiaryButton.tsx
  modules/react/cookie-banner/lib/CookieBanner.tsx
  modules/react/modal/stories/stories.tsx
  modules/react/modal/stories/stories_VisualTesting.tsx
  modules/react/modal/stories/stories_testing.tsx
  modules/react/popup/stories/stories.tsx
  modules/react/popup/stories/stories_Popper.tsx
  modules/react/popup/stories/stories_Popper_testing.tsx
  modules/react/popup/stories/stories_testing.tsx
  modules/react/side-panel/stories/stories.tsx
  modules/react/skeleton/stories/stories.tsx
  modules/react/toast/stories/examples/WithPopper.tsx
  modules/react/tooltip/stories/examples/CustomContent.tsx
  modules/react/tooltip/stories/examples/Ellipsis.tsx
Labels: 5.x, ready for review

#1076 Move InputProvider from tokens to common
  modules/codemod/lib/v5/index.ts
  modules/codemod/lib/v5/moveInputProvider.ts
  modules/codemod/lib/v5/spec/moveInputProvider.spec.ts
  modules/docs/mdx/5.0-MIGRATION-GUIDE.mdx
  modules/react/common/README.md
  modules/react/common/index.ts
  modules/react/common/lib/CanvasProvider.tsx
  modules/react/common/lib/InputProvider.tsx
  modules/react/common/spec/InputProvider.spec.tsx
  modules/react/common/spec/SSR.spec.tsx
  modules/react/tokens/README.md
  modules/react/tokens/index.ts
  utils/storybook/InputProviderDecorator.tsx
Labels: 5.x, ready for review

#1068 feat: Forward refs for input components
  modules/codemod/lib/v5/index.ts
  modules/codemod/lib/v5/renameInputRefs.ts
  modules/codemod/lib/v5/spec/renameInputRefs.spec.ts
  modules/docs/mdx/5.0-MIGRATION-GUIDE.mdx
  modules/labs-react/combobox/lib/Combobox.tsx
  modules/labs-react/combobox/spec/Combobox.spec.tsx
  modules/labs-react/header/lib/parts/SearchBar.tsx
  modules/preview-react/color-picker/stories/stories_ColorPicker.tsx
  modules/preview-react/select/README.md
  modules/preview-react/select/lib/Select.tsx
  modules/preview-react/select/lib/SelectBase.tsx
  modules/preview-react/select/lib/SelectMenu.tsx
  modules/preview-react/select/spec/Select.spec.tsx
  modules/preview-react/select/stories/stories_visualTesting.tsx
  modules/react/checkbox/README.md
  modules/react/checkbox/lib/Checkbox.tsx
  modules/react/checkbox/spec/Checkbox.spec.tsx
  modules/react/color-picker/README.md
  modules/react/color-picker/lib/ColorInput.tsx
  modules/react/color-picker/lib/ColorPreview.tsx
  modules/react/color-picker/spec/ColorInput.spec.tsx
  modules/react/color-picker/spec/ColorPreview.spec.tsx
  modules/react/common/lib/utils/components.ts
  modules/react/modal/stories/stories.tsx
  modules/react/pagination/lib/Pagination/GoTo/TextInput.tsx
  modules/react/pagination/stories/pagination.stories.mdx
  modules/react/radio/README.md
  modules/react/radio/lib/Radio.tsx
  modules/react/radio/spec/Radio.spec.tsx
  modules/react/select/README.md
  modules/react/select/lib/Select.tsx
  modules/react/select/spec/Select.spec.tsx
  modules/react/switch/README.md
  modules/react/switch/lib/Switch.tsx
  modules/react/switch/spec/Switch.spec.tsx
  modules/react/text-area/README.md
  modules/react/text-area/lib/TextArea.tsx
  modules/react/text-area/spec/TextArea.spec.tsx
  modules/react/text-input/README.md
  modules/react/text-input/lib/TextInput.tsx
  modules/react/text-input/spec/TextInput.spec.tsx
Labels: 5.x, approved
