Repository Workday/canvas-kit, pull requests merged in 2022-11, with the labels that each got.

#1882 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-animation/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/menu/lib/Menu.tsx
  modules/preview-react/menu/spec/Menu.spec.tsx
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/layout/lib/Box.tsx
  modules/react/package.json
Labels: automerge

#1886 chore: Removing component status page
  modules/docs/mdx/COMPONENT_STATUS.mdx
Labels: automerge

#1884 chore: Deprecate old utility functions and minor type updates
  modules/docs/mdx/8.0-UPGRADE-GUIDE.mdx
  modules/react/common/lib/utils/components.ts
  modules/react/common/lib/utils/models.ts
  modules/react/common/spec/components.test-d.tsx
  modules/react/modal/lib/hooks/useModalModel.ts
Labels: automerge, 8.x

#1880 chore(loading-dots): Rename Loading Animation to be Loading Dots
  .storybook/routes.js
  modules/codemod/lib/v8/index.ts
  modules/codemod/lib/v8/renameLoadingAnimation.ts
  modules/codemod/lib/v8/spec/renameLoadingAnimation.spec.ts
  modules/css/index.scss
  modules/css/loading-dots/LICENSE
  modules/css/loading-dots/README.md
  modules/css/loading-dots/index.scss
  modules/css/loading-dots/lib/loading-dots.scss
  modules/css/loading-dots/package.json
  modules/css/loading-dots/stories.tsx
  modules/css/package.json
  modules/docs/mdx/8.0-UPGRADE-GUIDE.mdx
  modules/react/breadcrumbs/stories/Breadcrumbs.stories.mdx
  modules/react/index.ts
  modules/react/loading-animation/README.md
  modules/react/loading-animation/index.ts
  modules/react/loading-animation/stories/LoadingAnimation.stories.mdx
  modules/react/loading-animation/stories/examples/Basic.tsx
  modules/react/loading-dots/LICENSE
  modules/react/loading-dots/README.md
  modules/react/loading-dots/index.ts
  modules/react/loading-dots/lib/LoadingDots.tsx
  modules/react/loading-dots/spec/LoadingDots.spec.tsx
  modules/react/loading-dots/spec/tsconfig.json
  modules/react/loading-dots/stories/LoadingDots.stories.mdx
  modules/react/loading-dots/stories/examples/Basic.tsx
  modules/react/loading-dots/stories/examples/RTL.tsx
  modules/react/loading-dots/stories/tsconfig.json
Labels: ready for review, automerge

#1840 docs: Improve Text component docs
  modules/react/text/lib/LabelText.tsx
  modules/react/text/lib/Text.tsx
  modules/react/text/lib/TypeLevelComponents.tsx
Labels: documentation, 8.x

#1890 fix(codemod): Fix promote components to testing codemod
  modules/codemod/lib/v8/promoteComponentsToTesting.ts
  modules/codemod/lib/v8/spec/promoteComponentsToTesting.spec.ts
Labels: automerge

#1891 chore: Remove deadlinks, add v8 upgrade guide to README
  README.md
Labels: automerge

#1893 docs: Update URL rewriting to support anchor tags
  .storybook/webpack-loader-redirect-mdx-to-github.js
Labels: automerge

#1895 fix(codemod): Fix codemod for Breadcrumbs promotion
  modules/codemod/lib/v8/promoteBreadcrumbs.ts
  modules/codemod/lib/v8/spec/promoteBreadcrumbs.spec.ts
Labels: bug, automerge, 8.x

#1898 fix: Fail gracefully if localStorage is blocked in useModalityType
  modules/react/common/lib/utils/useModalityType.ts
Labels: automerge

#1906 fix(text): Update text component imports
  modules/react/breadcrumbs/lib/BreadcrumbsCurrentItem.tsx
  modules/react/text/lib/LabelText.tsx
  modules/react/text/lib/TypeLevelComponents.tsx
Labels: bug, ready for review, automerge, 8.x

#1902 fix: Security access error on `typeof localStorage`
  modules/react/common/lib/utils/useModalityType.ts
Labels: automerge

#1901 fix: Remove dividers and headers from preview MenuItem Voice Over count
  modules/preview-react/menu/lib/MenuItem.tsx
Labels: automerge

#1909 fix(search-form): Enable overriding the generated labelId
  modules/labs-react/search-form/lib/SearchForm.tsx
  modules/labs-react/search-form/spec/SearchForm.spec.tsx
Labels: automerge

#1913 chore: Merge support into master
  CHANGELOG.md
  modules/labs-react/search-form/lib/SearchForm.tsx
  modules/labs-react/search-form/spec/SearchForm.spec.tsx
Labels: automerge

#1888 docs: Update major release documentation
  modules/docs/mdx/MAINTAINING.mdx
Labels: automerge

#1900 fix: Make sure to use theme in modals
  modules/react/action-bar/lib/ActionBarList.tsx
  modules/react/common/lib/theming/getCanvasTheme.ts
  modules/react/common/lib/theming/getObjectProxy.ts
  modules/react/common/lib/theming/index.ts
  modules/react/modal/lib/ModalCard.tsx
  modules/react/modal/lib/ModalHeading.tsx
  modules/react/modal/lib/ModalOverlay.tsx
Labels: automerge

#1923 fix: Made changes to docs for Tertiary button
  modules/react/button/lib/TertiaryButton.tsx
  modules/react/button/stories/button/Button.stories.mdx
Labels: automerge

#1924 chore: Merge support into master
  CHANGELOG.md
  modules/react/button/lib/TertiaryButton.tsx
  modules/react/button/stories/button/Button.stories.mdx
Labels: automerge

#1925 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-dots/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/button/lib/TertiaryButton.tsx
  modules/react/button/stories/button/Button.stories.mdx
  modules/react/package.json
Labels: automerge

#1917 fix: Allow installing Canvas Kit with React 16.14
  modules/labs-react/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
Labels: automerge

#1883 docs: Update create compound component docs
  modules/docs/mdx/CREATING_COMPOUND_COMPONENTS.mdx
Labels: automerge

#1927 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-dots/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/mdx/CREATING_COMPOUND_COMPONENTS.mdx
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
Labels: automerge
