Repository Workday/canvas-kit, pull requests merged in 2022-09, with the labels that each got.

#1722 feat: Grid Space Tokens
  modules/react/layout/lib/Box.tsx
  modules/react/layout/lib/Grid.tsx
  modules/react/layout/lib/utils/grid.ts
  modules/react/layout/stories/examples/Grid/Basic.tsx
  modules/react/layout/stories/examples/Grid/GridLayout.tsx
  modules/react/layout/stories/examples/Grid/GridLayoutInteractive.tsx
  modules/react/layout/stories/stories_GridVisualTesting.tsx
Labels: approved, 8.x

#1768 fix(menu): Update CKR Menu (Main) to use depth 3
  modules/docs/mdx/8.0-UPGRADE-GUIDE.mdx
  modules/react/menu/lib/MenuCard.tsx
Labels: bug, approved, 8.x

#1727 fix: Prevent focus ring from getting cut off in Popup.Body
  modules/react/dialog/stories/stories.tsx
  modules/react/modal/stories/examples/Basic.tsx
  modules/react/modal/stories/examples/BodyOverflow.tsx
  modules/react/modal/stories/examples/CustomFocus.tsx
  modules/react/modal/stories/examples/FullOverflow.tsx
  modules/react/modal/stories/examples/ReturnFocus.tsx
  modules/react/modal/stories/examples/WithoutCloseIcon.tsx
  modules/react/modal/stories/stories_VisualTesting.tsx
  modules/react/modal/stories/stories_testing.tsx
  modules/react/popup/lib/PopupBody.tsx
  modules/react/popup/lib/PopupCard.tsx
  modules/react/popup/lib/PopupHeading.tsx
  modules/react/popup/stories/examples/Basic.tsx
  modules/react/popup/stories/examples/FocusRedirect.tsx
  modules/react/popup/stories/examples/FocusTrap.tsx
  modules/react/popup/stories/examples/InitialFocus.tsx
  modules/react/popup/stories/examples/NestedPopups.tsx
  modules/react/popup/stories/examples/RTL.tsx
  modules/react/toast/lib/Toast.tsx
Labels: bug, approved, 7.x

#1772 fix: Add PopperProps to PopupPopper props
  modules/react/popup/lib/PopupPopper.tsx
Labels: bug, ready for review, 6.x

#1764 docs: Add initial maintaining doc
  README.md
  modules/docs/mdx/MAINTAINING.mdx
Labels: documentation, ready for review

#1766 fix: Enable to use size prop in SegmentedControl.Button component
  modules/react/segmented-control/lib/SegmentedControlButton.tsx
Labels: approved, 7.x

#1762 chore: Add custom lint rule to encourage CK slash imports
  .eslintrc.js
  modules/labs-react/combobox/stories/stories.tsx
  modules/labs-react/toast/stories/examples/WithPopper.tsx
  modules/preview-react/pill/stories/examples/Basic.tsx
  modules/preview-react/pill/stories/examples/WithAvatar.tsx
  modules/preview-react/pill/stories/examples/WithList.tsx
  modules/preview-react/pill/stories/examples/WithReadOnly.tsx
  modules/preview-react/pill/stories/examples/WithRemovable.tsx
  modules/react/_examples/stories/examples/GlobalHeader.tsx
  modules/react/skeleton/stories/examples/Simulation.tsx
  modules/react/tabs/stories/stories_testing.tsx
  package.json
  utils/custom-lint-rules/index.js
  utils/custom-lint-rules/use-ck-slash-imports.js
  utils/custom-lint-rules/use-ck-slash-imports.spec.ts
  yarn.lock
Labels: infra, approved, 7.x

#1780 chore: Merge support into master
  CHANGELOG.md
Labels: automerge

#1786 fix(common): Add support for class components to createComponent
  modules/react/common/lib/utils/components.ts
  modules/react/common/spec/components.spec.tsx
Labels: automerge

#1775 fix: Extend BaseButtonProps to our buttons and export utility functions
  modules/react/button/index.ts
  modules/react/button/lib/BaseButton.tsx
  modules/react/button/lib/DeleteButton.tsx
  modules/react/button/lib/PrimaryButton.tsx
  modules/react/button/lib/SecondaryButton.tsx
  modules/react/button/lib/TertiaryButton.tsx
  modules/react/button/stories/button/Button.stories.mdx
  modules/react/button/stories/button/examples/CustomStyles.tsx
Labels: automerge

#1787 fix(codemod): Add support for v8 param to codemod
  modules/codemod/index.js
Labels: automerge, 8.x

#1719 fix: Update create-component scripts
  modules/preview-react/index.ts
  utils/create-component/consoleUtils.js
  utils/create-component/createComponent.js
  utils/create-component/createReactComponent.js
  utils/create-component/templates/react/SSR.js
  utils/create-component/templates/react/component.content.js
  utils/create-component/templates/react/component.js
  utils/create-component/templates/react/component.target.js
  utils/create-component/templates/react/hook.content.js
  utils/create-component/templates/react/hook.index.js
  utils/create-component/templates/react/hook.target.js
  utils/create-component/templates/react/index.js
  utils/create-component/templates/react/model.js
  utils/create-component/templates/react/readme.js
  utils/create-component/templates/react/stories.basic.js
  utils/create-component/templates/react/stories.js
  utils/create-component/templates/react/stories.mdx.js
  utils/create-component/templates/react/stories.open.js
  utils/create-component/templates/react/stories.visualTesting.js
  utils/create-component/writeModuleFiles.js
Labels: automerge

#1803 fix: Remove use of style to style border radius on TertiaryButton
  modules/react/button/lib/TertiaryButton.tsx
Labels: bug, 7.x, automerge

#1752 fix(combobox): Override z-index only when focus state
  modules/labs-react/combobox/lib/Combobox.tsx
Labels: automerge

#1750 chore: Update pull request template [skip release]
  .github/PULL_REQUEST_TEMPLATE.md
Labels: automerge

#1804 docs: Make release category easier to change in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: automerge

#1811 chore: Adding Epic issue template [skip release]
  .github/ISSUE_TEMPLATE/epic.md
Labels: automerge

#1814 docs: Remove stale references to Icon Buttons [skip release]
  modules/react/button/stories/button/Button.stories.mdx
  modules/react/tooltip/stories/Tooltip.stories.mdx
Labels: documentation, 7.x, automerge

#1812 chore: Merge prerelease/minor into prerelease/major
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-animation/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/combobox/lib/Combobox.tsx
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
  yarn.lock
Labels: automerge

#1806 fix(popup): Fix return focus timing for tooltips and focus events
  cypress/integration/Popup.spec.ts
  modules/react/popup/lib/hooks/useReturnFocus.tsx
  modules/react/popup/stories/stories_testing.tsx
Labels: automerge

#1785 chore: Remove IE11 specific code
  .storybook/preview-head.html
  README.md
  cypress/WHY_CYPRESS.md
  modules/css/menu/lib/menu.scss
  modules/labs-react/combobox/lib/Combobox.tsx
  modules/labs-react/drawer/lib/Drawer.tsx
  modules/labs-react/search-form/lib/SearchForm.tsx
  modules/labs-react/toast/lib/ToastMessage.tsx
  modules/popup-stack/lib/PopupStack.ts
  modules/react/color-picker/lib/ColorInput.tsx
  modules/react/common/lib/InputProvider.tsx
  modules/react/form-field/lib/Label.tsx
  modules/react/layout/stories/Box.stories.mdx
  modules/react/menu/lib/MenuContextTarget.tsx
  modules/react/menu/lib/MenuTarget.tsx
  modules/react/modal/lib/ModalOverlay.tsx
  modules/react/package.json
  modules/react/popup/lib/PopupCard.tsx
  modules/react/select/lib/Select.tsx
  modules/react/toast/lib/Toast.tsx
  modules/react/tooltip/lib/OverflowTooltip.tsx
  modules/react/tooltip/stories/Tooltip.stories.mdx
  yarn.lock
Labels: approved, automerge, 8.x

#1815 fix: Update Modal styles on smaller screen sizes
  modules/react/modal/lib/ModalCard.tsx
  modules/react/modal/lib/ModalHeading.tsx
Labels: ready for review, automerge, 8.x

#1816 chore: Merge prerelease/minor into prerelease/major
  .github/ISSUE_TEMPLATE/epic.md
  CHANGELOG.md
  cypress/integration/Popup.spec.ts
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-animation/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/button/stories/button/Button.stories.mdx
  modules/react/package.json
  modules/react/popup/lib/hooks/useReturnFocus.tsx
  modules/react/popup/stories/stories_testing.tsx
  modules/react/tooltip/stories/Tooltip.stories.mdx
Labels: automerge

#1817 ci: Close related issues with pull requests [skip release]
  .github/workflows/close-related-issues.yml
Labels: automerge
