Repository Workday/canvas-kit, pull requests merged in 2022-04, with the labels that each got.

#1520 fix(banner): Convert Banner to a functional component
  modules/react/banner/lib/Banner.tsx
Labels: ready for review, automerge

#1529 fix(common): Update brand assets url
  modules/react/common/lib/parts/_brand-assets.ts
Labels: 6.x, automerge

#1534 fix(action-bar): Update styled function to support RTL
  modules/react/action-bar/lib/ActionBar.tsx
Labels: bug, accessibility, 5.x, s:1

#1517 feat(common): Update depth tokens
  modules/docs/mdx/7.0-MIGRATION-GUIDE.mdx
  modules/labs-react/combobox/lib/Combobox.tsx
  modules/preview-react/_examples/stories/SidePanelWithOverlay.stories.mdx
  modules/preview-react/_examples/stories/examples/SidePanelWithOverlay.tsx
  modules/preview-react/breadcrumbs/lib/Breadcrumbs/Dropdown/Menu.tsx
  modules/preview-react/color-picker/stories/stories_ColorPicker.tsx
  modules/preview-react/menu/lib/Menu.tsx
  modules/preview-react/side-panel/lib/SidePanel.tsx
  modules/preview-react/side-panel/stories/SidePanel.stories.mdx
  modules/react/card/lib/Card.tsx
  modules/react/card/stories/card.stories.mdx
  modules/react/card/stories/examples/Depth.tsx
  modules/react/card/stories/visual-testing/stories_card.tsx
  modules/react/layout/lib/Box.tsx
  modules/react/layout/lib/Flex.tsx
  modules/react/layout/spec/depth.spec.ts
  modules/react/layout/spec/flexItem.spec.ts
  modules/react/layout/stories/Box.stories.mdx
  modules/react/layout/stories/examples/Depth.tsx
  modules/react/layout/stories/examples/Flex/Usage.tsx
  modules/react/layout/stories/examples/Stack/HStackCards.tsx
  modules/react/layout/stories/examples/Stack/StackCard.tsx
  modules/react/layout/stories/examples/Stack/VStackCards.tsx
  modules/react/modal/lib/ModalCard.tsx
  modules/react/popup/lib/PopupCard.tsx
  modules/react/popup/stories/stories_VisualTesting.tsx
  modules/react/toast/lib/Toast.tsx
  modules/react/tokens/README.md
  modules/react/tokens/lib/depth.ts
  modules/react/tokens/stories/stories.tsx
Labels: approved, 7.x

#1532 fix(button): Update padding for buttons
  modules/react/button/lib/BaseButton.tsx
  modules/react/button/lib/SecondaryButton.tsx
Labels: automerge

#1524 fix(popup): Remove containerElement prop from Popper
  modules/codemod/lib/v7/removePropFromPopper.ts
  modules/codemod/lib/v7/spec/removePropFromPopper.spec.ts
  modules/docs/mdx/7.0-MIGRATION-GUIDE.mdx
  modules/react/popup/lib/Popper.tsx
Labels: approved, 7.x

#1536 fix(toast): Add aria attributes to alert toast
  modules/react/toast/lib/Toast.tsx
Labels: approved, 7.x, automerge

#1541 fix: Add RTL support to FormField.Label
  modules/react/form-field/lib/Label.tsx
Labels: ready for review, 5.x, automerge

#1546 fix(codemod): Limit specifier renaming to Canvas Kit imports
  commitlint.config.js
  modules/codemod/lib/v6/moveAndRenameSearchBar.ts
  modules/codemod/lib/v6/spec/deprecateHeader.spec.ts
  modules/codemod/lib/v6/spec/moveAndRenameSearchBar.spec.ts
  modules/codemod/lib/v6/utils/index.ts
Labels: automerge

#1554 chore: Update accent, applet, and system icon deps
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/form-field/package.json
  modules/labs-react/package.json
  modules/preview-react/package.json
  modules/react/package.json
Labels: dependencies, 7.x

#1560 fix(combobox): Add "overflow: hidden" to MenuContainer
  modules/labs-react/combobox/lib/Combobox.tsx
Labels: automerge
