Repository Workday/canvas-kit, pull requests merged in 2022-02, with the labels that each got.

#1450 fix(popup-stack): Fix popup element removal when adapter is used
  modules/popup-stack/lib/PopupStack.ts
Labels: automerge

#1446 feat(BrandAssets): Add alt property to Workday logos.
  modules/react/common/lib/parts/_brand-assets.ts
Labels: automerge

#1459 docs(side-panel): Fix padding in header
  modules/preview-react/side-panel/stories/examples/AlwaysOpen.tsx
  modules/preview-react/side-panel/stories/examples/Basic.tsx
  modules/preview-react/side-panel/stories/examples/ExternalControl.tsx
  modules/preview-react/side-panel/stories/examples/RightOrigin.tsx
  modules/preview-react/side-panel/stories/examples/Variant.tsx
Labels: documentation, 6.x, automerge

#1464 docs: Correct typo in README file
  README.md
Labels: documentation, automerge

#1474 fix(tabs): Add back the extending bottom border
  modules/react/tabs/lib/TabsList.tsx
Labels: s:1, automerge

#1476 docs: Remove CSS Radio stories
  modules/css/form-field/stories/stories_Radio.tsx
Labels: documentation, ready for review, 6.x, automerge

#1466 fix(combobox): Use correct role for live region
  cypress/integration/Combobox.spec.ts
  modules/labs-react/combobox/lib/Status.tsx
  modules/labs-react/combobox/spec/Combobox.spec.tsx
Labels: automerge

#1479 fix: Fix button imports
  modules/react/cookie-banner/stories/stories.tsx
  modules/react/tabs/stories/examples/OverflowTabs.tsx
Labels: bug, 6.x, automerge

#1488 fix: Fix Box valid prop passing
  modules/labs-react/common/lib/Box.tsx
  modules/react/common/lib/utils/index.ts
Labels: bug, 6.x, automerge
