Repository Workday/canvas-kit, pull requests merged in 2022-12, with the labels that each got.

#1937 docs: Responsive Codeblock Fix
  modules/react/common/stories/examples/ResponsiveStyles.tsx
Labels: documentation, automerge

#1953 fix: Fix Expandable exports and types
  modules/labs-react/expandable/lib/Expandable.tsx
  modules/labs-react/expandable/lib/ExpandableContent.tsx
  modules/labs-react/expandable/lib/ExpandableIcon.tsx
  modules/labs-react/expandable/lib/ExpandableTarget.tsx
  modules/labs-react/expandable/lib/ExpandableTitle.tsx
  modules/labs-react/expandable/lib/hooks/index.ts
  modules/labs-react/expandable/lib/hooks/useExpandableContent.ts
  modules/labs-react/expandable/lib/hooks/useExpandableIcon.ts
  modules/labs-react/expandable/lib/hooks/useExpandableModel.tsx
  modules/labs-react/expandable/lib/hooks/useExpandableTarget.ts
  modules/labs-react/expandable/stories/Expandable.stories.mdx
  modules/labs-react/expandable/stories/examples/HoistedModel.tsx
Labels: automerge

#1957 chore: Remove @emotion/jest
  jest/setupTests.ts
  modules/react/switch/spec/Switch.spec.tsx
  package.json
  yarn.lock
Labels: dependencies, automerge

#1956 chore: Merge prerelease/minor into prerelease/major
  yarn.lock
Labels: automerge

#1958 chore: Remove question template and dead links [skip release]
  .github/ISSUE_TEMPLATE/question.md
  modules/css/README.md
  modules/docs/mdx/5.0-UPGRADE-GUIDE.mdx
Labels: automerge

#1961 chore: Remove conventional-recommended-bump from release.yml
  .github/workflows/release.yml
Labels: ready for review, 8.x

#1930 fix: Set Pagination GoTo TextInput to use current page as initial value
  cypress/integration/Pagination.spec.ts
  modules/react/pagination/lib/Pagination/GoTo/useGoToForm.tsx
Labels: automerge
