Repository Workday/canvas-kit, pull requests merged in 2022-01, with the labels that each got.

#1401 fix(side-panel): Add tooltip to toggle button for side panel
  modules/preview-react/side-panel/lib/SidePanel.tsx
  modules/react/button/lib/IconButton.tsx
Labels: automerge

#1403 fix(popup-stack): Add support for the fullscreen API
  modules/popup-stack/README.md
  modules/popup-stack/lib/PopupStack.ts
  modules/popup-stack/package.json
  modules/preview-react/breadcrumbs/lib/Breadcrumbs/Dropdown/Menu.tsx
  modules/preview-react/breadcrumbs/lib/Breadcrumbs/Dropdown/hooks.ts
  modules/preview-react/breadcrumbs/lib/Breadcrumbs/List/Collapsible.tsx
  modules/preview-react/menu/stories/examples/ContextMenu.tsx
  modules/preview-react/select/lib/SelectMenu.tsx
  modules/react/common/lib/utils/index.ts
  modules/react/common/lib/utils/useIsFullscreen.ts
  modules/react/package.json
  modules/react/popup/lib/hooks/index.ts
  modules/react/popup/lib/hooks/useCloseOnFullscreenExit.ts
  modules/react/popup/lib/hooks/usePopupStack.ts
  modules/react/popup/lib/hooks/useTransferOnFullscreenEnter.ts
  modules/react/popup/lib/hooks/useTransferOnFullscreenExit.ts
  modules/react/popup/stories/Popup.stories.mdx
  modules/react/popup/stories/examples/FullScreen.tsx
  modules/react/tooltip/lib/useTooltip.tsx
Labels: bug, 5.x, automerge

#1407 fix(search-form): Remove default autocomplete
  modules/labs-react/search-form/lib/SearchForm.tsx
Labels: automerge

#1408 feat(common): Remove uuid and update unique id generation
  babel.config.js
  cypress/integration/Combobox.spec.ts
  cypress/integration/Modal.spec.ts
  cypress/integration/Popup.spec.ts
  cypress/integration/SelectPreview.spec.ts
  cypress/integration/Tooltip.spec.ts
  cypress/support/commands.ts
  cypress/support/cypress-plugin-tab.d.ts
  cypress/support/index.ts
  jest.config.js
  jest/setupTests.ts
  modules/docs/mdx/TESTING.mdx
  modules/labs-react/combobox/lib/AutocompleteList.tsx
  modules/labs-react/combobox/lib/Combobox.tsx
  modules/labs-react/package.json
  modules/labs-react/search-form/lib/SearchForm.tsx
  modules/preview-react/index.ts
  modules/preview-react/menu/lib/Menu.tsx
  modules/preview-react/package.json
  modules/preview-react/select/lib/Select.tsx
  modules/preview-react/side-panel/lib/hooks.ts
  modules/react/checkbox/lib/Checkbox.tsx
  modules/react/common/README.md
  modules/react/common/lib/utils/useUniqueId.ts
  modules/react/common/spec/useUniqueId.spec.tsx
  modules/react/form-field/lib/FormField.tsx
  modules/react/icon/spec/Icon.spec.tsx
  modules/react/icon/spec/Svg.spec.tsx
  modules/react/package.json
  modules/react/popup/lib/hooks/focus-trap-js.ts
  modules/react/radio/lib/Radio.tsx
  modules/react/switch/lib/Switch.tsx
  modules/react/tooltip/lib/useTooltip.tsx
  package.json
  tsconfig.spec.json
  utils/check-dependencies-exist.js
  utils/publish-canary.js
  utils/report-failure.js
  yarn.lock
Labels: automerge

#1411 chore: Pin colors to version 1.4.0
  modules/codemod/package.json
  package.json
  yarn.lock
Labels: automerge

#1396 feat(action-bar): Refactor ActionBar component
  modules/codemod/lib/v7/compoundActionBar.ts
  modules/codemod/lib/v7/spec/compoundActionBar.spec.ts
  modules/docs/mdx/7.0-MIGRATION-GUIDE.mdx
  modules/react/action-bar/README.md
  modules/react/action-bar/index.ts
  modules/react/action-bar/lib/ActionBar.tsx
  modules/react/action-bar/spec/ActionBar.spec.tsx
  modules/react/action-bar/stories/ActionBar.stories.mdx
  modules/react/action-bar/stories/examples/Basic.tsx
  modules/react/action-bar/stories/visual-testing/stories_action-bar.tsx
Labels: automerge

#1417 fix(side-panel): Remove console.log
  modules/preview-react/side-panel/lib/SidePanel.tsx
Labels: ready for review, 6.x, automerge

#1415 fix(popup): Fix body scrolling using useInitialFocus
  modules/react/popup/lib/hooks/useInitialFocus.tsx
  modules/react/popup/stories/stories_testing.tsx
Labels: automerge

#1418 test: Remove enzyme
  .github/workflows/pull-request.yml
  jest/setupTests.ts
  modules/labs-react/header/spec/GlobalHeader.spec.tsx
  modules/labs-react/header/spec/Header.spec.tsx
  modules/preview-react/menu/lib/MenuItem.tsx
  modules/preview-react/menu/spec/Menu.spec.tsx
  modules/react/action-bar/spec/ActionBar.spec.tsx
  modules/react/banner/spec/Banner.spec.tsx
  modules/react/common/spec/InputProvider.spec.tsx
  modules/react/common/spec/useTheme.spec.tsx
  modules/react/cookie-banner/spec/CookieBanner.spec.tsx
  modules/react/icon/spec/AccentIcon.spec.tsx
  modules/react/icon/spec/AppletIcon.spec.tsx
  modules/react/icon/spec/Graphic.spec.tsx
  modules/react/icon/spec/Svg.spec.tsx
  modules/react/icon/spec/SystemIcon.spec.tsx
  modules/react/layout/spec/Layout.spec.tsx
  modules/react/loading-animation/spec/LoadingDots.spec.tsx
  modules/react/page-header/spec/PageHeader.spec.tsx
  modules/react/side-panel/spec/SidePanel.spec.tsx
  modules/react/status-indicator/spec/StatusIndicator.spec.tsx
  modules/react/table/spec/Table.spec.tsx
  modules/react/table/spec/TableRow.spec.tsx
  modules/react/text-input/spec/InputIconContainer.spec.tsx
  package.json
  utils/check-dependencies-exist.js
  yarn.lock
Labels: dependencies, ready for review, automerge

#1329 feat: Increase max width of Status Indicator, add prop and examples
  modules/docs/mdx/7.0-MIGRATION-GUIDE.mdx
  modules/react/status-indicator/lib/StatusIndicator.tsx
  modules/react/status-indicator/stories/StatusIndicator.stories.mdx
  modules/react/status-indicator/stories/examples/MaxWidth.tsx
Labels: automerge

#1424 fix: Allow repositioning of PopperJS instances
  cypress.json
  modules/react/popup/lib/Popper.tsx
  modules/react/popup/spec/Popper.spec.tsx
  modules/react/popup/stories/stories_Popper.tsx
Labels: bug, 5.x, automerge

#1435 docs: Add examples for Select and TextInput with Formik
  modules/preview-react/_examples/stories/SelectWithFormik.stories.mdx
  modules/preview-react/_examples/stories/TextInputWithFormik.stories.mdx
  modules/preview-react/_examples/stories/examples/SelectWithFormik.tsx
  modules/preview-react/_examples/stories/examples/TextInputWithFormik.tsx
  modules/preview-react/form-field/stories/FormField.stories.mdx
  modules/preview-react/form-field/stories/examples/Select.tsx
  modules/preview-react/text-input/stories/TextInput.stories.mdx
Labels: documentation, ready for review, 6.x

#1259 feat(modal): Add support for scrolling a modal
  modules/docs/mdx/7.0-MIGRATION-GUIDE.mdx
  modules/labs-react/common/lib/Box.tsx
  modules/labs-react/layout/lib/Stack.tsx
  modules/react/card/lib/CardHeading.tsx
  modules/react/common/lib/utils/index.ts
  modules/react/modal/lib/Modal.tsx
  modules/react/modal/lib/ModalCard.tsx
  modules/react/modal/lib/ModalOverflowOverlay.tsx
  modules/react/modal/lib/ModalOverlay.tsx
  modules/react/modal/stories/Modal.stories.mdx
  modules/react/modal/stories/examples/Basic.tsx
  modules/react/modal/stories/examples/BodyOverflow.tsx
  modules/react/modal/stories/examples/CustomFocus.tsx
  modules/react/modal/stories/examples/FullOverflow.tsx
  modules/react/modal/stories/examples/ReturnFocus.tsx
  modules/react/modal/stories/examples/WithoutCloseIcon.tsx
  modules/react/modal/stories/stories_VisualTesting.tsx
  modules/react/popup/lib/Popup.tsx
  modules/react/popup/lib/PopupBody.tsx
  modules/react/popup/lib/PopupCard.tsx
  modules/react/popup/lib/PopupHeading.tsx
Labels: automerge

#1445 fix(preview): Preview FormField.Hint error text not the correct color
  modules/preview-react/form-field/lib/FormFieldHint.tsx
Labels: automerge

#1439 feat(search-form): Allow onSubmit when input is empty
  modules/labs-react/search-form/lib/SearchForm.tsx
  modules/labs-react/search-form/spec/SearchForm.spec.tsx
Labels: automerge
