Repository Workday/canvas-kit, pull requests merged in 2022-10, with the labels that each got.

#1621 docs: Update Modal examples
  cypress/integration/Modal.spec.ts
  modules/react/common/spec/components.spec.tsx
  modules/react/modal/stories/examples/Basic.tsx
  modules/react/modal/stories/examples/BodyOverflow.tsx
  modules/react/modal/stories/examples/CustomFocus.tsx
  modules/react/modal/stories/examples/CustomTarget.tsx
  modules/react/modal/stories/examples/FullOverflow.tsx
Labels: automerge

#1709 fix: Update `useReturnFocus` to change focus if target is visible
  cypress/integration/Popup.spec.ts
  modules/react/common/lib/utils/elements.ts
  modules/react/popup/lib/hooks/useReturnFocus.tsx
  modules/react/popup/stories/stories_testing.tsx
Labels: automerge

#1826 chore: Merge master into prerelease/minor
  CHANGELOG.md
  cypress/integration/Popup.spec.ts
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-animation/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/common/lib/utils/elements.ts
  modules/react/package.json
  modules/react/popup/lib/hooks/useReturnFocus.tsx
  modules/react/popup/stories/stories_testing.tsx
Labels: automerge

#1825 chore: Merge prerelease/minor into prerelease/major
  .github/workflows/close-related-issues.yml
  CHANGELOG.md
  cypress/integration/Modal.spec.ts
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-animation/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/common/spec/components.spec.tsx
  modules/react/modal/stories/examples/Basic.tsx
  modules/react/modal/stories/examples/BodyOverflow.tsx
  modules/react/modal/stories/examples/CustomFocus.tsx
  modules/react/modal/stories/examples/CustomTarget.tsx
  modules/react/modal/stories/examples/FullOverflow.tsx
  modules/react/package.json
Labels: automerge

#1831 fix: Error handling to fix TypeError bug on models used in responsive modals/popups
  modules/react/popup/lib/hooks/useReturnFocus.tsx
Labels: bug, 7.x, automerge

#1834 ci: Updates to Project Board Actions [skip release]
  .github/workflows/project-automations.yml
Labels: automerge

#1837 test: Fix flaky Cypress popup specification
  .github/PULL_REQUEST_TEMPLATE.md
  cypress/integration/Popup.spec.ts
  modules/docs/utils/get-specifications.js
Labels: automerge

#1842 ci: Fixing to make workflow valid-name needed for each if [skip release]
  .github/workflows/project-automations.yml
Labels: automerge

#1846 ci: Fix popup tests and ci bugs [skip release]
  .github/workflows/forward-merge.yml
  .github/workflows/pull-request.yml
  modules/react/popup/lib/hooks/useReturnFocus.tsx
  utils/publish-canary.mjs
Labels: automerge

#1839 chore: Merge prerelease/minor into prerelease/major
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/close-related-issues.yml
  .github/workflows/forward-merge.yml
  .github/workflows/project-automations.yml
  .github/workflows/pull-request.yml
  CHANGELOG.md
  cypress/integration/Popup.spec.ts
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-animation/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/docs/utils/get-specifications.js
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
  modules/react/popup/lib/hooks/useReturnFocus.tsx
  utils/publish-canary.mjs
Labels: automerge

#1844 docs: Remove dependency on Storybook utils from CustomStyles example
  modules/react/button/stories/button/examples/CustomStyles.tsx
Labels: documentation, 7.x, automerge

#1843 docs: Separate Text MDX into separate MDXes
  .storybook/routes.js
  modules/react/text/stories/BodyText.stories.mdx
  modules/react/text/stories/Heading.stories.mdx
  modules/react/text/stories/LabelText.stories.mdx
  modules/react/text/stories/Subtext.stories.mdx
  modules/react/text/stories/Text.stories.mdx
  modules/react/text/stories/Title.stories.mdx
  modules/react/text/stories/examples/BodyText.tsx
  modules/react/text/stories/examples/BodyText/Basic.tsx
  modules/react/text/stories/examples/Heading.tsx
  modules/react/text/stories/examples/Heading/Basic.tsx
  modules/react/text/stories/examples/Label.tsx
  modules/react/text/stories/examples/LabelText/Basic.tsx
  modules/react/text/stories/examples/LabelText/Cursor.tsx
  modules/react/text/stories/examples/LabelText/Disabled.tsx
  modules/react/text/stories/examples/Subtext.tsx
  modules/react/text/stories/examples/Subtext/Basic.tsx
  modules/react/text/stories/examples/Text/Basic.tsx
  modules/react/text/stories/examples/Text/TypeLevel.tsx
  modules/react/text/stories/examples/Text/Variant.tsx
  modules/react/text/stories/examples/Title.tsx
  modules/react/text/stories/examples/Title/Basic.tsx
Labels: documentation, automerge, 8.x

#1849 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-animation/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/button/stories/button/examples/CustomStyles.tsx
  modules/react/package.json
Labels: automerge

#1848 fix: Add style prop doc examples to build-mdx script
  modules/docs/mdx/style-props/STYLE_PROPS.mdx
  modules/docs/utils/build-mdx.js
Labels: bug, documentation, 8.x

#1850 feat(breadcrumbs): Update Breadcrumbs aria props, examples, and a11y guidance
  cypress/integration/Breadcrumbs.spec.ts
  modules/docs/mdx/8.0-UPGRADE-GUIDE.mdx
  modules/react/breadcrumbs/lib/Breadcrumbs.tsx
  modules/react/breadcrumbs/lib/BreadcrumbsList.tsx
  modules/react/breadcrumbs/lib/BreadcrumbsOverflowButton.tsx
  modules/react/breadcrumbs/spec/SSR.spec.tsx
  modules/react/breadcrumbs/stories/Breadcrumbs.stories.mdx
  modules/react/breadcrumbs/stories/examples/Basic.tsx
  modules/react/breadcrumbs/stories/examples/CurrentItemTruncation.tsx
  modules/react/breadcrumbs/stories/examples/Overflow.tsx
  modules/react/breadcrumbs/stories/examples/RTL.tsx
  modules/react/breadcrumbs/stories/stories_VisualTesting.tsx
Labels: approved, automerge, 8.x

#1836 feat: Add `useCloseOnTargetHidden` popup hook
  cypress/integration/Popup.spec.ts
  modules/react/popup/lib/hooks/index.ts
  modules/react/popup/lib/hooks/useCloseOnTargetHidden.ts
  modules/react/popup/stories/Popup.stories.mdx
  modules/react/popup/stories/stories_testing.tsx
  modules/react/tooltip/lib/TooltipContainer.tsx
  modules/react/tooltip/lib/useTooltip.tsx
Labels: automerge

#1857 docs: Add React 18 Upgrade to v8 upgrade guide
  modules/docs/mdx/8.0-UPGRADE-GUIDE.mdx
Labels: documentation, automerge, 8.x

#1853 docs: Updating Responsive Styles Support Section of V8 Guide
  modules/docs/mdx/8.0-UPGRADE-GUIDE.mdx
Labels: documentation, automerge, 8.x

#1863 fix: Update modal padding and event keys to match modern browsers
  modules/preview-react/menu/lib/Menu.tsx
  modules/react/menu/lib/MenuContextTarget.tsx
  modules/react/menu/lib/MenuTarget.tsx
Labels: automerge

#1819 feat: New Segmented Control component
  cypress/integration/SegmentedControl.spec.ts
  modules/docs/mdx/8.0-UPGRADE-GUIDE.mdx
  modules/preview-react/index.ts
  modules/preview-react/segmented-control/LICENSE
  modules/preview-react/segmented-control/README.md
  modules/preview-react/segmented-control/index.ts
  modules/preview-react/segmented-control/lib/SegmentedControl.tsx
  modules/preview-react/segmented-control/lib/SegmentedControlItem.tsx
  modules/preview-react/segmented-control/lib/SegmentedControlList.tsx
  modules/preview-react/segmented-control/lib/hooks/useSegmentedControlItem.tsx
  modules/preview-react/segmented-control/lib/hooks/useSegmentedControlModel.tsx
  modules/preview-react/segmented-control/spec/SSR.spec.tsx
  modules/preview-react/segmented-control/spec/tsconfig.json
  modules/preview-react/segmented-control/stories/SegmentedControl.stories.mdx
  modules/preview-react/segmented-control/stories/SegmentedControlModel.splitprops.tsx
  modules/preview-react/segmented-control/stories/examples.tsx
  modules/preview-react/segmented-control/stories/examples/Basic.tsx
  modules/preview-react/segmented-control/stories/examples/Disabled.tsx
  modules/preview-react/segmented-control/stories/examples/Dynamic.tsx
  modules/preview-react/segmented-control/stories/examples/RTL.tsx
  modules/preview-react/segmented-control/stories/examples/Sizes.tsx
  modules/preview-react/segmented-control/stories/examples/TextAndIcon.tsx
  modules/preview-react/segmented-control/stories/examples/TextOnly.tsx
  modules/preview-react/segmented-control/stories/examples/Vertical.tsx
  modules/preview-react/segmented-control/stories/stories_SegmentedControl.tsx
  modules/preview-react/segmented-control/stories/tsconfig.json
  modules/react/_examples/stories/SegmentedControlWithText.stories.mdx
Labels: 8.x

#1861 fix: Popup close buttons no longer interfere with forms
  modules/docs/mdx/8.0-UPGRADE-GUIDE.mdx
  modules/react/modal/stories/Modal.stories.mdx
  modules/react/modal/stories/examples/FormModal.tsx
  modules/react/popup/lib/PopupCloseButton.tsx
  modules/react/popup/lib/PopupCloseIcon.tsx
Labels: automerge

#1868 feat: Add StyleProp types
  modules/react/layout/index.ts
  modules/react/layout/lib/Box.tsx
  modules/react/layout/lib/utils/styleProps.ts
Labels: automerge, 8.x

#1869 refactor(preview): Remove equal size hook in SegmentedControl
  modules/preview-react/segmented-control/lib/SegmentedControlList.tsx
  modules/preview-react/segmented-control/lib/hooks/useSegmentedControlItem.tsx
  modules/preview-react/segmented-control/lib/hooks/useSegmentedControlModel.tsx
  modules/preview-react/segmented-control/stories/SegmentedControl.stories.mdx
  modules/preview-react/segmented-control/stories/examples.tsx
Labels: enhancement, automerge, 8.x

#1867 fix: Update modal padding and margin on smaller screen sizes
  modules/react/modal/lib/ModalCard.tsx
Labels: automerge, 8.x

#1871 docs: Fix multiSelectionManager import in Collections example
  modules/react/collection/stories/examples/MultiSelection.tsx
Labels: documentation, 7.x, automerge

#1872 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-animation/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/collection/stories/examples/MultiSelection.tsx
  modules/react/package.json
Labels: automerge

#1874 refactor(action-bar): Overflow button replacement by a prop
  modules/codemod/lib/v8/index.ts
  modules/codemod/lib/v8/refactorActionBarOverflowButton.ts
  modules/codemod/lib/v8/spec/refactorActionBarOverflowButton.spec.ts
  modules/docs/mdx/8.0-UPGRADE-GUIDE.mdx
  modules/react/action-bar/lib/ActionBarItem.tsx
  modules/react/action-bar/lib/ActionBarList.tsx
  modules/react/action-bar/lib/ActionBarOverflowButton.tsx
  modules/react/action-bar/stories/ActionBar.stories.mdx
  modules/react/action-bar/stories/examples/OverflowActionBar.tsx
  modules/react/action-bar/stories/visual-testing/stories_action-bar.tsx
Labels: enhancement, automerge, 8.x

#1870 docs: Update Segmented Control (Preview) docs
  modules/docs/mdx/8.0-UPGRADE-GUIDE.mdx
  modules/preview-react/segmented-control/stories/SegmentedControl.stories.mdx
  modules/preview-react/segmented-control/stories/examples/Basic.tsx
  modules/preview-react/segmented-control/stories/examples/Sizes.tsx
Labels: documentation, automerge, 8.x

#1875 fix: Fix a model's TConfig type and add tests
  modules/react/common/lib/utils/models.ts
  modules/react/common/spec/models.spec.tsx
  modules/react/tabs/lib/useTabsModel.tsx
Labels: automerge, 8.x

#1779 feat: Responsive Styles Support
  .storybook/routes.js
  modules/docs/mdx/8.0-UPGRADE-GUIDE.mdx
  modules/react/common/index.ts
  modules/react/common/lib/responsive/useResponsiveContainerStyles.ts
  modules/react/common/lib/utils/isWithinBreakpoint.ts
  modules/react/common/spec/isWithinBreakpoint.spec.tsx
  modules/react/common/spec/useResponsiveContainerStyles.spec.tsx
  modules/react/common/stories/Responsive.stories.mdx
  modules/react/common/stories/examples/ResponsiveStyles.tsx
  modules/react/common/stories/examples/ResponsiveViewport.tsx
  modules/react/layout/lib/Flex.tsx
  modules/react/layout/lib/Grid.tsx
  modules/react/layout/lib/utils/flex.ts
  modules/react/layout/lib/utils/grid.ts
  modules/react/layout/stories/Flex.stories.mdx
Labels: ready for review, automerge, 8.x

#1879 fix: Correctly call keyboard click events when Preview Menu has headers
  modules/preview-react/menu/lib/Menu.tsx
  modules/preview-react/menu/spec/Menu.spec.tsx
Labels: automerge
