Repository Workday/canvas-kit, pull requests merged in 2022-06, with the labels that each got.

#1616 fix(preview): Make removable pill accessible
  modules/preview-react/pill/lib/Pill.tsx
  modules/preview-react/pill/lib/PillAvatar.tsx
  modules/preview-react/pill/lib/PillIcon.tsx
  modules/preview-react/pill/lib/PillIconButton.tsx
  modules/preview-react/pill/lib/PillLabel.tsx
  modules/preview-react/pill/lib/usePillModel.tsx
Labels: bug, p:1, accessibility, approved, 7.x, automerge

#1617 fix: Add inverse variant to checkbox and radio
  modules/react/checkbox/lib/Checkbox.tsx
  modules/react/checkbox/stories/Checkbox.stories.mdx
  modules/react/checkbox/stories/examples/Inverse.tsx
  modules/react/form-field/stories/visual-testing/stories_Checkbox.tsx
  modules/react/form-field/stories/visual-testing/stories_Radio.tsx
  modules/react/radio/lib/Radio.tsx
  modules/react/radio/stories/Radio.stories.mdx
  modules/react/radio/stories/examples/Inverse.tsx
Labels: enhancement, ready for review, 7.x, automerge

#1629 docs(action-bar): Add delete action example to ActionBar
  modules/react/action-bar/stories/ActionBar.stories.mdx
  modules/react/action-bar/stories/examples/DeleteAction.tsx
Labels: documentation, approved, 7.x, automerge

#1523 feat: Add useModalityType hook and add modality support to tabs
  modules/react/collection/lib/useOverflowListModel.tsx
  modules/react/common/lib/utils/index.ts
  modules/react/common/lib/utils/useModalityType.ts
  modules/react/tabs/lib/TabsItem.tsx
  modules/react/tabs/lib/TabsList.tsx
  modules/react/tabs/lib/useTabsModel.tsx
Labels: ready for review, automerge

#1638 fix: Update remaining Emotion 11 imports
  jest/verifyComponent.tsx
  modules/react-fonts/README.md
Labels: automerge

#1639 chore: Bump design-assets-types to latest
  modules/preview-react/package.json
  modules/react/package.json
  yarn.lock
Labels: automerge

#1644 docs: Update SidePanel right origin story [skip release]
  modules/preview-react/side-panel/stories/examples/RightOrigin.tsx
Labels: automerge

#1640 fix: Update yarn.lock dependencies for icons and TypeScript
  yarn.lock
Labels: automerge

#1642 chore: Update repository fields for NPM
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
Labels: automerge

#1648 fix(button): Make PageButton in Pagination themable
  modules/react/pagination/lib/Pagination/PageButton.tsx
  modules/react/pagination/stories/stories_visualTesting.tsx
Labels: bug, 7.x, automerge

#1636 chore: Upgrade to React 18
  jest/verifyComponent.d.ts
  jest/verifyComponent.tsx
  modules/css/button/stories.tsx
  modules/css/icon/stories.tsx
  modules/labs-react/combobox/lib/Combobox.tsx
  modules/labs-react/package.json
  modules/preview-react/breadcrumbs/lib/Breadcrumbs/List/index.tsx
  modules/preview-react/menu/lib/Menu.tsx
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/action-bar/lib/ActionBarList.tsx
  modules/react/action-bar/stories/visual-testing/stories_action-bar.tsx
  modules/react/collection/lib/ListBox.tsx
  modules/react/collection/lib/useListRenderItem.tsx
  modules/react/common/lib/InputProvider.tsx
  modules/react/common/lib/utils/StaticStates.tsx
  modules/react/common/lib/utils/components.ts
  modules/react/form-field/lib/FormField.tsx
  modules/react/form-field/lib/Label.tsx
  modules/react/layout/lib/utils/types.ts
  modules/react/menu/lib/MenuList.tsx
  modules/react/modal/lib/ModalOverlay.tsx
  modules/react/package.json
  modules/react/pagination/lib/Pagination/AdditionalDetails.tsx
  modules/react/pagination/lib/Pagination/GoTo/Label.tsx
  modules/react/pagination/lib/Pagination/PageList.tsx
  modules/react/popup/lib/hooks/useCloseOnFullscreenExit.ts
  modules/react/popup/lib/hooks/useTransferOnFullscreenEnter.ts
  modules/react/popup/lib/hooks/useTransferOnFullscreenExit.ts
  modules/react/popup/spec/Popper.spec.tsx
  modules/react/tabs/lib/TabsList.tsx
  modules/react/tabs/lib/TabsPanel.tsx
  modules/react/tabs/lib/TabsPanels.tsx
  modules/react/text-input/lib/InputIconContainer.tsx
  package.json
  tsconfig.json
  utils/storybook/ControlledComponentWrapper.tsx
  utils/storybook/withSnapshotsEnabled.ts
  yarn.lock
Labels: dependencies, automerge, 8.x

#1623 docs(examples): Add example for SegmentedControl with text buttons
  modules/react/_examples/stories/SegmentedControlWithText.stories.mdx
  modules/react/_examples/stories/examples/SegmentControlWithText.tsx
Labels: documentation, ready for review, 7.x, automerge

#1657 fix(pagination): Remove console warning
  modules/react/pagination/lib/Pagination/PageButton.tsx
Labels: ready for review, s:1, 7.x, automerge
