Repository Workday/canvas-kit, pull requests merged in 2022-08, with the labels that each got.

#1698 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-animation/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
  yarn.lock
Labels: automerge

#1700 feat: Add responsive styles to Modal
  modules/react/common/lib/utils/useModalityType.ts
  modules/react/modal/lib/ModalCard.tsx
  modules/react/modal/lib/ModalOverlay.tsx
  modules/react/modal/lib/hooks/useCloseOnOverlayClick.ts
  modules/react/modal/stories/stories_VisualTesting.tsx
  modules/react/popup/lib/PopupCard.tsx
Labels: approved, 8.x

#1726 docs: Fix RadioGroup Basic example
  modules/react/radio/stories/examples/Basic.tsx
Labels: documentation, approved, 7.x

#1723 fix: Ignore tabIndex to take elements out of the focus order
  modules/react/common/lib/utils/elements.ts
Labels: bug, approved, automerge

#1729 ci: Add project board automations
  .github/workflows/project-automations.yml
Labels: automerge

#1739 fix: Update avatar on expandable component
  modules/labs-react/expandable/lib/ExpandableAvatar.tsx
Labels: approved, 7.x

#1716 docs(layout): Improve Grid documentation [skip release]
  modules/react/layout/index.ts
  modules/react/layout/stories/Grid.stories.mdx
  modules/react/layout/stories/examples/Grid/Basic.tsx
  modules/react/layout/stories/examples/Grid/GridLayout.tsx
  modules/react/layout/stories/examples/PropTables.splitprops.tsx
Labels: approved, 8.x

#1744 fix(menu): Fix issue with color change on menu item icon hover
  modules/react/menu/lib/MenuItem.tsx
Labels: bug, accessibility, approved, 7.x

#1432 feat(labs): New compound toast component
  cypress/integration/ToastLabs.spec.ts
  modules/labs-react/index.ts
  modules/labs-react/toast/LICENSE
  modules/labs-react/toast/README.md
  modules/labs-react/toast/index.ts
  modules/labs-react/toast/lib/Toast.tsx
  modules/labs-react/toast/lib/ToastBody.tsx
  modules/labs-react/toast/lib/ToastCloseIcon.tsx
  modules/labs-react/toast/lib/ToastIcon.tsx
  modules/labs-react/toast/lib/ToastLink.tsx
  modules/labs-react/toast/lib/ToastMessage.tsx
  modules/labs-react/toast/lib/hooks/useToastModel.tsx
  modules/labs-react/toast/spec/Toast.spec.tsx
  modules/labs-react/toast/spec/ToastCloseIcon.spec.tsx
  modules/labs-react/toast/spec/ToastLink.spec.tsx
  modules/labs-react/toast/spec/tsconfig.json
  modules/labs-react/toast/stories/examples/Basic.tsx
  modules/labs-react/toast/stories/examples/RTL.tsx
  modules/labs-react/toast/stories/examples/ToastAlert.tsx
  modules/labs-react/toast/stories/examples/ToastDialog.tsx
  modules/labs-react/toast/stories/examples/WithActionLinkAndCloseIcon.tsx
  modules/labs-react/toast/stories/examples/WithCloseButton.tsx
  modules/labs-react/toast/stories/examples/WithPopper.tsx
  modules/labs-react/toast/stories/stories_VisualTesting.tsx
  modules/labs-react/toast/stories/toast.stories.mdx
  modules/labs-react/toast/stories/tsconfig.json
  modules/react/common/lib/utils/elements.ts
Labels: approved, 7.x

#1757 ci: Update secret to new token for project board actions [skip release]
  .github/workflows/project-automations.yml
Labels: automerge
