Repository Workday/canvas-kit, pull requests merged in 2022-05, with the labels that each got.

#1563 fix: Update codemod to run all transforms
  modules/codemod/lib/v7/index.ts
Labels: automerge

#1568 fix: Fix imports in examples
  modules/react/banner/stories/examples/RefForwarding.tsx
  modules/react/tabs/stories/examples/OverflowTabs.tsx
Labels: automerge

#1575 fix: Fix build mdx script to better handle splitprops files
  modules/docs/utils/build-mdx.js
Labels: ready for review, 7.x, automerge

#1581 docs: Update Migration guide with tabs changes
  modules/codemod/lib/v7/spec/updateTabs.spec.ts
  modules/codemod/lib/v7/updateTabs.ts
  modules/docs/mdx/7.0-MIGRATION-GUIDE.mdx
  modules/docs/mdx/COMPOUND_COMPONENTS.mdx
  modules/react/collection/index.ts
  modules/react/collection/lib/useListItemRegister.tsx
  modules/react/collection/lib/useListRenderItem.tsx
  modules/react/menu/lib/Menu.tsx
  modules/react/tabs/lib/Tabs.tsx
  modules/react/tabs/lib/TabsList.tsx
  modules/react/tabs/lib/TabsOverflowButton.tsx
  modules/react/tabs/lib/TabsPanel.tsx
  modules/react/tabs/stories/Tabs.stories.mdx
  modules/react/tabs/stories/examples/DynamicTabs.tsx
  modules/react/tabs/stories/examples/OverflowTabs.tsx
  modules/react/tabs/stories/examples/SinglePanel.tsx
Labels: ready for review, automerge

#1550 docs: Clean up v7 migration guide
  modules/docs/mdx/7.0-MIGRATION-GUIDE.mdx
  modules/react/collection/lib/react-virtual.ts
Labels: documentation, ready for review, review in progress, 7.x, automerge

#1542 feat(preview): Add Pill component
  .storybook/docgen-plugin.js
  modules/preview-react/index.ts
  modules/preview-react/pill/LICENSE
  modules/preview-react/pill/README.md
  modules/preview-react/pill/index.ts
  modules/preview-react/pill/lib/Pill.tsx
  modules/preview-react/pill/lib/PillAvatar.tsx
  modules/preview-react/pill/lib/PillCount.tsx
  modules/preview-react/pill/lib/PillIcon.tsx
  modules/preview-react/pill/lib/PillIconButton.tsx
  modules/preview-react/pill/lib/PillLabel.tsx
  modules/preview-react/pill/lib/usePillModel.tsx
  modules/preview-react/pill/spec/SSR.spec.tsx
  modules/preview-react/pill/spec/tsconfig.json
  modules/preview-react/pill/stories/Pill.stories.mdx
  modules/preview-react/pill/stories/examples/Basic.tsx
  modules/preview-react/pill/stories/examples/WithAvatar.tsx
  modules/preview-react/pill/stories/examples/WithCount.tsx
  modules/preview-react/pill/stories/examples/WithList.tsx
  modules/preview-react/pill/stories/examples/WithReadOnly.tsx
  modules/preview-react/pill/stories/examples/WithRemovable.tsx
  modules/preview-react/pill/stories/examples/test-avatar.png
  modules/preview-react/pill/stories/stories_VisualTesting.tsx
  modules/preview-react/pill/stories/tsconfig.json
  modules/react/icon/lib/Svg.tsx
  modules/react/layout/lib/Stack.tsx
Labels: new-component, ready for review, review in progress, automerge

#1587 chore(disclosure): Remove event data wrapper in disclosure events
  modules/codemod/lib/v7/index.ts
  modules/codemod/lib/v7/spec/updateDisclosureShowHide.spec.ts
  modules/codemod/lib/v7/spec/updateModelSignatures.spec.ts
  modules/codemod/lib/v7/updateDisclosureShowHide.ts
  modules/docs/mdx/7.0-MIGRATION-GUIDE.mdx
  modules/preview-react/color-picker/stories/stories_ColorPicker.tsx
  modules/preview-react/menu/stories/examples/ContextMenu.tsx
  modules/react/disclosure/lib/useDisclosureModel.tsx
  modules/react/menu/lib/MenuContextTarget.tsx
  modules/react/menu/lib/MenuItem.tsx
  modules/react/menu/lib/MenuTarget.tsx
  modules/react/modal/lib/hooks/useCloseOnOverlayClick.ts
  modules/react/modal/stories/stories_testing.tsx
  modules/react/popup/lib/hooks/useCloseOnEscape.ts
  modules/react/popup/lib/hooks/useCloseOnFullscreenExit.ts
  modules/react/popup/lib/hooks/useCloseOnOutsideClick.ts
  modules/react/popup/lib/hooks/useFocusRedirect.ts
  modules/react/popup/lib/hooks/usePopupCloseButton.ts
  modules/react/popup/lib/hooks/usePopupTarget.ts
  modules/react/popup/lib/hooks/usePopupTargetContext.ts
Labels: ready for review, automerge

#1591 docs: Rename Migration Guides to Upgrade Guides
  .storybook/routes.js
  CHANGELOG.md
  README.md
  modules/docs/mdx/4.0-UPGRADE-GUIDE.mdx
  modules/docs/mdx/5.0-UPGRADE-GUIDE.mdx
  modules/docs/mdx/6.0-UPGRADE-GUIDE.mdx
  modules/docs/mdx/7.0-UPGRADE-GUIDE.mdx
Labels: documentation, ready for review, 7.x, automerge

#1585 feat(action-bar): Add menu to ActionBar
  modules/codemod/lib/v7/compoundActionBar.ts
  modules/codemod/lib/v7/spec/compoundActionBar.spec.ts
  modules/docs/mdx/7.0-UPGRADE-GUIDE.mdx
  modules/react/action-bar/index.ts
  modules/react/action-bar/lib/ActionBar.tsx
  modules/react/action-bar/lib/ActionBarItem.tsx
  modules/react/action-bar/lib/ActionBarList.tsx
  modules/react/action-bar/lib/ActionBarOverflowButton.tsx
  modules/react/action-bar/lib/useActionBarModel.tsx
  modules/react/action-bar/spec/ActionBar.spec.tsx
  modules/react/action-bar/stories/ActionBar.stories.mdx
  modules/react/action-bar/stories/examples/Basic.tsx
  modules/react/action-bar/stories/examples/Icons.tsx
  modules/react/action-bar/stories/examples/OverflowActionBar.tsx
  modules/react/action-bar/stories/visual-testing/stories_action-bar.tsx
  modules/react/collection/lib/useListItemRovingFocus.tsx
  modules/react/collection/lib/useListRenderItem.tsx
  modules/react/tabs/lib/Tabs.tsx
  modules/react/tabs/lib/TabsItem.tsx
Labels: ready for review, review in progress, 7.x, automerge

#1567 fix: Update codemods to handle different imports
  modules/codemod/lib/v7/recategorizeIconButtons.ts
  modules/codemod/lib/v7/renameLayoutImports.ts
  modules/codemod/lib/v7/spec/renameIconPosition.spec.ts
  modules/codemod/lib/v7/spec/renameLayoutImports.spec.ts
  modules/codemod/lib/v7/utils/getImportRenameMap.ts
Labels: bug, 7.x, automerge

#1430 feat(button): Add ExternalHyperlink and missing stories for Hyperlinks
  cypress/integration/Hyperlink.spec.ts
  modules/react/button/index.ts
  modules/react/button/lib/ExternalHyperlink.tsx
  modules/react/button/stories/button/Hyperlink.stories.mdx
  modules/react/button/stories/button/examples/ExternalHyperlink.tsx
  modules/react/button/stories/button/examples/ExternalHyperlinkInverse.tsx
  modules/react/button/stories/button/examples/Hyperlink.tsx
  modules/react/button/stories/button/examples/HyperlinkInverse.tsx
  modules/react/button/stories/visual-testing/stories_ExternalHyperlink.tsx
  modules/react/icon/lib/Icon.tsx
  modules/react/icon/lib/SystemIcon.tsx
Labels: approved, 7.x, automerge

#1592 fix(action-bar): Make hidden buttons non-interactive
  modules/react/action-bar/lib/useActionBarModel.tsx
Labels: approved, 7.x, automerge

#1595 docs: Fix docs to account for v7 changes
  modules/react/tabs/stories/Tabs.stories.mdx
Labels: documentation, ready for review, 7.x, automerge

#1590 fix(table): Refactor TableRow to use createComponent
  modules/react/table/lib/TableRow.tsx
Labels: bug, p:2, ready for review, 6.x

#1564 fix(popup): Exclude disabled elements from isFocusable
  cypress/integration/Popup.spec.ts
  modules/react/common/lib/utils/elements.ts
  modules/react/popup/stories/examples/FocusRedirect.tsx
Labels: automerge

#1603 docs: Clean up upgrade docs for base button example
  modules/docs/mdx/7.0-UPGRADE-GUIDE.mdx
Labels: automerge

#1606 fix(action-bar): Remove subcomponents from ActionBar.Item
  modules/react/action-bar/lib/ActionBarItem.tsx
Labels: ready for review, 7.x, automerge

#1607 fix(codemod): Support multiple imports from canvas-kit
  modules/codemod/lib/v7/recategorizeIconButtons.ts
  modules/codemod/lib/v7/spec/recategorizeIconButtons.spec.ts
Labels: automerge

#1610 fix(search-form): Show autocomplete list and filter by includes in example
  modules/labs-react/search-form/stories/examples/Basic.tsx
  modules/labs-react/search-form/stories/examples/CustomTheme.tsx
  modules/labs-react/search-form/stories/examples/Grow.tsx
  modules/labs-react/search-form/stories/examples/RTL.tsx
  modules/labs-react/search-form/stories/examples/Theming.tsx
Labels: automerge

#1609 fix(banner): Fix RTL Sticky Banner story
  modules/react/banner/stories/examples/StickyRTL.tsx
Labels: automerge
