Repository Workday/canvas-kit, pull requests merged in 2022-07, with the labels that each got.

#1628 feat(collection): Add grid model and examples
  modules/react-fonts/lib/fonts.ts
  modules/react-fonts/package.json
  modules/react/collection/index.ts
  modules/react/collection/lib/useBaseListModel.tsx
  modules/react/collection/lib/useCursorListModel.tsx
  modules/react/collection/lib/useGridModel.ts
  modules/react/collection/lib/useListItemRovingFocus.tsx
  modules/react/collection/spec/useCursorModel.spec.tsx
  modules/react/collection/stories/Collection.splitprops.tsx
  modules/react/collection/stories/Collection.stories.mdx
  modules/react/collection/stories/examples/BasicGrid.tsx
  modules/react/collection/stories/examples/WrappingGrid.tsx
  modules/react/tabs/stories/TabsModel.splitprops.tsx
Labels: ready for review, 7.x, automerge

#1659 fix(pagination): Remove aria-relevant attr
  cypress/integration/Pagination.spec.ts
  modules/react/pagination/lib/Pagination/common/useLiveRegion.tsx
Labels: bug, p:2, accessibility, ready for review, 6.x, s:1, automerge

#1666 fix(action-bar): Fix focus issue in ActionBar
  modules/react/action-bar/lib/ActionBarList.tsx
Labels: bug, ready for review, 7.x, automerge

#1673 chore: Bump csstype to v3 and update style prop types
  modules/react/layout/lib/utils/border.ts
  modules/react/layout/lib/utils/flex.ts
  modules/react/layout/lib/utils/flexItem.ts
  modules/react/layout/lib/utils/layout.ts
  modules/react/layout/lib/utils/position.ts
  modules/react/layout/lib/utils/types.ts
  modules/react/package.json
Labels: bug, dependencies, ready for review, s:1, automerge, 8.x

#1441 fix(radio): Align radio group button
  modules/react/radio/lib/RadioGroup.tsx
  modules/react/radio/stories/examples/Basic.tsx
Labels: bug, 7.x, automerge

#1677 fix(button): Make icon-only tertiary button themeable
  modules/react/button/lib/TertiaryButton.tsx
  modules/react/button/stories/button/Button.stories.mdx
  modules/react/button/stories/visual-testing/stories_PrimaryButton.tsx
  modules/react/button/stories/visual-testing/stories_SecondaryButton.tsx
  modules/react/button/stories/visual-testing/stories_TertiaryButton.tsx
Labels: bug, ready for review, 7.x, automerge

#1686 chore: Merge prerelease/minor into prerelease/major
  modules/react/button/lib/TertiaryButton.tsx
  modules/react/button/stories/button/Button.stories.mdx
  modules/react/button/stories/visual-testing/stories_PrimaryButton.tsx
  modules/react/button/stories/visual-testing/stories_SecondaryButton.tsx
  modules/react/button/stories/visual-testing/stories_TertiaryButton.tsx
Labels: automerge

#1687 docs: Update ActionBar upgrade guide docs
  modules/docs/mdx/7.0-UPGRADE-GUIDE.mdx
Labels: documentation, ready for review, s:1, 7.x, automerge

#1655 chore: Bump Storybook to 6.5 version with react 18 support
  .storybook/main.js
  .storybook/preview-head.html
  babel.config.js
  cypress/helpers/stories.ts
  cypress/integration/Breadcrumbs.spec.ts
  cypress/integration/Button.spec.ts
  cypress/integration/Popup.spec.ts
  cypress/integration/SelectPreview.spec.ts
  cypress/integration/Tooltip.spec.ts
  cypress/support/cypress-plugin-tab.js
  cypress/support/index.ts
  jest/setupTests.ts
  package.json
  utils/storybook/CanvasProviderDecorator.tsx
  yarn.lock
Labels: dependencies, automerge, 8.x

#1701 fix: Add missing `Popper` props to `Popup.Popper`
  modules/react/popup/lib/PopupPopper.tsx
Labels: automerge

#1697 fix: Remove circular dependencies between monorepo packages
  modules/labs-react/combobox/lib/AutocompleteList.tsx
  modules/labs-react/combobox/lib/Combobox.tsx
  modules/labs-react/package.json
  modules/labs-react/search-form/lib/SearchForm.tsx
  modules/preview-react/menu/lib/MenuItem.tsx
  modules/react/package.json
  utils/check-dependencies-exist.js
Labels: automerge

#1646 feat: Add Grid component
  modules/preview-react/select/index.ts
  modules/react-fonts/index.ts
  modules/react/checkbox/index.ts
  modules/react/color-picker/index.ts
  modules/react/form-field/index.ts
  modules/react/layout/index.ts
  modules/react/layout/lib/Grid.tsx
  modules/react/layout/lib/Stack.tsx
  modules/react/layout/lib/utils/grid.ts
  modules/react/layout/lib/utils/gridItem.ts
  modules/react/layout/spec/grid.spec.ts
  modules/react/layout/spec/gridItem.spec.ts
  modules/react/layout/stories/Grid.stories.mdx
  modules/react/layout/stories/examples/Grid/GridCard.tsx
  modules/react/layout/stories/examples/Grid/GridLayout.tsx
  modules/react/layout/stories/examples/Grid/GridLayoutInteractive.tsx
  modules/react/layout/stories/examples/Grid/UIExample.tsx
  modules/react/layout/stories/examples/PropTables.splitprops.tsx
  modules/react/layout/stories/stories_GridVisualTesting.tsx
  modules/react/text-input/index.ts
Labels: new-component, approved, 8.x
