Repository Workday/canvas-kit, pull requests merged in 2023-06, with the labels that each got.

#2240 fix: Replace overflow on Table
  modules/preview-react/table/lib/Table.tsx
Labels: ready for review, automerge

#2229 feat: Update space and depth tokens to rem
  modules/docs/mdx/10.0-UPGRADE_GUIDE.mdx
  modules/labs-react/search-form/lib/SearchForm.tsx
  modules/preview-react/select/lib/SelectBase.tsx
  modules/preview-react/select/lib/SelectMenu.tsx
  modules/preview-react/text-area/lib/TextAreaField.tsx
  modules/react/action-bar/stories/visual-testing/stories_action-bar.tsx
  modules/react/button/lib/BaseButton.tsx
  modules/react/checkbox/lib/Checkbox.tsx
  modules/react/layout/spec/depth.spec.ts
  modules/react/layout/spec/flex.spec.ts
  modules/react/layout/spec/grid.spec.ts
  modules/react/layout/spec/space.spec.ts
  modules/react/radio/lib/Radio.tsx
  modules/react/select/lib/Select.tsx
  modules/react/table/lib/TableRow.tsx
  modules/react/text-area/lib/TextArea.tsx
  modules/react/text-input/lib/TextInput.tsx
  modules/react/tokens/README.md
  modules/react/tokens/index.ts
  modules/react/tokens/lib/depth.ts
  modules/react/tokens/lib/space.ts
  modules/react/tooltip/lib/TooltipContainer.tsx
Labels: automerge

#2245 fix: Fix Popper imports
  modules/react/popup/lib/Popper.tsx
  modules/react/popup/lib/fallbackPlacements.ts
  modules/react/popup/spec/Popper.spec.tsx
Labels: automerge

#2251 fix: Change Popup imports to prevent circular dependencies
  modules/react/popup/lib/hooks/useCloseOnTargetHidden.ts
  modules/react/popup/lib/hooks/usePopupModel.ts
Labels: automerge

#2254 fix(collection): Default `T` to `any` to allow overriding children types
  modules/react/collection/lib/useListModel.tsx
Labels: automerge

#2255 fix: Popper placements export in fallbackPlacements
  modules/react/popup/lib/fallbackPlacements.ts
Labels: approved, automerge

#2260 docs: Update comment describing accessibleHide utility
  modules/react/common/lib/styles/accessibleHide.ts
Labels: automerge

#2252 docs: Add codemod preamble
  modules/docs/mdx/9.0-UPGRADE-GUIDE.mdx
Labels: automerge

#2247 feat: Remove Menu Preview
  cypress/integration/MenuPreview.spec.ts
  modules/docs/mdx/10.0-UPGRADE_GUIDE.mdx
  modules/labs-react/combobox/spec/Combobox.spec.tsx
  modules/labs-react/combobox/spec/SSR.spec.tsx
  modules/labs-react/combobox/stories/stories.tsx
  modules/labs-react/search-form/stories/examples/Basic.tsx
  modules/labs-react/search-form/stories/examples/CustomTheme.tsx
  modules/labs-react/search-form/stories/examples/Grow.tsx
  modules/labs-react/search-form/stories/examples/RTL.tsx
  modules/labs-react/search-form/stories/examples/Theming.tsx
  modules/preview-react/index.ts
  modules/preview-react/menu/LICENSE
  modules/preview-react/menu/README.md
  modules/preview-react/menu/index.ts
  modules/preview-react/menu/lib/Menu.tsx
  modules/preview-react/menu/lib/MenuItem.tsx
  modules/preview-react/menu/spec/Menu.spec.tsx
  modules/preview-react/menu/spec/tsconfig.json
  modules/preview-react/menu/stories/Menu.stories.mdx
  modules/preview-react/menu/stories/examples/Basic.tsx
  modules/preview-react/menu/stories/examples/ContextMenu.tsx
  modules/preview-react/menu/stories/examples/CustomMenuItem.tsx
  modules/preview-react/menu/stories/examples/Headers.tsx
  modules/preview-react/menu/stories/examples/Icons.tsx
  modules/preview-react/menu/stories/examples/ManyItems.tsx
  modules/preview-react/menu/stories/stories_visualTesting.tsx
  modules/preview-react/menu/stories/tsconfig.json
  modules/react/menu/index.ts
  modules/react/menu/lib/MenuItem.tsx
  modules/react/popup/stories/stories_Popper_VisualTesting.tsx
Labels: automerge, 10.x

#2261 docs: Fixed Doc Parser Naming Collision
  modules/docs/docgen/plugins/enhancedComponentParser.ts
  modules/docs/docgen/spec/createProgramFromSource.ts
  modules/docs/docgen/spec/enhancedComponentParser.spec.ts
  modules/docs/lib/widgets/enhancedComponent.tsx
Labels: documentation, automerge, 9.x

#2271 docs: Update comments about Select options prop to match actual use
  modules/preview-react/select/lib/Select.tsx
Labels: automerge

#2263 feat: Deprecated Status Indicator in Main
  .storybook/routes.js
  modules/react/status-indicator/lib/StatusIndicator.tsx
Labels: documentation, automerge, 9.x

#2244 fix: Move spreading of CSS styles to the top of a style block
  modules/preview-react/select/stories/stories_CypressTesting.tsx
  modules/react/breadcrumbs/lib/BreadcrumbsLink.tsx
  modules/react/button/lib/BaseButton.tsx
  modules/react/icon/lib/Svg.tsx
Labels: automerge

#2278 fix: Update status indicator icon color on hover
  modules/preview-react/status-indicator/lib/StatusIndicatorIcon.tsx
Labels: automerge, 8.x

#2258 fix: Fix for useFocusRedirect
  modules/react/common/lib/utils/elements.ts
  modules/react/popup/lib/hooks/useFocusRedirect.ts
Labels: automerge
