Repository Workday/canvas-kit, pull requests merged in 2023-07, with the labels that each got.

#1944 feat: Add new Radio compound component
  cypress/integration/RadioPreview.spec.ts
  modules/preview-react/index.ts
  modules/preview-react/radio/LICENSE
  modules/preview-react/radio/README.md
  modules/preview-react/radio/index.ts
  modules/preview-react/radio/lib/RadioButton.tsx
  modules/preview-react/radio/lib/RadioGroup.tsx
  modules/preview-react/radio/lib/RadioInput.tsx
  modules/preview-react/radio/lib/RadioLabel.tsx
  modules/preview-react/radio/lib/RadioText.tsx
  modules/preview-react/radio/lib/StyledRadioButton.tsx
  modules/preview-react/radio/lib/hooks/useRadioModel.tsx
  modules/preview-react/radio/spec/RadioGroup.spec.tsx
  modules/preview-react/radio/spec/RadioInput.spec.tsx
  modules/preview-react/radio/spec/RadioLabel.spec.tsx
  modules/preview-react/radio/spec/tsconfig.json
  modules/preview-react/radio/stories/Radio.stories.mdx
  modules/preview-react/radio/stories/examples/Alert.tsx
  modules/preview-react/radio/stories/examples/Basic.tsx
  modules/preview-react/radio/stories/examples/Custom.tsx
  modules/preview-react/radio/stories/examples/Disabled.tsx
  modules/preview-react/radio/stories/examples/Error.tsx
  modules/preview-react/radio/stories/examples/Inverse.tsx
  modules/preview-react/radio/stories/examples/LabelPosition.tsx
  modules/preview-react/radio/stories/examples/NoValue.tsx
  modules/preview-react/radio/stories/examples/RefForwarding.tsx
  modules/preview-react/radio/stories/examples/Required.tsx
  modules/preview-react/radio/stories/examples/StandaloneRadio.tsx
  modules/preview-react/radio/stories/stories_VisualTesting.tsx
  modules/preview-react/radio/stories/tsconfig.json
  modules/react/form-field/lib/FormField.tsx
  modules/react/form-field/stories/examples/GroupingInputs.tsx
  modules/react/radio/stories/examples/Error.tsx
Labels: automerge, 9.x

#2281 fix(checkbox): Fix indeterminate state not getting correctly applied
  cypress/integration/Checkbox.spec.ts
  modules/react/checkbox/lib/Checkbox.tsx
  modules/react/checkbox/stories/examples/Indeterminate.tsx
Labels: automerge

#2284 fix: Add ids to docs headings
  modules/docs/lib/widgetUtils.tsx
  modules/docs/lib/widgets/component.tsx
  modules/docs/lib/widgets/enhancedComponent.tsx
Labels: ready for review, automerge

#2289 fix(combobox): Do not clear the input when no item is selected
  cypress/integration/Autocomplete.spec.ts
  modules/react/combobox/lib/ComboboxInput.tsx
Labels: ready for review, automerge

#2287 docs: Update w3.org links
  modules/labs-react/expandable/lib/Expandable.tsx
  modules/preview-react/menu/lib/Menu.tsx
  modules/preview-react/menu/spec/Menu.spec.tsx
  modules/preview-react/menu/stories/Menu.stories.mdx
  modules/react/collection/lib/useListItemRovingFocus.tsx
  modules/react/collection/lib/useListModel.tsx
  modules/react/collection/stories/Collection.stories.mdx
  modules/react/menu/lib/Menu.tsx
  modules/react/menu/stories/Menu.stories.mdx
  modules/react/tabs/stories/Tabs.stories.mdx
  modules/react/tooltip/stories/Tooltip.stories.mdx
Labels: automerge

#2295 chore: Ditch a few console logs from useActionBarModel that can clutter up test logs
  modules/react/action-bar/lib/useActionBarModel.tsx
Labels: automerge

#2290 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-dots/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/expandable/lib/Expandable.tsx
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/collection/lib/useListItemRovingFocus.tsx
  modules/react/collection/lib/useListModel.tsx
  modules/react/collection/stories/Collection.stories.mdx
  modules/react/menu/lib/Menu.tsx
  modules/react/menu/stories/Menu.stories.mdx
  modules/react/package.json
  modules/react/tabs/stories/Tabs.stories.mdx
  modules/react/tooltip/stories/Tooltip.stories.mdx
Labels: automerge

#2293 fix: Polishing the expandable container component
  cypress/integration/ExpandableContainer.spec.ts
  modules/labs-react/expandable/lib/ExpandableAvatar.tsx
  modules/labs-react/expandable/stories/examples/LongTitle.tsx
Labels: automerge

#2292 fix: Changing ARIA role to switch
  cypress/integration/Switch.spec.ts
  modules/react/switch/lib/Switch.tsx
  modules/react/switch/spec/Switch.spec.tsx
Labels: approved, automerge

#2291 fix: Adding landmark regions to Action Bar examples
  cypress/integration/ActionBar.spec.ts
  modules/react/action-bar/stories/examples/Basic.tsx
  modules/react/action-bar/stories/examples/DeleteAction.tsx
  modules/react/action-bar/stories/examples/Icons.tsx
  modules/react/action-bar/stories/examples/OverflowActionBar.tsx
  modules/react/action-bar/stories/examples/OverflowActionBarCustomButtonCount.tsx
Labels: approved, automerge

#2304 fix(preview): Blur firing incorrectly onClick
  modules/preview-react/select/lib/Select.tsx
  modules/preview-react/select/lib/SelectBase.tsx
Labels: approved, automerge
