Repository Workday/canvas-kit, pull requests merged in 2023-10, with the labels that each got.

#2350 fix: Add jsdoc element in backticks for Avatar
  modules/react/avatar/lib/Avatar.tsx
Labels: automerge

#2355 fix(tabs): Slugify Tabs.Item aria-controls attribute (#2354)
  modules/react/tabs/lib/TabsItem.tsx
Labels: ready for review, automerge

#2285 chore: Refactored Button styles to use `createStyles` utility
  .storybook/preview.js
  cypress/integration/ExpandableContainer.spec.ts
  modules/docs/mdx/10.0-UPGRADE_GUIDE.mdx
  modules/preview-react/pill/lib/Pill.tsx
  modules/preview-react/pill/lib/PillIconButton.tsx
  modules/preview-react/segmented-control/lib/SegmentedControlItem.tsx
  modules/react/action-bar/stories/visual-testing/stories_action-bar.tsx
  modules/react/button/index.ts
  modules/react/button/lib/BaseButton.tsx
  modules/react/button/lib/Button.tsx
  modules/react/button/lib/DeleteButton.tsx
  modules/react/button/lib/PrimaryButton.tsx
  modules/react/button/lib/SecondaryButton.tsx
  modules/react/button/lib/TertiaryButton.tsx
  modules/react/button/lib/ToolbarDropdownButton.tsx
  modules/react/button/lib/ToolbarIconButton.tsx
  modules/react/button/lib/parts/ButtonLabelIcon.tsx
  modules/react/button/lib/types.ts
  modules/react/button/stories/button/examples/CustomStyles.tsx
  modules/react/common/lib/CanvasProvider.tsx
  modules/react/layout/lib/Box.tsx
  modules/react/package.json
  modules/react/popup/lib/PopupCloseIcon.tsx
  modules/react/segmented-control/lib/SegmentedControlButton.tsx
  package.json
  yarn.lock
Labels: automerge, 10.x

#2345 fix: Revert spaceNumber values to pixel values and deprecate it
  modules/docs/mdx/10.0-UPGRADE_GUIDE.mdx
  modules/labs-react/search-form/lib/SearchForm.tsx
  modules/preview-react/radio/lib/StyledRadioButton.tsx
  modules/preview-react/select/lib/SelectBase.tsx
  modules/react/_examples/stories/examples/MediaModal.tsx
  modules/react/action-bar/stories/visual-testing/stories_action-bar.tsx
  modules/react/checkbox/lib/Checkbox.tsx
  modules/react/combobox/stories/examples/Autocomplete.tsx
  modules/react/radio/lib/Radio.tsx
  modules/react/table/lib/Table.tsx
  modules/react/table/lib/TableRow.tsx
  modules/react/text-area/lib/TextArea.tsx
  modules/react/text-input/lib/TextInput.tsx
  modules/react/tokens/README.md
  modules/react/tokens/lib/space.ts
  modules/react/tooltip/lib/TooltipContainer.tsx
Labels: automerge, 10.x

#2363 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-dots/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/collection/lib/useListItemRegister.tsx
Labels: automerge

#2364 fix: Force PrimaryButton text color in all states
  modules/react/button/lib/PrimaryButton.tsx
Labels: ready for review, automerge

#2366 chore: Merge master into prerelease/minor
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-dots/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/button/lib/PrimaryButton.tsx
  modules/react/package.json
Labels: automerge

#2367 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-dots/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
Labels: automerge

#2370 docs: Fix Select examples
  modules/react/select/stories/examples/MenuHeight.tsx
  modules/react/select/stories/examples/Required.tsx
  modules/react/select/stories/examples/WithIcons.tsx
Labels: automerge

#2371 fix: Set a default theme in canvas provider
  modules/react/common/lib/CanvasProvider.tsx
Labels: automerge

#2358 docs: Clean up v10 Upgrade Guide
  .storybook/routes.js
  cypress/integration/Autocomplete.spec.ts
  modules/codemod/index.js
  modules/codemod/lib/v10/example.ts
  modules/codemod/lib/v10/index.ts
  modules/codemod/lib/v10/spec/example.spec.ts
  modules/codemod/lib/v10/spec/expectTransformFactory.ts
  modules/docs/mdx/10.0-UPGRADE-GUIDE.mdx
  modules/react/combobox/lib/hooks/useComboboxLoader.ts
  modules/react/popup/lib/Popper.tsx
Labels: automerge

#2372 chore(button): Add CSS Variable fallbacks
  modules/react/button/lib/BaseButton.tsx
  modules/react/button/lib/DeleteButton.tsx
  modules/react/button/lib/PrimaryButton.tsx
  modules/react/button/lib/SecondaryButton.tsx
  modules/react/button/lib/TertiaryButton.tsx
  modules/react/button/lib/ToolbarDropdownButton.tsx
  modules/react/button/lib/ToolbarIconButton.tsx
Labels: automerge, 10.x

#2373 fix: Fix version numbers
  modules/react/package.json
  modules/styling/package.json
Labels: automerge

#2375 fix: Fix commonjs styling transform
  .storybook/main.js
  modules/styling-transform/lib/styleTransform.ts
  modules/styling/stories/examples/StylingButton.tsx
Labels: ready for review, automerge

#2381 fix: Pass colors prop to basebutton and button
  modules/react/button/lib/BaseButton.tsx
  modules/react/button/lib/Button.tsx
Labels: ready for review, automerge
