Repository Workday/canvas-kit, pull requests merged in 2023-01, with the labels that each got.

#1967 chore: Merge master into prerelease/minor
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-dots/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
  modules/react/pagination/stories/examples/ResponsiveRange.tsx
  modules/react/pagination/stories/pagination.stories.mdx
Labels: automerge

#1971 chore: Merge support into master
  CHANGELOG.md
  modules/react/tooltip/stories/stories_testing.tsx
Labels: automerge

#1975 fix: Storybook sidebar highlight styling
  .storybook/manager-head.html
Labels: automerge

#1976 fix: Update links on welcome and brand logo
  .storybook/theme.js
  modules/docs/mdx/welcomePage.tsx
Labels: automerge

#1979 fix: Remove react sub folder for form field
  modules/css/form-field/stories/stories.tsx
Labels: ready for review, automerge

#1987 docs(TextArea): Update installation package name
  modules/react/text-area/stories/TextArea.stories.mdx
Labels: automerge

#1705 fix(tabs): Use mask image to display fade effect on tabs
  modules/react/tabs/lib/TabsList.tsx
Labels: automerge

#1992 chore: Merge master into prerelease/minor
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-dots/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
  modules/react/tabs/lib/TabsList.tsx
Labels: automerge

#1970 chore: Hard deprecate Drawer component
  modules/docs/mdx/9.0-UPGRADE-GUIDE.mdx
  modules/labs-react/drawer/LICENSE
  modules/labs-react/drawer/README.md
  modules/labs-react/drawer/index.ts
  modules/labs-react/drawer/lib/Drawer.tsx
  modules/labs-react/drawer/lib/DrawerHeader.tsx
  modules/labs-react/drawer/spec/Drawer.spec.tsx
  modules/labs-react/drawer/spec/tsconfig.json
  modules/labs-react/drawer/stories/stories.tsx
  modules/labs-react/drawer/stories/stories_visualTesting.tsx
  modules/labs-react/drawer/stories/tsconfig.json
  modules/labs-react/index.ts
Labels: automerge, 9.x

#1995 fix: Radio button navigation does not stay within its form
  modules/react/radio/stories/examples/Alert.tsx
  modules/react/radio/stories/examples/Basic.tsx
  modules/react/radio/stories/examples/Disabled.tsx
  modules/react/radio/stories/examples/Error.tsx
  modules/react/radio/stories/examples/Inverse.tsx
  modules/react/radio/stories/examples/LabelPosition.tsx
  modules/react/radio/stories/examples/NoValue.tsx
  modules/react/radio/stories/examples/RefForwarding.tsx
  modules/react/radio/stories/examples/Required.tsx
Labels: automerge

#1981 feat: Soft Deprecate Stack
  modules/codemod/index.js
  modules/codemod/lib/softDeprecate/Stack/index.ts
  modules/codemod/lib/softDeprecate/Stack/softDeprecateStack.ts
  modules/codemod/lib/softDeprecate/Stack/spec/expectTransformFactory.ts
  modules/codemod/lib/softDeprecate/Stack/spec/softDeprecateStack.spec.ts
  modules/react/layout/lib/Stack.tsx
  modules/react/layout/lib/utils/stack.ts
  modules/react/layout/stories/Stack.stories.mdx
Labels: approved, automerge, 8.x

#1998 docs: Add example for a simple compound component
  modules/react/_examples/stories/CompoundComponent.stories.mdx
  modules/react/_examples/stories/examples/compoundComponent/CustomCard.tsx
Labels: automerge

#2007 fix: Update to soft dep stack codemod for styled component
  modules/codemod/lib/softDeprecate/Stack/softDeprecateStack.ts
  modules/codemod/lib/softDeprecate/Stack/spec/softDeprecateStack.spec.ts
Labels: bug, automerge, 8.x

#1978 fix: Update button type for all canvas kit buttons
  modules/docs/mdx/9.0-UPGRADE-GUIDE.mdx
  modules/preview-react/color-picker/lib/ColorPicker.tsx
  modules/react/button/lib/BaseButton.tsx
Labels: approved, automerge
