Repository Workday/canvas-kit, pull requests merged in 2023-09, with the labels that each got.

#2328 fix(color-picker): Disable submit button when custom hex is invalid
  modules/preview-react/color-picker/lib/ColorPicker.tsx
Labels: automerge

#2331 fix(popup): Allow SVG elements in focus calculations
  modules/react/popup/lib/hooks/useReturnFocus.tsx
Labels: approved, automerge

#2318 refactor: Removing aria attributes from Banner component
  cypress/integration/Banner.spec.ts
  modules/docs/mdx/10.0-UPGRADE_GUIDE.mdx
  modules/react/banner/lib/Banner.tsx
  modules/react/banner/lib/hooks/index.ts
  modules/react/banner/lib/hooks/useBanner.tsx
  modules/react/banner/stories/Banner.stories.mdx
  modules/react/banner/stories/examples/IconBanner.tsx
Labels: automerge

#2335 fix: Revert removal of Menu in Preview
  cypress/integration/MenuPreview.ts
  modules/docs/mdx/10.0-UPGRADE_GUIDE.mdx
  modules/preview-react/index.ts
  modules/preview-react/menu/LICENSE
  modules/preview-react/menu/README.md
  modules/preview-react/menu/index.ts
  modules/preview-react/menu/lib/Menu.tsx
  modules/preview-react/menu/lib/MenuItem.tsx
  modules/preview-react/menu/spec/Menu.spec.tsx
  modules/preview-react/menu/spec/tsconfig.json
  modules/preview-react/menu/stories/Menu.stories.mdx
  modules/preview-react/menu/stories/examples/Basic.tsx
  modules/preview-react/menu/stories/examples/ContextMenu.tsx
  modules/preview-react/menu/stories/examples/CustomMenuItem.tsx
  modules/preview-react/menu/stories/examples/Headers.tsx
  modules/preview-react/menu/stories/examples/Icons.tsx
  modules/preview-react/menu/stories/examples/ManyItems.tsx
  modules/preview-react/menu/stories/stories_visualTesting.tsx
  modules/preview-react/menu/stories/tsconfig.json
  modules/react/banner/stories/examples/IconBanner.tsx
Labels: automerge, 10.x

#2332 feat: Deprecate InputIconContainer
  modules/docs/mdx/10.0-UPGRADE_GUIDE.mdx
  modules/react/text-input/lib/InputIconContainer.tsx
Labels: ready for review, automerge, 10.x

#2340 docs: Render type parameters in external SymbolDoc symbols
  modules/docs/lib/widgets/external.tsx
Labels: ready for review, automerge

#2344 feat: Deprecated Table in Main
  modules/docs/mdx/10.0-UPGRADE_GUIDE.mdx
  modules/react/table/lib/Table.tsx
  modules/react/table/lib/TableRow.tsx
Labels: approved, automerge, 10.x

#2342 docs: Update the docParser to prevent max call stack errors [skip release]
  modules/docs/docgen/docParser.ts
  modules/docs/docgen/plugins/componentParser.ts
  modules/docs/docgen/plugins/enhancedComponentParser.ts
  modules/docs/docgen/plugins/modelParser.ts
  modules/docs/docgen/spec/docParser.spec.ts
  modules/docs/lib/widgetUtils.tsx
Labels: automerge

#2346 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-dots/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/mdx/MAINTAINING.mdx
  modules/docs/package.json
  modules/labs-react/common/lib/theming/useThemeRTL.ts
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/menu/lib/Menu.tsx
  modules/preview-react/menu/lib/MenuItem.tsx
  modules/preview-react/package.json
  modules/preview-react/text-input/lib/hooks/useTextInputModel.ts
  modules/react-fonts/package.json
  modules/react/common/lib/utils/components.ts
  modules/react/common/lib/utils/models.ts
  modules/react/common/lib/utils/useUniqueId.ts
  modules/react/package.json
  modules/react/status-indicator/lib/StatusIndicator.tsx
  modules/react/tabs/lib/Tabs.tsx
Labels: automerge
