Repository Workday/canvas-kit, pull requests merged in 2023-05, with the labels that each got.

#2181 chore: Upgrade fsevents to a non-vulnerable version
  yarn.lock
Labels: dependencies, approved, automerge

#2173 fix: Basic Grid Example with landmark regions for screen readers
  modules/react/layout/stories/examples/Grid/Basic.tsx
Labels: ready for review, automerge

#2178 feat: Add more layout examples
  modules/react/_examples/stories/Layouts.stories.mdx
  modules/react/_examples/stories/examples/Layouts.tsx
  modules/react/_examples/stories/examples/layout/AreaColumnPositioning.tsx
  modules/react/_examples/stories/examples/layout/CustomColumnPositioning.tsx
  modules/react/_examples/stories/examples/layout/CustomColumnWidth.tsx
  modules/react/_examples/stories/examples/layout/FullWidthWith3Columns.tsx
  modules/react/_examples/stories/examples/layout/FullWidthWith3Columns2Rows.tsx
  modules/react/_examples/stories/examples/layout/Masonry.tsx
  modules/react/_examples/stories/examples/layout/ResponsiveColumns.tsx
  modules/react/_examples/stories/examples/layout/Tiled2and3Columns.tsx
  modules/react/_examples/stories/examples/layout/Tiled4and2Columns.tsx
  modules/react/layout/stories/Grid.stories.mdx
Labels: ready for review, automerge

#2182 feat(text-input): Add InputGroup component
  modules/react/common/lib/utils/components.ts
  modules/react/common/lib/utils/dispatchInputEvent.ts
  modules/react/common/lib/utils/index.ts
  modules/react/form-field/stories/visual-testing/stories_TextInput.tsx
  modules/react/text-input/index.ts
  modules/react/text-input/lib/InputGroup.tsx
  modules/react/text-input/spec/InputGroup.spec.tsx
  modules/react/text-input/stories/TextInput.stories.mdx
  modules/react/text-input/stories/examples/Icons.tsx
Labels: automerge, 9.x

#2165 fix: Replaced Soft and Hard Deprecation Naming
  modules/codemod/lib/v9/index.ts
  modules/docs/mdx/9.0-UPGRADE-GUIDE.mdx
  modules/preview-react/menu/lib/Menu.tsx
  modules/preview-react/menu/lib/MenuItem.tsx
Labels: documentation, automerge, 9.x

#2190 fix: Return the correct props from composeHooks
  modules/docs/mdx/9.0-UPGRADE-GUIDE.mdx
  modules/react/common/lib/utils/components.ts
  modules/react/common/spec/components.spec.tsx
  modules/react/menu/lib/MenuContextTarget.tsx
  modules/react/menu/lib/MenuTarget.tsx
Labels: approved, automerge

#2191 chore: Simplify composeHooks function
  modules/react/common/lib/utils/components.ts
Labels: approved, automerge

#2193 chore: Rename Combobox.spec to ComboboxLabs.spec
  cypress/integration/ComboboxLabs.spec.ts
Labels: automerge

#2192 chore: Extract keyUtils to be used in other key-based collection hooks
  modules/react/collection/lib/keyUtils.ts
  modules/react/collection/lib/useListItemRovingFocus.tsx
  modules/react/collection/lib/useListResetCursorOnBlur.tsx
Labels: approved, automerge

#2194 chore: Use index instead of identifier for cursor navigation
  modules/docs/mdx/9.0-UPGRADE-GUIDE.mdx
  modules/react/collection/lib/useBaseListModel.tsx
  modules/react/collection/lib/useCursorListModel.tsx
  modules/react/collection/spec/useCursorModel.spec.tsx
  modules/react/tabs/stories/examples/DynamicTabs.tsx
Labels: automerge

#2184 feat: Dialog Update to MDX
  modules/docs/mdx/9.0-UPGRADE-GUIDE.mdx
  modules/react/dialog/lib/Dialog.tsx
  modules/react/dialog/spec/SSR.spec.tsx
  modules/react/dialog/stories/Dialog.stories.mdx
  modules/react/dialog/stories/examples/Basic.tsx
  modules/react/dialog/stories/examples/Focus.tsx
  modules/react/dialog/stories/stories.tsx
  modules/react/popup/lib/Popup.tsx
Labels: documentation, approved, automerge, 9.x

#2195 feat(collection): Add support for string items
  modules/react/collection/lib/useCursorListModel.tsx
  modules/react/collection/lib/useListItemRegister.tsx
  modules/react/common/lib/utils/index.ts
  modules/react/common/lib/utils/slugify.ts
  modules/react/common/spec/slugify.spec.ts
  modules/react/menu/lib/MenuItem.tsx
  modules/react/tabs/lib/TabsPanel.tsx
Labels: automerge

#2202 feat(collection): Add support for string children
  modules/react/collection/index.ts
  modules/react/collection/lib/useListItemAllowChildStrings.ts
  modules/react/collection/spec/useListItemAllowChildStrings.spec.tsx
  modules/react/collection/stories/Collection.stories.mdx
  modules/react/collection/stories/examples/StringChildren.tsx
Labels: automerge

#2205 chore(collection): Move initial cursor to roving focus
  modules/docs/mdx/9.0-UPGRADE-GUIDE.mdx
  modules/react/collection/lib/useCursorListModel.tsx
  modules/react/collection/lib/useListItemRovingFocus.tsx
Labels: automerge

#2203 feat(collection): Add a list data loader
  modules/react/collection/index.ts
  modules/react/collection/lib/useCursorListModel.tsx
  modules/react/collection/lib/useListItemAllowChildStrings.ts
  modules/react/collection/lib/useListItemRovingFocus.tsx
  modules/react/collection/lib/useListLoader.ts
  modules/react/collection/spec/useListItemAllowChildStrings.spec.tsx
  modules/react/collection/stories/Collection.stories.mdx
  modules/react/collection/stories/examples/DataLoader.tsx
Labels: automerge

#2206 test(collection): Add List Loader spec
  modules/react/collection/spec/useListLoader.spec.ts
Labels: automerge

#2207 feat(text-input): Add clear icon to InputGroup
  jest/verifyComponent.tsx
  modules/react/common/lib/utils/components.ts
  modules/react/text-input/index.ts
  modules/react/text-input/lib/InputGroup.tsx
  modules/react/text-input/spec/InputGroup.spec.tsx
  modules/react/text-input/stories/examples/Icons.tsx
Labels: automerge

#2083 feat: Add combobox system
  cypress/integration/Autocomplete.spec.ts
  modules/docs/docgen/spec/enhancedComponentParser.spec.ts
  modules/docs/lib/widgets/enhancedComponent.tsx
  modules/preview-react/segmented-control/lib/hooks/useSegmentedControlItem.tsx
  modules/react/breadcrumbs/lib/BreadcrumbsItem.tsx
  modules/react/collection/index.ts
  modules/react/collection/lib/ListBox.tsx
  modules/react/collection/lib/useBaseListModel.tsx
  modules/react/collection/lib/useCursorListModel.tsx
  modules/react/collection/lib/useListActiveDescendant.ts
  modules/react/collection/lib/useListItemAllowChildStrings.ts
  modules/react/collection/lib/useListItemRegister.tsx
  modules/react/collection/lib/useListItemSelect.tsx
  modules/react/collection/lib/useListKeyboardHandler.ts
  modules/react/collection/lib/useListLoader.ts
  modules/react/collection/lib/useOverflowListItemMeasure.tsx
  modules/react/collection/lib/useOverflowListMeasure.ts
  modules/react/collection/lib/useOverflowListTarget.tsx
  modules/react/collection/lib/useSelectionListModel.tsx
  modules/react/collection/stories/Collection.stories.mdx
  modules/react/combobox/LICENSE
  modules/react/combobox/README.md
  modules/react/combobox/index.ts
  modules/react/combobox/lib/Combobox.tsx
  modules/react/combobox/lib/ComboboxCard.tsx
  modules/react/combobox/lib/ComboboxInput.tsx
  modules/react/combobox/lib/ComboboxMenu.tsx
  modules/react/combobox/lib/ComboboxMenuItem.tsx
  modules/react/combobox/lib/ComboboxMenuList.tsx
  modules/react/combobox/lib/useComboboxInputOpenWithArrowKeys.ts
  modules/react/combobox/lib/useComboboxLoader.ts
  modules/react/combobox/lib/useComboboxModel.tsx
  modules/react/combobox/spec/SSR.spec.tsx
  modules/react/combobox/spec/tsconfig.json
  modules/react/combobox/stories/Combobox.stories.mdx
  modules/react/combobox/stories/examples/Autocomplete.tsx
  modules/react/combobox/stories/tsconfig.json
  modules/react/combobox/stories/visual-testing/stories_Combobox.tsx
  modules/react/common/lib/utils/components.ts
  modules/react/common/lib/utils/models.ts
  modules/react/common/spec/components.spec.tsx
  modules/react/index.ts
  modules/react/menu/index.ts
  modules/react/menu/lib/Menu.tsx
  modules/react/menu/lib/MenuItem.tsx
  modules/react/menu/lib/MenuList.tsx
  modules/react/menu/lib/useMenuModel.tsx
  modules/react/menu/stories/Menu.stories.mdx
  modules/react/menu/stories/examples/Icons.tsx
  modules/react/modal/lib/hooks/useModalHeading.ts
  modules/react/tabs/lib/TabsItem.tsx
  modules/react/tabs/lib/TabsPanel.tsx
  modules/react/tabs/lib/useTabsModel.tsx
  utils/create-component/createReactComponent.js
  utils/create-component/templates/react/component.js
Labels: automerge

#2211 chore: Add actions for major release
  .github/workflows/dist-tag.yaml
  .github/workflows/release-major.yml
  utils/dist-tag.mjs
Labels: automerge

#2156 feat(action-bar): Add configuration option for maximum visible buttons
  cypress/integration/ActionBar.spec.ts
  modules/react/action-bar/lib/useActionBarModel.tsx
  modules/react/action-bar/stories/ActionBar.stories.mdx
  modules/react/action-bar/stories/examples/OverflowActionBar.tsx
  modules/react/action-bar/stories/examples/OverflowActionBarCustomButtonCount.tsx
  modules/react/action-bar/stories/visual-testing/stories_action-bar.tsx
Labels: automerge

#2204 fix: Focusable elements not always focused
  modules/react/common/lib/utils/changeFocus.ts
Labels: review in progress, automerge, 8.x

#2223 fix(collection): Fix SSR focus and multiple tab stops
  modules/react/collection/lib/useCursorListModel.tsx
  modules/react/collection/lib/useListItemRovingFocus.tsx
Labels: automerge, 8.x

#2228 ci: Fix canary releases
  utils/publish-canary.mjs
Labels: automerge

#2225 fix: Example Body Content Overflow with support for keyboard scroll
  modules/react/modal/stories/examples/BodyOverflow.tsx
Labels: automerge

#2230 chore: Merge master into prerelease/minor
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-dots/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/_examples/stories/SidePanelWithOverlay.stories.mdx
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/_examples/stories/SidePanel.stories.mdx
  modules/react/_examples/stories/examples/SidePanelWithNavigation.tsx
  modules/react/_examples/stories/examples/SidePanelWithOverlay.tsx
  modules/react/package.json
Labels: automerge

#2231 chore: Merge prerelease/minor into prerelease/major
  modules/react/modal/stories/examples/BodyOverflow.tsx
Labels: automerge

#2199 fix: Associating FormField hint while not in error state
  modules/react/form-field/lib/FormField.tsx
  modules/react/form-field/stories/examples/Hint.tsx
Labels: automerge

#2226 docs: Add Media Modal to examples
  modules/react/_examples/stories/MediaModal.stories.mdx
  modules/react/_examples/stories/examples/MediaModal.tsx
Labels: automerge

#2197 fix: Fixing Alert and Error radio button examples
  modules/react/radio/stories/Radio.stories.mdx
  modules/react/radio/stories/examples/Alert.tsx
  modules/react/radio/stories/examples/Error.tsx
Labels: automerge

#2239 feat: Set initial v10 codemod
  modules/codemod/index.js
  modules/codemod/lib/v10/example.ts
  modules/codemod/lib/v10/index.ts
  modules/codemod/lib/v10/spec/example.spec.ts
  modules/codemod/lib/v10/spec/expectTransformFactory.ts
Labels: automerge

#2237 chore: Adding v10 upgrade guide
  modules/docs/mdx/10.0-UPGRADE_GUIDE.mdx
Labels: automerge
