Repository Workday/canvas-kit, pull requests merged in 2023-11, with the labels that each got.

#2386 fix(select): Fix circular import statement
  modules/react/combobox/lib/Combobox.tsx
  modules/react/combobox/lib/ComboboxCard.tsx
  modules/react/combobox/lib/ComboboxInput.tsx
  modules/react/combobox/lib/ComboboxMenu.tsx
  modules/react/combobox/lib/ComboboxMenuItem.tsx
  modules/react/combobox/lib/ComboboxMenuList.tsx
  modules/react/combobox/lib/hooks/useComboboxInput.ts
  modules/react/combobox/lib/hooks/useComboboxListKeyboardHandler.ts
  modules/react/select/lib/Select.tsx
Labels: ready for review, 10.x

#2369 docs: Update README
  README.md
Labels: automerge

#2379 fix: Fix Style prop merging with cs prop
  modules/react/button/lib/BaseButton.tsx
  modules/react/button/lib/DeleteButton.tsx
  modules/react/button/lib/PrimaryButton.tsx
  modules/react/button/lib/SecondaryButton.tsx
  modules/react/button/lib/TertiaryButton.tsx
  modules/react/common/lib/CanvasProvider.tsx
  modules/react/layout/index.ts
  modules/react/layout/lib/utils/mergeStyles.ts
  modules/react/layout/spec/mergeStyles.spec.tsx
  modules/react/package.json
  modules/styling/lib/cs.ts
  modules/styling/package.json
  modules/styling/stories/API.stories.mdx
  modules/styling/stories/GettingStarted.stories.mdx
  modules/styling/stories/examples/StylingOverrides.tsx
Labels: automerge

#2385 fix: Prevent modal from overlapping on mobile devices
  modules/react/modal/lib/ModalOverlay.tsx
Labels: automerge, 9.x

#2388 chore: Merge support into master
  CHANGELOG.md
  modules/react/modal/lib/ModalOverlay.tsx
Labels: automerge

#2406 docs(select): Add controlled and uncontrolled Select examples
  modules/preview-react/_examples/stories/examples/SelectWithFormik.tsx
  modules/preview-react/_examples/stories/examples/TextInputWithReactHookForm.tsx
Labels: automerge

#2407 test: Skip autocomplete test for now
  cypress/integration/Autocomplete.spec.ts
Labels: automerge

#2411 fix(button): Allow colors to override TertiaryButton
  modules/react/button/lib/TertiaryButton.tsx
Labels: approved, automerge

#2360 docs: Modal example a11y polish
  cypress/integration/Modal.spec.ts
  modules/react/modal/stories/examples/CustomFocus.tsx
  modules/react/modal/stories/examples/FullOverflow.tsx
  modules/react/modal/stories/examples/WithoutCloseIcon.tsx
Labels: automerge

#2410 fix(select): Remove visual selection on Select input
  modules/react/select/lib/Select.tsx
Labels: automerge

#2408 fix: Update cs prop to create a class instead of style
  babel.config.js
  modules/styling/lib/cs.ts
  modules/styling/spec/cs.spec.ts
  package.json
Labels: automerge

#2419 fix: Table in preview export fix
  modules/preview-react/index.ts
Labels: automerge, 9.x

#2421 fix(select): Set initial selected id to the text value
  modules/react/select/lib/hooks/useSelectInput.ts
Labels: automerge, 10.x

#2427 fix: Check for undefined error in radio group
  cypress/integration/Autocomplete.spec.ts
  modules/preview-react/radio/lib/RadioGroup.tsx
Labels: automerge

#2422 chore: Merge support into master
  CHANGELOG.md
  cypress/integration/MenuPreview.ts
  cypress/integration/Modal.spec.ts
  modules/labs-react/combobox/stories/stories.tsx
  modules/preview-react/index.ts
  modules/react/text-input/lib/InputIconContainer.tsx
Labels: automerge

#2431 fix: Quiet InputProvider logs for SSR
  modules/react/common/lib/InputProvider.tsx
Labels: automerge

#2433 chore: Merge support into master
  CHANGELOG.md
  modules/preview-react/radio/lib/RadioGroup.tsx
  modules/react/common/lib/InputProvider.tsx
Labels: automerge

#2437 fix: Fixes popperOptions rerendering bug
  modules/react/menu/lib/MenuPopper.tsx
  modules/react/popup/lib/PopupPopper.tsx
Labels: approved, automerge
