Repository Workday/canvas-kit, pull requests merged in 2023-08, with the labels that each got.

#2305 fix(preview): Fixes undefined id and aria-describedby in TextInput
  modules/preview-react/form-field/lib/hooks/useFormFieldInput.tsx
  modules/preview-react/text-input/stories/TextInput.stories.mdx
  modules/preview-react/text-input/stories/examples/Hidden.tsx
  modules/preview-react/text-input/stories/examples/ReadOnly.tsx
Labels: ready for review, automerge

#2308 fix: Breadcrumbs first item gets cut-off when two items in array
  modules/react/breadcrumbs/lib/hooks/utils/index.ts
  modules/react/breadcrumbs/stories/stories_VisualTesting.tsx
Labels: automerge

#2312 fix: Fix color util typo
  modules/react/common/lib/utils/colorUtils.ts
Labels: approved, automerge

#2310 docs: Add documentation guidelines
  .github/PULL_REQUEST_TEMPLATE.md
  .storybook/main.js
  modules/docs/mdx/DOCUMENTATION_GUIDELINES.mdx
  modules/react/button/stories/button/Button.stories.mdx
Labels: automerge

#2313 fix: Table cell empty fix
  modules/preview-react/table/lib/TableCell.tsx
Labels: automerge

#2325 test: Add cypress tests for Pill component
  cypress/integration/PillPreview.spec.ts
  modules/preview-react/pill/stories/examples/Basic.tsx
  modules/preview-react/pill/stories/examples/WithAvatar.tsx
  modules/preview-react/pill/stories/examples/WithCount.tsx
  modules/preview-react/pill/stories/examples/WithList.tsx
  modules/preview-react/pill/stories/examples/WithReadOnly.tsx
  modules/preview-react/pill/stories/examples/WithRemovable.tsx
Labels: automerge

#2321 fix: Accessibility enhancements to preview table examples
  modules/preview-react/table/stories/examples/Basic.tsx
  modules/preview-react/table/stories/examples/BasicWithHeading.tsx
  modules/preview-react/table/stories/examples/FixedColumn.tsx
Labels: automerge
