Repository Workday/canvas-kit, pull requests merged in 2023-02, with the labels that each got.

#2010 docs: Fix typo in react-font README
  modules/react-fonts/README.md
Labels: automerge

#1996 test: Increase font delay to make chromatic happy [skip release]
  modules/react/tooltip/stories/stories_testing.tsx
Labels: approved, automerge

#1988 feat: Allow SystemIcon to use token colors
  modules/react/icon/lib/SystemIcon.tsx
  modules/react/icon/lib/utils.ts
  modules/react/icon/spec/SystemIcon.spec.tsx
  modules/react/layout/index.ts
Labels: automerge

#2016 docs: Fix Expandable prop tables
  modules/labs-react/expandable/stories/Expandable.stories.mdx
Labels: automerge, 8.x

#2019 fix: Update broken link in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: automerge

#2017 chore: Merge master into prerelease/minor
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-dots/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/expandable/stories/Expandable.stories.mdx
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
Labels: automerge

#2018 chore: Hard deprecate Layout and Column components
  modules/docs/mdx/9.0-UPGRADE-GUIDE.mdx
  modules/react/_examples/stories/Layouts.stories.mdx
  modules/react/_examples/stories/examples/Layouts.tsx
  modules/react/layout/index.ts
  modules/react/layout/lib/Column.tsx
  modules/react/layout/lib/Layout.tsx
  modules/react/layout/spec/Layout.spec.tsx
  modules/react/layout/stories/stories.tsx
Labels: approved, automerge, 9.x

#1991 fix: Allow overriding of return focus when closing a popup
  cypress/integration/Popup.spec.ts
  modules/react/popup/lib/hooks/useReturnFocus.tsx
  modules/react/popup/stories/stories_testing.tsx
Labels: automerge

#2000 docs: Cards, adding notice under 'as' usage
  modules/react/card/stories/card.stories.mdx
Labels: automerge

#2023 chore: Merge support into master
  CHANGELOG.md
  cypress/integration/Popup.spec.ts
  modules/react/popup/lib/hooks/useReturnFocus.tsx
  modules/react/popup/stories/stories_testing.tsx
Labels: automerge

#2021 chore: Add initial V9 codemod
  modules/codemod/index.js
  modules/codemod/lib/v9/__remove_this__.ts
  modules/codemod/lib/v9/index.ts
  modules/codemod/lib/v9/spec/__remove_this__.spec.ts
  modules/codemod/lib/v9/spec/expectTransformFactory.ts
  modules/docs/mdx/MAINTAINING.mdx
Labels: automerge

#2022 chore: Merge master into prerelease/minor
  CHANGELOG.md
  CONTRIBUTING.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-dots/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/card/stories/card.stories.mdx
  modules/react/package.json
Labels: automerge

#1881 docs: Add docs on model hooks and create utilities
  modules/react/common/stories/CompoundComponentUtilities.stories.mdx
  modules/react/common/stories/examples/CreateComponent.tsx
  modules/react/common/stories/examples/CreateContainer.tsx
  modules/react/common/stories/examples/CreateElemPropsHook.tsx
  modules/react/common/stories/examples/CreateModelHook.tsx
  modules/react/common/stories/examples/CreateSubcomponent.tsx
Labels: automerge

#2027 chore: Adding step to add label for PR review [skip release]
  .github/PULL_REQUEST_TEMPLATE.md
Labels: automerge

#2031 ci: Adding action to auto assign PR reviewer on label [skip release]
  .github/assign_label_reviewers.yml
  .github/workflows/pull-request-label-reviewer.yml
Labels: automerge

#2036 fix: Fixed an issue with codemod not recognizing VStack or HStack
  modules/codemod/lib/softDeprecate/Stack/softDeprecateStack.ts
  modules/codemod/lib/softDeprecate/Stack/spec/softDeprecateStack.spec.ts
Labels: bug, automerge, 8.x

#2039 ci: Changing assign reviewer action to a lottery system [skip release]
  .github/assign_label_reviewers.yml
  .github/reviewer-lottery.yml
  .github/workflows/pull-request-label-reviewer.yml
  .github/workflows/reviewer-lottery.yml
Labels: ready for review, automerge

#2026 ci: Updating project board action [skip release]
  .github/workflows/project-automations.yml
Labels: automerge

#2040 ci: Fix to invalid yml error [skip release]
  .github/workflows/reviewer-lottery.yml
Labels: automerge

#2041 chore: Merge master into prerelease/minor
  .github/workflows/project-automations.yml
Labels: automerge

#2043 chore: Merge prerelease/minor into prerelease/major
  .github/workflows/project-automations.yml
Labels: automerge

#2008 fix: Update modal padding to match mobile specs
  modules/react/modal/lib/Modal.tsx
  modules/react/modal/lib/ModalBody.tsx
  modules/react/modal/lib/ModalCard.tsx
  modules/react/modal/lib/ModalHeading.tsx
Labels: automerge

#2028 test: Modify visual testing
  cypress/integration/ActionBar.spec.ts
  cypress/integration/Breadcrumbs.spec.ts
  cypress/integration/Modal.spec.ts
  cypress/integration/Tabs.spec.ts
  modules/react/action-bar/stories/examples/Basic.tsx
  modules/react/action-bar/stories/examples/DeleteAction.tsx
  modules/react/action-bar/stories/examples/Icons.tsx
  modules/react/action-bar/stories/examples/OverflowActionBar.tsx
  modules/react/action-bar/stories/visual-testing/stories_action-bar.tsx
  modules/react/breadcrumbs/stories/examples/Overflow.tsx
  modules/react/modal/stories/stories_VisualTesting.tsx
  modules/react/tabs/stories/examples/OverflowTabs.tsx
  modules/react/tabs/stories/stories_testing.tsx
  utils/storybook/withSnapshotsEnabled.ts
Labels: automerge, 9.x

#2047 test: Update tooltip testing story to render properly
  modules/react/tooltip/stories/stories_testing.tsx
Labels: automerge

#2054 ci: Updates to lottery and project actions [skip release]
  .github/workflows/project-automations.yml
  .github/workflows/reviewer-lottery.yml
Labels: automerge

#2053 chore: Merge support into master
  CHANGELOG.md
  modules/react/tooltip/stories/stories_testing.tsx
Labels: automerge
