Repository Workday/canvas-kit, pull requests merged in 2023-04, with the labels that each got.

#2125 test: Update Toast codemod to transform before promote
  modules/codemod/lib/v9/index.ts
Labels: approved, automerge

#2129 feat: Added inset to PositionStyleProps
  modules/react/layout/lib/utils/position.ts
Labels: automerge

#2127 fix: Stack Codemod Fix
  modules/codemod/lib/v9/deprecateStack.ts
  modules/codemod/lib/v9/spec/deprecateStack.spec.ts
Labels: automerge

#2097 feat: Allow Icon components to use color tokens
  modules/react/common/lib/utils/colorUtils.ts
  modules/react/common/spec/colorUtils.spec.tsx
  modules/react/icon/lib/AccentIcon.tsx
  modules/react/icon/lib/SystemIcon.tsx
  modules/react/icon/lib/SystemIconCircle.tsx
  modules/react/icon/lib/utils.ts
  modules/react/icon/spec/AccentIcon.spec.tsx
  modules/react/icon/spec/SystemIcon.spec.tsx
Labels: automerge

#2135 chore: Update the TSconfig target to es2019
  modules/react/common/lib/utils/memoize.ts
  tsconfig.json
Labels: automerge

#2119 chore: Move useThemedRing to main package and deprecate useThemeRTL
  modules/codemod/lib/v9/index.ts
  modules/codemod/lib/v9/promoteUseThemedRing.ts
  modules/codemod/lib/v9/spec/promoteUseThemedRing.spec.ts
  modules/docs/mdx/9.0-UPGRADE-GUIDE.mdx
  modules/labs-react/common/lib/theming/index.ts
  modules/labs-react/common/lib/theming/useThemeRTL.ts
  modules/labs-react/index.ts
  modules/labs-react/package.json
  modules/preview-react/package.json
  modules/preview-react/text-area/lib/TextAreaField.tsx
  modules/preview-react/text-area/stories/examples/Alert.tsx
  modules/preview-react/text-input/lib/TextInputField.tsx
  modules/preview-react/text-input/stories/examples/Alert.tsx
  modules/preview-react/text-input/stories/examples/ThemedAlert.tsx
  modules/react/banner/lib/hooks/index.ts
  modules/react/banner/lib/hooks/useThemedPalette.ts
  modules/react/banner/stories/examples/StickyAnimation.tsx
  modules/react/common/lib/theming/index.ts
  modules/react/common/lib/theming/useThemedRing.ts
Labels: automerge

#2120 feat: Update useTheme hook
  modules/docs/mdx/9.0-UPGRADE-GUIDE.mdx
  modules/react/action-bar/lib/ActionBarList.tsx
  modules/react/common/lib/theming/README.md
  modules/react/common/lib/theming/getCanvasTheme.ts
  modules/react/common/lib/theming/index.ts
  modules/react/common/lib/theming/useTheme.ts
  modules/react/common/stories/examples/ResponsiveViewport.tsx
  modules/react/modal/lib/ModalBody.tsx
  modules/react/modal/lib/ModalCard.tsx
  modules/react/modal/lib/ModalHeading.tsx
  modules/react/modal/lib/ModalOverlay.tsx
Labels: automerge, 9.x

#2137 fix(codemod): Pass codemod options to jscodeshift script
  modules/codemod/README.md
  modules/codemod/index.js
Labels: bug, approved, automerge, 8.x

#2139 chore: Upgrade to Node 16
  .nvmrc
  .storybook/main.js
  modules/css/banner/lib/accessibility.scss
  modules/css/button/lib/accessibility-deprecated.scss
  modules/css/button/lib/accessibility.scss
  modules/css/button/lib/button-deprecated-variables.scss
  modules/css/button/lib/button-deprecated.scss
  modules/css/button/lib/button.scss
  modules/css/card/lib/card.scss
  modules/css/layout/lib/layout.scss
  modules/css/select/lib/select.scss
  modules/react/tokens/index.ts
  package.json
  utils/css-build.js
  yarn.lock
Labels: automerge

#2142 fix: Update release actions to use node 16
  .github/workflows/release-minor.yml
  .github/workflows/release.yml
Labels: automerge, 8.x

#2143 chore: Merge prerelease/minor into prerelease/major
  .github/workflows/release-minor.yml
  .github/workflows/release.yml
  .nvmrc
  .storybook/main.js
  CHANGELOG.md
  lerna.json
  modules/codemod/README.md
  modules/codemod/index.js
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/lib/accessibility.scss
  modules/css/banner/package.json
  modules/css/button/lib/accessibility-deprecated.scss
  modules/css/button/lib/accessibility.scss
  modules/css/button/lib/button-deprecated-variables.scss
  modules/css/button/lib/button-deprecated.scss
  modules/css/button/lib/button.scss
  modules/css/button/package.json
  modules/css/card/lib/card.scss
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/lib/layout.scss
  modules/css/layout/package.json
  modules/css/loading-dots/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/lib/select.scss
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/common/lib/utils/colorUtils.ts
  modules/react/common/spec/colorUtils.spec.tsx
  modules/react/icon/lib/AccentIcon.tsx
  modules/react/icon/lib/SystemIcon.tsx
  modules/react/icon/lib/SystemIconCircle.tsx
  modules/react/icon/lib/utils.ts
  modules/react/icon/spec/AccentIcon.spec.tsx
  modules/react/icon/spec/SystemIcon.spec.tsx
  modules/react/package.json
  modules/react/tokens/index.ts
  package.json
  utils/css-build.js
  yarn.lock
Labels: automerge

#2146 ci: Replace install steps by composite actions
  .github/workflows/canary.yml
  .github/workflows/forward-merge.yml
  .github/workflows/pull-request.yml
Labels: bug, automerge, 8.x

#2132 docs: Clean up v9 Upgrade Guide
  .storybook/routes.js
  modules/docs/mdx/9.0-UPGRADE-GUIDE.mdx
Labels: automerge

#2130 fix: PopupCard maxHeight calc function
  modules/react/popup/lib/PopupCard.tsx
Labels: approved, automerge

#2118 feat: Tables Component
  .storybook/routes.js
  modules/codemod/lib/v9/deprecateStack.ts
  modules/docs/docgen/spec/componentParser.spec.ts
  modules/docs/mdx/9.0-UPGRADE-GUIDE.mdx
  modules/preview-react/table/LICENSE
  modules/preview-react/table/README.md
  modules/preview-react/table/index.ts
  modules/preview-react/table/lib/Table.tsx
  modules/preview-react/table/lib/TableBody.tsx
  modules/preview-react/table/lib/TableCaption.tsx
  modules/preview-react/table/lib/TableCell.tsx
  modules/preview-react/table/lib/TableFooter.tsx
  modules/preview-react/table/lib/TableHead.tsx
  modules/preview-react/table/lib/TableHeader.tsx
  modules/preview-react/table/lib/TableRow.tsx
  modules/preview-react/table/spec/SSR.spec.tsx
  modules/preview-react/table/spec/tsconfig.json
  modules/preview-react/table/stories/Table.stories.mdx
  modules/preview-react/table/stories/examples/Basic.tsx
  modules/preview-react/table/stories/examples/BasicWithHeading.tsx
  modules/preview-react/table/stories/examples/FixedColumn.tsx
  modules/preview-react/table/stories/examples/TableWithContainer.tsx
  modules/preview-react/table/stories/stories_visualTesting.tsx
  modules/preview-react/table/stories/tsconfig.json
Labels: automerge, 9.x

#2151 chore: Merge master into prerelease/minor
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-dots/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
  modules/react/popup/lib/PopupCard.tsx
Labels: ready for review

#2150 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-dots/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/menu/lib/MenuItem.tsx
  modules/react/package.json
Labels: ready for review

#2154 fix(form-field): Forward required prop to input
  cypress/integration/FormField.spec.ts
  modules/react/form-field/lib/FormField.tsx
  modules/react/form-field/lib/Label.tsx
  modules/react/form-field/spec/FormField.spec.tsx
Labels: ready for review, automerge

#2159 docs: Fix Preview Table docs
  modules/preview-react/table/stories/Table.stories.mdx
  modules/preview-react/table/stories/examples/BasicWithHeading.tsx
  modules/preview-react/table/stories/examples/FixedColumn.tsx
  modules/preview-react/table/stories/examples/TableWithContainer.tsx
Labels: automerge

#2162 fix: Add react-dom peer-dep to main package
  modules/react/package.json
Labels: ready for review, automerge

#2166 feat: Add 'as' method with a stable reference to all component utilities
  modules/react/common/lib/utils/components.ts
  modules/react/common/spec/components.spec.tsx
Labels: ready for review, automerge

#2164 fix: Removed Table Container Example
  modules/preview-react/table/stories/Table.stories.mdx
  modules/preview-react/table/stories/examples/TableWithContainer.tsx
Labels: documentation, automerge, 9.x

#2170 fix: Update release action to support node 16
  .github/workflows/release.yml
Labels: ready for review, automerge

#2171 chore: Merge support into master
  CHANGELOG.md
  cypress/integration/FormField.spec.ts
  cypress/integration/Menu.spec.ts
  modules/react/collection/lib/useListItemSelect.tsx
  modules/react/form-field/lib/FormField.tsx
  modules/react/form-field/lib/Label.tsx
  modules/react/form-field/spec/FormField.spec.tsx
  modules/react/menu/lib/MenuItem.tsx
  modules/react/menu/stories/examples/Basic.tsx
  modules/react/tooltip/spec/useTooltip.spec.tsx
Labels: automerge

#2157 fix: BaseButton and ButtonLabelIcon extend SystemIconProps
  modules/react/button/lib/BaseButton.tsx
  modules/react/button/lib/parts/ButtonLabelIcon.tsx
Labels: approved, automerge

#2168 fix: Only pass correct model to model components when using 'as'
  modules/react/common/lib/utils/components.ts
  modules/react/common/lib/utils/models.ts
  modules/react/common/spec/components.spec.tsx
  modules/react/common/spec/components.test-d.tsx
Labels: automerge

#2176 chore: Add option to skip docgen
  .storybook/main.js
Labels: automerge

#2180 chore: Remove unused composeModelHooks function
  modules/docs/mdx/9.0-UPGRADE-GUIDE.mdx
  modules/react/common/lib/utils/components.ts
Labels: ready for review, automerge
