Repository Workday/canvas-kit, pull requests merged in 2023-03, with the labels that each got.

#2057 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-dots/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
  modules/react/tooltip/stories/stories_testing.tsx
Labels: automerge

#2065 chore: Merge master into prerelease/minor
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-dots/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
  modules/react/tooltip/lib/useTooltip.tsx
  modules/react/tooltip/spec/useTooltip.spec.tsx
Labels: automerge

#2074 fix: Remove style attribute on Expandable Title
  modules/labs-react/expandable/lib/ExpandableTitle.tsx
Labels: automerge

#2075 chore: Update browserlist config for eslint compat/compat [skip release]
  package.json
Labels: automerge

#2034 chore: Remove lodash dependency from canvas-kit
  modules/docs/mdx/9.0-UPGRADE-GUIDE.mdx
  modules/react/common/lib/styles/focusRing.ts
  modules/react/common/lib/theming/createCanvasTheme.ts
  modules/react/common/lib/theming/getObjectProxy.ts
  modules/react/common/lib/theming/useTheme.ts
  modules/react/common/lib/utils/deepMerge.ts
  modules/react/common/lib/utils/memoize.ts
  modules/react/common/spec/createCanvasTheme.spec.tsx
  modules/react/common/spec/focusRing.spec.ts
  modules/react/common/spec/getObjectProxy.spec.tsx
  modules/react/package.json
  modules/react/popup/spec/getTransformFromPopper.spec.ts
  modules/react/side-panel/lib/SidePanel.tsx
  modules/react/tokens/lib/type/fontFamilies.ts
  package.json
Labels: dependencies, automerge

#2072 docs: Add breadcrumbs to symbol doc dialog for nested symbols
  modules/docs/lib/widgetUtils.tsx
Labels: automerge

#2079 chore: Merge master into prerelease/minor
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-dots/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/lib/widgetUtils.tsx
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
Labels: automerge

#2085 docs: Filter out model props in container components
  modules/docs/docgen/plugins/enhancedComponentParser.ts
Labels: automerge

#2078 docs: Move Box, Flex, and Grid to a new Layout Folder in Storybook
  .storybook/routes.js
  modules/react/layout/stories/Box.stories.mdx
  modules/react/layout/stories/Flex.stories.mdx
  modules/react/layout/stories/Grid.stories.mdx
  modules/react/layout/stories/Stack.stories.mdx
  modules/react/layout/stories/stories_BoxVisualTesting.tsx
  modules/react/layout/stories/stories_FlexVisualTesting.tsx
  modules/react/layout/stories/stories_GridVisualTesting.tsx
  modules/react/layout/stories/stories_StackVisualTesting.tsx
Labels: automerge

#2090 chore: Merge master into prerelease/minor
  .storybook/routes.js
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-dots/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/layout/stories/Box.stories.mdx
  modules/react/layout/stories/Flex.stories.mdx
  modules/react/layout/stories/Grid.stories.mdx
  modules/react/layout/stories/Stack.stories.mdx
  modules/react/layout/stories/stories_BoxVisualTesting.tsx
  modules/react/layout/stories/stories_FlexVisualTesting.tsx
  modules/react/layout/stories/stories_GridVisualTesting.tsx
  modules/react/layout/stories/stories_StackVisualTesting.tsx
  modules/react/package.json
Labels: ready for review

#2096 fix(collection): Correctly use custom getId
  modules/react/collection/lib/useCursorListModel.tsx
  modules/react/collection/lib/useListItemRovingFocus.tsx
  modules/react/tabs/stories/examples/DynamicTabs.tsx
Labels: automerge

#2103 chore: Merge support into master
  CHANGELOG.md
  modules/react/collection/lib/useCursorListModel.tsx
  modules/react/collection/lib/useListItemRovingFocus.tsx
  modules/react/tabs/stories/examples/DynamicTabs.tsx
Labels: automerge

#2044 feat: Promote labs Toast to Main
  cypress/integration/Toast.spec.ts
  cypress/integration/ToastLabs.spec.ts
  modules/codemod/lib/v9/compoundToast.ts
  modules/codemod/lib/v9/index.ts
  modules/codemod/lib/v9/promoteToast.ts
  modules/codemod/lib/v9/spec/compoundToast.spec.ts
  modules/codemod/lib/v9/spec/promoteToast.spec.ts
  modules/docs/mdx/9.0-UPGRADE-GUIDE.mdx
  modules/labs-react/index.ts
  modules/labs-react/toast/LICENSE
  modules/labs-react/toast/README.md
  modules/labs-react/toast/index.ts
  modules/labs-react/toast/lib/Toast.tsx
  modules/labs-react/toast/lib/ToastBody.tsx
  modules/labs-react/toast/lib/ToastCloseIcon.tsx
  modules/labs-react/toast/lib/ToastLink.tsx
  modules/labs-react/toast/lib/ToastMessage.tsx
  modules/labs-react/toast/spec/Toast.spec.tsx
  modules/labs-react/toast/spec/tsconfig.json
  modules/labs-react/toast/stories/examples/RTL.tsx
  modules/labs-react/toast/stories/examples/WithActionLinkAndCloseIcon.tsx
  modules/labs-react/toast/stories/examples/WithCloseButton.tsx
  modules/labs-react/toast/stories/examples/WithPopper.tsx
  modules/labs-react/toast/stories/stories_VisualTesting.tsx
  modules/labs-react/toast/stories/toast.stories.mdx
  modules/labs-react/toast/stories/tsconfig.json
  modules/react/popup/lib/PopupCloseIcon.tsx
  modules/react/toast/LICENSE
  modules/react/toast/README.md
  modules/react/toast/index.ts
  modules/react/toast/lib/Toast.tsx
  modules/react/toast/lib/ToastBody.tsx
  modules/react/toast/lib/ToastCloseIcon.tsx
  modules/react/toast/lib/ToastIcon.tsx
  modules/react/toast/lib/ToastLink.tsx
  modules/react/toast/lib/ToastMessage.tsx
  modules/react/toast/lib/hooks/useToastModel.tsx
  modules/react/toast/spec/Toast.spec.tsx
  modules/react/toast/spec/ToastCloseIcon.spec.tsx
  modules/react/toast/spec/ToastLink.spec.tsx
  modules/react/toast/stories/examples/Basic.tsx
  modules/react/toast/stories/examples/Error.tsx
  modules/react/toast/stories/examples/RTL.tsx
  modules/react/toast/stories/examples/Success.tsx
  modules/react/toast/stories/examples/ToastAlert.tsx
  modules/react/toast/stories/examples/ToastDialog.tsx
  modules/react/toast/stories/examples/WithActionLink.tsx
  modules/react/toast/stories/examples/WithActionLinkAndCloseIcon.tsx
  modules/react/toast/stories/examples/WithCloseButton.tsx
  modules/react/toast/stories/examples/WithPopper.tsx
  modules/react/toast/stories/stories_visualTesting.tsx
  modules/react/toast/stories/toast.stories.mdx
  modules/react/toast/stories/tsconfig.json
  modules/react/tooltip/spec/useTooltip.spec.tsx
  utils/custom-lint-rules/use-ck-slash-imports.spec.ts
Labels: review in progress, automerge, 9.x

#2102 chore: Update release workflows
  .github/workflows/release-minor.yml
  .github/workflows/release.yml
Labels: automerge, 8.x

#2109 chore: Merge master into prerelease/minor
  .github/workflows/release-minor.yml
  .github/workflows/release.yml
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-dots/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
Labels: automerge

#2091 fix: Modify depth values to improve visual design
  modules/docs/mdx/9.0-UPGRADE-GUIDE.mdx
  modules/react/layout/spec/depth.spec.ts
  modules/react/tokens/lib/depth.ts
  modules/react/tokens/stories/examples/Tokens.tsx
Labels: automerge

#2110 chore: Merge prerelease/minor into prerelease/major
  .github/workflows/release-minor.yml
  .github/workflows/release.yml
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-dots/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
Labels: automerge

#2113 docs: Added doc for Delete Button story
  modules/react/button/stories/button/Button.stories.mdx
Labels: automerge

#2114 chore: Merge master into prerelease/minor
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-dots/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/button/stories/button/Button.stories.mdx
  modules/react/package.json
Labels: ready for review

#2115 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css-fonts/package.json
  modules/css/action-bar/package.json
  modules/css/badge/package.json
  modules/css/banner/package.json
  modules/css/button/package.json
  modules/css/card/package.json
  modules/css/checkbox/package.json
  modules/css/common/package.json
  modules/css/core/package.json
  modules/css/form-field/package.json
  modules/css/icon/package.json
  modules/css/layout/package.json
  modules/css/loading-dots/package.json
  modules/css/menu/package.json
  modules/css/modal/package.json
  modules/css/package.json
  modules/css/page-header/package.json
  modules/css/popup/package.json
  modules/css/radio/package.json
  modules/css/select/package.json
  modules/css/table/package.json
  modules/css/text-area/package.json
  modules/css/text-input/package.json
  modules/css/tooltip/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/button/stories/button/Button.stories.mdx
  modules/react/package.json
Labels: automerge

#2108 fix: Clean up toast documentation
  .storybook/routes.js
  cypress/integration/Toast.spec.ts
  modules/react/toast/stories/examples/RTL.tsx
  modules/react/toast/stories/examples/WithActionLinkAndCloseIcon.tsx
  modules/react/toast/stories/examples/WithCloseButton.tsx
  modules/react/toast/stories/examples/WithPopper.tsx
  modules/react/toast/stories/toast.stories.mdx
Labels: approved, automerge

#2122 fix: Extract the correct ref with a styled component
  modules/react/common/lib/utils/components.ts
  modules/react/common/spec/components.test-d.tsx
Labels: ready for review, automerge
