Repository Workday/canvas-kit, pull requests merged in 2024-09, with the labels that each got.

#2906 fix: Updated ButtonColors interface to deprecated focusRing from focus
  modules/docs/lib/Value.tsx
  modules/react/button/lib/types.ts
  modules/react/button/stories/button/examples/CustomStyles.tsx
Labels: automerge

#2909 chore: Merge support into master
  CHANGELOG.md
  modules/docs/lib/Value.tsx
  modules/react/button/lib/types.ts
  modules/react/button/stories/button/examples/CustomStyles.tsx
  modules/styling/package.json
Labels: automerge

#2897 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/lib/Value.tsx
  modules/docs/package.json
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/color-picker/lib/ColorPicker.tsx
  modules/preview-react/color-picker/lib/parts/SwatchBook.tsx
  modules/preview-react/color-picker/spec/ColorPicker.spec.tsx
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/button/lib/types.ts
  modules/react/button/stories/button/examples/CustomStyles.tsx
  modules/react/package.json
  modules/styling-transform/package.json
  modules/styling/package.json
Labels: automerge

#2903 docs: Fixing NotificationBadge storybook example
  modules/react/_examples/stories/examples/AriaLiveRegions/IconButtonsWithLiveBadges.tsx
  modules/react/badge/stories/CountBadge.stories.mdx
  modules/react/badge/stories/examples/NotificationBadge.tsx
Labels: automerge

#2920 fix: Handle empty stack ref in useAssistiveHideSiblings
  modules/react/popup/lib/hooks/useAssistiveHideSiblings.ts
Labels: automerge, 10.x

#2924 chore: Merge support into master
  CHANGELOG.md
  modules/react/popup/lib/hooks/useAssistiveHideSiblings.ts
  modules/styling/package.json
Labels: automerge

#2922 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/package.json
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/badge/stories/CountBadge.mdx
  modules/react/badge/stories/examples/NotificationBadge.tsx
  modules/react/package.json
  modules/styling-transform/package.json
  modules/styling/package.json
  yarn.lock
Labels: automerge

#2927 fix(search-form): Show ellipsis when placeholder overflows
  modules/labs-react/search-form/lib/SearchForm.tsx
Labels: automerge, 10.x

#2913 chore: Updated unique id generation for classnames
  .storybook/preview.js
  modules/docs/lib/ExampleCodeBlock.tsx
  modules/docs/mdx/12.0-UPGRADE-GUIDE.mdx
  modules/react/layout/spec/mergeStyles.spec.tsx
  modules/styling-transform/lib/utils/createStyleObjectNode.ts
  modules/styling/lib/cs.ts
  modules/styling/spec/cs.spec.tsx
Labels: automerge, 12.x

#2932 fix: Allow inherit background color on system icon
  modules/react/icon/lib/SystemIcon.tsx
Labels: automerge

#2929 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/package.json
  modules/labs-css/expandable.css
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/labs-react/search-form/lib/SearchForm.tsx
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/icon/lib/SystemIcon.tsx
  modules/react/package.json
  modules/react/popup/lib/hooks/useAssistiveHideSiblings.ts
  modules/styling-transform/package.json
  modules/styling/package.json
Labels: automerge

#2935 feat(text-input): Support CSS Variables in InputGroup
  modules/react/text-input/lib/InputGroup.tsx
  modules/styling/lib/cs.ts
Labels: automerge, 12.x

#2936 chore: Upgrade Guide Cleanup
  modules/docs/mdx/12.0-UPGRADE-GUIDE.mdx
Labels: automerge, 12.x
