Repository Workday/canvas-kit, pull requests merged in 2024-07, with the labels that each got.

#2816 fix: Fix backwards compatibility with colors prop for buttons
  modules/react/button/lib/DeleteButton.tsx
  modules/react/button/lib/PrimaryButton.tsx
  modules/react/button/lib/SecondaryButton.tsx
  modules/react/button/lib/TertiaryButton.tsx
  modules/react/button/stories/button/examples/CustomStyles.tsx
Labels: ready for review, automerge

#2819 fix: Prevent style-only props from being forwarded to elements
  modules/labs-react/combobox/lib/Combobox.tsx
  modules/labs-react/expandable/lib/ExpandableIcon.tsx
  modules/labs-react/search-form/lib/SearchForm.tsx
  modules/react/avatar/lib/Avatar.tsx
  modules/react/common/lib/theming/index.ts
  modules/react/common/lib/theming/styled.ts
  modules/react/skeleton/lib/parts/skeletonText.tsx
  modules/react/tabs/lib/TabsList.tsx
Labels: automerge

#2812 fix: Upgrade vulnerable packages for security
  modules/codemod/package.json
  package.json
  yarn.lock
Labels: automerge, security

#2822 fix(select): Add conditional for Select in React.StrictMode
  modules/react/select/lib/Select.tsx
  modules/react/select/spec/Select.spec.tsx
Labels: automerge

#2796 chore: Removed Select in Preview
  cypress/integration/SelectPreview.spec.ts
  modules/docs/mdx/12.0-UPGRADE-GUIDE.mdx
  modules/preview-react/index.ts
  modules/preview-react/select/LICENSE
  modules/preview-react/select/README.md
  modules/preview-react/select/index.ts
  modules/preview-react/select/lib/Select.tsx
  modules/preview-react/select/lib/SelectBase.tsx
  modules/preview-react/select/lib/SelectMenu.tsx
  modules/preview-react/select/lib/SelectOption.tsx
  modules/preview-react/select/lib/scrolling.ts
  modules/preview-react/select/lib/types.ts
  modules/preview-react/select/lib/utils.ts
  modules/preview-react/select/spec/SSR.spec.tsx
  modules/preview-react/select/spec/Select.spec.tsx
  modules/preview-react/select/spec/tsconfig.json
  modules/preview-react/select/stories/stories.tsx
  modules/preview-react/select/stories/stories_CypressTesting.tsx
  modules/preview-react/select/stories/stories_visualTesting.tsx
  modules/preview-react/select/stories/tsconfig.json
  modules/react/modal/stories/examples/ReturnFocus.tsx
Labels: automerge, 12.x

#2823 chore: Merge support into master
  CHANGELOG.md
  modules/react/select/lib/Select.tsx
  modules/react/select/spec/Select.spec.tsx
  modules/styling/package.json
Labels: automerge

#2818 docs: Fixing and updating the AriaLiveRegion storybook examples
  modules/react/_examples/stories/AriaLiveRegions.stories.mdx
  modules/react/_examples/stories/examples/AriaLiveRegions/FilterListWithLiveStatus.tsx
  modules/react/_examples/stories/examples/AriaLiveRegions/HiddenLiveRegion.tsx
  modules/react/_examples/stories/examples/AriaLiveRegions/IconButtonsWithLiveBadges.tsx
  modules/react/_examples/stories/examples/AriaLiveRegions/TextInputWithLiveError.tsx
  modules/react/_examples/stories/examples/AriaLiveRegions/VisibleLiveRegion.tsx
  modules/react/_examples/stories/examples/common/HiddenLiveRegion.tsx
  modules/react/_examples/stories/examples/common/TextInputWithLiveError.tsx
  modules/react/_examples/stories/examples/common/VisibleLiveRegion.tsx
Labels: automerge

#2833 fix(avatar): Lazy load avatar images
  modules/react/avatar/lib/Avatar.tsx
  modules/react/avatar/stories/stories.tsx
Labels: ready for review, automerge

#2834 fix(avatar): Lazy load avatar images
  modules/react/avatar/lib/Avatar.tsx
  modules/react/avatar/stories/stories.tsx
Labels: ready for review, automerge

#2795 chore: Modal, Dialog, Popup and Toast Styles Refactor
  modules/docs/mdx/12.0-UPGRADE-GUIDE.mdx
  modules/react/common/lib/utils/getTranslateFromOrigin.ts
  modules/react/icon/lib/SystemIcon.tsx
  modules/react/modal/lib/ModalBody.tsx
  modules/react/modal/lib/ModalCard.tsx
  modules/react/modal/lib/ModalHeading.tsx
  modules/react/modal/lib/ModalOverflowOverlay.tsx
  modules/react/modal/lib/ModalOverlay.tsx
  modules/react/popup/lib/Popper.tsx
  modules/react/popup/lib/PopupBody.tsx
  modules/react/popup/lib/PopupCard.tsx
  modules/react/popup/lib/PopupCloseIcon.tsx
  modules/react/popup/lib/PopupHeading.tsx
  modules/react/popup/stories/examples/Basic.tsx
  modules/react/select/stories/stories_VisualTesting.tsx
  modules/react/toast/lib/Toast.tsx
  modules/react/toast/lib/ToastBody.tsx
  modules/react/toast/lib/ToastCloseIcon.tsx
  modules/react/toast/lib/ToastIcon.tsx
  modules/react/toast/lib/ToastMessage.tsx
Labels: automerge, 12.x

#2829 fix: Popups render in the target's window
  modules/popup-stack/lib/PopupStack.ts
  modules/react/popup/stories/Popup.stories.mdx
  modules/react/popup/stories/examples/ExternalWindow.tsx
Labels: ready for review, automerge

#2824 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/package.json
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/_examples/stories/AriaLiveRegions.stories.mdx
  modules/react/_examples/stories/examples/AriaLiveRegions/FilterListWithLiveStatus.tsx
  modules/react/_examples/stories/examples/AriaLiveRegions/HiddenLiveRegion.tsx
  modules/react/_examples/stories/examples/AriaLiveRegions/IconButtonsWithLiveBadges.tsx
  modules/react/_examples/stories/examples/AriaLiveRegions/TextInputWithLiveError.tsx
  modules/react/_examples/stories/examples/AriaLiveRegions/VisibleLiveRegion.tsx
  modules/react/_examples/stories/examples/common/HiddenLiveRegion.tsx
  modules/react/_examples/stories/examples/common/TextInputWithLiveError.tsx
  modules/react/_examples/stories/examples/common/VisibleLiveRegion.tsx
  modules/react/avatar/lib/Avatar.tsx
  modules/react/avatar/stories/stories.tsx
  modules/react/package.json
  modules/react/select/lib/Select.tsx
  modules/react/select/spec/Select.spec.tsx
  modules/styling-transform/package.json
  modules/styling/package.json
  yarn.lock
Labels: automerge

#2835 chore: Merge support into master
  CHANGELOG.md
  modules/popup-stack/lib/PopupStack.ts
  modules/react/popup/stories/Popup.stories.mdx
  modules/react/popup/stories/examples/ExternalWindow.tsx
  modules/styling/package.json
Labels: automerge

#2839 chore: Merge support into master
  CHANGELOG.md
  modules/styling/package.json
Labels: automerge

#2840 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/package.json
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
  modules/styling-transform/package.json
  modules/styling/package.json
Labels: automerge

#2838 chore: Removal of InputIconContainer
  modules/docs/mdx/12.0-UPGRADE-GUIDE.mdx
  modules/react/text-input/index.ts
  modules/react/text-input/lib/InputIconContainer.tsx
  modules/react/text-input/spec/InputIconContainer.spec.tsx
Labels: approved, automerge, 12.x

#2841 fix: Fix Popup ExternalWindow example import
  modules/react/popup/stories/Popup.stories.mdx
  modules/react/popup/stories/examples/ExternalWindow.tsx
Labels: automerge

#2842 chore: Merge support into master
  CHANGELOG.md
  modules/react/popup/stories/Popup.stories.mdx
  modules/react/popup/stories/examples/ExternalWindow.tsx
  modules/styling/package.json
Labels: automerge

#2843 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/package.json
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
  modules/react/popup/stories/Popup.stories.mdx
  modules/react/popup/stories/examples/ExternalWindow.tsx
  modules/styling-transform/package.json
  modules/styling/package.json
Labels: automerge

#2825 chore: Refactor TextArea and TextInput with new styling utilities
  modules/docs/mdx/12.0-UPGRADE-GUIDE.mdx
  modules/react/text-area/lib/TextArea.tsx
  modules/react/text-input/lib/TextInput.tsx
Labels: automerge, 12.x

#2844 fix: Support marginTop and marginBottom on ListBox
  modules/react/collection/lib/ListBox.tsx
Labels: automerge

#2847 docs: Fix stencil docs typo
  modules/styling/stories/Basics.stories.mdx
Labels: documentation, automerge, 11.x

#2845 chore: Merge support into master
  CHANGELOG.md
  modules/react/collection/lib/ListBox.tsx
  modules/react/menu/lib/MenuList.tsx
  modules/styling/package.json
Labels: automerge

#2848 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/package.json
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
  modules/styling-transform/package.json
  modules/styling/package.json
  modules/styling/stories/Basics.stories.mdx
Labels: automerge
