Repository Workday/canvas-kit, pull requests merged in 2024-02, with the labels that each got.

#2541 chore: Refactor FormField in Preview to use new styling utilities and tokens
  modules/docs/mdx/11.0-UPGRADE-GUIDE.mdx
  modules/preview-react/form-field/lib/FormField.tsx
  modules/preview-react/form-field/lib/FormFieldHint.tsx
Labels: automerge

#2538 fix: SidePanel Examples aria-labelledby Update
  modules/preview-react/side-panel/stories/examples/Basic.tsx
  modules/preview-react/side-panel/stories/examples/RightOrigin.tsx
  modules/preview-react/side-panel/stories/examples/Variant.tsx
Labels: accessibility, automerge

#2550 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/preview-react/side-panel/stories/examples/Basic.tsx
  modules/preview-react/side-panel/stories/examples/RightOrigin.tsx
  modules/preview-react/side-panel/stories/examples/Variant.tsx
  modules/react-fonts/package.json
  modules/react/package.json
  modules/styling-transform/package.json
Labels: automerge

#2557 fix(preview): Changed table justifyContent to start
  modules/preview-react/table/lib/TableCell.tsx
  modules/preview-react/table/lib/TableHeader.tsx
  modules/preview-react/table/stories/Table.stories.mdx
  modules/preview-react/table/stories/examples/RightToLeft.tsx
Labels: approved, automerge, 9.x

#2554 fix: Update `aria-activedescendant` on ComboboxInput
  modules/react/combobox/lib/ComboboxInput.tsx
Labels: automerge, 9.x

#2549 fix: Only run focusRing transform inside static styles
  modules/labs-react/tsconfig.json
  modules/preview-react/tsconfig.json
  modules/react/common/lib/styles/focusRing.ts
  modules/react/tsconfig.json
  modules/styling-transform/index.ts
  modules/styling-transform/lib/createObjectTransform.ts
  modules/styling-transform/lib/createPropertyTransform.ts
  modules/styling-transform/lib/styleTransform.ts
  modules/styling-transform/lib/utils/createStyleObjectNode.ts
  modules/styling-transform/lib/utils/getErrorMessage.ts
  modules/styling-transform/lib/utils/getVarName.ts
  modules/styling-transform/lib/utils/handleCalc.ts
  modules/styling-transform/lib/utils/handleCreateStencil.ts
  modules/styling-transform/lib/utils/handleCreateStyles.ts
  modules/styling-transform/lib/utils/handleCreateVars.ts
  modules/styling-transform/lib/utils/handleCssVar.ts
  modules/styling-transform/lib/utils/handleFocusRing.ts
  modules/styling-transform/lib/utils/handleKeyframes.ts
  modules/styling-transform/lib/utils/handlePx2Rem.ts
  modules/styling-transform/lib/utils/parseNodeToStaticValue.ts
  modules/styling-transform/lib/utils/parseObjectToStaticValue.ts
  modules/styling-transform/lib/utils/stylisFns.ts
  modules/styling-transform/lib/utils/types.ts
  modules/styling-transform/package.json
  modules/styling-transform/spec/utils/createStyleObjectNode.spec.ts
  modules/styling-transform/spec/utils/getErrorMessage.spec.ts
  modules/styling-transform/spec/utils/getVarName.spec.ts
  modules/styling-transform/spec/utils/handleCalc.spec.ts
  modules/styling-transform/spec/utils/handleCreateStencil.spec.ts
  modules/styling-transform/spec/utils/handleCreateStyles.spec.ts
  modules/styling-transform/spec/utils/handleCreateVars.spec.ts
  modules/styling-transform/spec/utils/handleCssVar.spec.ts
  modules/styling-transform/spec/utils/handleFocusRing.spec.ts
  modules/styling-transform/spec/utils/handleKeyframes.spec.ts
  modules/styling-transform/spec/utils/handlePx2Rem.spec.ts
  modules/styling-transform/spec/utils/parseNodeToStaticValue.spec.ts
  modules/styling-transform/spec/utils/parseObjectToStaticValue.spec.ts
  modules/styling-transform/testing.ts
  modules/styling-transform/tsconfig.json
  styling.config.ts
  tsconfig.json
  utils/style-transform/handleFocusRing.ts
  utils/style-transform/spec/handleFocusRing.spec.ts
Labels: ready for review, automerge

#2552 docs: Update common docs
  modules/react/common/README.md
Labels: documentation, automerge, 10.x

#2558 chore: Merge support into master
  CHANGELOG.md
  cypress/integration/Select.spec.ts
  modules/preview-react/side-panel/stories/examples/RightOrigin.tsx
  modules/preview-react/table/lib/TableCell.tsx
  modules/preview-react/table/lib/TableHeader.tsx
  modules/preview-react/table/stories/Table.stories.mdx
  modules/preview-react/table/stories/examples/RightToLeft.tsx
  modules/react/combobox/lib/hooks/useComboboxInput.ts
  utils/forward-merge.js
Labels: automerge

#2457 docs: Add interactive table examples to storybook
  modules/preview-react/_examples/stories/TablesAdvanced.stories.mdx
  modules/preview-react/_examples/stories/examples/Table/WithExpandableRows.tsx
  modules/preview-react/_examples/stories/examples/Table/WithSelectableRows.tsx
  modules/preview-react/_examples/stories/examples/Table/WithSortableColumnHeaders.tsx
  modules/preview-react/table/stories/Table.stories.mdx
Labels: accessibility, documentation, approved, automerge, 10.x

#2553 chore: Add versions mdx
  modules/docs/mdx/Versions.mdx
  modules/docs/mdx/versionsTable.tsx
Labels: documentation, ready for review, automerge

#2542 chore: Refactor Checkbox styles
  modules/docs/mdx/11.0-UPGRADE-GUIDE.mdx
  modules/preview-react/side-panel/stories/examples/RightOrigin.tsx
  modules/react/checkbox/lib/CheckBackground.tsx
  modules/react/checkbox/lib/Checkbox.tsx
  modules/react/checkbox/lib/CheckboxCheck.tsx
  modules/react/checkbox/lib/CheckboxContainer.tsx
  modules/react/checkbox/lib/CheckboxInput.tsx
  modules/react/checkbox/lib/CheckboxRipple.tsx
Labels: approved, automerge, 11.x

#2564 docs: Fix Table example
  modules/preview-react/_examples/stories/examples/Table/WithSelectableRows.tsx
Labels: documentation, approved, automerge, 10.x

#2571 fix: Add CSS var fallbacks on Preview
  modules/preview-react/loading-sparkles/lib/LoadingSparkles.tsx
  modules/preview-react/package.json
  modules/preview-react/tsconfig.json
Labels: approved, automerge

#2568 ci: Fix forward-merge version conflicts [skip release]
  utils/fix-package-json-versions.js
  utils/forward-merge.js
  utils/resolve-package-json.js
  utils/spec/fix-package-json-versions.spec.ts
  utils/spec/resolve-package-json.spec.ts
Labels: approved, automerge

#2572 fix: Fix keyframes transform for commonjs modules
  modules/styling-transform/lib/utils/handleKeyframes.ts
Labels: ready for review, automerge

#2569 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/docs/mdx/Versions.mdx
  modules/docs/mdx/versionsTable.tsx
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/_examples/stories/examples/Table/WithSelectableRows.tsx
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
  modules/styling-transform/package.json
Labels: automerge

#2573 ci: Fix package.json fix syntax error [skip release]
  utils/forward-merge.js
Labels: approved, automerge

#2575 ci: Fix resolve-package-json merge file [skip release]
  utils/resolve-package-json.js
  utils/spec/resolve-package-json.spec.ts
Labels: approved, automerge

#2578 feat: Generate CSS kits from React kits
  modules/css/.gitignore
  modules/css/LICENSE
  modules/css/README.md
  modules/css/package.json
  modules/labs-css/LICENSE
  modules/labs-css/README.md
  modules/labs-css/package.json
  modules/preview-css/.gitignore
  modules/preview-css/LICENSE
  modules/preview-css/README.md
  modules/preview-css/package.json
  modules/styling-transform/lib/styleTransform.ts
  modules/styling-transform/lib/utils/types.ts
  styling.config.ts
  utils/update-css-package-version.js
Labels: approved, automerge, 11.x

#2567 chore: Table(Preview) Styles Refactor
  modules/docs/mdx/11.0-UPGRADE-GUIDE.mdx
  modules/preview-react/table/lib/Table.tsx
  modules/preview-react/table/lib/TableBody.tsx
  modules/preview-react/table/lib/TableCaption.tsx
  modules/preview-react/table/lib/TableCell.tsx
  modules/preview-react/table/lib/TableFooter.tsx
  modules/preview-react/table/lib/TableHead.tsx
  modules/preview-react/table/lib/TableHeader.tsx
  modules/preview-react/table/lib/TableRow.tsx
  modules/preview-react/table/stories/examples/FixedColumn.tsx
Labels: automerge, 11.x

#2583 chore: Switch Styles Refactor
  modules/docs/mdx/11.0-UPGRADE-GUIDE.mdx
  modules/react/switch/lib/Switch.tsx
Labels: automerge, 11.x

#2588 fix: Forward numeric style prop transform handling to Emotion
  modules/styling-transform/lib/utils/handleCalc.ts
  modules/styling-transform/lib/utils/handleCreateStencil.ts
  modules/styling-transform/lib/utils/handleCssVar.ts
  modules/styling-transform/lib/utils/handleKeyframes.ts
  modules/styling-transform/lib/utils/handlePx2Rem.ts
  modules/styling-transform/lib/utils/parseNodeToStaticValue.ts
  modules/styling-transform/lib/utils/parseObjectToStaticValue.ts
  modules/styling-transform/lib/utils/types.ts
  modules/styling-transform/spec/utils/parseNodeToStaticValue.spec.ts
  utils/style-transform/handleFocusRing.ts
Labels: automerge

#2585 chore: Updated Radio(Preview) & Table(Preview) with createStencil
  modules/preview-react/radio/lib/RadioGroup.tsx
  modules/preview-react/radio/lib/RadioLabel.tsx
  modules/preview-react/radio/lib/RadioText.tsx
  modules/preview-react/radio/lib/StyledRadioButton.tsx
  modules/preview-react/table/lib/Table.tsx
  modules/preview-react/table/lib/TableBody.tsx
  modules/preview-react/table/lib/TableCaption.tsx
  modules/preview-react/table/lib/TableCell.tsx
  modules/preview-react/table/lib/TableFooter.tsx
  modules/preview-react/table/lib/TableHead.tsx
  modules/preview-react/table/lib/TableHeader.tsx
  modules/preview-react/table/lib/TableRow.tsx
Labels: automerge, 11.x

#2604 fix: Add CSS fallback to custom transforms
  modules/react/common/lib/styles/focusRing.ts
  modules/styling-transform/index.ts
  modules/styling-transform/lib/utils/parseObjectToStaticValue.ts
  modules/styling-transform/spec/utils/parseObjectToStaticValue.spec.ts
  utils/style-transform/spec/handleFocusRing.spec.ts
Labels: automerge

#2582 feat: Add per-module prefix
  modules/styling-transform/lib/styleTransform.ts
  modules/styling-transform/lib/utils/types.ts
  styling.config.ts
Labels: automerge

#2600 chore: Table Promotion from preview
  .storybook/routes.js
  modules/docs/lib/Specifications.tsx
  modules/docs/mdx/11.0-UPGRADE-GUIDE.mdx
  modules/docs/mdx/versionsTable.tsx
  modules/preview-react/index.ts
  modules/preview-react/table/README.md
  modules/preview-react/table/index.ts
  modules/preview-react/table/lib/Table.tsx
  modules/preview-react/table/lib/TableRow.tsx
  modules/preview-react/table/spec/tsconfig.json
  modules/preview-react/table/stories/Table.stories.mdx
  modules/preview-react/table/stories/examples/Basic.tsx
  modules/preview-react/table/stories/tsconfig.json
  modules/react/_examples/stories/TablesAdvanced.stories.mdx
  modules/react/_examples/stories/examples/Table/WithExpandableRows.tsx
  modules/react/_examples/stories/examples/Table/WithSelectableRows.tsx
  modules/react/_examples/stories/examples/Table/WithSortableColumnHeaders.tsx
  modules/react/package.json
  modules/react/table/LICENSE
  modules/react/table/index.ts
  modules/react/table/lib/Table.tsx
  modules/react/table/lib/TableBody.tsx
  modules/react/table/lib/TableCaption.tsx
  modules/react/table/lib/TableCell.tsx
  modules/react/table/lib/TableFooter.tsx
  modules/react/table/lib/TableHead.tsx
  modules/react/table/lib/TableHeader.tsx
  modules/react/table/lib/TableRow.tsx
  modules/react/table/spec/SSR.spec.tsx
  modules/react/table/spec/Table.spec.tsx
  modules/react/table/spec/TableRow.spec.tsx
  modules/react/table/stories/Table.stories.mdx
  modules/react/table/stories/examples/Basic.tsx
  modules/react/table/stories/examples/BasicWithHeading.tsx
  modules/react/table/stories/examples/FixedColumn.tsx
  modules/react/table/stories/examples/RightToLeft.tsx
  modules/react/table/stories/examples/RowHeader.tsx
  modules/react/table/stories/examples/RowStates.tsx
  modules/react/table/stories/stories_visualTesting.tsx
  yarn.lock
Labels: automerge, 11.x

#2614 fix: Wrap css variables passed into stencil and vars
  modules/styling/lib/cs.ts
  modules/styling/spec/cs.spec.tsx
Labels: automerge

#2612 feat: Add support for stencil extension
  modules/styling-transform/lib/utils/handleCreateStencil.ts
  modules/styling-transform/spec/utils/handleCreateStencil.spec.ts
  modules/styling/lib/cs.ts
  modules/styling/spec/cs.spec.tsx
  modules/styling/stories/MergingStyles.stories.mdx
Labels: automerge, 11.x

#2617 fix: Fix stencil types to handle vars and deeply nested styles
  modules/styling/lib/cs.ts
  modules/styling/spec/cs.spec.tsx
Labels: automerge, 10.x
