Repository Workday/canvas-kit, pull requests merged in 2024-06, with the labels that each got.

#2766 fix: Prevent undefined from overriding model defaultConfig
  modules/react/common/lib/utils/models.ts
  modules/react/common/spec/models.spec.tsx
Labels: automerge, 10.x

#2762 chore: Updated Canvas Tokens Web Dependency to version 2.0.0
  modules/docs/package.json
  modules/preview-react/package.json
  modules/react/package.json
  modules/styling-transform/package.json
  modules/styling/package.json
  package.json
  yarn.lock
Labels: automerge, 11.x

#2760 fix(select): Update aria-haspopup to 'menu'
  cypress/integration/Select.spec.ts
  modules/react/select/lib/hooks/useSelectInput.ts
Labels: automerge, 10.x

#2764 fix: Fix backwards compatibility for hover state colors in System Icon
  modules/react/icon/lib/Svg.tsx
  modules/react/icon/lib/SystemIcon.tsx
Labels: automerge

#2770 chore: Merge support into master
  CHANGELOG.md
  cypress/integration/Select.spec.ts
  dev-site/.docusaurus/DONT-EDIT-THIS-FOLDER
  dev-site/.docusaurus/client-modules.js
  dev-site/.docusaurus/codeTranslations.json
  dev-site/.docusaurus/docusaurus-plugin-content-blog/default/__plugin.json
  dev-site/.docusaurus/docusaurus-plugin-content-blog/default/blog-post-list-prop-default.json
  dev-site/.docusaurus/docusaurus-plugin-content-blog/default/blogMetadata-default.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/__plugin.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/p/docs-175.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/p/docs-b5f.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-button-mdx-d4a.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-getting-started-mdx-6e2.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-intro-md-0e3.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-overview-mdx-92a.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-styles-overview-mdx-9a6.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tutorial-basics-congratulations-md-822.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tutorial-basics-create-a-blog-post-md-533.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tutorial-basics-create-a-document-md-1e4.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tutorial-basics-create-a-page-md-5c8.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tutorial-basics-deploy-your-site-md-f55.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tutorial-basics-markdown-features-mdx-18c.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tutorial-extras-manage-docs-versions-md-dff.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tutorial-extras-translate-your-site-md-e44.json
  dev-site/.docusaurus/docusaurus-plugin-content-pages/default/__plugin.json
  dev-site/.docusaurus/docusaurus-plugin-content-pages/default/site-src-pages-markdown-page-md-393.json
  dev-site/.docusaurus/docusaurus-plugin-debug/default/__plugin.json
  dev-site/.docusaurus/docusaurus-plugin-debug/default/p/docusaurus-debug-content-0d5.json
  dev-site/.docusaurus/docusaurus-plugin-debug/default/p/docusaurus-debug-content-4f8.json
  dev-site/.docusaurus/docusaurus.config.mjs
  dev-site/.docusaurus/globalData.json
  dev-site/.docusaurus/i18n.json
  dev-site/.docusaurus/registry.js
  dev-site/.docusaurus/routes.js
  dev-site/.docusaurus/routesChunkNames.json
  dev-site/.docusaurus/site-metadata.json
  dev-site/.docusaurus/site-storage.json
  dev-site/.docusaurus/whole-source-loader/default/__plugin.json
  modules/react/common/lib/utils/models.ts
  modules/react/common/spec/models.spec.tsx
  modules/react/select/lib/hooks/useSelectInput.ts
  modules/styling/package.json
Labels: automerge

#2771 fix: Delete unused folder [skip release]
  dev-site/.docusaurus/DONT-EDIT-THIS-FOLDER
  dev-site/.docusaurus/client-modules.js
  dev-site/.docusaurus/codeTranslations.json
  dev-site/.docusaurus/docusaurus-plugin-content-blog/default/__plugin.json
  dev-site/.docusaurus/docusaurus-plugin-content-blog/default/blog-post-list-prop-default.json
  dev-site/.docusaurus/docusaurus-plugin-content-blog/default/blogMetadata-default.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/__plugin.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/p/docs-175.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/p/docs-b5f.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-button-mdx-d4a.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-getting-started-mdx-6e2.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-intro-md-0e3.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-overview-mdx-92a.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-styles-overview-mdx-9a6.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tutorial-basics-congratulations-md-822.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tutorial-basics-create-a-blog-post-md-533.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tutorial-basics-create-a-document-md-1e4.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tutorial-basics-create-a-page-md-5c8.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tutorial-basics-deploy-your-site-md-f55.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tutorial-basics-markdown-features-mdx-18c.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tutorial-extras-manage-docs-versions-md-dff.json
  dev-site/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tutorial-extras-translate-your-site-md-e44.json
  dev-site/.docusaurus/docusaurus-plugin-content-pages/default/__plugin.json
  dev-site/.docusaurus/docusaurus-plugin-content-pages/default/site-src-pages-markdown-page-md-393.json
  dev-site/.docusaurus/docusaurus-plugin-debug/default/__plugin.json
  dev-site/.docusaurus/docusaurus-plugin-debug/default/p/docusaurus-debug-content-0d5.json
  dev-site/.docusaurus/docusaurus-plugin-debug/default/p/docusaurus-debug-content-4f8.json
  dev-site/.docusaurus/docusaurus.config.mjs
  dev-site/.docusaurus/globalData.json
  dev-site/.docusaurus/i18n.json
  dev-site/.docusaurus/registry.js
  dev-site/.docusaurus/routes.js
  dev-site/.docusaurus/routesChunkNames.json
  dev-site/.docusaurus/site-metadata.json
  dev-site/.docusaurus/site-storage.json
  dev-site/.docusaurus/whole-source-loader/default/__plugin.json
Labels: automerge

#2782 chore: Add robust example in storybook for ToolbarDropdown button
  modules/react/button/stories/stories_ToolbarButtons.tsx
Labels: automerge

#2792 docs: Add v10 to versions table
  modules/docs/mdx/versionsTable.tsx
Labels: automerge

#2790 fix: Grow Prop Fix for Buttons
  modules/react/button/lib/BaseButton.tsx
  modules/react/button/stories/button/Button.stories.mdx
  modules/react/button/stories/button/examples/Grow.tsx
  modules/react/button/stories/visual-testing/stories_ButtonGrow.tsx
Labels: bug, automerge, 10.x, 11.x

#2794 chore: Merge support into master
  CHANGELOG.md
  modules/react/button/lib/BaseButton.tsx
  modules/react/button/stories/button/Button.stories.mdx
  modules/react/button/stories/button/examples/Grow.tsx
  modules/react/button/stories/visual-testing/stories_ButtonGrow.tsx
  modules/styling/package.json
Labels: automerge

#2784 chore: Update SNYK deps to non vulnerable versions
  modules/codemod/package.json
  yarn.lock
Labels: automerge

#2813 fix: Revert jscodeshift version [skip release]
  modules/codemod/package.json
  yarn.lock
Labels: automerge
