Repository Workday/canvas-kit, pull requests merged in 2024-11, with the labels that each got.

#2991 feat: Add backgroundColor var on LoadingDots
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  modules/react/loading-dots/lib/LoadingDots.tsx
  modules/react/loading-dots/stories/LoadingDots.mdx
  modules/react/loading-dots/stories/LoadingDots.stories.ts
  modules/react/loading-dots/stories/examples/Accessible.tsx
  modules/react/loading-dots/stories/examples/CustomColorAndAnimation.tsx
  modules/react/loading-dots/stories/examples/CustomShape.tsx
Labels: automerge

#3022 chore: Merge support into master
  CHANGELOG.md
  modules/react/collection/lib/useOverflowListModel.tsx
  modules/react/collection/spec/useOverflowModel.spec.tsx
Labels: automerge

#3023 chore: Merge master into prerelease/minor
  CHANGELOG.md
  cypress/component/Select.spec.tsx
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/package.json
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/collection/lib/useOverflowListModel.tsx
  modules/react/collection/spec/useOverflowModel.spec.tsx
  modules/react/package.json
  modules/styling-transform/package.json
  modules/styling/package.json
Labels: automerge

#3027 ci: Updated forward merge yml
  .github/workflows/forward-merge.yml
Labels: infra, automerge, 12.x

#3029 fix: Add gap to overflow calculations
  modules/react/collection/lib/useOverflowListMeasure.ts
Labels: ready for review, automerge

#3031 fix: SystemIcon supports rem by default
  modules/react/icon/lib/SystemIcon.tsx
Labels: automerge

#3009 ci: Update node version in our github actions [skip release]
  .github/workflows/canary.yml
  .github/workflows/dist-tag.yaml
  .github/workflows/forward-merge.yml
  .github/workflows/pull-request.yml
  .github/workflows/release-major.yml
  .github/workflows/release-minor.yml
  .github/workflows/release.yml
Labels: automerge

#3016 chore: SNYK Security upgrade jscodeshift from 0.14.0 to 17.1.0
  modules/codemod/package.json
  yarn.lock
Labels: automerge

#3035 feat(collection): Add vertical overflow support
  modules/react/collection/lib/useOverflowListItemMeasure.tsx
  modules/react/collection/lib/useOverflowListMeasure.ts
  modules/react/collection/lib/useOverflowListModel.tsx
  modules/react/collection/lib/useOverflowListTarget.tsx
  modules/react/collection/spec/useOverflowModel.spec.tsx
  modules/react/collection/stories/mdx/Collection.mdx
  modules/react/collection/stories/mdx/examples/OverflowVerticalList.tsx
Labels: automerge

#3036 feat(collection): Add removable support
  cypress/component/Tabs.spec.tsx
  modules/preview-react/multi-select/lib/MultiSelectInput.tsx
  modules/preview-react/multi-select/lib/MultiSelectedItem.tsx
  modules/preview-react/multi-select/lib/MultiSelectedList.tsx
  modules/preview-react/multi-select/lib/useMultiSelectItemRemove.ts
  modules/preview-react/multi-select/lib/useMultiSelectModel.ts
  modules/preview-react/multi-select/stories/examples/Basic.tsx
  modules/preview-react/multi-select/stories/examples/Complex.tsx
  modules/preview-react/multi-select/stories/examples/Controlled.tsx
  modules/preview-react/multi-select/stories/examples/Icons.tsx
  modules/preview-react/multi-select/stories/examples/Searching.tsx
  modules/react/collection/index.ts
  modules/react/collection/lib/focusOnCurrentCursor.ts
  modules/react/collection/lib/listItemRemove.ts
  modules/react/collection/lib/useListItemRemoveOnDeleteKey.tsx
  modules/react/collection/lib/useListItemRovingFocus.tsx
  modules/react/collection/lib/useListLoader.ts
  modules/react/collection/lib/useListResetCursorOnBlur.tsx
  modules/react/collection/lib/useSelectionListModel.tsx
  modules/react/combobox/lib/hooks/useComboboxInput.ts
  modules/react/select/stories/examples/Controlled.tsx
Labels: automerge

#3038 fix: Fix Style transform stencil variable lookup
  modules/styling-transform/lib/utils/handleCreateStencil.ts
  modules/styling-transform/lib/utils/parseNodeToStaticValue.ts
Labels: automerge

#3043 chore: SNYK Security upgrade chroma-js from 2.1.1 to 2.2.0
  modules/labs-react/package.json
  modules/react/package.json
Labels: automerge

#3040 fix: Remove start server command from forward merge action
  .github/workflows/forward-merge.yml
Labels: automerge

#3047 chore: Upgrade storybook to 7.6.20 to fix vulnerabilities
  package.json
  yarn.lock
Labels: dependencies, automerge

#3053 fix: Prevent build step in modules from running in parallel
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
  modules/styling/package.json
Labels: automerge

#3052 chore: Updated README for CK
  README.md
Labels: automerge

#3055 fix: Remove default modifier for formfield label
  modules/react/form-field/lib/FormFieldLabel.tsx
Labels: automerge

#3059 fix: Deconstruct typelevel from props and pass to stencil
  modules/preview-react/status-indicator/lib/StatusIndicatorLabel.tsx
Labels: automerge
