Repository Workday/canvas-kit, pull requests merged in 2024-04, with the labels that each got.

#2620 chore: Refactor StatusIndicator component
  modules/docs/mdx/11.0-UPGRADE-GUIDE.mdx
  modules/preview-react/status-indicator/index.ts
  modules/preview-react/status-indicator/lib/StatusIndicator.tsx
  modules/preview-react/status-indicator/lib/StatusIndicatorIcon.tsx
  modules/preview-react/status-indicator/lib/StatusIndicatorLabel.tsx
  modules/preview-react/status-indicator/stories/examples/Overflow.tsx
Labels: ready for review, review in progress, automerge, 11.x

#2681 chore: Bump canvas-tokens-web
  modules/docs/package.json
  modules/preview-react/package.json
  modules/react/package.json
  modules/styling-transform/package.json
  modules/styling/package.json
  package.json
  yarn.lock
Labels: automerge

#2677 ci: Run style transform in Storybook
  .storybook/main.js
  .storybook/style-transform-loader.js
  .storybook/symbol-doc-loader.js
  modules/codemod/lib/v11/spec/replaceStylesIconProp.spec.ts
  modules/css/package.json
  modules/docs/docgen/createDocProgram.js
  modules/labs-css/package.json
  modules/preview-css/package.json
  modules/react/collection/lib/ListBox.tsx
  modules/react/combobox/lib/ComboboxMenuList.tsx
  modules/styling-transform/lib/styleTransform.ts
  modules/styling-transform/lib/utils/createStyleObjectNode.ts
  modules/styling-transform/lib/utils/getHash.ts
  modules/styling-transform/lib/utils/handleCreateStencil.ts
  modules/styling-transform/lib/utils/handleCreateStyles.ts
  modules/styling-transform/lib/utils/handleCreateVars.ts
  modules/styling-transform/lib/utils/handleInjectGlobal.ts
  modules/styling-transform/lib/utils/handleKeyframes.ts
  modules/styling-transform/lib/utils/injectStyles.ts
  modules/styling-transform/lib/utils/parseNodeToStaticValue.ts
  modules/styling-transform/lib/utils/types.ts
  modules/styling-transform/spec/createProgramFromSource.ts
  modules/styling-transform/spec/utils/handleCreateStencil.spec.ts
  modules/styling-transform/spec/utils/handleCreateStyles.spec.ts
  modules/styling-transform/spec/utils/handleInjectGlobal.spec.ts
  modules/styling-transform/spec/utils/handleKeyframes.spec.ts
  modules/styling-transform/spec/utils/parseNodeToStaticValue.spec.ts
  modules/styling/lib/cs.ts
  modules/styling/spec/cs.spec.tsx
Labels: automerge, 11.x

#2687 fix: Make variable names safe for Emotion
  modules/styling-transform/lib/utils/parseNodeToStaticValue.ts
  modules/styling-transform/spec/utils/handleCreateStencil.spec.ts
Labels: automerge

#2676 fix: Pass value to visual input in select
  modules/react/select/lib/hooks/useSelectInput.ts
Labels: automerge

#2691 ci: Add @storybook/cli as a dev dependency
  .github/workflows/canary.yml
  package.json
  yarn.lock
Labels: automerge

#2692 chore: Merge support into master
  .github/workflows/canary.yml
  .github/workflows/forward-merge.yml
  CHANGELOG.md
  modules/react/tabs/lib/useTabsModel.tsx
  package.json
  yarn.lock
Labels: automerge

#2684 docs: Clarify and correct Select docs
  modules/docs/mdx/10.0-UPGRADE-GUIDE.mdx
  modules/react/select/lib/Select.tsx
Labels: approved, automerge

#2682 chore: Update Card color tokens
  modules/react/card/index.ts
  modules/react/card/lib/Card.tsx
  modules/react/card/lib/CardBody.tsx
  modules/react/card/lib/CardHeading.tsx
  modules/react/card/stories/card.stories.mdx
  modules/react/card/stories/examples/CustomStyles.tsx
  modules/react/card/stories/examples/Depth.tsx
  modules/react/card/stories/examples/Padding.tsx
  modules/react/card/stories/examples/Stencils.tsx
Labels: approved, automerge

#2685 chore: Update FormField and Select to use system colors
  modules/preview-react/form-field/lib/FormField.tsx
  modules/preview-react/form-field/lib/FormFieldContainer.tsx
  modules/preview-react/form-field/lib/FormFieldHint.tsx
  modules/preview-react/form-field/lib/FormFieldLabel.tsx
  modules/react/select/lib/Select.tsx
Labels: approved, automerge, 11.x

#2695 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/docs/mdx/10.0-UPGRADE-GUIDE.mdx
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
  modules/react/select/lib/Select.tsx
  modules/styling-transform/package.json
  modules/styling/package.json
Labels: automerge

#2672 docs: Add new examples of new AriaLiveRegion component
  modules/react/_examples/stories/AriaLiveRegions.stories.mdx
  modules/react/_examples/stories/examples/common/FilterListWithLiveStatus.tsx
  modules/react/_examples/stories/examples/common/HiddenLiveRegion.tsx
  modules/react/_examples/stories/examples/common/IconButtonsWithLiveBadges.tsx
  modules/react/_examples/stories/examples/common/TextInputWithLiveError.tsx
  modules/react/_examples/stories/examples/common/VisibleLiveRegion.tsx
Labels: automerge

#2683 chore: Update checkbox to use system color tokens
  modules/react/checkbox/lib/CheckBackground.tsx
  modules/react/checkbox/lib/CheckboxCheck.tsx
  modules/react/checkbox/lib/CheckboxContainer.tsx
  modules/react/checkbox/lib/CheckboxInput.tsx
  modules/react/checkbox/lib/CheckboxRipple.tsx
Labels: 11.x

#2697 feat: Add box-sizing:border-box automatically to all stencils
  modules/docs/mdx/11.0-UPGRADE-GUIDE.mdx
  modules/react/badge/lib/CountBadge.tsx
  modules/react/card/stories/examples/Stencils.tsx
  modules/react/checkbox/lib/CheckBackground.tsx
  modules/react/collection/lib/ListBox.tsx
  modules/react/icon/lib/Svg.tsx
  modules/react/icon/lib/SystemIconCircle.tsx
  modules/react/menu/lib/MenuCard.tsx
  modules/react/switch/lib/Switch.tsx
  modules/react/table/lib/Table.tsx
  modules/react/table/lib/TableBody.tsx
  modules/react/table/lib/TableCaption.tsx
  modules/react/table/lib/TableCell.tsx
  modules/react/table/lib/TableFooter.tsx
  modules/react/table/lib/TableHead.tsx
  modules/react/table/lib/TableHeader.tsx
  modules/react/table/lib/TableRow.tsx
  modules/styling-transform/lib/utils/handleCreateStencil.ts
  modules/styling-transform/spec/utils/handleCreateStencil.spec.ts
  modules/styling/lib/cs.ts
Labels: ready for review, approved

#2696 ci: Fix SymbolDoc
  .storybook/main.js
  .storybook/style-transform-loader.js
  .storybook/symbol-doc-loader.js
Labels: ready for review, automerge

#2699 chore: Update LoadingDots styles
  modules/docs/mdx/11.0-UPGRADE-GUIDE.mdx
  modules/react/loading-dots/lib/LoadingDots.tsx
Labels: automerge, 11.x

#2673 docs: Improve the "accessible" example of loading dots
  modules/react/loading-dots/stories/LoadingDots.stories.mdx
  modules/react/loading-dots/stories/examples/Accessible.tsx
Labels: automerge, 10.x

#2666 chore(button): Refactor button to use system tokens
  modules/docs/mdx/11.0-UPGRADE-GUIDE.mdx
  modules/preview-react/pill/lib/Pill.tsx
  modules/preview-react/pill/lib/PillIconButton.tsx
  modules/react/button/lib/BaseButton.tsx
  modules/react/button/lib/Button.tsx
  modules/react/button/lib/DeleteButton.tsx
  modules/react/button/lib/PrimaryButton.tsx
  modules/react/button/lib/SecondaryButton.tsx
  modules/react/button/lib/TertiaryButton.tsx
  modules/react/button/stories/visual-testing/stories_ColorsOverride.tsx
  package.json
Labels: automerge, 11.x

#2701 chore: Update Radio to use system colors
  modules/preview-react/radio/lib/RadioText.tsx
  modules/preview-react/radio/lib/StyledRadioButton.tsx
Labels: automerge, 11.x

#2704 fix: Fix default modifiers type
  modules/preview-react/radio/lib/RadioText.tsx
  modules/styling/lib/cs.ts
  modules/styling/spec/cs.spec.tsx
Labels: automerge

#2706 chore: Update @workday/canvas-tokens-web version
  modules/docs/package.json
  modules/preview-react/package.json
  modules/react/package.json
  modules/styling-transform/package.json
  modules/styling/package.json
  package.json
  yarn.lock
Labels: ready for review, automerge

#2705 chore(table): Refactor table to use system tokens
  modules/react/table/lib/Table.tsx
  modules/react/table/lib/TableCaption.tsx
  modules/react/table/lib/TableCell.tsx
  modules/react/table/lib/TableHead.tsx
  modules/react/table/lib/TableHeader.tsx
  modules/react/table/stories/stories_visualTesting.tsx
Labels: approved, automerge, 11.x

#2700 chore: Refactor StatusIndicator to use system colors
  modules/docs/mdx/11.0-UPGRADE-GUIDE.mdx
  modules/preview-react/status-indicator/index.ts
  modules/preview-react/status-indicator/lib/StatusIndicator.tsx
  modules/preview-react/status-indicator/lib/StatusIndicatorIcon.tsx
  modules/preview-react/status-indicator/lib/StatusIndicatorLabel.tsx
  modules/preview-react/status-indicator/lib/hooks/index.ts
  modules/preview-react/status-indicator/lib/hooks/useStatusIndicatorModel.tsx
  modules/react/loading-dots/lib/LoadingDots.tsx
Labels: automerge, 11.x

#2702 chore: Refactor Switch to use system tokens
  modules/docs/mdx/11.0-UPGRADE-GUIDE.mdx
  modules/preview-react/radio/lib/StyledRadioButton.tsx
  modules/react/button/lib/BaseButton.tsx
  modules/react/button/lib/DeleteButton.tsx
  modules/react/button/lib/PrimaryButton.tsx
  modules/react/button/lib/SecondaryButton.tsx
  modules/react/button/lib/TertiaryButton.tsx
  modules/react/checkbox/lib/CheckboxInput.tsx
  modules/react/switch/lib/Switch.tsx
Labels: automerge, 11.x
