Repository Workday/canvas-kit, pull requests merged in 2024-08, with the labels that each got.

#2849 fix(combobox): Use correct state for aria-selected
  cypress/integration/Autocomplete.spec.ts
  cypress/integration/Select.spec.ts
  modules/react/combobox/lib/ComboboxMenuItem.tsx
Labels: accessibility, automerge, 10.x

#2850 fix(SearchForm): Suppress forwarding props warning
  modules/labs-react/search-form/lib/SearchForm.tsx
Labels: automerge

#2861 chore: Merge support into master
  CHANGELOG.md
  cypress/integration/Autocomplete.spec.ts
  cypress/integration/Select.spec.ts
  modules/react/combobox/lib/ComboboxMenuItem.tsx
  modules/styling/package.json
Labels: automerge

#2855 fix: Set aria-modal to false for better accessibility
  cypress/integration/Modal.spec.ts
  modules/react/modal/lib/Modal.tsx
  modules/react/modal/lib/hooks/useModalCard.ts
Labels: ready for review, automerge

#2862 chore: Merge support into master
  CHANGELOG.md
  cypress/integration/Modal.spec.ts
  modules/react/modal/lib/Modal.tsx
  modules/react/modal/lib/hooks/useModalCard.ts
  modules/styling/package.json
Labels: automerge

#2793 chore: Update Avatar to use createStencil and createComponent
  cypress/integration/Avatar.spec.ts
  modules/docs/mdx/12.0-UPGRADE-GUIDE.mdx
  modules/labs-react/expandable/lib/ExpandableAvatar.tsx
  modules/preview-react/pill/lib/PillAvatar.tsx
  modules/react/_examples/stories/examples/GlobalHeader.tsx
  modules/react/avatar/README.md
  modules/react/avatar/lib/Avatar.tsx
  modules/react/avatar/spec/Avatar.spec.tsx
  modules/react/avatar/stories/avatar/Avatar.stories.mdx
  modules/react/avatar/stories/avatar/examples/Basic.tsx
  modules/react/avatar/stories/avatar/examples/Button.tsx
  modules/react/avatar/stories/avatar/examples/CustomStyles.tsx
  modules/react/avatar/stories/avatar/examples/Image.tsx
  modules/react/avatar/stories/avatar/examples/LazyLoad.tsx
  modules/react/avatar/stories/avatar/examples/ObjectFit.tsx
  modules/react/avatar/stories/avatar/examples/Size.tsx
  modules/react/avatar/stories/avatar/examples/Variant.tsx
  modules/react/avatar/stories/stories.tsx
  modules/react/avatar/stories/visual-testing/stories_visualTesting.tsx
  modules/react/side-panel/stories/stories.tsx
Labels: automerge, 12.x

#2866 feat: Add Divider component
  modules/preview-react/divider/LICENSE
  modules/preview-react/divider/README.md
  modules/preview-react/divider/index.ts
  modules/preview-react/divider/lib/Divider.tsx
  modules/preview-react/divider/spec/SSR.spec.tsx
  modules/preview-react/divider/spec/tsconfig.json
  modules/preview-react/divider/stories/Divider.stories.mdx
  modules/preview-react/divider/stories/examples/Basic.tsx
  modules/preview-react/divider/stories/examples/CustomSpace.tsx
  modules/preview-react/divider/stories/tsconfig.json
  modules/preview-react/divider/stories/visual-testing/stories_Divider.tsx
  modules/preview-react/index.ts
Labels: new-component, ready for review, automerge, 11.x

#2869 fix(select): Clicking the input closes the menu
  cypress/integration/Autocomplete.spec.ts
  cypress/integration/Select.spec.ts
  modules/react/select/lib/Select.tsx
  modules/react/select/lib/hooks/useSelectInput.ts
Labels: automerge

#2874 fix: Update select to trigger onChange
  cypress/integration/Select.spec.ts
  modules/react/select/lib/hooks/useSelectInput.ts
Labels: automerge

#2877 chore: Merge support into master
  CHANGELOG.md
  cypress/integration/Select.spec.ts
  modules/react/select/lib/hooks/useSelectInput.ts
  modules/styling/package.json
Labels: automerge

#2876 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  cypress/integration/Autocomplete.spec.ts
  cypress/integration/Modal.spec.ts
  cypress/integration/Select.spec.ts
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/package.json
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/labs-react/search-form/lib/SearchForm.tsx
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/divider/LICENSE
  modules/preview-react/divider/README.md
  modules/preview-react/divider/index.ts
  modules/preview-react/divider/lib/Divider.tsx
  modules/preview-react/divider/spec/SSR.spec.tsx
  modules/preview-react/divider/spec/tsconfig.json
  modules/preview-react/divider/stories/Divider.stories.mdx
  modules/preview-react/divider/stories/examples/Basic.tsx
  modules/preview-react/divider/stories/examples/CustomSpace.tsx
  modules/preview-react/divider/stories/tsconfig.json
  modules/preview-react/divider/stories/visual-testing/stories_Divider.tsx
  modules/preview-react/index.ts
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/checkbox/lib/CheckboxInput.tsx
  modules/react/collection/lib/ListBox.tsx
  modules/react/combobox/lib/ComboboxMenuItem.tsx
  modules/react/menu/lib/MenuList.tsx
  modules/react/modal/lib/Modal.tsx
  modules/react/modal/lib/hooks/useModalCard.ts
  modules/react/package.json
  modules/react/select/lib/Select.tsx
  modules/react/select/lib/hooks/useSelectInput.ts
  modules/styling-transform/package.json
  modules/styling/package.json
  yarn.lock
Labels: automerge

#2878 docs: Update CanvasProvider info on install page
  modules/docs/mdx/welcome.stories.mdx
  modules/docs/mdx/welcomePage.tsx
Labels: automerge

#2879 chore: Merge support into master
  CHANGELOG.md
  modules/docs/mdx/welcome.stories.mdx
  modules/docs/mdx/welcomePage.tsx
  modules/styling/package.json
Labels: automerge

#2880 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/mdx/welcome.stories.mdx
  modules/docs/mdx/welcomePage.tsx
  modules/docs/package.json
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
  modules/styling-transform/package.json
  modules/styling/package.json
Labels: automerge

#2882 fix(combobox): Show selected state when multiple is enabled
  modules/react/combobox/lib/ComboboxMenuItem.tsx
Labels: automerge, 10.x

#2883 chore: Merge support into master
  CHANGELOG.md
  modules/react/combobox/lib/ComboboxMenuItem.tsx
  modules/styling/package.json
Labels: automerge

#2890 fix: Enable styling compat mode to ensure proper style merging
  modules/react/layout/spec/mergeStyles.spec.tsx
  modules/styling/lib/cs.ts
  modules/styling/spec/cs.spec.tsx
Labels: automerge

#2885 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/package.json
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/combobox/lib/ComboboxMenuItem.tsx
  modules/react/package.json
  modules/styling-transform/package.json
  modules/styling/package.json
Labels: automerge

#2886 fix: Make overflow items inert
  modules/react/breadcrumbs/lib/BreadcrumbsItem.tsx
  modules/react/collection/lib/useOverflowListItemMeasure.tsx
Labels: ready for review, automerge

#2895 chore: Merge support into master
  CHANGELOG.md
  cypress/integration/Select.spec.ts
  modules/react/breadcrumbs/lib/BreadcrumbsItem.tsx
  modules/react/collection/lib/useOverflowListItemMeasure.tsx
  modules/react/layout/spec/mergeStyles.spec.tsx
  modules/react/select/lib/hooks/useSelectInput.ts
  modules/styling/lib/cs.ts
  modules/styling/package.json
  modules/styling/spec/cs.spec.tsx
Labels: automerge

#2896 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  cypress/integration/Select.spec.ts
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/package.json
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/breadcrumbs/lib/BreadcrumbsItem.tsx
  modules/react/collection/lib/useOverflowListItemMeasure.tsx
  modules/react/layout/spec/mergeStyles.spec.tsx
  modules/react/package.json
  modules/react/select/lib/hooks/useSelectInput.ts
  modules/styling-transform/package.json
  modules/styling/lib/cs.ts
  modules/styling/package.json
  modules/styling/spec/cs.spec.tsx
Labels: automerge

#2894 fix(color-picker): Add support for a11y labels on color swatches
  modules/preview-react/color-picker/lib/ColorPicker.tsx
  modules/preview-react/color-picker/lib/parts/SwatchBook.tsx
  modules/preview-react/color-picker/spec/ColorPicker.spec.tsx
Labels: automerge
