Repository Workday/canvas-kit, pull requests merged in 2024-01, with the labels that each got.

#2498 fix: Move styling to its own section
  .storybook/preview.js
  modules/styling/stories/API.stories.mdx
  modules/styling/stories/Basics.stories.mdx
  modules/styling/stories/FromEmotion.stories.mdx
  modules/styling/stories/GettingStarted.stories.mdx
  modules/styling/stories/MergingStyles.stories.mdx
  modules/styling/stories/Overview.stories.mdx
  modules/styling/stories/StylingFunctions.stories.mdx
Labels: automerge

#2503 ci: Update reviewer-lottery.yml [skip release]
  .github/reviewer-lottery.yml
Labels: automerge

#2505 chore: Remove ESLint warning for @emotion/css
  .eslintrc.js
  modules/react/common/lib/CanvasProvider.tsx
  modules/react/layout/lib/utils/mergeStyles.ts
  modules/react/layout/spec/mergeStyles.spec.tsx
  modules/styling/lib/cs.ts
Labels: automerge, 10.x

#2507 fix: Fix TS error for boolean modifiers in compound stencils styles
  modules/styling/lib/cs.ts
Labels: automerge

#2489 feat: Add style transform support for stencils
  modules/labs-react/tsconfig.json
  modules/preview-react/form-field/lib/FormFieldLabel.tsx
  modules/preview-react/tsconfig.json
  modules/react/button/lib/BaseButton.tsx
  modules/react/button/lib/DeleteButton.tsx
  modules/react/button/lib/PrimaryButton.tsx
  modules/react/button/lib/SecondaryButton.tsx
  modules/react/button/lib/TertiaryButton.tsx
  modules/react/button/lib/ToolbarDropdownButton.tsx
  modules/react/button/lib/ToolbarIconButton.tsx
  modules/react/common/lib/styles/focusRing.ts
  modules/react/tsconfig.json
  modules/styling-transform/lib/styleTransform.ts
  modules/styling-transform/lib/utils/createStyleObjectNode.ts
  modules/styling-transform/lib/utils/getCssVariables.ts
  modules/styling-transform/lib/utils/getErrorMessage.ts
  modules/styling-transform/lib/utils/getFallbackVariable.ts
  modules/styling-transform/lib/utils/getVarName.ts
  modules/styling-transform/lib/utils/handleCalc.ts
  modules/styling-transform/lib/utils/handleCreateStencil.ts
  modules/styling-transform/lib/utils/handleCreateStyles.ts
  modules/styling-transform/lib/utils/handleCreateVars.ts
  modules/styling-transform/lib/utils/handleCssVar.ts
  modules/styling-transform/lib/utils/handleFocusRing.ts
  modules/styling-transform/lib/utils/handlePx2Rem.ts
  modules/styling-transform/lib/utils/isImportedFromStyling.ts
  modules/styling-transform/lib/utils/makeEmotionSafe.ts
  modules/styling-transform/lib/utils/parseNodeToStaticValue.ts
  modules/styling-transform/lib/utils/parseObjectToStaticValue.ts
  modules/styling-transform/lib/utils/types.ts
  modules/styling-transform/package.json
  modules/styling-transform/spec/createProgramFromSource.ts
  modules/styling-transform/spec/findNodes.ts
  modules/styling-transform/spec/getCssVariables.spec.ts
  modules/styling-transform/spec/utils/createStyleObjectNode.spec.ts
  modules/styling-transform/spec/utils/getCssVariables.spec.ts
  modules/styling-transform/spec/utils/getErrorMessage.spec.ts
  modules/styling-transform/spec/utils/getFallbackVariables.spec.ts
  modules/styling-transform/spec/utils/getVarName.spec.ts
  modules/styling-transform/spec/utils/handleCalc.spec.ts
  modules/styling-transform/spec/utils/handleCreateStencil.spec.ts
  modules/styling-transform/spec/utils/handleCreateStyles.spec.ts
  modules/styling-transform/spec/utils/handleCreateVars.spec.ts
  modules/styling-transform/spec/utils/handleCssVar.spec.ts
  modules/styling-transform/spec/utils/handleFocusRing.spec.ts
  modules/styling-transform/spec/utils/handlePx2Rem.spec.ts
  modules/styling-transform/spec/utils/parseNodeToStaticValue.spec.ts
  modules/styling-transform/spec/utils/parseObjectToStaticValue.spec.ts
  modules/styling-transform/tsconfig.json
  modules/styling/lib/cs.ts
  tsconfig.json
Labels: automerge, 10.x

#2511 chore: Merge prerelease/minor into prerelease/major
  modules/labs-react/tsconfig.json
  modules/preview-react/form-field/lib/FormFieldLabel.tsx
  modules/preview-react/tsconfig.json
  modules/react/button/lib/BaseButton.tsx
  modules/react/button/lib/DeleteButton.tsx
  modules/react/button/lib/PrimaryButton.tsx
  modules/react/button/lib/SecondaryButton.tsx
  modules/react/button/lib/TertiaryButton.tsx
  modules/react/button/lib/ToolbarDropdownButton.tsx
  modules/react/button/lib/ToolbarIconButton.tsx
  modules/react/common/lib/styles/focusRing.ts
  modules/react/tsconfig.json
  modules/styling-transform/lib/styleTransform.ts
  modules/styling-transform/lib/utils/createStyleObjectNode.ts
  modules/styling-transform/lib/utils/getCssVariables.ts
  modules/styling-transform/lib/utils/getErrorMessage.ts
  modules/styling-transform/lib/utils/getFallbackVariable.ts
  modules/styling-transform/lib/utils/getVarName.ts
  modules/styling-transform/lib/utils/handleCalc.ts
  modules/styling-transform/lib/utils/handleCreateStencil.ts
  modules/styling-transform/lib/utils/handleCreateStyles.ts
  modules/styling-transform/lib/utils/handleCreateVars.ts
  modules/styling-transform/lib/utils/handleCssVar.ts
  modules/styling-transform/lib/utils/handleFocusRing.ts
  modules/styling-transform/lib/utils/handlePx2Rem.ts
  modules/styling-transform/lib/utils/isImportedFromStyling.ts
  modules/styling-transform/lib/utils/makeEmotionSafe.ts
  modules/styling-transform/lib/utils/parseNodeToStaticValue.ts
  modules/styling-transform/lib/utils/parseObjectToStaticValue.ts
  modules/styling-transform/lib/utils/types.ts
  modules/styling-transform/package.json
  modules/styling-transform/spec/createProgramFromSource.ts
  modules/styling-transform/spec/findNodes.ts
  modules/styling-transform/spec/getCssVariables.spec.ts
  modules/styling-transform/spec/utils/createStyleObjectNode.spec.ts
  modules/styling-transform/spec/utils/getCssVariables.spec.ts
  modules/styling-transform/spec/utils/getErrorMessage.spec.ts
  modules/styling-transform/spec/utils/getFallbackVariables.spec.ts
  modules/styling-transform/spec/utils/getVarName.spec.ts
  modules/styling-transform/spec/utils/handleCalc.spec.ts
  modules/styling-transform/spec/utils/handleCreateStencil.spec.ts
  modules/styling-transform/spec/utils/handleCreateStyles.spec.ts
  modules/styling-transform/spec/utils/handleCreateVars.spec.ts
  modules/styling-transform/spec/utils/handleCssVar.spec.ts
  modules/styling-transform/spec/utils/handleFocusRing.spec.ts
  modules/styling-transform/spec/utils/handlePx2Rem.spec.ts
  modules/styling-transform/spec/utils/parseNodeToStaticValue.spec.ts
  modules/styling-transform/spec/utils/parseObjectToStaticValue.spec.ts
  modules/styling-transform/tsconfig.json
  modules/styling/lib/cs.ts
  tsconfig.json
Labels: automerge

#2497 feat: Add LoadingSparkles loading indicator
  modules/preview-react/index.ts
  modules/preview-react/loading-sparkles/LICENSE
  modules/preview-react/loading-sparkles/README.md
  modules/preview-react/loading-sparkles/index.ts
  modules/preview-react/loading-sparkles/lib/LoadingSparkles.tsx
  modules/preview-react/loading-sparkles/lib/sparkleIcon.ts
  modules/preview-react/loading-sparkles/spec/LoadingSparkles.spec.tsx
  modules/preview-react/loading-sparkles/spec/tsconfig.json
  modules/preview-react/loading-sparkles/stories/LoadingSparkles.stories.mdx
  modules/preview-react/loading-sparkles/stories/examples/Basic.tsx
  modules/preview-react/loading-sparkles/stories/examples/RTL.tsx
  modules/preview-react/loading-sparkles/stories/tsconfig.json
  modules/preview-react/package.json
Labels: ready for review, approved, automerge, 10.x

#2455 feat: Text style refactoring
  modules/codemod/lib/v11/__remove_this__.ts
  modules/codemod/lib/v11/spec/__remove_this__.spec.ts
  modules/docs/mdx/11.0-UPGRADE-GUIDE.mdx
  modules/react/button/stories/visual-testing/stories_ExternalHyperlink.tsx
  modules/react/card/lib/CardHeading.tsx
  modules/react/pagination/lib/Pagination/GoTo/Label.tsx
  modules/react/text/lib/LabelText.tsx
  modules/react/text/lib/Text.tsx
  modules/react/text/lib/TypeLevelComponents.tsx
  modules/react/text/stories/LabelText.stories.mdx
  modules/react/text/stories/examples/LabelText/Disabled.tsx
  modules/react/text/stories/stories_VisualTesting.tsx
Labels: automerge, 11.x

#2471 chore: Refactor Card Styles
  modules/docs/mdx/11.0-UPGRADE-GUIDE.mdx
  modules/docs/package.json
  modules/preview-react/package.json
  modules/react/card/lib/Card.tsx
  modules/react/card/lib/CardBody.tsx
  modules/react/card/lib/CardHeading.tsx
  modules/react/card/stories/card.stories.mdx
  modules/react/card/stories/examples/Depth.tsx
  modules/react/card/stories/examples/Padding.tsx
  modules/react/package.json
  modules/styling-transform/package.json
  modules/styling/lib/cs.ts
  modules/styling/package.json
  package.json
  yarn.lock
Labels: automerge, 11.x

#2517 fix: Add ElementAccessExpression support to the parser
  modules/styling-transform/lib/utils/parseNodeToStaticValue.ts
  modules/styling-transform/spec/utils/parseNodeToStaticValue.spec.ts
Labels: automerge, 10.x

#2519 chore: Merge prerelease/minor into prerelease/major
  modules/styling-transform/lib/utils/parseNodeToStaticValue.ts
  modules/styling-transform/spec/utils/parseNodeToStaticValue.spec.ts
Labels: automerge

#2525 feat: Add keyframe support to static style parser
  modules/styling-transform/lib/styleTransform.ts
  modules/styling-transform/lib/utils/createStyleObjectNode.ts
  modules/styling-transform/lib/utils/handleCalc.ts
  modules/styling-transform/lib/utils/handleCreateStencil.ts
  modules/styling-transform/lib/utils/handleCreateStyles.ts
  modules/styling-transform/lib/utils/handleCreateVars.ts
  modules/styling-transform/lib/utils/handleCssVar.ts
  modules/styling-transform/lib/utils/handleFocusRing.ts
  modules/styling-transform/lib/utils/handleKeyframes.ts
  modules/styling-transform/lib/utils/handlePx2Rem.ts
  modules/styling-transform/lib/utils/parseNodeToStaticValue.ts
  modules/styling-transform/lib/utils/parseObjectToStaticValue.ts
  modules/styling-transform/lib/utils/types.ts
  modules/styling-transform/spec/utils/handleCreateStencil.spec.ts
  modules/styling-transform/spec/utils/handleCreateVars.spec.ts
  modules/styling-transform/spec/utils/handleKeyframes.spec.ts
  modules/styling-transform/spec/utils/parseNodeToStaticValue.spec.ts
  modules/styling-transform/spec/utils/parseObjectToStaticValue.spec.ts
  modules/styling/lib/cs.ts
  modules/styling/spec/cs.spec.tsx
Labels: automerge

#2485 feat: Component Style Updates from Audit
  modules/docs/mdx/11.0-UPGRADE-GUIDE.mdx
  modules/preview-react/table/lib/TableHeader.tsx
  modules/preview-react/text-area/lib/TextAreaField.tsx
  modules/preview-react/text-input/lib/TextInputField.tsx
  modules/react/button/lib/DeleteButton.tsx
  modules/react/button/lib/SecondaryButton.tsx
  modules/react/button/lib/TertiaryButton.tsx
  modules/react/card/lib/CardHeading.tsx
  modules/react/checkbox/lib/Checkbox.tsx
  modules/react/radio/lib/Radio.tsx
Labels: approved, automerge, 11.x

#2531 docs: Update LoadingSparkle docs
  modules/preview-react/loading-sparkles/lib/LoadingSparkles.tsx
  modules/preview-react/loading-sparkles/stories/LoadingSparkles.stories.mdx
  modules/preview-react/loading-sparkles/stories/examples/Basic.tsx
  modules/react/common/index.ts
  modules/react/common/lib/AccessibleHide.tsx
  modules/react/common/lib/AriaLiveRegion.tsx
  modules/react/common/lib/styles/accessibleHide.ts
  modules/react/common/lib/styles/index.ts
  modules/react/common/spec/AccessibleHide.spec.tsx
  modules/react/common/spec/AriaLiveRegion.spec.tsx
Labels: ready for review, automerge, 10.x

#2532 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
  modules/styling-transform/package.json
Labels: automerge

#2524 fix: Prevent popup from closing when combobox item is clicked
  cypress/integration/Popup.spec.ts
  modules/react/popup/lib/hooks/useCloseOnOutsideClick.ts
  modules/react/popup/stories/stories_testing.tsx
Labels: automerge, 9.x

#2537 chore: Merge support into master
  CHANGELOG.md
  cypress/integration/Popup.spec.ts
  modules/react/popup/lib/hooks/useCloseOnOutsideClick.ts
  modules/react/popup/stories/stories_testing.tsx
Labels: automerge

#2539 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  cypress/integration/Popup.spec.ts
  lerna.json
  modules/codemod/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
  modules/react/popup/lib/hooks/useCloseOnOutsideClick.ts
  modules/react/popup/stories/stories_testing.tsx
  modules/styling-transform/package.json
Labels: automerge

#2540 feat(loading-dots): Use static styling utilities
  modules/react/loading-dots/lib/LoadingDots.tsx
Labels: automerge, 11.x

#2544 test: Add inverse variant visual tests
  modules/react/form-field/stories/visual-testing/stories_Checkbox.tsx
Labels: automerge
