Repository Workday/canvas-kit, pull requests merged in 2024-03, with the labels that each got.

#2623 fix(button): Fix icon colors in buttons and SegmentedControl
  modules/react/button/lib/BaseButton.tsx
  modules/react/segmented-control/stories/stories_VisualTesting.tsx
Labels: approved, automerge

#2624 fix(styling): Fix variables in stencil config
  modules/styling-transform/lib/utils/handleCreateStencil.ts
  modules/styling-transform/spec/utils/handleCreateStencil.spec.ts
  modules/styling/lib/cs.ts
  modules/styling/spec/cs.spec.tsx
  modules/styling/spec/tsconfig.json
  modules/styling/stories/Basics.stories.mdx
Labels: automerge

#2609 fix: Move selected item when scrolling via keyboard in Select
  cypress/integration/Select.spec.ts
  modules/react/collection/lib/useCursorListModel.tsx
  modules/react/select/lib/hooks/useSelectInput.ts
  modules/react/select/stories/examples/FetchingDynamicItems.tsx
  modules/react/tabs/lib/useTabsModel.tsx
Labels: automerge, 10.x

#2570 chore: Refactor Select and Combobox to use new styling utilities and tokens
  modules/docs/mdx/11.0-UPGRADE-GUIDE.mdx
  modules/react/collection/lib/ListBox.tsx
  modules/react/combobox/lib/ComboboxMenuItem.tsx
  modules/react/combobox/lib/ComboboxMenuList.tsx
  modules/react/menu/index.ts
  modules/react/menu/lib/MenuCard.tsx
  modules/react/menu/lib/MenuList.tsx
  modules/react/select/lib/Select.tsx
  modules/react/select/stories/examples/Grow.tsx
Labels: automerge, 11.x

#2626 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  cypress/integration/Select.spec.ts
  lerna.json
  modules/codemod/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/collection/lib/useCursorListModel.tsx
  modules/react/package.json
  modules/react/select/lib/hooks/useSelectInput.ts
  modules/react/select/stories/examples/FetchingDynamicItems.tsx
  modules/react/tabs/lib/useTabsModel.tsx
  modules/styling-transform/package.json
  modules/styling/package.json
Labels: automerge

#2627 fix: Update forward merge to track remote branch [skip release]
  .github/workflows/forward-merge.yml
Labels: automerge

#2629 chore: Add nonce support to styling
  modules/react/common/lib/CanvasProvider.tsx
  modules/react/layout/lib/utils/mergeStyles.ts
  modules/react/layout/spec/mergeStyles.spec.tsx
  modules/react/package.json
  modules/styling-transform/lib/styleTransform.ts
  modules/styling-transform/lib/utils/handleInjectGlobal.ts
  modules/styling-transform/spec/utils/handleInjectGlobal.spec.ts
  modules/styling/lib/cs.ts
  modules/styling/package.json
  modules/styling/spec/cs.spec.tsx
  modules/styling/stories/Basics.stories.mdx
  modules/styling/stories/MergingStyles.stories.mdx
Labels: automerge, 10.x

#2631 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/common/lib/CanvasProvider.tsx
  modules/react/layout/lib/utils/mergeStyles.ts
  modules/react/layout/spec/mergeStyles.spec.tsx
  modules/react/package.json
  modules/styling-transform/lib/styleTransform.ts
  modules/styling-transform/lib/utils/handleInjectGlobal.ts
  modules/styling-transform/package.json
  modules/styling-transform/spec/utils/handleInjectGlobal.spec.ts
  modules/styling/lib/cs.ts
  modules/styling/package.json
  modules/styling/spec/cs.spec.tsx
  modules/styling/stories/Basics.stories.mdx
  modules/styling/stories/MergingStyles.stories.mdx
Labels: automerge

#2634 chore: Addressing vulnerabilities and critical issues [skip release]
  .github/dependabot.yml
  .storybook/main.js
  commitlint.config.js
  modules/labs-react/common/README.md
  modules/react/common/lib/theming/useThemedRing.ts
  package.json
  utils/js-build.js
  yarn.lock
Labels: dependencies, automerge, 10.x

#2635 fix(stencil): TypeScript support for variable/modifier with same key
  modules/styling/lib/cs.ts
  modules/styling/spec/cs.spec.tsx
  modules/styling/stories/Basics.stories.mdx
Labels: ready for review, automerge

#2639 chore: Addressing dependency issues [skip release]
  .yarnrc
  package.json
  yarn.lock
Labels: dependencies, automerge, 10.x

#2637 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
  modules/styling-transform/package.json
  modules/styling/lib/cs.ts
  modules/styling/package.json
  modules/styling/spec/cs.spec.tsx
  modules/styling/stories/Basics.stories.mdx
Labels: automerge

#2640 fix: Fixed yarnrc [skip release]
  .yarnrc
Labels: automerge

#2644 test: Remove dot only from tests
  cypress/integration/Popup.spec.ts
  modules/react/select/spec/Select.spec.tsx
Labels: automerge

#2615 chore: Refactor icon components
  modules/codemod/lib/v11/index.ts
  modules/codemod/lib/v11/replaceStylesIconProp.ts
  modules/codemod/lib/v11/spec/replaceStylesIconProp.spec.ts
  modules/docs/mdx/11.0-UPGRADE-GUIDE.mdx
  modules/docs/tsconfig.json
  modules/preview-react/pill/lib/Pill.tsx
  modules/preview-react/pill/lib/PillIconButton.tsx
  modules/react/breadcrumbs/lib/BreadcrumbsItem.tsx
  modules/react/breadcrumbs/lib/BreadcrumbsOverflowButton.tsx
  modules/react/button/lib/BaseButton.tsx
  modules/react/button/lib/DeleteButton.tsx
  modules/react/button/lib/ExternalHyperlink.tsx
  modules/react/button/lib/PrimaryButton.tsx
  modules/react/button/lib/SecondaryButton.tsx
  modules/react/button/lib/TertiaryButton.tsx
  modules/react/icon/index.ts
  modules/react/icon/lib/AccentIcon.tsx
  modules/react/icon/lib/AppletIcon.tsx
  modules/react/icon/lib/Graphic.tsx
  modules/react/icon/lib/Icon.tsx
  modules/react/icon/lib/Svg.tsx
  modules/react/icon/lib/SystemIcon.tsx
  modules/react/icon/lib/SystemIconCircle.tsx
  modules/react/icon/spec/Icon.spec.tsx
  modules/react/icon/stories/examples/Overview.tsx
  modules/react/icon/stories/stories.tsx
  modules/react/icon/stories/stories.visualTesting.tsx
  modules/react/tabs/lib/TabsItem.tsx
  modules/styling/lib/px2rem.ts
Labels: automerge, 11.x

#2651 fix: Revert overflow calculation until we find a better solution
  modules/react/tooltip/lib/OverflowTooltip.tsx
Labels: automerge

#2657 chore: Pin Storybook CLI to v6 for extract docs script [skip release]
  .github/workflows/canary.yml
Labels: automerge

#2658 chore: Merge support into master
  .github/dependabot.yml
  CHANGELOG.md
  modules/react/tooltip/lib/OverflowTooltip.tsx
Labels: automerge

#2661 fix: Fix issue with dynamic keys in stencils for style parser
  modules/docs/docgen/createDocProgram.js
  modules/docs/docgen/docParser.ts
  modules/docs/docgen/spec/docParser.spec.ts
  modules/react/common/spec/useUniqueId.spec.tsx
  modules/styling-transform/lib/utils/parseNodeToStaticValue.ts
  modules/styling-transform/spec/utils/createStyleObjectNode.spec.ts
  modules/styling-transform/spec/utils/handleCreateStencil.spec.ts
  utils/forward-merge.js
Labels: automerge, 10.x

#2662 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/docs/docgen/createDocProgram.js
  modules/docs/docgen/docParser.ts
  modules/docs/docgen/spec/docParser.spec.ts
  modules/docs/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/common/spec/useUniqueId.spec.tsx
  modules/react/package.json
  modules/styling-transform/lib/utils/parseNodeToStaticValue.ts
  modules/styling-transform/package.json
  modules/styling-transform/spec/utils/createStyleObjectNode.spec.ts
  modules/styling-transform/spec/utils/handleCreateStencil.spec.ts
  modules/styling/package.json
  utils/forward-merge.js
Labels: automerge

#2664 fix: Update scorecard.yml [skip release]
  .github/workflows/scorecard.yml
Labels: automerge

#2659 chore: Update Text to use system tokens
  modules/docs/mdx/11.0-UPGRADE-GUIDE.mdx
  modules/docs/package.json
  modules/preview-react/package.json
  modules/react/package.json
  modules/react/text/lib/LabelText.tsx
  modules/react/text/lib/Text.tsx
  modules/react/text/stories/stories_VisualTesting.tsx
  modules/styling-transform/package.json
  modules/styling/package.json
  package.json
  yarn.lock
Labels: approved, automerge, 11.x
