Repository Workday/canvas-kit, pull requests merged in 2025-05, with the labels that each got.

#3269 fix(select): Remove excess props from `SelectInputProps`
  modules/react/select/lib/SelectInput.tsx
Labels: automerge

#3279 chore: Merge support into master
  CHANGELOG.md
  modules/react/select/lib/SelectInput.tsx
Labels: automerge

#3270 chore(breadcrumbs): Refactor Breadcrumbs to use styling API
  modules/codemod/index.js
  modules/codemod/lib/v14/index.ts
  modules/docs/mdx/14.0-UPGRADE-GUIDE.mdx
  modules/docs/mdx/PACKAGES.mdx
  modules/react/breadcrumbs/lib/Breadcrumbs.tsx
  modules/react/breadcrumbs/lib/BreadcrumbsCurrentItem.tsx
  modules/react/breadcrumbs/lib/BreadcrumbsItem.tsx
  modules/react/breadcrumbs/lib/BreadcrumbsLink.tsx
  modules/react/breadcrumbs/lib/BreadcrumbsList.tsx
  modules/react/breadcrumbs/lib/BreadcrumbsMenu.tsx
  modules/react/breadcrumbs/lib/BreadcrumbsOverflowButton.tsx
Labels: automerge, 14.x

#3295 fix: Ensure disabled is passed to MultiSelect sub components so input plus options are disabled
  modules/preview-react/multi-select/lib/MultiSelectInput.tsx
  modules/preview-react/multi-select/lib/MultiSelectedItem.tsx
  modules/preview-react/multi-select/lib/MultiSelectedList.tsx
  modules/preview-react/multi-select/stories/MultiSelect.mdx
  modules/preview-react/multi-select/stories/MultiSelect.stories.ts
  modules/preview-react/multi-select/stories/examples/Disabled.tsx
Labels: automerge

#3297 chore: Merge support into master
  CHANGELOG.md
  modules/preview-react/multi-select/lib/MultiSelectInput.tsx
  modules/preview-react/multi-select/lib/MultiSelectedItem.tsx
  modules/preview-react/multi-select/lib/MultiSelectedList.tsx
  modules/preview-react/multi-select/stories/MultiSelect.mdx
  modules/preview-react/multi-select/stories/MultiSelect.stories.ts
  modules/preview-react/multi-select/stories/examples/Disabled.tsx
Labels: automerge

#3299 chore: Deprecated Themeable. Use CanvasProvider instead
  modules/react/common/lib/theming/types.ts
Labels: automerge

#3293 chore: Refactor Toolbar Button to use styling API
  modules/docs/mdx/14.0-UPGRADE-GUIDE.mdx
  modules/react/button/lib/ToolbarDropdownButton.tsx
  modules/react/button/lib/ToolbarIconButton.tsx
  modules/react/button/stories/ToolbarButtons.stories.tsx
Labels: approved, automerge

#3309 fix(multi-select): Forward the error prop to the MultiSelect Input
  modules/preview-react/multi-select/lib/MultiSelectInput.tsx
  modules/preview-react/multi-select/stories/MultiSelect.mdx
  modules/preview-react/multi-select/stories/MultiSelect.stories.ts
  modules/preview-react/multi-select/stories/examples/Error.tsx
  modules/preview-react/multi-select/stories/visualTesting.stories.tsx
Labels: automerge
