Repository Workday/canvas-kit, pull requests merged in 2025-08, with the labels that each got.

#3426 chore: Fix form-data vulnerability
  package.json
  yarn.lock
Labels: dependencies, automerge

#3414 docs: Apply new branding
  .storybook/theme.js
  modules/docs/mdx/CK-banner-temp.jpg
  modules/docs/mdx/ck-banner.jpg
  modules/docs/mdx/welcomePage.tsx
Labels: approved, automerge

#3425 chore: Merge support into master
  CHANGELOG.md
  modules/docs/lib/stackblitzFiles/main.tsx
  modules/react/collection/lib/useBaseListModel.tsx
  modules/styling/lib/cs.ts
  modules/styling/stories/mdx/Utilities.mdx
Labels: automerge

#3411 feat: Update count badge styles
  modules/docs/mdx/14.0-UPGRADE-GUIDE.mdx
  modules/react/badge/lib/CountBadge.tsx
  modules/react/badge/stories/CountBadge.mdx
  modules/react/badge/stories/CountBadge.stories.ts
  modules/react/badge/stories/examples/Basic.tsx
  modules/react/badge/stories/examples/Emphasis.tsx
  modules/react/badge/stories/examples/Inverse.tsx
  modules/react/badge/stories/testing.stories.tsx
Labels: automerge, 14.x

#3427 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/lib/stackblitzFiles/main.tsx
  modules/docs/package.json
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
  modules/styling-transform/package.json
  modules/styling/lib/cs.ts
  modules/styling/package.json
  modules/styling/stories/mdx/Utilities.mdx
  package.json
  yarn.lock
Labels: automerge

#3432 feat: Update tokens to latest alpha
  modules/docs/package.json
  modules/labs-react/package.json
  modules/labs-react/search-form/lib/SearchForm.tsx
  modules/preview-react/multi-select/lib/MultiSelectInput.tsx
  modules/preview-react/package.json
  modules/react/badge/lib/CountBadge.tsx
  modules/react/button/lib/ToolbarDropdownButton.tsx
  modules/react/button/lib/ToolbarIconButton.tsx
  modules/react/expandable/lib/ExpandableContent.tsx
  modules/react/expandable/lib/ExpandableTarget.tsx
  modules/react/package.json
  modules/react/tabs/lib/TabsItem.tsx
  modules/styling-transform/package.json
  modules/styling/package.json
  package.json
  yarn.lock
Labels: automerge

#3433 fix(collection): Fix `inert` prop in React 19
  modules/react/collection/lib/useOverflowListItemMeasure.tsx
Labels: automerge

#3429 feat: Add `lighter` object to our theme.
  modules/docs/mdx/14.0-UPGRADE-GUIDE.mdx
  modules/react/common/lib/CanvasProvider.tsx
  modules/react/common/lib/theming/createCanvasTheme.ts
  modules/react/common/lib/theming/theme.ts
  modules/react/common/lib/theming/types.ts
  modules/react/common/spec/createCanvasTheme.spec.tsx
Labels: approved, automerge

#3394 feat: Update button colors
  modules/docs/mdx/14.0-UPGRADE-GUIDE.mdx
  modules/react/button/lib/PrimaryButton.tsx
  modules/react/button/lib/SecondaryButton.tsx
  modules/react/button/lib/TertiaryButton.tsx
  modules/react/button/stories/visual-testing/TertiaryButton.stories.tsx
  modules/react/tooltip/stories/testing.stories.tsx
Labels: automerge

#3435 feat: Deprecate components after audit
  .storybook/Label.tsx
  modules/codemod/lib/v14/utils/getImportRenameMap.ts
  modules/docs/mdx/14.0-UPGRADE-GUIDE.mdx
  modules/labs-react/combobox/lib/AutocompleteList.tsx
  modules/labs-react/combobox/lib/Combobox.tsx
  modules/labs-react/combobox/lib/Status.tsx
  modules/labs-react/combobox/stories/Combobox.mdx
  modules/labs-react/combobox/stories/Combobox.stories.tsx
  modules/preview-react/text-area/lib/TextArea.tsx
  modules/preview-react/text-area/lib/TextAreaField.tsx
  modules/preview-react/text-area/stories/TextArea.mdx
  modules/preview-react/text-input/lib/TextInput.tsx
  modules/preview-react/text-input/lib/TextInputField.tsx
  modules/preview-react/text-input/stories/TextInput.mdx
  modules/react/radio/lib/Radio.tsx
  modules/react/radio/lib/RadioGroup.tsx
  modules/react/radio/stories/Radio.mdx
  modules/react/radio/stories/Radio.stories.ts
  modules/react/segmented-control/lib/SegmentedControl.tsx
  modules/react/segmented-control/lib/SegmentedControlButton.tsx
  modules/react/segmented-control/stories/SegmentedControl.mdx
  modules/react/segmented-control/stories/SegmentedControl.stories.ts
  modules/react/side-panel/lib/SidePanel.tsx
  modules/react/side-panel/stories/SidePanel.stories.tsx
  modules/react/tokens/stories/Tokens.stories.tsx
Labels: approved, automerge

#3443 feat: Rebrand information highlight
  modules/docs/mdx/14.0-UPGRADE-GUIDE.mdx
  modules/preview-react/information-highlight/lib/InformationHighlight.tsx
Labels: automerge

#3430 feat: Add new Preview Avatar and Deprecated Avatar in Main
  cypress/component/AvatarPreview.spec.tsx
  modules/codemod/lib/v14/index.ts
  modules/codemod/lib/v14/spec/updateExpandableAvatarProp.spec.ts
  modules/codemod/lib/v14/spec/updatePillAvatarProp.spec.ts
  modules/codemod/lib/v14/updateExpandableAvatarProp.ts
  modules/codemod/lib/v14/updatePillAvatarProp.ts
  modules/docs/mdx/14.0-UPGRADE-GUIDE.mdx
  modules/preview-react/avatar/LICENSE
  modules/preview-react/avatar/README.md
  modules/preview-react/avatar/index.ts
  modules/preview-react/avatar/lib/Avatar.tsx
  modules/preview-react/avatar/lib/AvatarImage.tsx
  modules/preview-react/avatar/lib/AvatarName.tsx
  modules/preview-react/avatar/lib/BaseAvatar.tsx
  modules/preview-react/avatar/lib/getInitialsFromName.ts
  modules/preview-react/avatar/spec/Avatar.spec.tsx
  modules/preview-react/avatar/spec/SSR.spec.tsx
  modules/preview-react/avatar/spec/tsconfig.json
  modules/preview-react/avatar/stories/Avatar.mdx
  modules/preview-react/avatar/stories/Avatar.stories.ts
  modules/preview-react/avatar/stories/examples/Basic.tsx
  modules/preview-react/avatar/stories/examples/Custom.tsx
  modules/preview-react/avatar/stories/examples/Decorative.tsx
  modules/preview-react/avatar/stories/examples/Image.tsx
  modules/preview-react/avatar/stories/examples/Size.tsx
  modules/preview-react/avatar/stories/examples/Variant.tsx
  modules/preview-react/avatar/stories/examples/nicholas-avatar.png
  modules/preview-react/avatar/stories/testing.stories.tsx
  modules/preview-react/avatar/stories/tsconfig.json
  modules/preview-react/index.ts
  modules/preview-react/pill/lib/PillAvatar.tsx
  modules/preview-react/pill/stories/examples/WithAvatar.tsx
  modules/preview-react/pill/stories/examples/WithRemovable.tsx
  modules/preview-react/pill/stories/testing.stories.tsx
  modules/react/_examples/stories/mdx/examples/GlobalHeader.tsx
  modules/react/avatar/lib/Avatar.tsx
  modules/react/avatar/stories/avatar/Avatar.mdx
  modules/react/avatar/stories/avatar/Avatar.stories.tsx
  modules/react/expandable/lib/ExpandableAvatar.tsx
  modules/react/expandable/stories/examples/Avatar.tsx
  modules/react/expandable/stories/examples/LongTitle.tsx
  modules/react/expandable/stories/examples/RTL.tsx
  modules/react/expandable/stories/testing.stories.tsx
  modules/react/side-panel/stories/SidePanel.stories.tsx
Labels: automerge, 14.x

#3445 fix: Change name to AIIngressButton
  modules/labs-react/ai-assistant-ingress-button/index.ts
  modules/labs-react/ai-assistant-ingress-button/lib/AIAssistantIngressIcon.tsx
  modules/labs-react/ai-assistant-ingress-button/spec/SSR.spec.tsx
  modules/labs-react/ai-ingress-button/LICENSE
  modules/labs-react/ai-ingress-button/README.md
  modules/labs-react/ai-ingress-button/index.ts
  modules/labs-react/ai-ingress-button/lib/AIIngressButton.tsx
  modules/labs-react/ai-ingress-button/lib/AIIngressIcon.tsx
  modules/labs-react/ai-ingress-button/spec/SSR.spec.tsx
  modules/labs-react/ai-ingress-button/spec/tsconfig.json
  modules/labs-react/ai-ingress-button/stories/AIIngressButton.mdx
  modules/labs-react/ai-ingress-button/stories/AIIngressButton.stories.tsx
  modules/labs-react/ai-ingress-button/stories/examples/Basic.tsx
  modules/labs-react/ai-ingress-button/stories/examples/Inverse.tsx
  modules/labs-react/ai-ingress-button/stories/tsconfig.json
  modules/labs-react/ai-ingress-button/stories/visual-testing/testing.stories.tsx
  modules/labs-react/index.ts
Labels: automerge, 14.x

#3447 feat: Rebrand Breadcrumbs
  modules/docs/mdx/14.0-UPGRADE-GUIDE.mdx
  modules/react/breadcrumbs/lib/BreadcrumbsLink.tsx
Labels: automerge

#3450 fix: Reset context when registering items in virtual list and static API is used
  modules/react/collection/lib/useListRenderItem.tsx
Labels: ready for review, automerge

#3448 fix: Fix nested styles containing CSS variables
  modules/preview-react/multi-select/lib/MultiSelectInput.tsx
  modules/react/common/lib/styles/focusRing.ts
  modules/react/form-field/lib/FormFieldGroupLabel.tsx
  modules/react/form-field/lib/FormFieldLabel.tsx
  modules/styling/lib/cs.ts
  modules/styling/spec/cs.spec.tsx
Labels: automerge

#3460 fix: Update text color for secondary button
  modules/react/button/lib/SecondaryButton.tsx
Labels: automerge

#3446 feat: Update Pills to match our brand Refresh
  modules/docs/mdx/14.0-UPGRADE-GUIDE.mdx
  modules/preview-react/pill/index.ts
  modules/preview-react/pill/lib/Pill.tsx
  modules/preview-react/pill/lib/PillIconButton.tsx
  modules/preview-react/pill/stories/Pill.mdx
  modules/preview-react/pill/stories/examples/WithReadOnly.tsx
  modules/preview-react/pill/stories/testing.stories.tsx
Labels: automerge

#3463 fix: Add cascade barrier to prevent doc theming bleeding into example…
  modules/docs/lib/ExampleCodeBlock.tsx
Labels: automerge

#3461 fix: Export all props to avoid TS using source files
  modules/preview-react/multi-select/index.ts
  modules/preview-react/pill/index.ts
  modules/preview-react/segmented-control/index.ts
  modules/preview-react/status-indicator/index.ts
  modules/react/banner/lib/hooks/index.ts
  modules/react/button/index.ts
  modules/react/card/index.ts
  modules/react/combobox/index.ts
  modules/react/form-field/index.ts
  modules/react/menu/index.ts
  modules/react/popup/index.ts
  modules/react/select/index.ts
  modules/react/skeleton/index.ts
  modules/react/tabs/index.ts
  modules/react/tabs/lib/TabsMenuPopper.tsx
Labels: automerge

#3407 feat: Remove cascade barrier in Canvas Provider
  modules/docs/mdx/14.0-UPGRADE-GUIDE.mdx
  modules/preview-react/text-area/lib/TextAreaField.tsx
  modules/preview-react/text-input/lib/TextInputField.tsx
  modules/preview-react/text-input/stories/examples/ThemedError.tsx
  modules/react/button/stories/visual-testing/PrimaryButton.stories.tsx
  modules/react/common/lib/CanvasProvider.tsx
  modules/react/common/lib/InputProvider.tsx
  modules/react/common/lib/theming/README.md
  modules/react/common/lib/theming/index.ts
  modules/react/common/lib/theming/theme.ts
  modules/react/common/lib/theming/useTheme.ts
  modules/react/common/lib/theming/useThemedRing.ts
  modules/react/common/spec/createCanvasTheme.spec.tsx
  modules/react/common/spec/useTheme.spec.tsx
  modules/react/common/stories/mdx/theme.stories.tsx
  modules/react/layout/spec/mergeStyles.spec.tsx
  modules/react/popup/lib/hooks/usePopupStack.ts
  modules/styling/lib/cs.ts
Labels: automerge

#3468 feat: Remove InputProvider
  modules/docs/mdx/14.0-UPGRADE-GUIDE.mdx
  modules/react/common/index.ts
  modules/react/common/lib/CanvasProvider.tsx
  modules/react/common/lib/InputProvider.tsx
  modules/react/common/spec/InputProvider.spec.tsx
  modules/react/common/spec/SSR.spec.tsx
Labels: automerge

#3469 feat: Deprecated SearchForm in Labs
  modules/docs/mdx/14.0-UPGRADE-GUIDE.mdx
  modules/labs-react/combobox/stories/Combobox.mdx
  modules/labs-react/search-form/lib/SearchForm.tsx
  modules/labs-react/search-form/lib/themes.ts
  modules/labs-react/search-form/stories/SearchForm.mdx
  modules/labs-react/search-form/stories/SearchForm.stories.ts
  modules/react/_examples/stories/mdx/SearchForm.mdx
  modules/react/_examples/stories/mdx/examples/SearchFormBasic.tsx
Labels: automerge
