Repository Workday/canvas-kit, pull requests merged in 2025-03, with the labels that each got.

#3155 chore(collection): Add contextual message when ID can't be found
  modules/react/collection/lib/useBaseListModel.tsx
Labels: automerge

#3159 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/package.json
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
  modules/react/popup/lib/PopupCard.tsx
  modules/styling-transform/package.json
  modules/styling/package.json
Labels: automerge

#3162 chore: Merge master into prerelease/minor
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/package.json
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/collection/lib/useBaseListModel.tsx
  modules/react/package.json
  modules/styling-transform/lib/utils/parseNodeToStaticValue.ts
  modules/styling-transform/package.json
  modules/styling-transform/spec/utils/parseNodeToStaticValue.spec.ts
  modules/styling/package.json
Labels: automerge

#3163 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/package.json
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/collection/lib/useBaseListModel.tsx
  modules/react/package.json
  modules/styling-transform/lib/utils/parseNodeToStaticValue.ts
  modules/styling-transform/package.json
  modules/styling-transform/spec/utils/parseNodeToStaticValue.spec.ts
  modules/styling/package.json
Labels: automerge

#3129 feat: Improving component styling support for Windows 11 High Contrast desktop themes
  modules/preview-react/information-highlight/lib/InformationHighlight.tsx
  modules/preview-react/loading-sparkles/lib/LoadingSparkles.tsx
  modules/preview-react/side-panel/lib/SidePanel.tsx
  modules/preview-react/status-indicator/lib/StatusIndicator.tsx
  modules/react/banner/lib/Banner.tsx
  modules/react/button/lib/BaseButton.tsx
  modules/react/icon/lib/SystemIcon.tsx
  modules/react/loading-dots/lib/LoadingDots.tsx
  modules/react/menu/lib/MenuItem.tsx
  modules/react/modal/lib/ModalCard.tsx
  modules/react/radio/lib/Radio.tsx
  modules/react/skeleton/lib/parts/skeletonShape.tsx
  modules/react/skeleton/lib/parts/skeletonText.tsx
  modules/react/tabs/lib/TabsItem.tsx
  modules/react/text-input/lib/TextInput.tsx
  modules/react/tooltip/lib/TooltipContainer.tsx
Labels: approved, automerge

#3166 docs: Add Snapshot serializers to ignore hashes
  modules/docs/mdx/TESTING.mdx
Labels: automerge

#3167 docs: Ensure stackblitz gets packaged with docs package
  modules/docs/package.json
  modules/docs/tsconfig.json
Labels: automerge

#3164 feat: Refactor Tooltip component to use new styling utilities and tokens
  modules/docs/mdx/13.0-UPGRADE-GUIDE.mdx
  modules/react/tooltip/lib/TooltipContainer.tsx
  modules/react/tooltip/stories/examples/Placements.tsx
Labels: approved, automerge, 13.x

#3128 chore: Expandable component style refactor
  modules/docs/mdx/13.0-UPGRADE-GUIDE.mdx
  modules/labs-react/expandable/lib/Expandable.tsx
  modules/labs-react/expandable/lib/ExpandableAvatar.tsx
  modules/labs-react/expandable/lib/ExpandableContent.tsx
  modules/labs-react/expandable/lib/ExpandableIcon.tsx
  modules/labs-react/expandable/lib/ExpandableTarget.tsx
  modules/labs-react/expandable/lib/ExpandableTitle.tsx
  modules/react/avatar/lib/Avatar.tsx
  modules/react/icon/lib/SystemIcon.tsx
Labels: automerge

#3174 chore: Merge master into prerelease/minor
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/mdx/TESTING.mdx
  modules/docs/package.json
  modules/docs/tsconfig.json
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/collection/lib/useBaseListModel.tsx
  modules/react/package.json
  modules/styling-transform/package.json
  modules/styling/package.json
Labels: automerge

#3183 fix: Compound components should accept `ElementComponent`
  modules/react/common/lib/utils/components.ts
  modules/react/common/spec/components.spec.tsx
Labels: automerge

#3184 chore: Merge support into master
  CHANGELOG.md
  modules/react/common/lib/utils/components.ts
  modules/react/common/spec/components.spec.tsx
Labels: automerge

#3188 fix: Update the build script for the docs package to ensure stackblitz files exist in the dist folder.
  modules/docs/lib/ExampleCodeBlock.tsx
  modules/docs/utils/build-docs.js
Labels: ready for review, automerge

#3181 chore: Merge master into prerelease/minor
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/lib/ExampleCodeBlock.tsx
  modules/docs/package.json
  modules/docs/utils/build-docs.js
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/common/lib/utils/components.ts
  modules/react/common/spec/components.spec.tsx
  modules/react/package.json
  modules/styling-transform/package.json
  modules/styling/package.json
  yarn.lock
Labels: automerge

#3189 fix: Ensure text visible when select model is hoisted
  modules/react/collection/lib/useBaseListModel.tsx
Labels: automerge

#3180 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/lib/ExampleCodeBlock.tsx
  modules/docs/mdx/TESTING.mdx
  modules/docs/package.json
  modules/docs/tsconfig.json
  modules/docs/utils/build-docs.js
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/information-highlight/lib/InformationHighlight.tsx
  modules/preview-react/package.json
  modules/preview-react/side-panel/lib/SidePanel.tsx
  modules/preview-react/status-indicator/lib/StatusIndicator.tsx
  modules/react-fonts/package.json
  modules/react/banner/lib/Banner.tsx
  modules/react/button/lib/BaseButton.tsx
  modules/react/collection/lib/useBaseListModel.tsx
  modules/react/common/lib/utils/components.ts
  modules/react/common/spec/components.spec.tsx
  modules/react/icon/lib/SystemIcon.tsx
  modules/react/loading-dots/lib/LoadingDots.tsx
  modules/react/menu/lib/MenuItem.tsx
  modules/react/modal/lib/ModalCard.tsx
  modules/react/package.json
  modules/react/radio/lib/Radio.tsx
  modules/react/text-input/lib/TextInput.tsx
  modules/react/tooltip/lib/TooltipContainer.tsx
  modules/styling-transform/package.json
  modules/styling/package.json
  yarn.lock
Labels: automerge

#3190 chore: Merge master into prerelease/minor
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/package.json
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/collection/lib/useBaseListModel.tsx
  modules/react/package.json
  modules/styling-transform/package.json
  modules/styling/package.json
Labels: automerge

#3191 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/package.json
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/collection/lib/useBaseListModel.tsx
  modules/react/package.json
  modules/styling-transform/package.json
  modules/styling/package.json
Labels: automerge

#3165 fix: Export collection types used in unexported models
  babel.config.js
  modules/react/collection/index.ts
  package.json
  yarn.lock
Labels: automerge

#3193 docs: Updated snapshot serializers doc with modifier class name use case
  modules/docs/mdx/TESTING.mdx
Labels: automerge

#3149 feat: Add support for SAS URL to Graphic component
  modules/react/icon/lib/Graphic.tsx
  modules/react/icon/stories/Icons.stories.tsx
Labels: automerge

#3196 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  babel.config.js
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/mdx/TESTING.mdx
  modules/docs/package.json
  modules/docs/utils/build-docs.js
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/collection/index.ts
  modules/react/icon/lib/Graphic.tsx
  modules/react/icon/stories/Icons.stories.tsx
  modules/react/package.json
  modules/styling-transform/package.json
  modules/styling/package.json
  package.json
  yarn.lock
Labels: automerge

#3104 feat: Refactor Pill component to use new styling utilities and tokens
  cypress/component/PillPreview.spec.tsx
  modules/codemod/lib/v13/addPillLabel.ts
  modules/codemod/lib/v13/index.ts
  modules/codemod/lib/v13/spec/addPillLabel.spec.ts
  modules/codemod/lib/v13/spec/expectTransformFactory.ts
  modules/docs/mdx/12.0-UPGRADE-GUIDE.mdx
  modules/docs/mdx/13.0-UPGRADE-GUIDE.mdx
  modules/preview-react/multi-select/lib/MultiSelectedItem.tsx
  modules/preview-react/pill/index.ts
  modules/preview-react/pill/lib/Pill.tsx
  modules/preview-react/pill/lib/PillAvatar.tsx
  modules/preview-react/pill/lib/PillCount.tsx
  modules/preview-react/pill/lib/PillIcon.tsx
  modules/preview-react/pill/lib/PillIconButton.tsx
  modules/preview-react/pill/lib/PillLabel.tsx
  modules/preview-react/pill/lib/usePillModel.tsx
  modules/preview-react/pill/stories/Pill.mdx
  modules/preview-react/pill/stories/Pill.stories.ts
  modules/preview-react/pill/stories/examples/Basic.tsx
  modules/preview-react/pill/stories/examples/CustomStyles.tsx
  modules/preview-react/pill/stories/examples/WithAvatar.tsx
  modules/preview-react/pill/stories/examples/WithCount.tsx
  modules/preview-react/pill/stories/examples/WithList.tsx
  modules/preview-react/pill/stories/examples/WithReadOnly.tsx
  modules/preview-react/pill/stories/examples/WithRemovable.tsx
  modules/preview-react/pill/stories/testing.stories.tsx
  modules/react/avatar/lib/Avatar.tsx
  modules/react/common/lib/EllipsisText.tsx
  modules/react/icon/lib/SystemIcon.tsx
  modules/react/tabs/lib/TabsItem.tsx
Labels: automerge

#3197 chore: Merge master into prerelease/minor
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/package.json
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
  modules/styling-transform/package.json
  modules/styling/package.json
  yarn.lock
Labels: automerge

#3198 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/package.json
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
  modules/styling-transform/package.json
  modules/styling/package.json
  yarn.lock
Labels: automerge

#3123 feat: Refactor SidePanel to use new styling utilities and tokens
  modules/docs/mdx/13.0-UPGRADE-GUIDE.mdx
  modules/preview-react/side-panel/lib/SidePanel.tsx
  modules/preview-react/side-panel/lib/SidePanelToggleButton.tsx
  modules/preview-react/side-panel/lib/hooks.ts
Labels: automerge

#3200 fix: Account for nodejs environemnts when encoding data
  modules/react/icon/lib/Graphic.tsx
Labels: automerge

#3202 fix: Pass height and width to Graphic span element
  modules/react/icon/lib/Graphic.tsx
  modules/react/icon/stories/Icons.stories.tsx
Labels: automerge

#3199 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/package.json
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/icon/lib/Graphic.tsx
  modules/react/package.json
  modules/styling-transform/package.json
  modules/styling/package.json
Labels: automerge

#3207 fix: Ensure btoa is defined on window
  modules/react/icon/lib/Graphic.tsx
Labels: automerge

#3206 fix: Add minWidth and minHeight 1px to accessibleHide
  modules/react/common/lib/AccessibleHide.tsx
Labels: automerge

#3208 fix: Update Pill styles based on spec
  modules/preview-react/pill/lib/Pill.tsx
  modules/preview-react/pill/lib/PillCount.tsx
Labels: automerge

#3203 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/package.json
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/common/lib/AccessibleHide.tsx
  modules/react/icon/lib/Graphic.tsx
  modules/react/icon/stories/Icons.stories.tsx
  modules/react/package.json
  modules/styling-transform/package.json
  modules/styling/package.json
Labels: automerge

#3201 feat: Promote new Dub logos and add codemod to handle change
  modules/codemod/lib/v13/index.ts
  modules/codemod/lib/v13/renameDubLogosImports.ts
  modules/codemod/lib/v13/renameDubLogosReferences.ts
  modules/codemod/lib/v13/spec/renameDubLogosImports.spec.ts
  modules/codemod/lib/v13/spec/renameDubLogosReferences.spec.ts
  modules/docs/mdx/13.0-UPGRADE-GUIDE.mdx
  modules/preview-react/common/index.ts
  modules/preview-react/common/lib/parts/_brand-assets.ts
  modules/preview-react/common/lib/parts/index.ts
  modules/preview-react/index.ts
  modules/react/common/lib/parts/_brand-assets.ts
  modules/react/side-panel/stories/stories.tsx
Labels: automerge

#3213 fix(menu): Support vertical navigation in RTL document mode
  modules/react/collection/lib/keyUtils.ts
Labels: automerge

#3215 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/package.json
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/collection/lib/keyUtils.ts
  modules/react/package.json
  modules/styling-transform/package.json
  modules/styling/package.json
Labels: automerge
