Repository Workday/canvas-kit, pull requests merged in 2025-02, with the labels that each got.

#2814 feat: Add new `description` variant to Tooltip and deprecate `describe` variant for better accessibility.
  cypress/component/Tooltip.spec.tsx
  modules/react/_examples/stories/Tooltips.stories.mdx
  modules/react/_examples/stories/examples/Tooltips/ListOfUploadedFiles.tsx
  modules/react/tooltip/lib/Tooltip.tsx
  modules/react/tooltip/lib/useTooltip.tsx
  modules/react/tooltip/spec/Tooltip.spec.tsx
  modules/react/tooltip/spec/useTooltip.spec.tsx
  modules/react/tooltip/stories/Tooltip.mdx
  modules/react/tooltip/stories/Tooltip.stories.ts
  modules/react/tooltip/stories/examples/DescriptionType.tsx
Labels: automerge

#3125 fix: Remove action tokens from CanvasProvider to allow cascading
  modules/docs/package.json
  modules/labs-react/package.json
  modules/preview-react/package.json
  modules/react/button/stories/button/Button.mdx
  modules/react/button/stories/button/examples/ThemeOverrides.tsx
  modules/react/button/stories/visual-testing/PrimaryButton.stories.tsx
  modules/react/common/lib/CanvasProvider.tsx
  modules/react/common/lib/theming/createCanvasTheme.ts
  modules/react/common/lib/theming/theme.ts
  modules/react/common/lib/theming/types.ts
  modules/react/common/spec/createCanvasTheme.spec.tsx
  modules/react/package.json
  modules/styling-transform/package.json
  modules/styling/package.json
  package.json
  utils/storybook/customThemes.ts
  yarn.lock
Labels: approved, automerge

#3127 chore: Merge master into prerelease/minor
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/package.json
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/button/stories/button/Button.mdx
  modules/react/button/stories/button/examples/ThemeOverrides.tsx
  modules/react/button/stories/visual-testing/PrimaryButton.stories.tsx
  modules/react/common/lib/CanvasProvider.tsx
  modules/react/common/lib/theming/createCanvasTheme.ts
  modules/react/common/lib/theming/theme.ts
  modules/react/common/lib/theming/types.ts
  modules/react/common/spec/createCanvasTheme.spec.tsx
  modules/react/package.json
  modules/styling-transform/package.json
  modules/styling/package.json
  package.json
  utils/storybook/customThemes.ts
  yarn.lock
Labels: automerge

#3117 feat: Deprecate hideMouseFocus and mouseFocusBehavior
  modules/labs-react/expandable/lib/ExpandableTarget.tsx
  modules/preview-react/menu/lib/Menu.tsx
  modules/react/banner/lib/Banner.tsx
  modules/react/common/lib/styles/hideMouseFocus.ts
  modules/react/tabs/lib/TabsItem.tsx
  modules/react/tabs/lib/TabsPanel.tsx
Labels: automerge

#3130 fix: Ensure width is passed to Select input
  modules/react/select/lib/Select.tsx
Labels: ready for review, automerge

#3120 feat: Refactor LoadingSparkles component to use new styling utilities and tokens
  modules/docs/mdx/13.0-UPGRADE-GUIDE.mdx
  modules/preview-react/loading-sparkles/lib/LoadingSparkles.tsx
  modules/preview-react/loading-sparkles/lib/sparkleIcon.ts
Labels: automerge

#3131 chore: Merge support into master
  CHANGELOG.md
  modules/react/select/lib/SelectInput.tsx
Labels: automerge

#3133 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/package.json
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
  modules/react/select/lib/SelectInput.tsx
  modules/styling-transform/package.json
  modules/styling/package.json
Labels: automerge

#3119 feat: Refactor Tabs component to use new styling utilities and tokens
  modules/docs/mdx/13.0-UPGRADE-GUIDE.mdx
  modules/react/common/lib/EllipsisText.tsx
  modules/react/icon/lib/SystemIcon.tsx
  modules/react/tabs/lib/TabsItem.tsx
  modules/react/tabs/lib/TabsList.tsx
  modules/react/tabs/lib/TabsOverflowButton.tsx
Labels: ready for review, automerge, 13.x

#3138 fix: Add missing semicolon to tooltip mdx
  modules/react/tooltip/stories/Tooltip.mdx
Labels: ready for review, automerge

#3139 fix: Update tooltip mdx to correctly render
  modules/react/tooltip/stories/Tooltip.mdx
Labels: automerge

#3141 fix(popup): Fix useReturnFocus to respect tabindex=-1 buttons
  cypress/integration/Popup.spec.ts
  modules/react/common/lib/utils/elements.ts
  modules/react/popup/lib/hooks/useReturnFocus.tsx
  modules/react/popup/stories/stories_testing.tsx
Labels: automerge

#3143 chore: Merge support into master
  CHANGELOG.md
  cypress/component/Popup.spec.tsx
  modules/react/common/lib/utils/elements.ts
  modules/react/popup/lib/hooks/useReturnFocus.tsx
  modules/react/popup/stories/examples/ReturnFocusTest.tsx
Labels: automerge

#3126 feat: Add New Component `BaseTable`
  modules/react/table/index.ts
  modules/react/table/lib/BaseTable.tsx
  modules/react/table/lib/Table.tsx
  modules/react/table/lib/TableCaption.tsx
  modules/react/table/lib/TableFooter.tsx
  modules/react/table/lib/parts/BaseTableBody.tsx
  modules/react/table/lib/parts/BaseTableCaption.tsx
  modules/react/table/lib/parts/BaseTableCell.tsx
  modules/react/table/lib/parts/BaseTableFooter.tsx
  modules/react/table/lib/parts/BaseTableHead.tsx
  modules/react/table/lib/parts/BaseTableHeader.tsx
  modules/react/table/lib/parts/BaseTableRow.tsx
  modules/react/table/lib/parts/css-grid-table/TableRow.tsx
  modules/react/table/lib/parts/css-grid-table/index.tsx
  modules/react/table/lib/parts/index.tsx
  modules/react/table/stories/Table.mdx
  modules/react/table/stories/Table.stories.ts
  modules/react/table/stories/examples/BaseHtmlTable.tsx
Labels: automerge, 12.x

#3147 fix(combobox): Use focus/blur reconfig vs rewrite for testing library
  modules/react/combobox/lib/hooks/useComboboxInputConstrained.ts
Labels: ready for review, automerge

#3152 fix(styling): Share a global Emotion instance between CK instances
  modules/styling/lib/cs.ts
Labels: automerge

#3157 fix: Addressed missing `as` prop on Popup.Card
  modules/react/popup/lib/PopupCard.tsx
Labels: automerge

#3160 fix: Support negative values
  modules/styling-transform/lib/utils/parseNodeToStaticValue.ts
  modules/styling-transform/spec/utils/parseNodeToStaticValue.spec.ts
Labels: automerge
