Repository Workday/canvas-kit, pull requests merged in 2025-09, with the labels that each got.

#3473 fix: Update token usage per latest spec
  cypress/component/AvatarPreview.spec.tsx
  modules/docs/mdx/14.0-UPGRADE-GUIDE.mdx
  modules/preview-react/multi-select/lib/MultiSelectInput.tsx
  modules/preview-react/multi-select/stories/examples/Error.tsx
  modules/preview-react/pill/lib/Pill.tsx
  modules/preview-react/pill/lib/PillIconButton.tsx
  modules/react/badge/lib/CountBadge.tsx
  modules/react/banner/lib/Banner.tsx
  modules/react/button/lib/Hyperlink.tsx
  modules/react/button/lib/SecondaryButton.tsx
  modules/react/button/lib/parts/ButtonLabelIcon.tsx
  modules/react/button/stories/button/examples/ExternalHyperlinkInverse.tsx
  modules/react/button/stories/button/examples/HyperlinkInverse.tsx
  modules/react/card/lib/Card.tsx
  modules/react/expandable/lib/ExpandableAvatar.tsx
  modules/react/expandable/lib/ExpandableTarget.tsx
  modules/react/expandable/stories/examples/EndIcon.tsx
  modules/react/loading-dots/lib/LoadingDots.tsx
  modules/react/pagination/lib/Pagination/PageButton.tsx
  modules/react/select/lib/SelectInput.tsx
  modules/react/tabs/lib/TabsItem.tsx
Labels: automerge

#3452 chore: Add component tracking tags
  modules/react/button/lib/parts/ButtonLabelIcon.tsx
  modules/react/common/lib/utils/components.ts
  modules/react/common/lib/utils/insights.ts
Labels: infra, automerge, 12.x

#3488 fix: Properly export version from React package
  modules/react/index.ts
  modules/react/version/index.ts
  modules/react/version/lib/version.ts
Labels: automerge

#3487 fix: Add backwards compat to focusRing
  modules/preview-react/color-picker/lib/parts/ColorReset.tsx
  modules/preview-react/color-picker/lib/parts/SwatchBook.tsx
  modules/react/button/lib/ToolbarDropdownButton.tsx
  modules/react/button/lib/ToolbarIconButton.tsx
  modules/react/common/lib/styles/errorRing.ts
  modules/react/common/lib/styles/focusRing.ts
  modules/react/radio/lib/Radio.tsx
Labels: approved, automerge

#3480 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/package.json
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/multi-select/lib/MultiSelectInput.tsx
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/button/lib/parts/ButtonLabelIcon.tsx
  modules/react/common/lib/styles/errorRing.ts
  modules/react/common/lib/styles/focusRing.ts
  modules/react/common/lib/utils/components.ts
  modules/react/common/lib/utils/insights.ts
  modules/react/form-field/lib/FormFieldGroupLabel.tsx
  modules/react/form-field/lib/FormFieldLabel.tsx
  modules/react/index.ts
  modules/react/package.json
  modules/react/radio/lib/Radio.tsx
  modules/react/version/index.ts
  modules/react/version/lib/version.ts
  modules/styling-transform/package.json
  modules/styling/lib/cs.ts
  modules/styling/package.json
  modules/styling/spec/cs.spec.tsx
Labels: automerge

#3495 fix: Let typescript infer type from focusRing
  modules/react/checkbox/lib/CheckboxInput.tsx
  modules/react/common/lib/styles/focusRing.ts
  modules/react/radio/lib/Radio.tsx
Labels: automerge

#3492 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/package.json
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/color-picker/lib/parts/ColorReset.tsx
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/common/lib/styles/errorRing.ts
  modules/react/common/lib/styles/focusRing.ts
  modules/react/package.json
  modules/react/radio/lib/Radio.tsx
  modules/styling-transform/package.json
  modules/styling/package.json
Labels: automerge

#3478 docs: Add theming docs
  modules/docs/mdx/14.0-UPGRADE-GUIDE.mdx
  modules/docs/mdx/Assets.png
  modules/docs/mdx/Components.png
  modules/docs/mdx/Styling.png
  modules/docs/mdx/Tokens.png
  modules/docs/mdx/welcome.mdx
  modules/docs/mdx/welcomePage.tsx
  modules/react/common/stories/direction.stories.tsx
  modules/react/common/stories/mdx/Theming.mdx
  modules/react/common/stories/mdx/Theming.stories.tsx
  modules/react/common/stories/mdx/examples/RTL.tsx
  modules/react/common/stories/mdx/examples/Theming.tsx
  modules/react/common/stories/mdx/theme.stories.tsx
Labels: automerge, 14.x

#3503 fix(modal): Fix RTL modals
  modules/react/modal/lib/ModalOverlay.tsx
  modules/react/modal/stories/testing.stories.tsx
Labels: automerge

#3498 docs: Clean up v14 upgrade guide
  modules/docs/llm-txt/llm-canvas-kit-upgrade-guide-v14.txt
  modules/docs/mdx/14.0-UPGRADE-GUIDE.mdx
  modules/docs/mdx/14.0-VISUAL-CHANGES.mdx
  modules/docs/mdx/images/v14-count-badge.png
  modules/docs/mdx/images/v14-loading-sparkles.png
  modules/docs/mdx/tokens/TokenMigrationOverview.mdx
  modules/react/common/stories/mdx/Theming.mdx
Labels: automerge

#3506 docs: Fix llm filenames
  modules/docs/mdx/14.0-UPGRADE-GUIDE.mdx
  modules/docs/mdx/tokens/TokenMigrationOverview.mdx
Labels: automerge

#3508 chore: Update to tokens v3 and update icon packages
  modules/docs/package.json
  modules/labs-react/package.json
  modules/preview-react/package.json
  modules/react/package.json
  modules/styling-transform/package.json
  modules/styling/package.json
  package.json
  yarn.lock
Labels: automerge

#3511 chore: Update cypress to v14
  cypress/support/component.ts
  package.json
  yarn.lock
Labels: automerge

#3517 fix: Update tokens
  modules/codemod/lib/v14-tokens/baseMapping.ts
  modules/docs/llm-txt/llm-token-migration-14.txt
  modules/docs/mdx/tokens/TokenMigrationMappingColors.mdx
  modules/docs/package.json
  modules/labs-react/package.json
  modules/preview-react/package.json
  modules/react/package.json
  modules/styling-transform/package.json
  modules/styling/package.json
  package.json
  yarn.lock
Labels: automerge

#3526 fix: Update token version number for stackblitz files
  modules/docs/lib/stackblitzFiles/packageJSONFile.ts
Labels: automerge
