Repository Workday/canvas-kit, pull requests merged in 2025-01, with the labels that each got.

#3089 feat: Update CKR Dub and Logo References
  modules/preview-react/common/index.ts
  modules/preview-react/common/lib/parts/_brand-assets.ts
  modules/preview-react/common/lib/parts/index.ts
Labels: ready for review, automerge, 11.x

#3090 chore: Merge support into master
  CHANGELOG.md
  modules/preview-react/common/index.ts
  modules/preview-react/common/lib/parts/_brand-assets.ts
  modules/preview-react/common/lib/parts/index.ts
Labels: automerge

#3093 fix: Added CKR Dub and Logo References to preview package
  modules/preview-react/index.ts
Labels: ready for review, automerge, 11.x

#3095 chore: Merge support into master
  CHANGELOG.md
  modules/preview-react/index.ts
Labels: automerge

#3094 fix: Add overflowWrap on MenuItem
  modules/react/menu/lib/MenuItem.tsx
  modules/react/menu/stories/testingVisual.stories.tsx
Labels: ready for review, automerge

#3015 feat: Add new InformationHighlight component to Preview
  cypress/component/InformationHighlight.spec.tsx
  modules/docs/index.ts
  modules/docs/lib/InformationHighlight/Base.tsx
  modules/docs/lib/InformationHighlight/Body.tsx
  modules/docs/lib/InformationHighlight/Heading.tsx
  modules/docs/lib/InformationHighlight/Icon.tsx
  modules/docs/lib/InformationHighlight/Link.tsx
  modules/docs/lib/InformationHighlight/index.tsx
  modules/preview-react/InformationHighlight/LICENSE
  modules/preview-react/InformationHighlight/README.md
  modules/preview-react/InformationHighlight/index.tsx
  modules/preview-react/InformationHighlight/lib/InformationHighlight.tsx
  modules/preview-react/InformationHighlight/lib/hooks/useInformationHighlightModel.ts
  modules/preview-react/InformationHighlight/lib/parts/Body.tsx
  modules/preview-react/InformationHighlight/lib/parts/Heading.tsx
  modules/preview-react/InformationHighlight/lib/parts/Icon.tsx
  modules/preview-react/InformationHighlight/lib/parts/Link.tsx
  modules/preview-react/InformationHighlight/spec/InformationHighlight.spec.tsx
  modules/preview-react/InformationHighlight/stories/InformationHighlight.mdx
  modules/preview-react/InformationHighlight/stories/InformationHighlight.stories.ts
  modules/preview-react/InformationHighlight/stories/examples/Basic.tsx
  modules/preview-react/InformationHighlight/stories/examples/Body.tsx
  modules/preview-react/InformationHighlight/stories/examples/Caution.tsx
  modules/preview-react/InformationHighlight/stories/examples/Critical.tsx
  modules/preview-react/InformationHighlight/stories/examples/CustomIconCritical.tsx
  modules/preview-react/InformationHighlight/stories/examples/Heading.tsx
  modules/preview-react/InformationHighlight/stories/examples/Informational.tsx
  modules/preview-react/InformationHighlight/stories/examples/RTL.tsx
  modules/preview-react/InformationHighlight/stories/tsconfig.json
  modules/preview-react/InformationHighlight/stories/visual_testing/testing.stories.tsx
  modules/preview-react/index.ts
  modules/react/button/lib/Hyperlink.tsx
  modules/react/tokens/stories/Tokens.mdx
Labels: automerge, 12.x

#3081 feat: Add action tokens to PrimaryButton with brand base as fallback
  modules/docs/package.json
  modules/labs-react/package.json
  modules/preview-react/package.json
  modules/react/button/lib/PrimaryButton.tsx
  modules/react/button/stories/button/Button.mdx
  modules/react/button/stories/button/Button.stories.tsx
  modules/react/button/stories/button/examples/ThemeOverrides.tsx
  modules/react/button/stories/visual-testing/PrimaryButton.stories.tsx
  modules/react/common/lib/CanvasProvider.tsx
  modules/react/common/lib/theming/createCanvasTheme.ts
  modules/react/common/lib/theming/theme.ts
  modules/react/common/lib/theming/types.ts
  modules/react/common/spec/createCanvasTheme.spec.tsx
  modules/react/package.json
  modules/styling-transform/package.json
  modules/styling/package.json
  package.json
  utils/storybook/customThemes.ts
  yarn.lock
Labels: ready for review, automerge

#3097 fix: Update Information Highlight folder name for slash imports
  cypress/component/InformationHighlight.spec.tsx
  modules/preview-react/index.ts
  modules/preview-react/information-highlight/LICENSE
  modules/preview-react/information-highlight/README.md
  modules/preview-react/information-highlight/index.tsx
  modules/preview-react/information-highlight/lib/InformationHighlight.tsx
  modules/preview-react/information-highlight/lib/hooks/useInformationHighlightModel.ts
  modules/preview-react/information-highlight/lib/parts/Body.tsx
  modules/preview-react/information-highlight/lib/parts/Heading.tsx
  modules/preview-react/information-highlight/lib/parts/Icon.tsx
  modules/preview-react/information-highlight/lib/parts/Link.tsx
  modules/preview-react/information-highlight/spec/InformationHighlight.spec.tsx
  modules/preview-react/information-highlight/stories/InformationHighlight.mdx
  modules/preview-react/information-highlight/stories/InformationHighlight.stories.ts
  modules/preview-react/information-highlight/stories/examples/Basic.tsx
  modules/preview-react/information-highlight/stories/examples/Body.tsx
  modules/preview-react/information-highlight/stories/examples/Caution.tsx
  modules/preview-react/information-highlight/stories/examples/Critical.tsx
  modules/preview-react/information-highlight/stories/examples/CustomIconCritical.tsx
  modules/preview-react/information-highlight/stories/examples/Heading.tsx
  modules/preview-react/information-highlight/stories/examples/Informational.tsx
  modules/preview-react/information-highlight/stories/examples/RTL.tsx
  modules/preview-react/information-highlight/stories/tsconfig.json
  modules/preview-react/information-highlight/stories/visual_testing/testing.stories.tsx
  modules/react/tokens/stories/Tokens.mdx
Labels: automerge

#3098 fix: Rename index file to correctly export
  modules/preview-react/information-highlight/index.ts
Labels: ready for review, automerge

#3056 docs: Refreshing preview SidePanel storybook examples
  modules/preview-react/side-panel/stories/SidePanel.mdx
  modules/preview-react/side-panel/stories/examples/AlwaysOpen.tsx
  modules/preview-react/side-panel/stories/examples/Basic.tsx
  modules/preview-react/side-panel/stories/examples/ExternalControl.tsx
  modules/preview-react/side-panel/stories/examples/HiddenName.tsx
  modules/preview-react/side-panel/stories/examples/OnExpandedChange.tsx
  modules/preview-react/side-panel/stories/examples/OnStateTransition.tsx
  modules/preview-react/side-panel/stories/examples/RightOrigin.tsx
  modules/preview-react/side-panel/stories/examples/Variant.tsx
  modules/react/_examples/stories/mdx/SidePanel.mdx
  modules/react/_examples/stories/mdx/examples/SidePanelWithNavigation.tsx
  modules/react/_examples/stories/mdx/examples/SidePanelWithOverlay.tsx
Labels: automerge

#3100 chore: Set up v13 files
  modules/codemod/index.js
  modules/codemod/lib/v13/index.ts
  modules/codemod/lib/v13/utils/getImportRenameMap.ts
  modules/docs/mdx/13.0-UPGRADE-GUIDE.mdx
  modules/docs/mdx/versionsTable.tsx
Labels: automerge

#3088 feat: Refactor Skeleton to use our new styling utilities and new tokens
  modules/docs/mdx/13.0-UPGRADE-GUIDE.mdx
  modules/react/skeleton/index.ts
  modules/react/skeleton/lib/Skeleton.tsx
  modules/react/skeleton/lib/parts/SkeletonHeader.tsx
  modules/react/skeleton/lib/parts/SkeletonShape.tsx
  modules/react/skeleton/lib/parts/SkeletonText.tsx
  modules/react/skeleton/lib/parts/skeletonHeader.tsx
  modules/react/skeleton/lib/parts/skeletonShape.tsx
  modules/react/skeleton/lib/parts/skeletonText.tsx
  modules/react/skeleton/spec/skeleton.spec.tsx
Labels: automerge

#3101 feat: Refactor External Hyperlink to use new styling utilities
  modules/docs/lib/StylePropsTable.tsx
  modules/docs/lib/widgets/external.tsx
  modules/docs/mdx/13.0-UPGRADE-GUIDE.mdx
  modules/docs/mdx/welcomePage.tsx
  modules/react/button/lib/ExternalHyperlink.tsx
  modules/react/button/lib/Hyperlink.tsx
  modules/react/button/stories/button/examples/ExternalHyperlink.tsx
  modules/react/button/stories/button/examples/ExternalHyperlinkInverse.tsx
  modules/react/button/stories/visual-testing/ExternalHyperlink.stories.tsx
  modules/react/combobox/lib/hooks/useComboboxInputConstrained.ts
  modules/react/skeleton/index.ts
Labels: ready for review, automerge

#3113 chore: Update banner image on welcome page
  modules/docs/mdx/CK-banner-temp.jpg
  modules/docs/mdx/storybook-welcome-header.png
  modules/docs/mdx/welcomePage.tsx
Labels: ready for review, automerge

#3114 feat: Refactor Menu and its sub components to use our new styling utilities
  modules/docs/mdx/13.0-UPGRADE-GUIDE.mdx
  modules/react/menu/index.ts
  modules/react/menu/lib/MenuCard.tsx
  modules/react/menu/lib/MenuDivider.tsx
  modules/react/menu/lib/MenuItem.tsx
  modules/react/menu/lib/MenuList.tsx
  modules/react/menu/lib/MenuOption.tsx
  modules/react/menu/stories/examples/Icons.tsx
Labels: ready for review, automerge
