Repository Workday/canvas-kit, pull requests merged in 2025-04, with the labels that each got.

#3134 feat: Add `parts` property on `createStencil` for better type safety
  modules/react/avatar/lib/Avatar.tsx
  modules/styling/lib/cs.ts
  modules/styling/spec/cs.spec.tsx
  modules/styling/stories/mdx/ComponentParts.mdx
Labels: automerge

#3210 feat: Refactor Banner component to use new styling utilities and tokens
  modules/docs/mdx/13.0-UPGRADE-GUIDE.mdx
  modules/react/banner/lib/Banner.tsx
  modules/react/banner/lib/BannerActionText.tsx
  modules/react/banner/lib/BannerIcon.tsx
  modules/react/banner/lib/BannerLabel.tsx
  modules/react/banner/lib/hooks/useBannerIcon.tsx
Labels: automerge

#3217 feat: Promote Expandable and add codemod to handle change
  cypress/component/ExpandableContainer.spec.tsx
  modules/codemod/lib/v13/index.ts
  modules/codemod/lib/v13/promoteExpandable.ts
  modules/codemod/lib/v13/spec/promoteExpandable.spec.ts
  modules/docs/lib/widgets/enhancedComponent.tsx
  modules/docs/mdx/13.0-UPGRADE-GUIDE.mdx
  modules/labs-react/expandable/README.md
  modules/labs-react/index.ts
  modules/react/_examples/stories/mdx/examples/SidePanelWithNavigation.tsx
  modules/react/expandable/LICENSE
  modules/react/expandable/README.md
  modules/react/expandable/index.ts
  modules/react/expandable/lib/Expandable.tsx
  modules/react/expandable/lib/ExpandableAvatar.tsx
  modules/react/expandable/lib/ExpandableContent.tsx
  modules/react/expandable/lib/ExpandableIcon.tsx
  modules/react/expandable/lib/ExpandableTarget.tsx
  modules/react/expandable/lib/ExpandableTitle.tsx
  modules/react/expandable/lib/hooks/index.ts
  modules/react/expandable/lib/hooks/useExpandableContent.ts
  modules/react/expandable/lib/hooks/useExpandableIcon.ts
  modules/react/expandable/lib/hooks/useExpandableModel.tsx
  modules/react/expandable/lib/hooks/useExpandableTarget.ts
  modules/react/expandable/spec/SSR.spec.tsx
  modules/react/expandable/spec/tsconfig.json
  modules/react/expandable/stories/Expandable.mdx
  modules/react/expandable/stories/Expandable.stories.tsx
  modules/react/expandable/stories/examples/Avatar.tsx
  modules/react/expandable/stories/examples/Depth.tsx
  modules/react/expandable/stories/examples/EndIcon.tsx
  modules/react/expandable/stories/examples/HoistedModel.tsx
  modules/react/expandable/stories/examples/LongTitle.tsx
  modules/react/expandable/stories/examples/RTL.tsx
  modules/react/expandable/stories/examples/StartIcon.tsx
  modules/react/expandable/stories/examples/test-avatar.png
  modules/react/expandable/stories/testing.stories.tsx
  modules/react/expandable/stories/tsconfig.json
  modules/react/index.ts
Labels: automerge

#3225 fix(popup): Nested Popups using `useDisableBodyScroll`
  modules/react/popup/lib/hooks/useDisableBodyScroll.ts
Labels: automerge

#3222 fix: Update InformationHighlight.Body to use div
  modules/preview-react/information-highlight/lib/parts/Body.tsx
  modules/preview-react/information-highlight/stories/examples/Critical.tsx
  modules/preview-react/information-highlight/stories/examples/Informational.tsx
Labels: accessibility, automerge, 12.x

#3226 chore: Merge support into master
  CHANGELOG.md
  modules/react/popup/lib/hooks/useDisableBodyScroll.ts
Labels: automerge

#3228 fix(icon): Forward `elemProps` in `SystemIconCircle`
  modules/react/icon/lib/SystemIconCircle.tsx
Labels: automerge

#3229 chore: Merge master into prerelease/minor
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/package.json
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/information-highlight/lib/parts/Body.tsx
  modules/preview-react/information-highlight/stories/examples/Critical.tsx
  modules/preview-react/information-highlight/stories/examples/Informational.tsx
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
  modules/react/popup/lib/hooks/useDisableBodyScroll.ts
  modules/styling-transform/package.json
  modules/styling/package.json
Labels: automerge

#3220 chore: Merge prerelease/minor into prerelease/major
  jest.config.js
  modules/preview-react/pill/lib/Pill.tsx
  modules/preview-react/pill/lib/PillAvatar.tsx
  modules/preview-react/segmented-control/lib/hooks/useSegmentedControlModel.tsx
  modules/react/avatar/lib/Avatar.tsx
  modules/react/collection/lib/ListBox.tsx
  modules/react/collection/lib/useBaseListModel.tsx
  modules/react/collection/lib/useListItemRegister.tsx
  modules/react/menu/lib/Menu.tsx
  modules/react/menu/lib/MenuGroup.tsx
  modules/react/menu/stories/Menu.mdx
  modules/react/menu/stories/Menu.stories.ts
  modules/react/menu/stories/examples/Grouping.tsx
  modules/react/menu/stories/testingVisual.stories.tsx
  modules/react/select/stories/examples/Basic.tsx
  modules/react/tabs/lib/TabsPanel.tsx
  modules/react/tabs/lib/useTabsModel.tsx
  modules/styling/lib/cs.ts
  modules/styling/spec/cs.spec.tsx
  modules/styling/stories/mdx/ComponentParts.mdx
  package.json
  yarn.lock
Labels: automerge

#3230 chore: Merge support into master
  CHANGELOG.md
  modules/react/icon/lib/SystemIconCircle.tsx
Labels: automerge

#3231 fix: Remove default altText for Avatar
  modules/docs/mdx/13.0-UPGRADE-GUIDE.mdx
  modules/preview-react/pill/lib/PillAvatar.tsx
  modules/preview-react/pill/stories/examples/WithAvatar.tsx
  modules/preview-react/pill/stories/examples/WithRemovable.tsx
  modules/preview-react/pill/stories/testing.stories.tsx
  modules/preview-react/side-panel/stories/testingCypress.stories.tsx
  modules/react/_examples/stories/mdx/examples/GlobalHeader.tsx
  modules/react/avatar/lib/Avatar.tsx
  modules/react/avatar/stories/avatar/examples/Basic.tsx
  modules/react/avatar/stories/avatar/examples/Button.tsx
  modules/react/avatar/stories/avatar/examples/CustomStyles.tsx
  modules/react/avatar/stories/avatar/examples/Image.tsx
  modules/react/avatar/stories/avatar/examples/LazyLoad.tsx
  modules/react/avatar/stories/avatar/examples/ObjectFit.tsx
  modules/react/avatar/stories/avatar/examples/Size.tsx
  modules/react/avatar/stories/avatar/examples/Variant.tsx
  modules/react/expandable/stories/examples/Avatar.tsx
  modules/react/expandable/stories/examples/LongTitle.tsx
Labels: automerge

#3233 chore: Merge master into prerelease/minor
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/package.json
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/icon/lib/SystemIconCircle.tsx
  modules/react/package.json
  modules/styling-transform/package.json
  modules/styling/package.json
Labels: automerge

#3234 ci: Fix forward merge workflow
  .github/workflows/forward-merge.yml
Labels: automerge

#3242 fix: Ensure hidden input in Select adjust size
  modules/react/select/lib/SelectInput.tsx
Labels: automerge

#3243 chore: Merge prerelease/minor into prerelease/major
  .github/workflows/forward-merge.yml
  CHANGELOG.md
  lerna.json
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/package.json
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
  modules/styling-transform/package.json
  modules/styling/package.json
Labels: automerge

#3245 fix: Center InputGroup items
  modules/react/text-input/lib/InputGroup.tsx
Labels: automerge

#3247 chore: Merge support into master
  CHANGELOG.md
  modules/react/text-input/lib/InputGroup.tsx
Labels: automerge

#3250 fix: Updates Switch to function with RTL
  modules/react/switch/lib/Switch.tsx
Labels: automerge

#3253 chore: Merge support into master
  CHANGELOG.md
  modules/react/switch/lib/Switch.tsx
Labels: automerge

#3252 docs(table): Fix accessibility issue with selectable row example
  modules/react/_examples/stories/mdx/examples/Table/WithSelectableRows.tsx
Labels: automerge

#3255 fix: Ensure mergeProps merges class names
  modules/react/common/lib/utils/mergeProps.ts
  modules/react/common/spec/mergeProps.spec.tsx
Labels: automerge

#3256 fix: Ensure stencils are exported for Pill
  modules/preview-react/pill/index.ts
  modules/preview-react/pill/stories/examples/CustomStyles.tsx
Labels: automerge

#3257 chore: Merge support into master
  CHANGELOG.md
  modules/react/common/lib/utils/mergeProps.ts
  modules/react/common/spec/mergeProps.spec.tsx
Labels: automerge

#3254 feat: Remove `horizontal` value on FormField and FormFieldGroup orientation prop
  modules/docs/mdx/13.0-UPGRADE-GUIDE.mdx
  modules/preview-react/multi-select/stories/examples/Basic.tsx
  modules/preview-react/multi-select/stories/examples/Complex.tsx
  modules/preview-react/multi-select/stories/examples/Controlled.tsx
  modules/preview-react/multi-select/stories/examples/Icons.tsx
  modules/preview-react/multi-select/stories/examples/Searching.tsx
  modules/preview-react/select/stories/examples/Left Label/DefaultWithCustomOptionsLeft.tsx
  modules/preview-react/select/stories/examples/Left Label/DefaultWithSimpleOptionsLeft.tsx
  modules/preview-react/text-area/lib/TextArea.tsx
  modules/preview-react/text-input/lib/TextInput.tsx
  modules/react/form-field/lib/FormField.tsx
  modules/react/form-field/lib/FormFieldGroup.tsx
  modules/react/form-field/lib/FormFieldGroupLabel.tsx
  modules/react/form-field/lib/FormFieldLabel.tsx
  modules/react/form-field/lib/hooks/useFormFieldModel.tsx
  modules/react/radio/stories/visualTesting.stories.tsx
Labels: automerge

#3261 fix: Remove fragments if React isn't imported
  modules/docs/mdx/style-props/examples/Background.tsx
  modules/docs/mdx/style-props/examples/Border.tsx
  modules/docs/mdx/style-props/examples/Color.tsx
  modules/docs/mdx/style-props/examples/Depth.tsx
  modules/docs/mdx/style-props/examples/Position.tsx
  modules/docs/mdx/style-props/examples/Space.tsx
  modules/preview-react/loading-sparkles/stories/examples/Basic.tsx
  modules/react/expandable/stories/examples/Avatar.tsx
Labels: automerge

#3240 chore: Refactor Select Input to a single Stencil
  modules/docs/mdx/13.0-UPGRADE-GUIDE.mdx
  modules/react/button/stories/button/examples/CustomStyles.tsx
  modules/react/menu/index.ts
  modules/react/menu/lib/MenuCard.tsx
  modules/react/select/index.ts
  modules/react/select/lib/SelectCard.tsx
  modules/react/select/lib/SelectInput.tsx
Labels: automerge

#3262 fix: PopupStack.contains recursively determines ownership
  modules/popup-stack/lib/PopupStack.ts
  modules/popup-stack/spec/PopupStack.spec.ts
Labels: automerge

#3258 feat: Use css transitions for sidepanel instead of animation
  modules/docs/mdx/13.0-UPGRADE-GUIDE.mdx
  modules/preview-react/side-panel/lib/SidePanel.tsx
  modules/preview-react/side-panel/lib/SidePanelToggleButton.tsx
  modules/preview-react/side-panel/lib/hooks.ts
Labels: automerge

#3265 feat(menu): Add support for hierarchy in the collection system
  modules/preview-react/multi-select/lib/MultiSelectInput.tsx
  modules/react/collection/index.ts
  modules/react/collection/lib/listItemRemove.ts
  modules/react/collection/lib/useBaseListModel.tsx
  modules/react/collection/lib/useCursorListModel.tsx
  modules/react/collection/lib/useListActiveDescendant.ts
  modules/react/collection/lib/useListItemActiveDescendant.ts
  modules/react/collection/lib/useListItemRegister.tsx
  modules/react/collection/lib/useListItemRemoveable.ts
  modules/react/collection/lib/useListItemRovingFocus.tsx
  modules/react/collection/lib/useListModel.tsx
  modules/react/collection/lib/useListRenderItem.tsx
  modules/react/collection/lib/useListResetCursorOnBlur.tsx
  modules/react/collection/stories/mdx/examples/MultiSelection.tsx
  modules/react/collection/stories/mdx/examples/Selection.tsx
  modules/react/combobox/lib/hooks/useComboboxInput.ts
  modules/react/combobox/lib/hooks/useComboboxKeyboardTypeAhead.ts
  modules/react/menu/index.ts
  modules/react/menu/lib/Menu.tsx
  modules/react/menu/lib/MenuItem.tsx
  modules/react/menu/lib/MenuList.tsx
  modules/react/menu/lib/MenuOption.tsx
  modules/react/menu/lib/MenuPopper.tsx
  modules/react/menu/lib/MenuTarget.tsx
  modules/react/menu/lib/Submenu.tsx
  modules/react/menu/lib/useMenuModel.tsx
  modules/react/menu/stories/Menu.mdx
  modules/react/menu/stories/Menu.stories.ts
  modules/react/menu/stories/examples/Nested.tsx
  modules/react/menu/stories/examples/NestedDynamic.tsx
  modules/react/popup/lib/hooks/useAlwaysCloseOnOutsideClick.ts
  modules/react/select/lib/hooks/useSelectInput.ts
  modules/react/tabs/lib/TabsPanel.tsx
  modules/react/tabs/stories/examples/DynamicTabs.tsx
Labels: automerge

#3246 chore: Review upgrade guide for v13
  modules/docs/mdx/13.0-UPGRADE-GUIDE.mdx
  modules/docs/mdx/CODEMODS.mdx
  modules/react/button/lib/ExternalHyperlink.tsx
Labels: automerge

#3271 ci: Pad canary build ids with zeros
  utils/publish-canary.mjs
Labels: approved, automerge

#3268 docs: Collection examples should use string ids
  modules/react/collection/stories/mdx/examples/BasicGrid.tsx
  modules/react/collection/stories/mdx/examples/WrappingGrid.tsx
Labels: automerge
