Repository Workday/canvas-kit, pull requests merged in 2025-07, with the labels that each got.

#3353 chore: Remove Preview Menu
  cypress/component/MenuPreview.tsx
  modules/docs/mdx/14.0-UPGRADE-GUIDE.mdx
  modules/preview-react/index.ts
  modules/preview-react/menu/LICENSE
  modules/preview-react/menu/README.md
  modules/preview-react/menu/index.ts
  modules/preview-react/menu/lib/Menu.tsx
  modules/preview-react/menu/lib/MenuItem.tsx
  modules/preview-react/menu/spec/Menu.spec.tsx
  modules/preview-react/menu/spec/tsconfig.json
  modules/preview-react/menu/stories/Menu.mdx
  modules/preview-react/menu/stories/Menu.stories.ts
  modules/preview-react/menu/stories/examples/Basic.tsx
  modules/preview-react/menu/stories/examples/ContextMenu.tsx
  modules/preview-react/menu/stories/examples/CustomMenuItem.tsx
  modules/preview-react/menu/stories/examples/Headers.tsx
  modules/preview-react/menu/stories/examples/Icons.tsx
  modules/preview-react/menu/stories/examples/ManyItems.tsx
  modules/preview-react/menu/stories/testing.stories.tsx
  modules/preview-react/menu/stories/tsconfig.json
  modules/react/card/stories/card.mdx
  modules/react/menu/lib/MenuItem.tsx
Labels: automerge

#3380 fix(tabs): Apply fade more appropriately for mobile
  modules/react/tabs/lib/TabsList.tsx
Labels: automerge

#3387 chore: Fix packages versions
  modules/labs-react/package.json
  modules/preview-react/package.json
  modules/react/package.json
Labels: automerge

#3376 feat: Add Ingress AI Assistant button to Labs
  modules/labs-react/ai-assistant-ingress-button/LICENSE
  modules/labs-react/ai-assistant-ingress-button/README.md
  modules/labs-react/ai-assistant-ingress-button/index.ts
  modules/labs-react/ai-assistant-ingress-button/lib/AiAssistantIngressButton.tsx
  modules/labs-react/ai-assistant-ingress-button/lib/AiAssistantIngressIcon.tsx
  modules/labs-react/ai-assistant-ingress-button/spec/SSR.spec.tsx
  modules/labs-react/ai-assistant-ingress-button/spec/tsconfig.json
  modules/labs-react/ai-assistant-ingress-button/stories/AiAssistantIngressButton.mdx
  modules/labs-react/ai-assistant-ingress-button/stories/AiAssistantIngressButton.stories.tsx
  modules/labs-react/ai-assistant-ingress-button/stories/examples/Basic.tsx
  modules/labs-react/ai-assistant-ingress-button/stories/examples/Inverse.tsx
  modules/labs-react/ai-assistant-ingress-button/stories/tsconfig.json
  modules/labs-react/ai-assistant-ingress-button/stories/visual-testing/testing.stories.tsx
  modules/labs-react/index.ts
Labels: automerge, 14.x

#3388 fix: Add pointerEvents style to svg in BaseButtonComponent
  modules/react/button/lib/BaseButton.tsx
Labels: automerge, 12.x

#3389 fix: Update background hover color on Expandable
  modules/docs/mdx/14.0-UPGRADE-GUIDE.mdx
  modules/react/expandable/lib/ExpandableTarget.tsx
Labels: automerge, 14.x

#3397 fix: Add focusRing plugin back to style transform
  .storybook/main.ts
  .storybook/typescript-transform.ts
  modules/labs-react/tsconfig.json
  modules/preview-react/tsconfig.json
  modules/react/tsconfig.json
  styling.config.ts
  tsconfig.json
  typings.d.ts
Labels: automerge

#3402 fix: Fix docs and examples for Avatar and Badge
  modules/react/avatar/stories/avatar/Avatar.mdx
  modules/react/avatar/stories/avatar/examples/CustomStyles.tsx
  modules/react/avatar/stories/avatar/examples/LazyLoad.tsx
  modules/react/badge/stories/examples/Basic.tsx
  modules/react/badge/stories/examples/CustomLimit.tsx
  modules/react/badge/stories/examples/NotificationBadge.tsx
Labels: automerge

#3405 fix: Spec tables extend through container size
  modules/docs/lib/Value.tsx
Labels: automerge

#3403 fix: Update AI Ingress Button Colors
  modules/labs-react/ai-assistant-ingress-button/index.ts
  modules/labs-react/ai-assistant-ingress-button/lib/AIAssistantIngressButton.tsx
  modules/labs-react/ai-assistant-ingress-button/lib/AIAssistantIngressIcon.tsx
  modules/labs-react/ai-assistant-ingress-button/spec/SSR.spec.tsx
  modules/labs-react/ai-assistant-ingress-button/stories/AIAssistantIngressButton.mdx
  modules/labs-react/ai-assistant-ingress-button/stories/AIAssistantIngressButton.stories.tsx
  modules/labs-react/ai-assistant-ingress-button/stories/examples/Basic.tsx
  modules/labs-react/ai-assistant-ingress-button/stories/examples/Inverse.tsx
  modules/labs-react/ai-assistant-ingress-button/stories/visual-testing/testing.stories.tsx
Labels: automerge

#3408 fix: Fix styling docs to be compatible with site
  modules/styling/stories/mdx/Overview.mdx
  modules/styling/stories/mdx/Stencils.mdx
  modules/styling/stories/mdx/Utilities.mdx
Labels: automerge

#3390 feat: Add standalone variant to Hyperlink and External Hyperlink
  modules/docs/mdx/14.0-UPGRADE-GUIDE.mdx
  modules/react/button/lib/ExternalHyperlink.tsx
  modules/react/button/lib/Hyperlink.tsx
  modules/react/button/stories/button/Hyperlink.mdx
  modules/react/button/stories/button/Hyperlink.stories.tsx
  modules/react/button/stories/button/examples/ExternalHyperlinkInverse.tsx
  modules/react/button/stories/button/examples/HyperlinkInBodyText.tsx
  modules/react/button/stories/button/examples/HyperlinkInverse.tsx
  modules/react/button/stories/button/examples/StandaloneHyperlink.tsx
Labels: 14.x

#3415 chore: Merge prerelease/minor into prerelease/major
  CHANGELOG.md
  lerna.json
  modules/codemod/index.js
  modules/codemod/lib/v13.2/migrateColorTokens.ts
  modules/codemod/lib/v13.2/migrateDepthTokens.ts
  modules/codemod/lib/v13.2/migrateOtherTokens.ts
  modules/codemod/lib/v13.2/migrateTypeTokens.ts
  modules/codemod/lib/v13.2/spec/migrateColorTokens.spec.ts
  modules/codemod/lib/v13.2/utils/transformObjectPropertyRecursively.ts
  modules/codemod/package.json
  modules/css/package.json
  modules/docs/mdx/tokens/TokenMigrationCodemod.mdx
  modules/docs/package.json
  modules/labs-css/package.json
  modules/labs-react/package.json
  modules/popup-stack/package.json
  modules/preview-css/package.json
  modules/preview-react/package.json
  modules/react-fonts/package.json
  modules/react/package.json
  modules/react/tabs/lib/TabsItem.tsx
  modules/styling-transform/package.json
  modules/styling/package.json
Labels: automerge

#3375 docs: Adding new advanced table example and Accessibility Guides
  modules/react/_examples/stories/mdx/AccessibilityOverview.mdx
  modules/react/_examples/stories/mdx/AriaLiveRegions.mdx
  modules/react/_examples/stories/mdx/Headers.mdx
  modules/react/_examples/stories/mdx/SidePanel.mdx
  modules/react/_examples/stories/mdx/TablesAdvanced.mdx
  modules/react/_examples/stories/mdx/examples/Table/WithColumnHeaderFilters.tsx
  modules/react/_examples/stories/mdx/examples/Table/WithSelectableRows.tsx
  modules/react/_examples/stories/mdx/examples/Table/WithSortableColumnHeaders.tsx
  modules/react/button/stories/button/Button.mdx
Labels: automerge

#3421 ci: Fix watch message to not clear terminal
  modules/styling-transform/lib/createTypeScriptWatchProgram.ts
Labels: automerge

#3420 chore: Merge support into master
  CHANGELOG.md
  modules/react/popup/lib/PopupCard.tsx
Labels: approved, automerge
